[2018-09-04 12:32] SongJiangzhou opened #767 "SourceMap couldn't work."
I set config as follows, but i doesn't work, thx!

const merge = require('webpack-merge');
const common = require('./webpack.common.js');

module.exports = merge(common, {
    mode: 'development',
    devtool: 'inline-source-map',
    module: {
        rules: [
            {
                test: /\.css$/,
                use: [
                    'style-loader',
                    {

[2018-09-06 01:08] aorinevo commented on #765
Also see @guidobouman excellent explanation here https://github.com/webpack-contrib/css-loader/issues/228#issuecomment-312885975.

[2018-09-06 09:34] evilebottnawi commented on #765
@aorinevo feel free to a PR

[2018-09-10 13:18] magnusriga opened #769 "css-loader + tree-shaking + transpiled imports (babel) not working as it should."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When compiling a bundle with Webpack and css-loader in development mode, all css files in component-style subfolders are included. When doing a production build however, only the top level CSS is included (CSS directly within src folder), while all other css (in various subfolders of src) are missing f

[2018-09-10 13:33] evilebottnawi commented on #769
@magnusriga please create minimum reproducible test repo with minimum webpack config

[2018-09-10 18:49] magnusriga commented on #769
@evilebottnawi I have now created a small test project. In the process, I discovered that the problem occurs when `sideEffects: ["*.css"]` is set in `package.json`. Any idea why? If I remove that part, all CSS gets included. This only applies to folders that are one level down from src (src css always gets included).

Repo: https://github.com/magnusriga/css-loader

[2018-09-10 19:46] evilebottnawi commented on #769
@magnusriga all `css` have `sideEffects`. What your expected (can you add minimum readme and provide what you have and what you expected)?

[2018-09-10 23:59] magnusriga commented on #769
@evilebottnawi

What I expected: When adding sideEffects: ["*.css"] to `package.json`, local css files should be protected against tree shaking (i.e. not be lost). That expected behavior is explained for instance [here](https://github.com/webpack/webpack/issues/6741) and [here](https://webpack.js.org/guides/tree-shaking/).

What happened instead: When adding `sideEffects: ["*.css"]` to `package.js

[2018-09-11 22:05] adamburgess commented on #769
I think this is not an error with babel, but some difference between `import` and `require`. I've recently ran into this problem myself - not sure if its exactly the same as OP, but very similar.
Here's a small repo: https://github.com/adamburgess/css-side-effects
I wrote a test case on a matrix of different mode, sideEffects, import/require, and babel: https://travis-ci.org/adamburgess/css-side-e

[2018-09-13 14:16] waihiga commented on #566
i am also having the trouble of debugging this. pleeeeeease somebody help

[2018-09-17 09:12] kumorig commented on #295
I ran into the same error issue using vuepress, and have seen something similar with vue-cli (months earlier) and since vue-cli is mentioned several times here I'd like to believe it's the same issue - and that this is a problem with vue-cli and not css-loader.

Speculating further, I also believe this is a path problem in windows. If you get this error, try changing your work-directory to `c:\som

[2018-09-17 13:06] Gobie commented on #689
I believe this is a mistake, it refers issue #698, while this is #689.

[2018-09-17 13:14] evilebottnawi commented on #689
@Gobie problem still exists?

[2018-09-17 13:28] Gobie commented on #689
It does on 1.0.0. Test case can be found in attached commit https://github.com/Gobie/css-loader/commit/ced2c0dc24e2a0af1ea39e1d30a5d5b8e26ffb3f with "half-baked" solution.

[2018-09-17 13:30] Gobie commented on #689
I mistakenly closed the related pull request https://github.com/webpack-contrib/css-loader/pull/690 back in July, but it is still reproducible.

[2018-09-17 14:27] evilebottnawi commented on #689
@Gobie Can you create new issue with minimum reproducible test repo?

[2018-09-17 15:20] user1736 commented on #413
I've opened a PR to refer this problem and workaround in docs https://github.com/webpack-contrib/css-loader/pull/770

[2018-09-17 17:36] Gobie opened #771 ""RangeError: Maximum call stack size exceeded" when compiling a file with many requires"
Created based on comment https://github.com/webpack-contrib/css-loader/issues/689#issuecomment-422039086

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Given CSS file with 10000 or more classes with URLs, in our case generated from sprites.

[code]

The css-loader creates such a JS file, which on compile throws `RangeError: Maximum call stack size

[2018-09-17 17:42] Gobie commented on #689
I created https://github.com/webpack-contrib/css-loader/issues/771 with minimal test-case to verify that it is broken.

[2018-09-17 17:56] evilebottnawi commented on #771
@Gobie Thanks for issue

[2018-09-18 07:30] Elminday commented on #640
@steelx did you fix your issue? I am have the same problem with firefox.

[2018-09-18 18:51] ivensgoncalves opened #772 ""Composes" duplicating css"
Version: 1.0.0

**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When a class name within a css file is shared using "composes" in a 2 degree level, it gets duplicated (when each class has its own file).

For example (each class has its own css file):

Case 1 (composes in 1 degree level)
"primary-button" which composes "button" and;
"secondary-button

[2018-09-19 13:36] Aqours opened #773 "[feature request] add css-loader-@import-handled hooks"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
See [cssnano-issues-604](https://github.com/cssnano/cssnano/issues/604)

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
The comment in test.css should be discarded. (test.css file should be handled by postcss-loader)

**If this is a

[2018-09-19 13:45] evilebottnawi commented on #773
@Aqours not related to `css-loader`, we don't `minimize` code (include remove comments)

[2018-09-19 13:45] #773 closed

[2018-09-19 13:48] Aqours commented on #773
In this case, postcss-loader cannot handle css file which I want to use autoprefixer, cssnano or other postcss-plugins. It's not only related to minimize code.

[2018-09-19 13:56] evilebottnawi commented on #773
@Aqours i can't understand what you mean, please provide more information, maybe you need this https://github.com/webpack-contrib/css-loader#importloaders?

[2018-09-20 17:35] liyanana commented on #352
same here.how to solve??? I cant find the answer.

[2018-09-25 02:40] Bosch-Eli-Black opened #774 "Update babel-code-frame? (License issue)"
Hello,

Could the `babel-code-frame` dependency please be updated to `@babel/code-frame`?

The issue that we're running into is that `@babel/code-frame` contains licensing information, but `babel-code-frame` doesn't.

Thanks,
Eli

[2018-09-27 07:05] joselcc commented on #769
@magnusriga webpack treeshaking only works with ES6 module syntax, have you tried disabling the module transformation?

Example:
[code]

[2018-09-27 13:33] Toxyxer opened #775 "When passing string in url with multiline escaped as bell code it is being unescaped"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
If bell codes (`\a`) are used in url strings they are replaced with newlines (`\n`).

**If the current behavior is a bug, please provide the steps to reproduce.**
https://gist.github.com/Toxyxer/4c8b727956d00c06b625d03f7b9c786c

**What is the expected behavior?**
Preserve bell codes (`\a`)

**If this i

[2018-09-27 21:40] anwarhamr opened #776 "CSS from node_module is not being included in output"
I've looked on google, issues here and stackoverflow.  I'm not finding a solution.  Granted I'm new to webpack so perhaps I'm missing something.

1. I started my project with react-static
2. I included lib react-json-inspector
3. I `import 'react-json-inspector/json-inspector.css';` in my react component
4. ran `node run` which runs the app

Styles from json-inspector is not included.

Side note:

[2018-09-27 21:45] evilebottnawi commented on #776
Please create minimum reproducable test repo, thanks

[2018-09-27 21:46] anwarhamr commented on #776
I just found a workaround but please let me know if this is a bug.
I created a local `styles.css` file and added `@import '../../node_modules/react-json-inspector/json-inspector.css';`
That seems to work.

[2018-09-28 06:49] abhiroj commented on #362
This worked!

[2018-09-30 10:08] brewster1134 opened #778 "force importing into a namespace"
i am looking for a way to force a module css namespace to prevent accidental "style pollution". something like...

###### foo.css
[code]

so when i import...
[code]

based on the css file name for example, i would get...

[code]

is this possible?

[2018-09-30 21:03] #776 closed

[2018-10-01 15:29] magnusriga commented on #769
@joselcc I have not tried that yet. I basically removed sideEffects in package.json and instead just imported all related css in each js component.

[2018-10-01 18:58] rodfersou opened #779 "Respect exclude option when handling url"
Is it possible to respect exclude option when handling url?

I have a specific use case, in our CMS an url that has '++resource++' inside should be considered external image. This is my current configuration:

[code]

But the url handling is not respecting this configuration, and throw this traceback:
[code]

[2018-10-01 19:10] evilebottnawi commented on #779
@rodfersou please use `exclude` on `file-loader/url-loader`. Can you create minimum reproducible test repo?

[2018-10-01 20:04] rodfersou commented on #779
@evilebottnawi here you are https://github.com/rodfersou/exclude-in-url

just run:
[code]
and the error will happen

[2018-10-01 20:04] rodfersou commented on #779
I tried to use ``file-loader/url-loader`` without success, any help would be appreciated.

[2018-10-01 20:07] evilebottnawi commented on #779
@rodfersou yep, it is impossible right now, we prepare `css-loader@2` https://github.com/webpack-contrib/css-loader/pull/760 and can implement this after release

[2018-10-02 16:56] rodfersou commented on #779
@evilebottnawi great, I look forward to it

[2018-10-02 17:45] jdunk commented on #101
`localIdentName` gets passed as a parameter to the `getLocalIdent` function. So it seems reasonably possible that someone may want their `getLocalIdent` function to behave differently depending on what `localIdentName` is set to, e.g. to do something similar to what the existing `localIdentName` generator does, but with one or more differences.

[2018-10-04 11:57] YuriScarbaci opened #780 "@media query default support"
**Do you want to request a *feature* or report a *bug*?**
I want a *feature*

**What is the current behavior?**
there is no support for `@media` queries when using `:local()`
[code]
results into local media never applying. currently there is no default support for @media queries, for what i have seen (only external packages).

**What is the expected behavior?**
to be able to use @media queries in

[2018-10-04 12:02] evilebottnawi commented on #780
@YuriScarbaci out of scope this package, please create issue in https://github.com/css-modules/postcss-modules or related plugin to css modules

[2018-10-04 12:02] #780 closed

[2018-10-07 08:11] joselcc commented on #769
here is an example of Webpack tree shaking working with babel and css loader
https://github.com/pp3nd3x/webpack-treeshaking-css-modules

[2018-10-08 09:39] webpack-bot opened #781 "Spaces around unquoted CSS url() values are not consistent"
# Bug report

**What is the current behavior?**

Un-quoted CSS `url()` values are not consistent in their handling of trailing spaces. For example,

    background-image: url(Truchet_tiling_inverse.png);

works where

    background-image: url(Truchet_tiling_inverse.png );

does not (note the trailing space character). The latter results in:

If the URL value is quoted, the problem does not occur.

[2018-10-10 15:38] #781 closed

[2018-10-12 11:46] ramiel commented on #346
Why css-loader is changing the name of sub-classes? I have:

[code]

I expect it to be transformed into

[code]

so that later the sass plugin can do its job. Instead I get

[code]

Is this the expected behavior? It was working with version 0.28.x but it's broken in 1.x

[2018-10-12 11:52] evilebottnawi commented on #346
@ramiel use
[code]

Because `sass` and css modules is difference technologies.

[2018-10-12 12:53] ramiel commented on #346
But, if do like that I should receive the
[code]
right? It's what I want to avoid

[2018-10-14 19:45] atreyhazelhispanic commented on #352
I had this same problem as well as one with scss and sass loader... By default the full npm vue app install is loading css and sass for you. I left only the rule of style-loader on the regex of  css and it's perfect!

[2018-10-18 20:22] unlocomqx commented on #35
This worked for me `css-loader?url=false`
https://github.com/webpack-contrib/mini-css-extract-plugin/issues/156#issuecomment-402265124

[2018-10-24 13:36] pitgrap commented on #578
Another similar bug:

input.css
[code]

output.css

[code]

1. Transform to uppercase like @themoch described
2. Instead of one space there are now 3 spaces between the characters!

[2018-10-25 10:47] ng2695 commented on #362
i m also facing the same problem.Please provide me some solutions.

`/**
 * Created by Dell on 10/23/2018.
 */
const path = require('path');
const webpack = require('webpack');
const autoprefixer = require('autoprefixer');
const precss = require('precss');

const TransferWebpackPlugin = require('transfer-webpack-plugin');
const ExtractTextPlugin = require("extract-text-webpack-plugin");

module.ex

[2018-10-26 03:31] manuelro commented on #607
`localIdentName ` contains the required info to work with the desired dasher function.

[2018-10-26 07:50] elfuego commented on #342
Small adjustment here @rodeyseijkens, I succeeded in making this work with just:
[code]
Note the slash in front of the dot...

[2018-10-26 09:51] rodeyseijkens commented on #342
I accidentally copied the ```background:``` twice, only the:

part.

[2018-10-26 13:50] rodeyseijkens commented on #342
So apparently there is a bug in `cssnano`, it uses normalizeUrl and it strips local urls.
Setting the option of cssnano `normalizeUrl: false` and that should do the job.

[2018-10-30 02:23] zww-v5 opened #785 "need to save the background-image url with the whole query"
I have a problem about the background-image url. There is a background-image url like "background-image: url('../../css/img/slice/icon-arrow-bottom.svg?fill=#444');" in
my css files.  I need to retain the 'fill=#444' for the other handling. But when the files dealed with by css-loader, the background-image url change to
"background-image: url(src/css/img/slice/icon-arrow-bottom.svg?#444);". The 'f

[2018-10-30 09:11] evilebottnawi commented on #785
It is impossible. also it is bad practice use `query` for this purpose, please use issue template in future. Describe you use case, why you need query?

[2018-10-30 22:12] evilebottnawi commented on #775
@Toxyxer it is invalid `css`

[2018-10-30 22:12] #775 closed

[2018-10-30 22:14] evilebottnawi commented on #778
@brewster1134 not related to `css-loader`, please put your issue in `postcss-modules`

[2018-10-30 22:14] #778 closed

[2018-10-30 22:17] evilebottnawi commented on #699
Not related to `css-loader`, create issue in `postcss-modules`

[2018-10-30 22:17] #699 closed

[2018-10-30 22:19] evilebottnawi commented on #140
Impossible solve on `css-loader` side, use https://github.com/gajus/babel-plugin-react-css-modules#readme

[2018-10-30 22:19] #140 closed

[2018-10-30 22:30] evilebottnawi commented on #755
@tanin47 Sorry for delay, a lot of work :disappointed: Problem still exists?

[2018-10-30 22:31] evilebottnawi commented on #765
Closing due to inactivity. Feel free to feedback or send a PR.

[2018-10-30 22:31] #765 closed

[2018-10-30 22:42] tanin47 commented on #755
Yes. I wonder if you can guide me on how to solve this problem.

For more context, I'd like to detect CSS dependency. It is essential for hot-reloading code in Playframework. See: https://github.com/GIVESocialMovement/sbt-vuefy/issues/20

[2018-10-30 22:44] evilebottnawi commented on #755
@tanin47 Each import produce `require` (i.e. it is module). What you expected in `stats`? And why you need this?

[2018-10-30 22:47] evilebottnawi commented on #746
https://github.com/webpack-contrib/css-loader/issues/746#issuecomment-411494027

[2018-10-30 22:47] #746 closed

[2018-10-30 22:56] tanin47 commented on #755
I expect a full path of the CSS file because Playframework would be able to track dependencies and re-compile the files needed.

Currently, as I posted in the earlier comment, the file path is not outputted but the content of the CSS file is.

[2018-10-30 22:58] evilebottnawi commented on #755
@tanin47 it is expected because it is module, you need custom loader for this. It is not regular use case. You can use `issuer` to detect original file name, also you can use `postcss-loader`.

[2018-10-30 23:00] evilebottnawi commented on #759
Problem on `postcss-modules` side, we can't do anything here, sorry. Feel free to create issue in `postcss-modules` repo

[2018-10-30 23:00] #759 closed

[2018-10-30 23:01] evilebottnawi commented on #537
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-10-30 23:01] #537 closed

[2018-10-30 23:15] cfv1984 commented on #699
@evilebottnawi please point to where postcss-modules is being used here.

[2018-10-31 02:38] tanin47 commented on #755
Thank you for the pointers. I'll let you know if I have more questions.

[2018-10-31 09:17] evilebottnawi commented on #699
We use postcss plugins from postcss-modules, you need create issue in plugin repo or in postcss-modules repo

[2018-11-01 13:01] patricksmms opened #786 "Update dependencies"
Most of the dependencies are outdated.

Some of them don't include license files, therefore can't be used legally, but in their latest versions that has been cleared out.

Also some have been renamed and have modified APIs:
babel-code-frame -> @babel/code-frame
postcss-modules-scope -> postcss-icss-composes
postcss-modules-values -> postcss-icss-values

[2018-11-01 13:33] evilebottnawi commented on #786
Impossible solve now, we use old css modules specification, you point on ICSS spec what is not stable

[2018-11-01 13:34] evilebottnawi commented on #786
Only babel-code-frame can be updated

[2018-11-01 14:56] patricksmms commented on #786
Oh. Then unfortunately we won't be able to use `css-loader`, as not all of its dependencies have license files in their packages (a legal requirement).

[2018-11-01 15:35] evilebottnawi commented on #786
@patricksmms this packages have `license` field (with `MIT`) and it is require for legal reasons

[2018-11-01 15:54] patricksmms commented on #786
It's not. MIT license requires the inclusion of the full license in all the copies of the software, as clearly stated

_The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software._
https://opensource.org/licenses/MIT

[2018-11-01 16:18] evilebottnawi commented on #786
@patricksmms feel free to send a PR to old version plugins and we update their here

[2018-11-01 16:20] evilebottnawi commented on #786
License problem with `css-selector-tokenizer` already solved, you can send a PR with updated version here

[2018-11-01 18:15] patricksmms commented on #786
Once we have `postcss-modules-scope@1.3.1` and `postcss-modules-values@1.1.1` published, with the license files, we can update the dependencies as follows:

[code]

and change the line 229 of lib/processCss.js to:
[code]

[2018-11-01 18:31] evilebottnawi commented on #786
Yep

[2018-11-04 21:41] ZeeCoder opened #788 "Support for exports from postcss plugins (other than ICSS ones)"
Continuing the discussion here: https://github.com/webpack-contrib/css-loader/issues/645#issuecomment-355887308

I see that currently adding
[code]
works, and when the file goes through the css loader, it can be imported in the JS as a custom export.

However as I've outlined I'd like to export a JSON object, and doing so using CSS is not ideal:
[code]
When I import this in JS, data is returned as

[2018-11-04 21:41] ZeeCoder commented on #693
Closing in favour of #788

[2018-11-04 21:41] #693 closed

[2018-11-06 21:47] evilebottnawi commented on #788
@ZeeCoder `next` will be rewrites on `ICSS` in near future (i.e. built-in plugins will use `ICSS`, not messages). You can `import`/`export` values using ICSS spec.

`:export` is not support nested key/value because `css` is not supported nested rules. need discussion about this. Can you provide use case?

[2018-11-07 04:13] jihb commented on #578
same problem.

[2018-11-07 04:16] jihb commented on #578
delete space fix this problem

[2018-11-07 06:47] evilebottnawi commented on #788
@ZeeCoder Can you provide PoC or minimum code (`gist` or create repo)? Describe what you exported and what you expect (in README or here)? More information - best and fast solution :smile:

[2018-11-07 12:41] magnusriga commented on #652
I'm still having the same issue. With my limited knowledge of these loaders it is hard to tell whether it is a problem at all. Will it break sourcemap support? Won't debugging work correctly? My debug points seem to be hit correctly.

[2018-11-07 12:44] evilebottnawi commented on #652
Please create minimum reproducible test repo

[2018-11-07 12:51] jwldnr commented on #652
https://github.com/jwldnr/extract-text-issue

[2018-11-07 12:56] evilebottnawi commented on #652
@jwldnr don't use `extract-text-webpack-plugin`, it is break source map, use https://github.com/webpack-contrib/mini-css-extract-plugin, also please describe in readme what you have and what you expected

[2018-11-07 17:31] npetruzzelli commented on #652
@jwldnr - to further support evil's comment, you can find additional documentation on the `mini-css-extract-plugin` in the repo or in Webpack's documentation:
<https://webpack.js.org/plugins/mini-css-extract-plugin/>

The extract text plugin calls this out:

More can be read in https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/749

@magnusriga - I have a PR open to work with ev

[2018-11-07 17:34] evilebottnawi commented on #652
@npetruzzelli `sass-loader`/`less-loader`/`postcss-loader` ready for fixes, you can safely send PRs there

[2018-11-07 17:34] magnusriga commented on #652
@npetruzzelli Ok, thanks. Just as a heads up, my minimum working example does not include any extract loaders or plugins not needed to demonstrate the issue. It should be directly to the point.

Quick question though: Will these paths cause any actual issues? i.e. won't source maps work properly?

Thank you

[2018-11-07 17:36] evilebottnawi commented on #652
We are working on linux and source maps for `CSS` works great, i think problem only for `windows` so I ask to create minimum reproducible test repo

[2018-11-07 17:44] npetruzzelli commented on #652
Thanks @evilebottnawi - Since I haven't touched this since August, it will take me some time to get caught up / merge in changes that have come in since then. I will start with `sass-loader` [per my prior comment](https://github.com/shama/stylus-loader/issues/203#issuecomment-412622667). I may be a bit slow on the update as there is a lot going on personally and professionally right now, but I wil

[2018-11-07 17:48] evilebottnawi commented on #652
@npetruzzelli thanks for any helping :+1:

[2018-11-08 08:55] Nettsentrisk commented on #652
extract-text-webpack-plugin is irrelevant for my case, since it's happening in develop mode with HMR, where style-loader and no extract plugins are being used (I use mini-css-extract-plugin anyway).

I think this problem only affects Windows users, which might be why it's flown under the radar for so long.

[2018-11-10 22:57] ZeeCoder commented on #788
All I would need, is a way to make it possible for my PostCSS plugin to declare an export with a js object that could be then imported in the JS file after it also went through the css-loader.

**":export" doesn't quite work for me because of two reasons:**
- my plugin will be used without webpack as well, so I don't necessarily want to add an ":export" css declaration when it's not needed.
- Even

[2018-11-12 09:54] evilebottnawi commented on #788
It is part of future CSS support inside `webpack`, we should standardize `import` and `export` for CSS. But i agree in you case it is unnecessary add `:export` and `:import`. Maybe we can support ICSS and `import` and `export` messages.

In this case it is impossible to avoid using `JSON.stringify` (we should use this function to avoid problem with special characters). What is type you want export

[2018-11-12 10:34] ZeeCoder commented on #788
But my exact point is that it would **not** be impossible to avoid JSON.stringify, if css-loader had support for custom exports through postcss messages.

I think I gave you all the examples and code I can, not sure if you've read them?
I'm not sure why you think I want to export a number, "meta" is a js object as I stated in my first comment here, that's why I'm stringifying it at the moment. If

[2018-11-12 10:42] evilebottnawi commented on #788
@ZeeCoder

I just want to collect as much information as possible to make the next version convenient for everyone, so I ask many questions.

Based on you information looks we need support `ICSS` and `message` api, I worry about the second because it allows you to change many things at a very low level and can lead to many errors from other developers.

You need only export? No need import?

[2018-11-12 11:09] ZeeCoder commented on #788
I personally don't need import, just the ability to export stuff to the end user.

By using postcss plugin messages in theory multiple independent PostCSS plugins could have custom exports if they needed to.
So the following would be possible:

[code]

I would probably limit this api to only export plain objects and simple values like numbers / strings etc, since as you said otherwise it's a fairl

[2018-11-12 11:14] evilebottnawi commented on #788
@ZeeCoder hm, it is should be possible right now, we exported data in `export.locals` (`style-loader` return this object here `const exported = require('style.css')`). We can change `require` on `import` everywhere inside `loader` in next version (it is allow tree shaking unused exported values).

[2018-11-14 10:32] evilebottnawi commented on #652
@tenebrius Pr welcome

[2018-11-15 22:46] ZeeCoder commented on #788
I'm not sure I understand @evilebottnawi , so with an example, how do I use `export.locals`?

[code]

And then is this how I import the meta?

[code]

☝ Is this how it works?

Does this still work with css modules enabled though?
Since that uses the default export already, that's why I'd like to do a named export instead, like so:

[code]

[2018-11-16 07:59] princed commented on #772
There is a fix now in #789

The workaround is to disable `namedModules`, i.e. add the following to the webpack config:
[code]

@ivensgoncalves Thank you for the complete test case! 👍

[2018-11-16 08:33] sotisoti opened #790 "SyntaxError (2:1) Unknown word"
I use [Nuxt.js](https://github.com/nuxt/nuxt.js/) and I am including css-loader module in order for another [node module](https://github.com/Agontuk/vue-cropperjs/blob/master/dist/VueCropper.js#L15) to work:

[code]

The snippet of my nuxt.config.js is as follows:
[code]

**What is the expected behavior?**
No error will be shown

**Software used:***
[code]

[2018-11-16 08:48] leai-jiang commented on #667
I got a issue, the less-loader I had added in my project, but the code `require('style.less')` in node_modules,It reports an error like this. Could anyone help me to resolve this issue?

[2018-11-16 09:48] evilebottnawi commented on #790
@sotisoti you have invalid css syntax, please provide example

[2018-11-16 09:55] sotisoti commented on #790
It is referring to the css in another node_modules:
https://github.com/fengyuanchen/cropper/blob/master/dist/cropper.css
``
/*!
 * Cropper v4.0.0
 * https://github.com/fengyuanchen/cropper
 *
 * Copyright (c) 2014-2018 Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2018-04-01T06:26:32.417Z
 */

.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relati

[2018-11-16 10:35] evilebottnawi commented on #790
@sotisoti looks you have invalid configuration, css is normal, can you create minimum reproducible test repo?

[2018-11-16 22:51] muellerkyle commented on #346
ramiel,

I was struggling with this too. I think I was able to get the result, where the nested class doesn't change to a random class name by doing the following:

[code]

which results in something like:

[code]

At least, that was my experience.

Good luck.

[2018-11-17 15:48] pierreneter opened #792 "The CI with Appveyor has always fail"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

This CI run at PRs always return this error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Create a Pull Request

**What is the expected behavior?**

This Appveyor CI work

[2018-11-17 15:48] pierreneter commented on #792
Check more at reports of Appveyor CI at PRs: https://github.com/webpack-contrib/css-loader/pulls

[2018-11-17 15:55] pierreneter opened #793 "Update Circle CI"
<img width="725" alt="screen shot 2018-11-17 at 10 51 57 pm" src="https://user-images.githubusercontent.com/12815768/48662916-9dadd800-eabb-11e8-8a13-cdbf915640c8.png">

_(check this notice here: https://circleci.com/gh/webpack-contrib/css-loader)_

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Can't work with dependencies required node 6+

**If

[2018-11-17 16:15] pierreneter commented on #793
Sorry, it already exists at: https://github.com/webpack-contrib/css-loader/tree/next

[2018-11-17 16:15] #793 closed

[2018-11-17 16:15] pierreneter commented on #792
Sorry, it already exists at: https://github.com/webpack-contrib/css-loader/tree/next

[2018-11-17 16:15] #792 closed

[2018-11-20 11:41] senta commented on #342
Thank you to sharing the solution. I've faced the same problem and `normalizeUrl: false` dosen't work for my case. But I found another solution that linked below thanks to you. Separate pre-process and minimization is more clear to me.
https://github.com/cssnano/cssnano/issues/616#issuecomment-42372

[2018-11-20 15:39] pablocattaneo commented on #240
As @clementprevot I have updated my node version but running `npm rebuild node-sass` did'nt solve the problem. So i deleted node_modules and install it again running `npm install` this solved the problem.

[2018-11-21 21:48] alphonse92 commented on #38
{ test: /\.(png|woff|woff2|eot|ttf|svg)(\?v=[0-9]\.[0-9]\.[0-9])?$/, loader: 'url' } works for me. (Latest versions)

[2018-11-23 12:32] #772 closed

[2018-11-23 14:34] evilebottnawi commented on #786
Done in master, will be release in near future

[2018-11-23 14:34] #786 closed

[2018-11-23 14:54] evilebottnawi commented on #754
Done in master, will be shipped in near future

[2018-11-23 14:54] #754 closed

[2018-11-25 13:49] sotisoti commented on #790
I end up using another library.

[2018-11-25 13:49] #790 closed

[2018-11-26 11:51] evilebottnawi commented on #774
Done in https://github.com/webpack-contrib/css-loader/pull/799, will be shipped in near future

[2018-11-26 11:51] #774 closed

[2018-11-26 12:32] evilebottnawi commented on #755
Feel free to feedback

[2018-11-26 12:32] #755 closed

[2018-11-26 12:33] evilebottnawi commented on #769
Answer above with example, feel free to feedback

[2018-11-26 12:33] #769 closed

[2018-11-26 13:34] #668 closed

[2018-11-26 14:12] evilebottnawi commented on #766
Sorry it is impossible, we always load `css` (if you use `import styles from '...'` and `import '...'`) and provide `locals` (place where we store classes). You should can configure two loaders (`test: /\.css$/` and `test: /\.modules\.css/`) for css modules files and vanilla css

[2018-11-26 14:12] #766 closed

[2018-11-26 17:07] ivensgoncalves commented on #772
@princed The workaround worked fine. Thank you very much!

[2018-11-27 15:19] FeklistovGleb commented on #38
Try this
https://github.com/FeklistovGleb/self-mono-repo/blob/master/packages/site/webpack.config.js

[2018-11-27 15:32] evilebottnawi commented on #351
let's move this in one issue https://github.com/webpack-contrib/css-loader/issues/351

[2018-11-27 15:32] #351 closed

[2018-11-27 16:32] #707 closed

[2018-11-27 17:37] juanca commented on #326
I ended up favoring a lint rule for this.

https://github.com/juanca/stylelint-css-modules/blob/master/rules/composed-class-names.js

I figured if JS didn't throw on an undefined module then CSS shouldn't throw on an undefined class name.

[2018-11-27 17:50] evilebottnawi commented on #571
Dupplicate https://github.com/webpack-contrib/css-loader/issues/282

[2018-11-27 17:50] #571 closed

[2018-11-27 17:50] evilebottnawi commented on #282
For PR:
- Need test `aliases` without modules
- With global mode
- With local mode
- Need fix https://github.com/webpack-contrib/css-loader/issues/571#issuecomment-365977186

[2018-11-27 19:48] evilebottnawi commented on #582
@HosseinAgha sorry for big delay, but problem in `<[emoji]>` (`a random emoji representation of options.content`), so you get random class name and so `chunkhash` changed every build. It is expected. Just remove `<[emoji]>`, it is not safe for long cache term. https://github.com/webpack/loader-utils/blob/master/lib/interpolateName.js#L20 (here `Math.random()`).

Also we have another issue when you

[2018-11-27 19:48] #582 closed

[2018-11-28 07:05] HosseinAgha commented on #582
@evilebottnawi Thank you very much I can confirm it is fixed now.
I cannot believe it is one and a half year since we talked about this issue 😆, I almost forgot about it.

[2018-11-28 17:59] npetruzzelli commented on #652
@evilebottnawi - A lot of the hectic stuff has passed. I plan to resume work on it shortly. I am sorry for the delay.

[2018-11-28 18:02] evilebottnawi commented on #652
@npetruzzelli maybe i can help if you provide minimum reproducible test repo, i am already working on `2` version (you can look progress in master branch)

[2018-11-30 15:01] evilebottnawi opened #833 "Support `image-set` notation without `url` notation"
* Operating System: no matter
* Node Version: no matter
* NPM Version: no matter
* webpack Version: no matter
* css-loader Version: no matter

### Feature Proposal

[code]

### Feature Use Case

Use `require` on this images.

[2018-11-30 17:14] npetruzzelli commented on #652
@evilebottnawi - I'll continue with comments in the PR: #753

There, I've included a link to the fork and am in the process of merging in updates to the master branch. Once I have tests working, I will create a minimal, reproducible test repo (separate from the fork).

Master still has version 1.x according to it's `package.json` file. If you intended for me to look at progress for 2.x in the `nex

[2018-11-30 17:22] evilebottnawi commented on #652
@npetruzzelli use master branch :+1:

[2018-12-02 15:57] Arshad0309 opened #836 "ERROR in ./node_modules/bindings/bindings.js Module not found: Error: Can't resolve 'fs' in 'j\node_modules\bindings'"
* Windows7 x64:
* 10.13.0:
* 6.4.1:

### After using npm run build it should compiled successfully.

### Module not found: Error: Can't resolve 'fs' in node_modules\bindings ERROR in ./node_modules/ffi/lib/dynamic_library.js

###  constructor(){
    console.log("Service Works Fine !!!");
    var RetInt = types.int;
    var callInt = types.int;
    //callInt=7;
    var intPtr = refType(types.int);

[2018-12-03 10:10] evilebottnawi commented on #836
Not related to `css-loader` use `node: { fs: false }`

[2018-12-03 10:10] #836 closed

[2018-12-03 10:31] evilebottnawi commented on #788
@ZeeCoder friendly ping, we prepare `2` version and can discussion about this. Problem with named `export` in `style-loader`, because `style-loader` export only `locals` to developers, we need rewrite `style-loader` for supporting this

[2018-12-03 10:49] ZeeCoder commented on #788
Thanks for the heads-up!

For the time being I'm using the "hack" I've described, exporting variables using the ICSS ":export": https://github.com/ZeeCoder/container-query/pull/99

[2018-12-03 10:53] evilebottnawi commented on #788
@ZeeCoder the main problem in what you want to avoid using `:export`, right?

[2018-12-03 11:33] ZeeCoder commented on #788
yeah, since it has nothing to do with the css, really.

With :export, the css file acts as an intermediary between my plugin and the JavaScript module that does the import. Ideally I wouldn't have to push this data through the css, but rather generate a js module that already has a custom export.

the other issue with :export is that the json I'm exporting like this becomes a string, including the

[2018-12-03 11:36] evilebottnawi commented on #788
@ZeeCoder any ideas how we can implement this? We can support `message` api for this, but i afraid future compatibility, `named` export require rewrite `style-loader` to allow export not only locals. I am glad any helps with this.

[2018-12-03 12:33] miltz9 commented on #240
For me to solve update node-sass in my case "node-sass": "^4.10.0" and update vue-template-compiler to
"vue-template-compiler": "^2.5.17"

[2018-12-03 12:53] ZeeCoder commented on #788
I'll set up a reminder to think about this.

I'm not too involved in how loaders work tbh, so I'd have to do some study first before I can advise on what to do.

[2018-12-03 13:05] evilebottnawi commented on #788
@ZeeCoder feel free to feedback

[2018-12-03 14:13] evilebottnawi commented on #564
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-12-03 14:13] #564 closed

[2018-12-03 14:17] evilebottnawi commented on #685
Duplicate https://github.com/webpack-contrib/css-loader/issues/326, feel free to send a PR

[2018-12-03 14:17] #685 closed

[2018-12-03 14:17] evilebottnawi commented on #326
PoC implementation https://github.com/webpack-contrib/css-loader/issues/685#issue-301708061

[2018-12-03 14:18] evilebottnawi commented on #785
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-12-03 14:18] #785 closed

[2018-12-03 16:16] evilebottnawi commented on #124
In next major release (will be release in next future):
- We implement reusing `ast` from `postcss-loader` (increase perf)
- We implement logic for disable `css` modules plugins (`modules: false`, by default `css` modules disabled, you can avoid `modules: false`), it is allow increase perf, if you don't use `css` modules.

Feel free to open issue if you have ideas how we can increase perf more

[2018-12-03 16:16] #124 closed

[2018-12-03 21:43] ZuBB commented on #124
@evilebottnawi will be any limitation for minimal required version of webpack for this new release of css-loader?

[2018-12-04 09:04] evilebottnawi commented on #124
@ZuBB `webpack@4`, but you can ignore `peerDependencies` warning and use in `webpack@3`

[2018-12-04 13:17] evilebottnawi commented on #282
Fixed in master, release new major in near future

[2018-12-04 13:17] #282 closed

[2018-12-04 14:41] evilebottnawi opened #846 "Reduce count of `require` for `url`"
* Operating System: no matter
* Node Version: no matter
* NPM Version: no matter
* webpack Version: no matter
* css-loader Version: 1.0.1

### Feature Proposal

On each `url` we generate `require`, but we can avoid this move `require` on top and avoid extra `require` for duplicate assets in `CSS`.

### Feature Use Case

Less require - better performance.

[2018-12-04 15:54] evilebottnawi commented on #479
Done in https://github.com/webpack-contrib/css-loader/pull/847

[2018-12-04 15:54] #479 closed

[2018-12-04 17:29] evilebottnawi commented on #703
Fixed in master, in next version you should use `~fyndiq-component-dropdown/styles.css`

[2018-12-04 17:29] #703 closed

[2018-12-04 18:46] evilebottnawi commented on #286
Use `importLoaders: false` for this case, but better avoid this construction and use `getLocalIdent` function for change `ident` based on context/request

[2018-12-04 18:46] #286 closed

[2018-12-04 18:54] evilebottnawi commented on #379
Don't have ideas how we can fix it on `loader` level, maybe implementing native support `css` in `webpack` can solve this problem, but on `loader` level we need pass all `url()` in require (for supporting resolving url and change their `publicPath`, `outputPath` and etc) so we use `replace`. Anyway feel free to investigate how we can fix it.

[2018-12-05 12:49] evilebottnawi commented on #622
@MagicDuck friendly ping, any ideas how we can solve this?

[2018-12-05 12:59] #589 closed

[2018-12-05 16:08] evilebottnawi commented on #413
Somebody can create minimum reproducible test repo?

[2018-12-05 16:10] evilebottnawi commented on #738
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-12-05 16:10] #738 closed

[2018-12-05 17:22] #636 closed

[2018-12-05 18:38] #846 closed

[2018-12-05 22:01] evilebottnawi commented on #578
All fixed in master exclude selectors, it is very hard, workaround use `.u-m\+` instead `.u-m\00002b`

[2018-12-06 04:32] MagicDuck commented on #622
Wasn't there a plan to have special chunk templates to generate "css chunks"? Not sure what happened with that, but I am assuming that would make css loader obsolete...

In any case, if we still need to fix css-loader, my best guess for what needs to happen is to add a new option to the loader for sourcemap template path that gets emitted. It should have a smart defaul, defaulting to something usi

[2018-12-06 09:57] evilebottnawi commented on #622
@MagicDuck Maybe you can create minimum reproducible test repo and README where describe what you have and what you expected?

[2018-12-06 09:57] evilebottnawi commented on #622
@MagicDuck Maybe you can create minimum reproducible test repo and README where describe what you have and what you expected?

[2018-12-06 15:00] jantimon commented on #589
@evilebottnawi could you please summarize how this issue was solved?

[2018-12-06 15:10] evilebottnawi commented on #589
@jantimon we use same logic for resolving urls with `modules` `false`/`local`/`global`, before we use difference logic for `local` and `global` and `global` was broken (you can't use `~`, `!!` and etc stuff in url), not it is fixed

[2018-12-06 15:10] evilebottnawi commented on #589
You can try master branch, feel free to feedback

[2018-12-06 20:55] #779 closed

[2018-12-06 21:44] evilebottnawi commented on #326
@juanca hi, do you want to help with implementation (throw error) on `css-loader` level? We can `emitError` if class doesn't exists.

[2018-12-06 23:57] juanca commented on #326
It sounds interesting. I might be able to investigate it in about a few weeks (vacation). I'll set up a reminder and report back on findings (assuming no one has started yet).

[2018-12-07 01:30] MagicDuck commented on #622
I thought the bug description above is pretty simple and explicit. Anyways, i would but like I said I don't have the time at the moment 😧

[2018-12-07 09:09] evilebottnawi commented on #326
:+1:

[2018-12-07 09:10] evilebottnawi commented on #622
@MagicDuck What is want here, `css-loader` should in `webpack` namespace?

[2018-12-07 16:46] mbulfair opened #861 "Resolving import/compose css paths in node_module with version 2.0.0"
* Operating System: OS X
* Node Version: 10.13.0
* NPM Version: 6.4.1
* webpack Version: 4.27.1
* css-loader Version: 2.0.0

### Expected Behavior

### Actual Behavior

Importing with css compose and import to a node module. In version 1.0.1 the `~` was not needed. In 2.0.0 it is. While in my local project I can change any references to this with no issue. However in the node_module/package/file.c

[2018-12-07 17:28] gpoitch opened #862 "[2.0.0] getLocalIdent validation"
* Operating System: macOS 10.14.1
* Node Version: 11.2.0
* NPM Version: 6.4.1
* webpack Version: 4.27.1
* css-loader Version: 2.0.0

### Expected Behavior

Previously, if `getLocalIdent` returned a falsey value, css-loader would fallback to using `localIdentName`

### Actual Behavior

css-loader throws an error:
[code]

### Code

[code]

### How Do We Reproduce?

Run tests with those loader option

[2018-12-07 17:32] evilebottnawi commented on #862
@gpoitch what you expected from `getLocalIdent` when you set it `false`?

[2018-12-07 18:42] gpoitch commented on #862
I expect it to fallback to using `localIdentName`.
Worked around it by explicitly setting to `undefined` instead of a falsey value.
[code]

[2018-12-07 18:49] evilebottnawi commented on #862
@gpoitch maybe we can accept `false` value for easy configuration, what do you think?

[2018-12-07 18:52] gpoitch commented on #862
@evilebottnawi yes, that'd be nice, as it worked in 1.x.  Otherwise that is a tiny breaking change

[2018-12-07 18:53] evilebottnawi commented on #862
@gpoitch let's mark it as bug and fix in `2.0.1`

[2018-12-07 18:54] evilebottnawi commented on #862
previous we don't have schema options and tests so i can lose something, sorry

[2018-12-08 05:08] MagicDuck commented on #622
So imagine you are a dev and are working on an app where some of the consumed libraries have their own css and are in turn built with webpack. When you open the dev tool, you:
1. Want searching for a css file from a particular lib to be straightforward and make sense. So nested under webpack but with the twist that the lib name is part of the path as in https://github.com/webpack/webpack/issues/57

[2018-12-08 23:51] rodfersou commented on #779
Thank you very much!

[2018-12-09 11:58] p3x-robot opened #863 "[2.0.0] ValidationError: CSS Loader Invalid Options - options should NOT have additional properties"
* Operating System: Linux workstation 4.15.0-42-generic #45-Ubuntu SMP Thu Nov 15 19:32:57 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
* Node Version: 11.4.0
* NPM Version: 6.4.1
* webpack Version: latest 4.27.1
* css-loader Version: latest - 2.0.0

### Expected Behavior

I can use the css-loader, I have not changed anything.

### Actual Behavior

[code]

### Code

[code]

### How Do We Reproduce?

It

[2018-12-09 13:09] iamcoolkranthi commented on #362
hi my webpack config file

const path   = require('path');
const autoPrefixer = require('autoprefixer');
module.exports = {
  devtool: 'cheap-module-eval-source-map',
  entry:'./scr/index.js',
  mode: 'development',
  output:{
      path:path.resolve(__dirname,'dist'),
      filename:"bundel.js",
      chunkFilename:'[id]',
      publicPath:''
  },
  resolve:{
      extensions:['.js','.jsx']
  },

[2018-12-09 15:01] Lattyware opened #864 "`undefined` URL."
After upgrading to 2.0.0 from 1.0.1, I am getting `url(undefined)` in my output CSS where I previously got a valid URL.

This seems to happen when the URL is referenced multiple times - after the first reference `undefined` is output.

* Operating System: Arch Linux
* Node Version: 11.3.0
* NPM Version: 6.4.1
* webpack Version: 4.27.1
* css-loader Version: 2.0.0

### Expected Behavior

The URL sho

[2018-12-10 00:51] alveshelio commented on #863
I have the same issue, I can confirm that in version 1.0.1 it works well

[2018-12-10 01:59] wanliyunyan commented on #863
I have the same issue too

[2018-12-10 08:49] evilebottnawi commented on #622
@MagicDuck hm, hard to understand without examples :disappointed:

[2018-12-10 08:51] evilebottnawi commented on #864
@Lattyware thanks for issue, it is bug :+1:

[2018-12-10 08:53] evilebottnawi commented on #863
hm, looks you have plugin what add more options to `css-loader`, somebody can provide full config or minimum reproducible test repo?

[2018-12-10 09:23] wanliyunyan commented on #863
@evilebottnawi thank you!  That is to say , css-loader@2.0.0 add verification of illegal parameters

[code]

[2018-12-10 09:39] evilebottnawi commented on #863
@fpsqdb please don't write `Same issue here`, it doesn't help solve issue, better create minimum reproducible test repo
@wanliyunyan thanks, will be fixed in near future

[2018-12-10 10:33] evilebottnawi commented on #863
@p3x-robot `minimize` will be remove in `1` version, you don't need this option, jut remove

[2018-12-10 10:35] evilebottnawi commented on #863
@p3x-robot need repo, looks other loader or plugin add option

[2018-12-10 10:49] evilebottnawi commented on #863
@p3x-robot you can have other problemы and if you want so solve issue quickly will be great to see you minimum reproducible test repo

[2018-12-10 10:56] evilebottnawi commented on #863
@p3x-robot thanks, will be fixed today and released

[2018-12-10 13:35] evilebottnawi commented on #863
@wanliyunyan can't reproduce, in future please add instruction how i should reproduce repo, you project is not small and i just losing time trying to reproduce

[2018-12-10 13:44] evilebottnawi commented on #863
@p3x-robot reproduced, WIP

[2018-12-10 13:45] #862 closed

[2018-12-10 13:52] evilebottnawi commented on #863
@p3x-robot remove this line https://github.com/patrikx3/gitlist/blob/master/webpack.config.js#L211 (minimize will be removed in `1` version)

[2018-12-10 13:59] evilebottnawi commented on #863
Solved. Feel free to feedback.

[2018-12-10 13:59] #863 closed

[2018-12-10 15:11] evilebottnawi commented on #861
@mbulfair fixing this error introduce problems in resolving algorithm and can introduce more bugs in future (other developers can forget about using `~` for modules and it is introduce more error). i need more time to investigate how better solve this problem. As workaround we can create simple loader and add this in documentation for this package.

[2018-12-10 16:46] evilebottnawi commented on #861
Why it is not easy. Let's see on:
[code]
Note: `@` is valid symbol in any filesystem (known for me).

Now we resolve this as `./@images/image.png`, but if we return resolving without `~` this can be resolving as:
- ./@image/image.png
- node_modules/@images/image.png

What is right resolving? Nobody knows, so we introduced `~` characters. it allows us to distinguish module requesting (from node_mod

[2018-12-11 05:08] MagicDuck commented on #622
@evilebottnawi If you reference the screenshot in the issue description above, I want the actual css source for `foo.css` to go under `webpack://(sap.orca-sample-plugin)/src/foo.css` instead of `C:/code/sap-webpack-extensions...` when `output.devtoolNamespace="sap.sample-orca-plugin"`.  Atm we actually see the cruft from style-loader under that path, which is not very useful.

[2018-12-11 08:52] evilebottnawi commented on #622
@MagicDuck thanks looks like a bug, we need fix it

[2018-12-12 11:55] jcubic commented on #362
I had this error when there were two rules for css that match for the same file:

[code]

adding matching for whole file solved the issue:

[code]

[2018-12-12 13:46] AnderssonChristian commented on #863
Can confirm that removing `minimize` option completely from the config resolved this issue for me.

[2018-12-12 14:16] evilebottnawi commented on #863
@p3x-robot use https://github.com/NMFR/optimize-css-assets-webpack-plugin for css minimication, `minimize` will be removed in `v1`, now we have `v2`

[2018-12-14 19:18] gpoitch opened #872 "[2.0] Animations broken with modules"
* Operating System: macOS 10.14
* Node Version: 10.4.1
* NPM Version: 6.4.1
* webpack Version: 4.27.1
* css-loader Version: 2.0.1

### Expected Behavior
CSS animation sytax works as expected

### Actual Behavior
animation syntax becomes broken when transformed with css modules

### Code

Give this input:
[code]
Produces this invalid output ('local' near the end) since version 2.0:
[code]

css load

[2018-12-15 16:56] Rusya44 commented on #872
Same issue.

[2018-12-15 17:36] Rusya44 commented on #872
Issue related to `postcss-modules`, solution now is to use `css-loader@1.0.1`

[2018-12-15 18:14] gpoitch commented on #872
Looks like it may be from this dependency:
https://github.com/css-modules/postcss-modules-local-by-default

There are a bunch of related tests, so maybe some specific combination with my example
https://github.com/css-modules/postcss-modules-local-by-default/blob/master/test.js#L175-L181

[2018-12-16 12:59] tapz opened #873 "options should NOT have additional properties"
* Operating System: MacOS
* Node Version:
* NPM Version: yarn 1.12.3
* webpack Version: 4.27.1
* css-loader Version: 2.0.1

### Expected Behavior

No errors.

### Actual Behavior

Removing all options helps.

### Code

[code]

[code]

### How Do We Reproduce?

Update css-loader from 1.0.1 to 2.0.1 and use the webpack config above.

[2018-12-16 21:34] Albosonic commented on #723
I struggled with this for some time with my upgrade to webpack v4. Until I finally found the newer webpack-image-loader so I wrote up a quick post here with a code example:
https://medium.com/@albertomadueno/webpack-v4-config-d6cee480a071
also README here: https://github.com/tcoopman/image-webpack-loader

[2018-12-17 09:50] evilebottnawi commented on #873
Answer above https://github.com/webpack-contrib/css-loader/issues/873#issuecomment-447643473

[2018-12-17 09:50] #873 closed

[2018-12-17 10:14] evilebottnawi commented on #872
Yep, problem in dependence (in `postcss-modules-local-by-default`), feel free to send a PR in this repo with fix and we upgrade deps, thanks. I can take care about this in next week, a lot of other issues

[2018-12-17 13:41] evilebottnawi commented on #863
@mrsteele how `Same problem with NextJs default config` can help solve issue? Please don't spam, you can investigate (just add `console.log(options)` here https://github.com/webpack-contrib/css-loader/blob/master/src/index.js#L36 and look on your options and search what is wrong, note we use babel, i.e. original file and traspiled file can be difference) and fix problem on your side or create issu

[2018-12-17 14:04] davidrenne commented on #295
LOVE THAT COMMENT.  Sorry made me laugh.  Good sense of humor.

[2018-12-18 15:14] vertic4l commented on #861
Seems to me to be the same issue with sass-loader https://github.com/webpack-contrib/sass-loader/issues/556

Somehow resolving was changed in latest releases which breaks many project builds.

[2018-12-18 15:35] evilebottnawi commented on #861
@vertic4l without `css-loader` you `@import` and `urls` can't work, also `locals` (i.e. classes and `@value`) doesn't work too

[2018-12-18 15:36] evilebottnawi commented on #861
What is broken? Issue with `css` modules resolving as described in first post?

[2018-12-19 04:34] Chris-Kim commented on #652
For me, this issue is resolved by upgrading `css-loader` to 2.x.x

[2018-12-19 12:20] Amwam commented on #861
I'm seeing a similar issue, where the NODE_PATH isn't being respected when using `compose`

For instance:
[code]
Having `NODE_PATH` set to `my_code`
Used to allow `otherModule.css`
to compose using
[code]

instead now, only relative paths worth
[code]

[2018-12-19 12:21] evilebottnawi commented on #861
@Amwam what is `NODE_PATH`? Don't have documentation about `NODE_PATH`

[2018-12-19 12:43] Amwam commented on #861
@evilebottnawi NODE_PATH environment variable allows you to set the module resolution,
If you folder structure is
`/home/users/test/thing/code`

setting `NODE_PATH` as  `export NODE_PATH=/home/users/test/thing`
would allow you to require from just `code` (`require('code/myComponent')`)

https://github.com/nodejs/node/blob/1f85ea979ccef3c52ec4ca3263306e527b625498/doc/api/modules.md#loading-from-the

[2018-12-19 12:45] evilebottnawi commented on #861
@Amwam you need add this path using https://webpack.js.org/configuration/resolve/#resolve-modules

[2018-12-19 12:46] evilebottnawi commented on #861
And don't spam in issue what not related to you, feel free to open new issue, comments not related to this problem will be marked as spam and will be ignored, thanks

[2018-12-20 02:30] kogai commented on #872
I think this might be actually issue caused by `css-loader`.
I created the most minimal representation of the issue [here](https://github.com/kogai/sandbox-css-loader-local), and it doesn't depend on some `postcss` packages.

[2018-12-20 13:46] sepikas commented on #786
Shouldn't loader-utils dependency be updated in the master branch?
I think it should be 1.1.0 but it's 1.0.2

[2018-12-20 13:49] evilebottnawi commented on #786
@sepikas We use ` "loader-utils": "^1.0.2",` so updating or installation always fetch latest version, please read about semver and how dependencies work in `package.json`

[2018-12-21 06:12] wlxscn commented on #228
I think sass-loader will resolve @import, there will be no @import. importLoaders only has effect on unresolved @imports, so value shuld be 0?

[2018-12-21 11:21] #872 closed

[2018-12-22 05:42] jbbpatel94 commented on #634
i am also facing same issue

[2018-12-22 20:32] GlebFeklistov opened #877 "babel-plugin-css-modules-transform and css-loader create different class names"
In ssr module:
[code]

in webpack config:
[code]

output from ssr class name:
_3P6Q-BetHcqJ-0bqToVM2U-intro
output from webpack class name:
DNgallyUyucYR3J-Bkjsb-intro

How to fix it?

[2018-12-22 20:38] evilebottnawi commented on #877
Can you create minimum reproduceble test repo?

[2018-12-22 20:43] FeklistovGleb commented on #877
Sure, later. Im post link to repo when finished.

[2018-12-25 02:48] cleverboy32 commented on #38
i cant fix the probelm.

in one css file  name a.css
`@font-face {
    font-family: 'som-ui-icons';
    src: url('~./fonts/som-ui-icons.woff?t=1472440741') format('woff'),
        url('~./fonts/som-ui-icons.ttf?t=1472440741') format('truetype');
    font-weight: normal;
    font-style: normal;
}`

i import the a.css  in index.css
`
@import 'src/styles/a.css';
`
error:
Can't resolve './fonts/som-ui

[2018-12-25 18:01] #833 closed

[2018-12-25 19:44] evilebottnawi commented on #676
https://github.com/webpack-contrib/css-loader/pull/677#issuecomment-449870090

[2018-12-25 19:44] #676 closed

[2018-12-26 13:53] chrisEff opened #880 "Emojis in CSS broken since 2.0.0"
* Operating System: macOS 10.14.2 (Mojave)
* Node Version: 10.14.2 (yes! it's by coincidence actually the same as the OS version 😄)
* NPM Version: 6.5.0
* webpack Version: 4.28.2
* css-loader Version: 2.0.0, 2.0.1, 2.1.0

### Expected Behavior

In my CSS I have a section with a `:before` selector and a `content` property. The `content` property contains a light bulb emoji. With css-loader 1.01 the

[2018-12-26 14:05] evilebottnawi commented on #880
@chrisEff we have tests on emoji and all work fine, please create minimum reproducible test repo

[2018-12-26 14:13] evilebottnawi commented on #880
Tests https://github.com/webpack-contrib/css-loader/pull/881 and you can see emoji are not broken

[2018-12-26 14:34] chrisEff commented on #880
Here you go:
https://github.com/chrisEff/css-loader-emoji-bug
Run `npm i` and `npx webpack` and then open the `public/index.html` file in a browser.
You will see some strange characters in front of "Test".

But if you change the css-loader version in `package.json` to `1.0.1` and do the same steps again, you'll see a nicely rendered light bulb.

[2018-12-26 14:49] evilebottnawi commented on #880
@chrisEff weird, confirmed, investigate

[2018-12-26 15:07] evilebottnawi commented on #880
@chrisEff no, it is not bug in `css-loader`. You need add `<meta charset="utf-8">` to fix it.

TL;DR

Without `<meta charset="utf-8">` you page interpreted based on characters in document (for me it is `windows-1252`), you can check this run `document.charset` in `console` so emoji broken. More information about this https://linuxwebdevelopment.com/how-to-insert-emojis-in-html/ , you can find you

[2018-12-26 15:07] #880 closed

[2018-12-26 15:13] chrisEff commented on #880
A big THANK YOU for investigating and coming up with with a solution so quickly! 👍

But still: If this is the problem, why did it work then with the old css-loader?

[2018-12-26 20:57] 7iomka commented on #873
Hi, Please help me, how I do that for my case?
My code is:
[code]

[2018-12-30 15:34] rodfersou commented on #779
@evilebottnawi could you please provide an example on how to make this feature work? I just updated the version (in the same PR mentionated) and still get a traceback.

[2018-12-30 23:44] rodfersou commented on #779
Okay, I could figure out what was missing, but still for me looks like the result of the function should be inverted to keep in mind the same behavior when it is a boolean..
I mean when the function return false should not look the ``url``.
This is my configuration in the end:
[code]

[2018-12-30 23:44] rodfersou commented on #779
thank you very much

[2018-12-31 09:43] truonghoangphuc commented on #863
Hi @mhauens

For NextJS, please check this file: **..\node_modules\@zeit\next-css\css-loader-config.js**

from row 70 to 82

const cssLoader = {
    loader: isServer ? 'css-loader/locals' : 'css-loader',
    options: Object.assign(
      {},
      {
        modules: cssModules,
        **//minimize: !dev,**
        sourceMap: dev,
        importLoaders: loaders.length + (postcssLoader ? 1 : 0)

[2019-01-02 17:54] zethodderskov commented on #240
I tried rolling back to "node-sass": "^4.5.0" due to an earlier comment, but that didn't help.

I got the same error. I'm using scss, compiling it using Laravel-mix. I had some highly wierd results, when using relative paths (`../foo/bar`) and semi-absolute paths (`/foo/bar`). It worked when I used absolute paths (`http://example.org/foor/bar`) - but is a shitty solution.

But then I discovered th

[2019-01-04 09:32] SeedyROM commented on #352
@atreyhazelhispanic Could you share some example code for how you solved this?

[2019-01-04 12:37] evilebottnawi commented on #779
@rodfersou can you open issue?

[2019-01-04 16:56] rishitank opened #882 "NODE_PATH no longer respected in version 2.0.0+"
* Operating System: Mac OS X 10.14.2
* Node Version: 10.10.0
* NPM Version: 6.5.0
* webpack Version: 4.26.1
* css-loader Version: 2.1.0

### Expected Behavior

if the NODE_PATH environment variable is set to my project's ./src folder either inline or via .env file, then I would usually be able to access the directories under this when using a URL:

[code]

### Actual Behavior

However with the new

[2019-01-04 17:07] rishitank opened #883 "URL query params no longer parsed correctly with URL path in version 2.0.0+"
* Operating System: Mac OS X 10.14.2
* Node Version: 10.10.0
* NPM Version: 6.5.0
* webpack Version: 4.26.1
* css-loader Version: 2.1.0

### Expected Behavior

When importing a library such as Bootstrap-sass or Font-awesome using SASS, these modules use query parameters in the URLs in order to extract specific styles. For example if I look in node_modules/font-awesome/css/font-awesome.css I see so

[2019-01-04 17:14] evilebottnawi commented on #882
@rishitank default value `node_modules` https://webpack.js.org/configuration/resolve/#resolve-modules for modules directory, we don't setup `NODE_PATH` in `css-loader`, you should add `NODE_PATH` env variable to your resolve options in `webpack` config or create issue about default support this NODE_PATH

[2019-01-04 17:15] evilebottnawi commented on #882
And it is expected behavior you should use `./` for relative images and `~` for resolve images as module

[2019-01-04 17:15] #882 closed

[2019-01-04 17:15] rishitank commented on #882
@evilebottnawi as mentioned, NODE_PATH was always setup in https://webpack.js.org/configuration/resolve/#resolve-modules but still does not work

[2019-01-04 17:16] evilebottnawi commented on #883
Looks like a bug, need fix

[2019-01-04 17:17] evilebottnawi commented on #882
@rishitank as i said above, it is breaking change for `css-loader@2`, you should use `~` for resolve asset as module

[2019-01-08 06:50] abhishek-mittal commented on #447
after adding {fs: 'empty'} I get this:
`external_"url":1 Uncaught ReferenceError: require is not defined
    at eval (external_"url":1)
    at Object.url (bundle.js:1065)
    at __webpack_require__ (bundle.js:683)
    at fn (bundle.js:60)
    at Object.eval (webpack:///(:8080/webpack)-dev-server/client?:6:11)
    at eval (webpack:///(:8080/webpack)-dev-server/client?:249:30)
    at Object../node_m

[2019-01-08 19:09] adamrights commented on #267
Had a similar issue. Using webpack4. Found this fixed context in our case:

![image](https://user-images.githubusercontent.com/986771/50852969-09d7ea00-134f-11e9-8cb5-8fbb557478e9.png)

[2019-01-09 10:38] evilebottnawi commented on #883
@rishitank Can't reproduce, please create minimum reproducible test repo

[2019-01-09 10:40] evilebottnawi commented on #883
Looks you have loader what break url

[2019-01-09 11:00] evilebottnawi commented on #883
@rishitank **Can't reproduce** your problem, please create minimum reproducible test repo

[2019-01-09 12:38] rishitank commented on #883
@evilebottnawi you may try this test repo: https://github.com/rishitank/test

If you try running `npm start` it will error as above. If I were to downgrade css-loader to version 1.0.1, and update src/index.scss by removing the alias `~` prefix in `$icon-font-path` and `$fa-font-path` then it runs successfully.

[2019-01-09 12:51] evilebottnawi commented on #883
@rishitank why you use `~` https://github.com/rishitank/test/blob/master/src/index.scss#L2 for variables? `~` require only for module resolution and should be not using for variables

[2019-01-09 13:32] rishitank commented on #883
@evilebottnawi If I try without `~`, then css-loader will resolve the URL as a relative directory instead of from node_modules.

[2019-01-09 13:33] rishitank commented on #883
@evilebottnawi it works without `~` in older versions of css-loader, but in the new version it seems this is needed to avoid working with relative directories.

[2019-01-09 13:35] evilebottnawi commented on #883
@rishitank for relative directory use `./` and `../`, you don't need module resolution here

[2019-01-09 13:39] rishitank commented on #883
@evilebottnawi module resolution is needed to determine the `icon-font-path` and `fa-font-path`, previously this was working without any adjustment and it would resolve `font-awesome` and `bootstrap-sass` in index.scss but now it is unable to find these paths due to changes in the URL parsing of css-loader.

[2019-01-09 13:43] evilebottnawi commented on #883
@rishitank `icon-font-path` and `fa-font-path` are variables, it is not `import`/`require` or other module loader system, why you need override defaults paths?

[2019-01-09 13:58] rishitank commented on #883
@evilebottnawi after some configuration changes, I'm able to get this working now. It seems `$bootstrap-sass-asset-helper: true;` is no longer needed when combined with the changes in css-loader 2.0.0+

[2019-01-09 14:01] evilebottnawi commented on #883
@rishitank :+1: Can we close issue?

[2019-01-09 14:01] rishitank commented on #883
@evilebottnawi yes

[2019-01-09 14:45] #883 closed

[2019-01-09 15:48] evilebottnawi commented on #771
Can't be solved on `css-loader` side, need update `acorn` in `webpack` (in `webpack@5` it is already done). Thanks for issue.

[2019-01-09 15:48] #771 closed

[2019-01-10 11:08] evilebottnawi commented on #877
/cc @GlebFeklistov friendly ping

[2019-01-10 18:00] vcavallo commented on #863
Hello
I don't have _any_ options set explicitly in my `css-loader` declaration. Is it possible something down the line is injecting options in? I'm using Vue and Vuetify.

The error I'm getting:

[code]
Any help would be much appreciated as this is breaking the build for me.
Thanks! Let me know what other information you'd need from me.

`package.json`:
[code]

`yarn.lock`:
https://pastebin.com/8p

[2019-01-11 14:50] daniel-winter commented on #861
@evilebottnawi Have you already fixed this problem? We have the same problem, when we want to update from version 1.0.0 to 2.1.0

[2019-01-11 14:55] evilebottnawi commented on #861
@daniel-winter right now no, better always use `~` when you try loading something from `node_modules`

[2019-01-14 04:34] d-dizhevsky opened #884 "Prepend publicPath to urls referenced in *.css"
Hi, my angular app ends up being deployed to web server with different virtual paths such as:

- http://website.com/app1/
- http://website.com/app2/

To get them both work properly, at the build stage I change angular's `<base href=>` and webpack's `publicPath` options to match specific virtual path app1 or app2.

The urls in my index.html are properly changed from  `<img src='hello.png'/>` to `<i

[2019-01-14 11:46] evilebottnawi commented on #884
It looks like you just deleted our lovely crafted issue. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

You can use difference file-loader option for difference files (using `test`, `exclude` and `include` options) or you can excl

[2019-01-14 11:46] #884 closed

[2019-01-14 18:53] musthu1837 commented on #447
Still i am unable to resolve the fs error plz help me

[2019-01-15 13:01] yeahhhz commented on #352
Try  install  a low version  loader

[2019-01-17 09:44] abhishek0058 commented on #447
mee too

[2019-01-18 05:59] Feniast commented on #877
Hi, I encountered the same problem in my Windows environment and i am using css-loader v2.1.0.

Althought i am not 100% sure the cause of my problem is same as the author, i think i may have found out a line of code of **css-loader** which caused the inconsistent bahavior between the two libs.

Here is the code,
https://github.com/webpack-contrib/css-loader/blob/master/src/utils.js#L45
it replaces

[2019-01-18 10:09] evilebottnawi commented on #877
@Feniast it is not workaround, in near future we release `webpack@5` and `css-loader@1` doesn't work, you need fix it in `babel-plugin-css-modules-transform`. Why re change `\` on `/` for consistently generating classes, without this fix you get difference classes on `windows` and `linux` and it is bug.

[2019-01-18 10:58] Feniast commented on #877
@evilebottnawi Sorry, i know it's a bug. I found css-modules-require-hook use the old version of generic-names 1.0.1. So it should update its dependency version. But it is not my duty, i never use css-loader and babel-plugin-css-modules-transform together and never know what they do and what they use before today. I just want to make it work and go here to report why it didn't work as expected.

[2019-01-18 11:06] evilebottnawi commented on #877
I close issue due problem in old dependencies in deps, we can't do here on our side, as workaround you can use own `getLocalIdent` function https://github.com/webpack-contrib/css-loader#localidentname and https://github.com/webpack-contrib/css-loader/blob/master/src/index.js#L84 to generate classes

Thanks!

[2019-01-18 11:06] #877 closed

[2019-01-18 11:16] dulakm commented on #578
Hello,
please, is there any update on the issue? I can confirm another problem with escaping similar to the one mentioned in https://github.com/webpack-contrib/css-loader/issues/752.

When using CSS modules and `@custom-selector` plugin, even the most basic example escaping goes wrong:
[code]
=>
[code]

[2019-01-18 11:18] evilebottnawi commented on #578
@dulakm problem in css modules plugins (for postcss), feel free investigate and send a PR

[2019-01-18 13:01] GlebFeklistov commented on #877
use css-loader older version, will work

[2019-01-18 13:11] evilebottnawi commented on #877
@GlebFeklistov

[2019-01-18 17:26] wingrunr21 opened #886 "Setting sourceMap: true generates different content hashes on Linux vs MacOS"
* Operating System: MacOS and Linux
* Node Version: Tested on 9.x and 10.x
* NPM Version: 6.1.0
* webpack Version: ^4.28.4
* css-loader Version: ^2.1.0

### Expected Behavior

The generated `contenthash` for a CSS file is consistent with the content of the file.

### Actual Behavior

The generated `contenthash` differs depending on which operating system Webpack is run on.

I have tried various co

[2019-01-18 17:29] evilebottnawi commented on #886
Thanks for issue, i will investigate this in near future, but i think problem not in `css-loader`

[2019-01-18 17:44] wingrunr21 commented on #886
It is very possible the problem is in Webpack itself. I looked through the code for `css-loader` and didn't see anything that could potentially be causing this.

Note I have not tried this in Webpack v5 alpha as MiniCssExtractPlugin and HtmlWebpackPlugin are not yet compatible

[2019-01-21 23:01] kurisubrooks opened #887 "Remove/Shrink Lodash Dependency"
* css-loader Version: 2.1.0

### Modification Proposal
Lodash adds a significant size to the total bundle size coming in at around 530kb when including the whole library, so i'd like to propose removing it in favour of native ES6 code (see: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore), otherwise you can import each function you need as a separate module which will also help to

[2019-01-22 08:13] evilebottnawi commented on #887
PR welcome

[2019-01-22 14:47] evilebottnawi commented on #886
@wingrunr21 after investigate i find problem:

With `sourceMap: true` `css-loader` generate:
[code]

Without
[code]

So content hashes are difference. Problem on side `mini-css-extract-plugin` here https://github.com/webpack-contrib/mini-css-extract-plugin/blob/ffb0d87ce68560e2b301a090d257c105f60a969a/src/index.js#L96

We should respect `sourceMap` option for `mini-css-extract-plugin`. Open issue

[2019-01-22 14:48] evilebottnawi commented on #886
You can comment
[code]
And see what `contenthash` is same.
Just need like:
[code]

[2019-01-23 15:31] wingrunr21 commented on #886
@evilebottnawi I don't believe that will fix the problem:

A) doesn't the ternary already respect the `sourceMap` option?
B) Even with that, the sourcemaps are still different on the various operating systems. I think the issue is from the `sources` array in the sourcemap object. That path is an absolute path, not a relative path, so it could be different from machine to machine. This causes the `

[2019-01-23 15:37] evilebottnawi commented on #886
@wingrunr21

No, we should fix it in plugin

https://github.com/webpack-contrib/css-loader/issues/652

Unfortunately we have problems with source maps and paths in `sass-loader`, `postcss-loader` and `css-loader`, you can help us.

[2019-01-23 15:42] wingrunr21 commented on #886
I can try to dig into this but it looks like this has been reported for awhile. Would you mind re-opening this issue as it is not in fact resolved.

[2019-01-23 15:46] evilebottnawi commented on #886
@wingrunr21
I think we should use `relative` paths for `sources` in source map and always use linux path, need tests how it is works (include windows)

[2019-01-23 15:47] wingrunr21 commented on #886
Yep, that seems right. I'll see if I have time to dig into it. Looks like there are a few example repos with reproduction steps.

[2019-01-24 04:12] Lynn-cc commented on #578
my base64 image：`data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAhxJREFUSA3tk71rU1EYxnMTEoJUkowWwdJ2akEHBfGjCiIF6ZylVUKSm2TqZLGI+A/oIu2UXm8C4lAyF4SWji0tdFLo1Eo7VN0SaBEhH7e/Nz0nPTfGOjiaCyfPc5734zlfCQT6X/8E/vUErL81KBaL9y3LSnued5PcITjUOwR3gsFg2bbtjYt6/NGgXC4P1et1l2aPLmpAbD0SidjpdPqgV15PA9d17zQajU8UxHQRK/4G35Q5pveAK8LlI1ZjPMnlcltnyvnvbwaO41xvtVqy7YHztMACq5xnlb9EY3d

[2019-01-24 09:44] evilebottnawi commented on #578
@Lynn-cc can't reproduce (https://github.com/webpack-contrib/css-loader/pull/888), see snapshots, maybe you use old version of `css-loader`?

[2019-01-24 23:11] juanca commented on #326
I'm going to give it a go these next couple of days. Any tips for places of interest in the code base?

[2019-01-25 09:35] szimek opened #889 "Query string gets removed in url() call to a local file"
* Operating System: macOS 10.14.3
* Node Version: 11.7.0
* NPM Version: 6.5.0
* webpack Version: 4.29.0
* css-loader Version: 2.1.0
* style-loader Version: 0.23.1

### Expected Behavior

When loading images in CSS using `url()` with a query string, I'd expect this query string to be still present in the generated CSS. E.g.
[code]
should generate
[code]

### Actual Behavior

[code]
generates
[code]

[2019-01-25 10:05] evilebottnawi commented on #326
@juanca loader's code is very simple, just look on code base, it is should be no difficult to understand and implement this feature.

[2019-01-25 10:06] iongion commented on #861
In the previous version `v1.0.1` I was able to use `url('~/images/stuf.png`)` - now it is impossible, these used to work:

[code]

but now:

[code]

With a directory structure:

[code]

I don't know if related, but I wouldn't open a bug for this, I am unable to make it work so I am stuck with `1.0.1`

[2019-01-25 10:12] evilebottnawi commented on #889
It is expected, `webpack` do all for all assets (for `js` too). Webpack static builder so better avoid this construction.  What is use case for this?

[2019-01-25 10:13] evilebottnawi commented on #861
@mbulfair

[2019-01-25 10:18] szimek commented on #889
We're looking into using an image processing service like https://www.imgix.com/, but in case of this service, all processing options are passed via query params, e.g. https://assets.imgix.net/unsplash/bridge.jpg?w=500&q=70&format=auto.

[2019-01-25 10:20] iongion commented on #861
@evilebottnawi That does not work either:

[code]

[2019-01-25 10:31] evilebottnawi commented on #861
@mbulfair why you use `~`? Why just don't use `./image`?

[2019-01-25 10:32] iongion commented on #861
Because some images are not relative to the css file, but to project source root

@evilebottnawi - solved my issue by doing:

[code]

[2019-01-25 10:34] evilebottnawi commented on #889
@szimek

yep, just ignore this images

This fix is not very easy, i need some time to thinks how we can fix it without break other build.

[2019-01-25 10:38] evilebottnawi commented on #861
@iongion `modules` for modules, you use this as hack and it is expected what it can broken, better avoid this and use `../../../image.js`, anyway it should be work, please create minimum reproducible test repo

[2019-01-25 19:00] juanca commented on #326
Okay, so just to verify... going down the rabbit and possibly doing the edit at `css-modules/postcss-modules` is not a good idea? 😅

[2019-01-25 19:04] evilebottnawi commented on #326
@juanca we have some difference algorithm for modules than `css-modules/postcss-modules` so we need this on our side

[2019-01-27 13:37] r00dY commented on #692
Encountered same issue.

If you use *only* `css-loader` (without `style-loader`) you get all the local class names in `locals` property.  So with CSS like this:

[code]

you get following results:

[code]

Only after adding `style-loader` you get this working as described in spec (https://github.com/css-modules/css-modules) and you can use `styles.className`.

I think it's really confusing. If we

[2019-01-29 17:51] wingrunr21 commented on #886
@evilebottnawi Upon looking at this closer, fixes across the various loaders have been submitted already. #753 addresses it for this project

[2019-01-29 18:00] evilebottnawi commented on #886
@wingrunr21 invalid fix and break source maps

[2019-01-30 18:05] anuragmy commented on #295
Thanks !!

[2019-02-06 14:56] rodfersou opened #891 "Fix url filter behavior"
Related to: https://github.com/webpack-contrib/css-loader/issues/779

The result of the function should be inverted to keep in mind the same behavior when it is a boolean..
I mean when the function return false should not look the ``url``.
This is my configuration in the end:
[code]

[2019-02-06 14:56] rodfersou commented on #779
@evilebottnawi https://github.com/webpack-contrib/css-loader/issues/891

[2019-02-06 15:01] evilebottnawi commented on #891
@rodfersou thanks for issue, we can fix it only in next major release, i am afraid break loader for other developers

[2019-02-06 19:12] rodfersou commented on #891
@evilebottnawi for me looks great!

[2019-02-10 00:20] BerekHalfhand commented on #863
I have this issue on version 2.1.0, without any options at all. Had to downgrade to 1.0.1, which has solved the issue.

[2019-02-10 01:38] EstevesDiogo commented on #296
I still have that problem, any solution?

[2019-02-11 08:30] janvesel commented on #296
@EstevesDiogo I created a workaround by adding another loader for file that load fonts only and for that I didn't use sourceMap and I excluded the font.css file from the scss loader that uses sourceMap.

[code]

[2019-02-12 11:52] ashnur commented on #272
This is so not true, I get completely unnecessary underscores all over the place with `[local]`

[2019-02-12 12:01] OliverJAsh commented on #772
For traceability: this issue didn't just effect usage of `optimization.namedModules` but also `HashedModuleIdsPlugin` (which is a recommended plugin for long term caching in production).

[2019-02-12 14:00] M3kH commented on #306
An year later, and we're experiencing the same with no solutions.
Where to go to solve this?

[2019-02-12 22:04] armw4 commented on #617
I encountered this when using the `MiniCssExtractPlugin`. The setup for the documentation helped me. I had consolidated my `.css` and `.scss` blocks as follows:

<img width="933" alt="screen shot 2019-02-12 at 16 03 20" src="https://user-images.githubusercontent.com/246377/52671129-e10fbb00-2edf-11e9-82ef-468722dc36c4.png">

[2019-02-13 13:03] sergeyshmakov commented on #539
This is my comment how to fix this keyframes-animation issue of css-loader:

https://github.com/css-modules/css-modules/issues/141#issuecomment-463189863

[2019-02-13 15:27] OliverJAsh opened #892 "Module aliases and `~` prefix"
I am upgrading css-loader from 0.28.3 to 2.1.0 and it seems at some point css-loader started to require a `~` prefix in module IDs that uses webpack aliases.

I would like to ask why this is necessary? I can import using aliases in normal JS modules just fine without the `~` prefix. Is it really needed?

[2019-02-14 09:51] evilebottnawi commented on #892
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Issue https://github.com/webpack-contrib/css-loader/issues/861. It is current limitation before `webpack` can't solve

[2019-02-14 09:51] #892 closed

[2019-02-14 10:40] popuguytheparrot opened #893 "nothing about keys "hashPrefix, context" in documentation"
Add full description of options for css-loader like hashPrefix, context and other implicit keys

[2019-02-14 10:47] evilebottnawi commented on #893
@popuguytheparrot please format your issue as issue template, PR welcome

[2019-02-14 11:01] popuguytheparrot commented on #893
@evilebottnawi Where can I find out the parameters for the options to describe and add to the documentation?

[2019-02-14 11:05] evilebottnawi commented on #893
@popuguytheparrot https://github.com/webpack-contrib/css-loader#localidentname, see second example

[2019-02-18 18:46] jayarjo commented on #228
It still doesn't make any sense. Also pipe syntax is catastrophe and should be deprecated immediately.

[2019-02-25 08:37] wenJonSnow opened #897 "Cannot find module 'css-loader/locals'，typescript+webpack+react"
"devDependencies": {
    "css-loader": "^2.1.0",
    "html-webpack-plugin": "^3.2.0",
    "mini-css-extract-plugin": "^0.5.0",
    "node-sass": "^4.11.0",
    "sass-loader": "^7.1.0",
    "ts-loader": "^5.3.3",
    "typescript": "^3.3.3333",
    "typings-for-css-modules-loader": "^1.7.0",
    "webpack": "^4.29.5",
    "webpack-cli": "^3.2.3",
    "webpack-dev-server": "^3.2.0"
  },
  "dependencies

[2019-02-25 09:24] evilebottnawi commented on #897
https://github.com/webpack-contrib/css-loader/releases/tag/v2.0.0 use `exportOnlyLocals`

[2019-02-25 09:24] #897 closed

[2019-02-26 09:32] MatteoGabriele commented on #137
this is actually not working for me. Only works passing `composes: foo from '~postcss!filename'` but I don't want to write that every time and also I read that is not the correct way.

my webpack configuration has a importsLoaders with 1 (which is postcss-loader right after css-loader) but still doesn't work: every file requested from within css-modules composes method are not passing via the post

[2019-02-27 06:58] klimashkin opened #898 "Tilde in composes breaks DX"
* Operating System: macOs
* Node Version: 10.15.0
* NPM Version: 6.4.1
* webpack Version: 4.29.5
* css-loader Version: 2.1.0

### Expected Behavior / Situation
`composes: classname from 'path/to/file'` should resolve path taking `resolve.modules` and `resolve.alias` into account

### Actual Behavior / Situation
Since 2.0.0 tilde needs to be added: `composes: classname from '~path/to/file'`

### Mo

[2019-02-27 07:03] klimashkin commented on #898
Or at least maybe some option can be introduce to handle path `composes` in classic way.

[2019-02-28 17:34] terremoth commented on #455
I need this fix too

[2019-03-03 09:47] Finesse commented on #243
I fixed the issue in my project by replacing

[code]
with
[code]

[2019-03-03 09:50] Finesse commented on #539
I fixed the issue in my project by the following replacement:

[code]

[2019-03-03 10:27] sergeyshmakov commented on #539
May be it works. There is many ways to fix if you are code owner of keyframe-animations, but if you need to fix it in the external module - you need to solve it on the webpack level.

[2019-03-03 14:43] xuxinhang commented on #106
It seems that the high version of `css-loader` cannot work with the old version of Webpack.

[2019-03-04 07:34] evilebottnawi commented on #539
Somebody can create issue with reproducible test report?

[2019-03-04 08:20] evilebottnawi commented on #898
Duplicate https://github.com/webpack-contrib/css-loader/issues/861, yep it is bug, feel free to send a PR, i will look on this in near future

[2019-03-04 08:20] #898 closed

[2019-03-05 01:40] Finesse commented on #539
@sergeyshmakov

Maybe you can use a postcss-loader to change the `animation` arguments order in the code before the code gets to the css-loader.

[2019-03-05 11:50] #578 closed

[2019-03-05 14:45] #887 closed

[2019-03-05 16:07] evilebottnawi commented on #413
Closing due impossible reproduce. Feel free to create new issue if you faced with problem. Thanks!

[2019-03-05 16:07] #413 closed

[2019-03-05 17:09] evilebottnawi commented on #652
Other example https://github.com/kyle-ssg/sass-loader-bug

[2019-03-06 13:15] evilebottnawi commented on #886
To solve this problem we should:
- normalize path in `sources`, `sourceRoot` and `file` in source map
- use relative paths
- add check on sourceMap in `mini-css-extract-plugin` or maybe pass `undefined` instead empty string when source map is not present

[2019-03-06 13:35] evilebottnawi commented on #652
Find solution and problem, will be solved and released today

[2019-03-06 14:41] honghui-qiao opened #902 "Wrong output when deal with css modules"
* Operating System:  Mojave
* Node Version:  v10.15.1
* NPM Version: 6.4.1
* webpack Version: 4.x
* css-loader Version: 2.x

### Expected Behavior

`a[href=''] { xxx }` should compiled to `a[href=''] { xxx  }`

### Actual Behavior

`a[href=''] { xxx }` compiled to `a[href] { xxx }`

**We don't have this issue with css-loader 1.x**

[2019-03-06 14:48] #652 closed

[2019-03-06 14:59] evilebottnawi commented on #902
@honghui-qiao please create minimum reproducible test repo

[2019-03-06 15:02] evilebottnawi commented on #902
No need, reproduce

[2019-03-06 15:03] evilebottnawi commented on #902
WIP

[2019-03-06 15:36] evilebottnawi commented on #902
Upstream issue https://github.com/postcss/postcss-selector-parser/issues/185

[2019-03-06 16:14] evilebottnawi commented on #902
Wait merge https://github.com/postcss/postcss-selector-parser/pull/186

[2019-03-07 09:48] #902 closed

[2019-03-07 09:50] evilebottnawi commented on #902
last version of `postcss-value-parser` fixes this problem. I added test to ensure we don't do regressions in future. Unfortunately we don't have directly `postcss-selector-parser` deps, so i can't bump this on our side. I recommend update your deps and lock file. Thanks!

[2019-03-07 11:12] anonimitoraf opened #906 "TypeError [ERR_INVALID_ARG_TYPE]: The "from" argument must be of type string. Received type undefined"
* Operating System: Windows
* Node Version: 11.10
* Yarn Version:1.13.0
* webpack Version: 4.29.0
* css-loader Version: 2.1.0

### Expected Behavior
Running `yarn install && yarn storybook` for https://github.com/kenshoo/react-multi-select/commit/2704a323d05d2a28e1f9d29d8f0a0b73fee9571d. (with a "fixed" webpack config) just works

### Actual Behavior
[code]

### Code
[webpack.config.js](https://gi

[2019-03-07 11:37] evilebottnawi commented on #906
Regression in `postcss` css modules plugin, feel free to send a PR to `postcss-modules-scope`

[2019-03-07 11:51] anonimitoraf commented on #906
Sorry, I'm quite unfamiliar with the implementation of these projects. I'll have a look when I get some time.

[2019-03-07 11:58] evilebottnawi commented on #906
@anonimitoraf https://github.com/css-modules/postcss-modules-scope, i am on vacation on weekends, so i don't have time right now to investigate in reproducible repo above (not small), anyway if you find lines in your `css` what throw this error i can fix it, i am sure what to fix it will be very easy.

[2019-03-07 12:02] dmeehan1968 opened #907 "File extension optional on imports, required on composes"
* Operating System: macOS Mojave 10.14.3
* Node Version: 11.9.0
* NPM Version: 6.8.0
* webpack Version: 4.29.4
* css-loader Version: 2.1.0

### Expected Behavior

Consistency of module name specification between `@import` and `composes`.

### Actual Behavior

Module extension can be omitted in `@import` but must be specified in `composes`.  If the extension is omitted then the module cannot be res

[2019-03-07 12:20] evilebottnawi commented on #907
@dmeehan1968 why do you use `composes otherklass from "filename.less";` instead `composes: otherklass from "filename.less";`

Also we can't omit extension because it is part of spec https://github.com/css-modules/css-modules#dependencies

[2019-03-07 12:28] dmeehan1968 commented on #907
Apologies, that's a typo, I do of course have the colon. I've edited the original issue.

I don't see that spec mention that the extension is required, just that it is present by example.  There is a still an inconsistency between `composes` and `@import`, as in the latter I can omit the extension and its resolved correctly.  I guess that the `less-loader` is dealing with the `@import` however, so

[2019-03-07 12:37] evilebottnawi commented on #907
Anyway feel free to send a PR with implementation, it is not high priority and most likely no one will ever do that, so PR welcome

[2019-03-07 13:35] sergeyshmakov commented on #539
@Finesse I would be happy if you provide working settings. Because most of plugins that I see has a very rare release date.

[2019-03-07 14:30] jquense commented on #906
@evilebottnawi I took a quick look I don't think this is a regression in `postcss-modules-scope` the root cause is that the `rootContext` property on loaderContext is `undefined`, My guess is this is really a storybook version mismatch issue

[2019-03-08 03:08] anonimitoraf commented on #906
@evilebottnawi That error message gets repeated multiple times for multiple files. One of the files (referenced by the error message I posted) is https://github.com/anonimitoraf/react-multi-select/blob/master/src/components/search/search.scss

@jquense I don't understand how it can be a storybook version issue unless it means a different storybook version = different webpack config. Which makes me

[2019-03-08 09:11] Finesse commented on #539
@sergeyshmakov I made a quick search and couldn’t find an appropriate PostCSS plugin. So I’m afraid you need to make your own plugin. There is a very similar plugin, you can use it as an example: https://github.com/ben-eb/postcss-ordered-values

[2019-03-09 12:01] ali-hasani commented on #447
I have the problem too, and until now I approximately have looked up all issues related to the problem, but can't fix it.
my problem is exactly:
I'm working on an angular-universal project.
after I added `dom-storage` to my project, I got the `can't resolve fs` error in (browser) build process, and the main provied  solution is adding `fs: 'empty'` to `webpack.config.js`. but I tried all solutions

[2019-03-11 10:16] evilebottnawi commented on #906
@anonimitoraf hm, very strange, i will look on this in near future

[2019-03-11 14:38] evilebottnawi commented on #717
@HairyRabbit your problem already solved in last release and not related to top issue

[2019-03-11 15:01] evilebottnawi commented on #622
Related problem: loader doesn't support `devtoolModuleFilenameTemplate` and other `devtool` option in `output` option, we should fix it

[2019-03-11 15:05] evilebottnawi commented on #717
Close in favor https://github.com/webpack-contrib/css-loader/issues/622#issuecomment-471575481

Anyway you can setup editing in dev tools:
1. Open dev tools.
2. Click `Filesystem` in on left panel.
3. Click `Add folder to workspace` in left panel.
4. Add `src`/`lib` directory.
5. Change content of file.

Anyway we should respect `devtoolModuleFilenameTemplate` and other `devtool` options, close in

[2019-03-11 15:05] #717 closed

[2019-03-11 15:37] wmarques commented on #883
Sorry to comment on a closed issue, but I'm having the exact same problem and removing `$bootstrap-sass-asset-helper: true; ` didn't resolved it.

@evilebottnawi those variables are made to send the path to the icons as parameter so the lib (bootstrap or font-awesome) can have the correct path for the fonts.

Do you have any clue on how to solve this?

Here is the full stacktrace:
[code]

If you p

[2019-03-11 15:43] evilebottnawi commented on #883
@wmarques looks you use old version of `css-loader`, can you update?

[2019-03-11 15:56] wmarques commented on #883
@evilebottnawi Thanks for your fast answer !

I'm at 2.1.1 which seems to be the latest version. Btw it works on the 1.0.1 version.
Just realised that my variable wasn't taken because I set it after, now I set it before and it produces same output but with different path:

[code]

It's strange, my variable is : `$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';`

I have other variables f

[2019-03-11 16:11] evilebottnawi commented on #883
@wmarques can you create minimum reproducible test repo? Something wrong with `url` content, we need debug this, thanks!

[2019-03-11 16:38] wmarques commented on #883
@evilebottnawi Do you have any "sample" repo that I can clone ? With a basic webpack config and SASS

[2019-03-11 16:45] evilebottnawi commented on #906
@anonimitoraf problem what `css-loader` doesn't have compatibility with `webpack@3` (old version of `storybook` uses old version of `webpack` and `css-loader`), you need update `storybook` to latest version. I will add check to avoid this problem, but only because code for generation locals looks ugly, you need update deps to avoid this and same problem in future, thanks

[2019-03-11 16:57] evilebottnawi commented on #883
@wmarques just clone any boilerplate, or you can provide link on own repo where you faced with issue (just remove all security data if you have their in repo)

[2019-03-11 17:58] #906 closed

[2019-03-12 13:02] tomspeak commented on #295
Please avoid my mistake and take serious note of you potentially having two loaders for the same thing.

I was loading CSS myself, and had a 3rd party plugin that also loaded CSS, so I didn't immediately think about it.

Removing my loader made this work.

[2019-03-13 17:58] evilebottnawi commented on #861
WIP on this

[2019-03-13 18:30] evilebottnawi commented on #861
/cc @iongion can't reproduce problem, using `~` works fine for `modules`, please create minimum reproducible test repo

[2019-03-13 18:35] evilebottnawi commented on #861
/cc @daniel-winter can you provide example with bug, maybe we can solve this problem in other way.

[2019-03-13 18:54] evilebottnawi commented on #861
/cc @klimashkin looks like won't fix

Why? Here answer https://github.com/webpack-contrib/css-loader/issues/861#issuecomment-445885179

You example:
[code]

- by default `@import` and `url` in css works as relative
- if we will load `path/to/file.css` from `modules` we break other libraries

One idea to solve: we can try to `resolve` (https://webpack.js.org/api/loaders/#thisresolve) `url`/`@import

[2019-03-14 01:24] Humoyun commented on #863
The same issue on version 2.1.1, after removing `minimize` from options, error was gone

[2019-03-14 09:40] evilebottnawi commented on #863
@BerekHalfhand please provide minimum reproducible test repo, `css-loader` will be incompatibility with `webpack`

[2019-03-14 09:41] evilebottnawi commented on #863
All who have problems please provide minimum reproducible test repo and we fix it

[2019-03-14 10:24] wmarques commented on #883
@evilebottnawi sorry for the time, here it is: https://github.com/wmarques/css-loader-bug

[2019-03-14 10:49] evilebottnawi commented on #883
@wmarques please open new issue, thanks

[2019-03-14 10:55] wmarques opened #909 ""iefix" query param not handled"
I'm having an issue when trying to import `bootstrap-sass` on my project with css-loader. It works with css-loader v1.x.

* Operating System: MacOS
* Node Version: 10.15.2
* NPM Version: 6.4.1
* webpack Version: 4.16.4
* css-loader Version: 2.1.1

### Expected Behavior
SCSS + CSS compiles correctly

### Actual Behavior
[code]

### Code

[code]

### How Do We Reproduce?
Clone https://github.com/wma

[2019-03-14 10:56] wmarques commented on #883
@evilebottnawi done :)

[2019-03-14 12:18] evilebottnawi commented on #909
Here some problems:
- Bootstrap 3 use `twbs-font-path` and `twbs-image-path` functions for generate url when you enable `$bootstrap-sass-asset-helper: true`, you should use `true` value only when use `Compass`, `Sprockets`, or `Mincer`. Without this modules bootstrap generate :
[code]
It is invalid url so we can't resolve their, `url` can't contains other functions inside.

Also webpack doesn't ad

[2019-03-14 12:34] wmarques commented on #909
@evilebottnawi thanks for your help, you are correct ! It's solved

[2019-03-15 11:18] sleagon commented on #863
@evilebottnawi here is a simple reproducible repo: https://github.com/sleagon/broken-css-loader

[2019-03-15 11:34] sleagon commented on #863
@BerekHalfhand minimize has been removed, just take a look at this issue: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/434

[2019-03-17 11:59] phanirithvij commented on #362
for me, I was repeating it twice like this.

[code]

I removed one of them and it worked.

So finally this.

[code]

[2019-03-18 04:55] websam101 commented on #447
I have a working solution for webpack to transfer any variables in the front-end, if it can help someone.

In your `webpack.config.client.js` before anything else:
[code]

In your `webpack.config.client.js` in the plugins section just redefine anything you want in the front-end:
[code]

And that's all, now you can access `process.env.MY_VAR` from anywhere in the front-end and you don't need to cal

[2019-03-18 07:36] honghui-qiao commented on #902
Thanks all! :D

[2019-03-18 16:27] mrpandat commented on #909
Same problem solved thanks to @evilebottnawi.

[2019-03-21 01:39] ninamorena commented on #863
Unfortunately, I had to downgrade to 1.0.1 from 2.1.1 because this issue is still impacting my builds.

[2019-03-23 01:46] gfcf14 opened #910 "Cannot find module 'loader-utils' even though it is already installed."
I am using razzle with yarn PlugNPlay for my project, and after `yarn install` I had to add/modify some packages and configuration in my `razzle.config.js`:

[code]
Still, I tried running my project and I get the following errors:

[code]
And this is my `package.json`:

[code]
so even though `loader-utils` is installed, `css-loader` doesn't recognize it. Now, I had to downgrade my `css-loader` bec

[2019-03-23 13:33] evilebottnawi commented on #910
Please create issue in yarn about this, we use standard approach for dependencies. Also you don't use issue template.

[2019-03-23 13:33] #910 closed

[2019-03-23 14:29] gfcf14 commented on #910
@evilebottnawi is there another place related to css-loader where I could post this issue? As you can see from the post, I referenced an issue I made there, for which I am awaiting response

[2019-03-23 14:39] arcanis commented on #910
I've just answered on https://github.com/yarnpkg/yarn/issues/7141 - I think the problem is that something is calling `realpath` on the value returned by the resolver, which causes an information loss. Now the question is what does this? The PnP plugin [disables symlink resolution](https://github.com/arcanis/pnp-webpack-plugin/blob/master/index.js#L59-L66), so something else must come into play ..

[2019-03-23 17:10] evilebottnawi commented on #910
@arcanis i think problem on Razzel side, we really don't use something specify in our loader, so i don't think problem related to css-loader directly

[2019-03-24 12:58] undsoft commented on #622
Any updates on this?

It would have been really cool to edit styles here:
![DevTools - localhost63342qttest2index html_ijt=ue1i7auj3bpuqbdfkak6cnmg46 2019-03-24 14-51-28](https://user-images.githubusercontent.com/1481270/54879681-70e04780-4e44-11e9-9e03-03d834fbc2b1.png)
and get them updated in source css / scss files.

I've tried playing with this for some time today, but even when I modify the p

[2019-03-25 09:57] evilebottnawi commented on #622
@undsoft https://github.com/webpack-contrib/css-loader/issues/717#issuecomment-471577500

[2019-03-25 10:11] undsoft commented on #622
@evilebottnawi
This won't work in the way I'm describing.
Editing from Sources tab will work and will correctly save to the original source file, but you need to manually go to Sources tab every time you want to make a change. To me this is marginally better than switching to an IDE.
What will not work is editing styles directly from the Elements tab as in my screenshot.

[2019-03-28 09:33] HooeyPooey commented on #362
Omg! That works, thank you so much!

[2019-03-28 10:00] hbadri1 opened #912 "Webpacak Upgrade from 1 to 3 is failing"
Hi there, I am working on upgrading my webpack to 4, but I would be better to pass through version 2 or 3 first.

Please find below my config:

[code]

And here some output of the inspection:

[code]

[2019-03-28 10:46] evilebottnawi commented on #912
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

You have old version of webpack

[2019-03-28 10:46] #912 closed

[2019-03-28 10:48] evilebottnawi commented on #912
Remove `webpack.LoaderOptionsPlugin` and put all options to loader, this plugin doesn't need for webpack@4

[2019-03-29 15:28] marekkobida opened #913 "\@ in CSS Selector"
* macOS Mojave 10.14 (18A391)
* Node.js 11.13.0
* npm 6.7.0
* webpack 4.29.6
* css-loader 2.1.1

### Expected Behavior

[code]

### Actual Behavior

[code]

[code]

[code]

### Code

[code]

[2019-03-30 08:13] Diokuz opened #914 "Migration strategy for adding tilde"
There are two import syntax:

[code]

[code]

`css-loader@^1` tries to resolve 'bar/baz.css' in node_modules, and fails to resolve '~bar/baz.css'.
`css-loader@^2` tries to resolve 'bar/baz.css' only in local folder, and resolves '~bar/baz.css' in node_modules

## The problem

We have a few hundreds of react-components, which actively uses css imports. We cannot change all of them at once, because

[2019-03-31 06:46] hbadri1 commented on #912
@evilebottnawi dear I'm upgrading to 3 not to 1. So, I'm still in need for `webpack.LoaderOptionsPlugin`. Sorry but I didn't understand what template should I follow.

[2019-04-03 11:37] evilebottnawi commented on #914
I think it is bug, we need fix it https://github.com/webpack-contrib/css-loader/issues/861, we should support `bar/baz.css` and `~bar/baz.css`:
`bar/baz.css` should:
1. Try to resolve from `node_modules`
2. Try to resolve local folder
`~bar/baz.css' should:
1. Try to resolve from `node_modules`

[2019-04-03 12:02] evilebottnawi commented on #913
`@` is not valid characters for css so we strip this for css modules

[2019-04-03 12:02] evilebottnawi commented on #913
What you expected? No hash or not strip `@`?

[2019-04-03 15:28] marekkobida commented on #913
`@` is allowed

W3C says

but css-loader modified `\@` into `--` (nothing)

[2019-04-03 15:30] evilebottnawi commented on #913
Please provide minimum reproducible test repo, thanks

[2019-04-03 15:31] evilebottnawi commented on #913
No `@` is not allowed, and should be escaped in `#` (id selector) and `.` (class selector)

[2019-04-04 10:59] saranshgupta1995 commented on #106
I was running into the same issue. Downgrading to
    "css-loader": "^1.0.1",
worked for me.
Seems like webpack 3 and css-loader@2.x.y don't mix well

[2019-04-04 16:17] isum opened #915 "exclude modules dictionary"
* Operating System: linux
* Node Version: v11.12.0
* NPM Version: 6.9.0
* webpack Version: 4.29.6
* css-loader Version: 2.1.1

### Expected Behavior

Exclude modules dictionary from the bundle, if styles are imported without specifying variable for the dictionary, like so: `import './style/index.scss';`

And include dictionary to the bundle with `import dict from './style/index.scss';`

### Actual

[2019-04-04 16:46] evilebottnawi commented on #915
Please provide minimum reproducible test repo.

Looks you use `webpack@3`

Terser should automatically remove `{}`

[2019-04-04 16:48] evilebottnawi commented on #915
It is already doesn't adding if no locals https://github.com/webpack-contrib/css-loader/blob/master/src/index.js#L325

[2019-04-04 16:49] evilebottnawi commented on #915
https://github.com/webpack-contrib/css-loader/issues/506

[2019-04-04 16:50] evilebottnawi commented on #915
I can't understand problem

[2019-04-05 05:28] isum commented on #915
Sorry for not providing minimal repo, here you go.
File `build/main.js` contains css dictionary as mentioned above, which is undesirable.
Uncommenting: `exportOnlyLocals: true, // throws error!`
[bug-repo.zip](https://github.com/webpack-contrib/css-loader/files/3046471/bug-repo.zip)

[2019-04-05 11:32] evilebottnawi commented on #915
Invalid configuration as i written in `sass-loader`

[2019-04-05 11:33] #915 closed

[2019-04-05 14:52] evilebottnawi commented on #913
Looks i find problem `@` is disappear from locals, yep it is bug, we need fix, feel free to send a PR

[2019-04-06 05:49] isum opened #916 "not correct import with modules"
* Operating System: linux
* Node Version: v11.12.0
* NPM Version: 6.9.0
* webpack Version: 4.29.6
* sass-loader Version: 7.1.0

This issue is a continuation of https://github.com/webpack-contrib/sass-loader/issues/675

### Expected behavior

We have css-modules in webpack.config.js
[code]

index.scss
[code]

index.css
[code]

another.scss
[code]

in index.js we import the index.scss
[code]

the ex

[2019-04-06 06:06] isum commented on #915
So how do I remove the dictionary
[code]
from the bundle in the file build/main.js

Is there any option to turn including off?

[2019-04-08 08:30] yairEO commented on #470
I have the exact same problem..

`unknown word var`

## Setup:

[code]

[2019-04-08 08:35] yairEO commented on #295
OMG, after many hours of combing the web, I've stumbled upon a solution!

I was doing this:

[code]

After removing these lines, my Storybook Webpack config suddenly works. Big WTF moment.

[2019-04-08 09:13] evilebottnawi commented on #915
modules false

[2019-04-08 09:59] evilebottnawi commented on #916
Thanks for issue

[2019-04-10 10:49] #913 closed

[2019-04-10 14:15] alexander-akait opened #919 "avoid escape nonASCII characters in `[path]` placeholder"
* Operating System: no matter
* Node Version: no matter
* NPM Version: no matter
* webpack Version: no matter
* css-loader Version: 2.1.2

### Feature Proposal

Need resolve https://github.com/mathiasbynens/cssesc/issues/22

### Feature Use Case

Now we escape non ascii character in `path` placeholder, but we can avoid this for better DX

[2019-04-10 14:17] evilebottnawi commented on #861
/cc @jquense sorry for delay, i think we need solve this before next major release :+1: Can you help me with this, thanks!

[2019-04-10 14:24] jquense commented on #861
not sure i understand what the problem is, but it looks related to the resolution changes in v2?

[2019-04-10 14:35] evilebottnawi commented on #914
/cc @Diokuz friendly ping. Officially:
- `@value foo from 'bar/baz.css';` - relative loading
- `@value foo from '~bar/baz.css';` - loading from node_modules

I think it is right behavior, previously was wrong, but i think known how to difficult migrate all code. Solution:
1. Add example in README using `postcss-loader` (we can implement light plugin for rewriting)
2. Add option to allow change res

[2019-04-10 14:36] evilebottnawi commented on #861
Let's move discussion in https://github.com/webpack-contrib/css-loader/issues/914

Please give me some feedback, we need search better solution, thanks!

[2019-04-10 14:36] #861 closed

[2019-04-10 14:38] evilebottnawi commented on #788
Apparently no one is interested in this, it can also be solved by `postcss-loader` or you can implement loader above `css-loader` and implement any non standard solution, thanks for issue, feedback welcome

[2019-04-10 14:38] #788 closed

[2019-04-10 14:39] evilebottnawi commented on #916
/cc @jquense sorry wrong problem, here problem, what do you think about this?

[2019-04-10 14:40] jquense commented on #916
does it work if the paths are relative `./index.css`, etc? I've not noticed this myself, but i tend to make them unambigious

[2019-04-10 14:44] evilebottnawi commented on #916
@jquense hm, using `./index.css` solve problem? I think it is bug

[2019-04-10 15:35] nailfar commented on #589
This problem still exists.
Here is my code
[https://github.com/nailfar/cssLoaderEx/tree/master](https://github.com/nailfar/cssLoaderEx/tree/master )

[2019-04-10 15:39] evilebottnawi commented on #589
Please use latest version of `css-loader`

[2019-04-11 18:50] switz commented on #362
FWIW I also had this error because I didn't realize I was importing `.css` files in both `style-loader` and `file-loader`. For the future intrepid traveler here.

[2019-04-12 05:47] isum commented on #915
In case someone would stumble with the same question,
I have found the solution: for `css modules` use `postcss-modules` instead of `css-loader` for now.
So you have much more flexibility with it.
[code]

[2019-04-12 09:44] tno2007 commented on #295
The 'unknown word' problem also occurs if you css file is encoded in something else other than utf-8.
If your css looks correct, be sure to check the encoding.

[2019-04-14 19:36] john-larson opened #921 "[resource-path] in devtoolModuleFilenameTemplate Only Includes File Name"
* Operating System: Windows
* Node Version: 10.13.0
* NPM Version: 6.9.0
* webpack Version: 4.29.6
* css-loader Version: 2.1.1

### Expected Behavior

`devtoolModuleFilenameTemplate `option under the `output `config parameter in webpack can be configured to determine the names/paths of sourcemap files. Default is `'webpack://[namespace]/[resource-path]?[loaders]'`.  But I choose not to use this de

[2019-04-14 19:37] arackaf opened #922 "Superfluous exportOnlyLocals property is crashing css-loader"
* Operating System: Mac OS
* Node Version: 8.14.1
* NPM Version: 6.4.1
* webpack Version: 4.25.1
* css-loader Version: 2.1.1

### Expected Behavior

css modules work with mini-css-extract

### Actual Behavior

### Code

[code]

### How Do We Reproduce?

See above.

The error is actually eliminated by removing `exportOnlyLocals: true`, which seems to be the default behavior now anyway.  In fact, se

[2019-04-15 10:02] evilebottnawi commented on #922
hm, can't reproducible, maybe you can create minimum reproducible test repo?

[2019-04-15 10:03] evilebottnawi commented on #921
css-loader don't use `devtoolModuleFilenameTemplate` due postcss generate own maps for css, i think it is duplicate https://github.com/webpack-contrib/css-loader/issues/622

[2019-04-15 13:46] arackaf commented on #922
Weird - glad to see you can’t repro it (ie is a rarer bug than I thought). I don’t really have a min repro, so I’ll just close.

Even without the error, is this property supposed to do anything at this point? From my usage locals are always only exported - so it seems this config property can just be removed from the docs.

[2019-04-15 13:46] #922 closed

[2019-04-15 13:57] evilebottnawi commented on #922
@arackaf it is required for SSR

[2019-04-16 08:01] ykadosh commented on #346
@muellerkyle this is correct, and was my experience as well.

I think the `:global` keyword is misleading, as it suggests that the enclosed selector will be moved to the global scope, but that's not the case. All it does is prevent it from receiving the random prefix string, but it is still nested within its containing selector.

[2019-04-19 13:35] #921 closed

[2019-04-19 13:36] evilebottnawi commented on #622
Add tests for `devtool*`

[2019-04-19 20:00] Jamesking56 opened #924 "filter: saturate() not allowed in plain css"
* Operating System: Ubuntu 18.04 LTS
* Node Version: v8.16.0
* NPM Version: 6.4.1
* webpack Version: ^4.27.1
* css-loader Version: ^1.0.1

### Expected Behavior

Allow `saturate()` in `filter` in CSS

### Actual Behavior

Errors: `This function isn't allowed in plain CSS.`

### Code

Not sure, using `laravel-mix`.

### How Do We Reproduce?

Add the following in CSS:

[code]

[2019-04-19 20:11] evilebottnawi commented on #924
Not related to css-loader, we don't touch `filter` option, also without reproducible test repo we can't detect problem

[2019-04-19 20:11] #924 closed

[2019-04-19 20:17] Jamesking56 commented on #924
The error message says `css-loader`:

[code]

[2019-04-22 10:57] evilebottnawi commented on #924
Please create minimum reproducible test repo

[2019-04-22 10:58] evilebottnawi commented on #924
Also look on error, it is from sass loader

[2019-04-23 13:56] pOoOf opened #926 "using contentHash to generate css classes hash"
I need to update the CSS class hashes on every build based on the content of css/sass file.

**Use Case**
I have a modal component that works fine and whenever I build it, it generates its CSS and JS files which I can use anywhere by importing it.

Now I have an address component that uses this modal component and whenever I build this address component, It includes Modals CSS in its CSS and modal

[2019-04-23 14:07] evilebottnawi commented on #926
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

It is bad practice you always will be invalidate css. but you can use.

[2019-04-23 14:07] #926 closed

[2019-04-24 07:26] pOoOf opened #927 "using contentHash to generate css classes hash"
* Operating System:
Mac Mojave: 10.14.4

* Node Version:
v10.11.0

* NPM Version:
6.4.1
* webpack Version:
4.29.5
* css-loader Version:
0.28.11

### Feature Proposal
CSS class name hashes should be calculated based on the content of CSS/SCSS file or content or the specific CSS class block, very much like the way content hash is calculated in MiniCssExtractPlugin or ExtractTextWebpackPlugin

### Fe

[2019-04-24 10:11] evilebottnawi commented on #927
It is impossible as i say before, we don't have contenthash when we handle css, you need use milticompiler for this component and then include this in bundle.

[2019-04-24 10:11] #927 closed

[2019-04-25 07:20] Diokuz commented on #914
So, there is no way to migrate gradually, and we need to rewrite all our components at once?

[2019-04-25 10:03] evilebottnawi commented on #914
I think we can implement `resolve` Function to allow old projects migrate on new version. What do you think?

[2019-04-25 18:09] evilebottnawi opened #929 "Integration postcss-loader and css-loader in one loader"
* Operating System: no matter
* Node Version: no matter
* NPM Version: no matter
* webpack Version: 4.30.0
* css-loader Version: latest

### Feature Proposal

Integrate `postcss-loader` and `css-loader`

### Feature Use Case

Avoid using two loaders, cons:
- Better DX
- Increase perf
- Easy setup

[2019-04-30 20:58] JoelParke opened #931 "In shift to version beyond 1.0.1 to the latest 2.1.1 unable to solve broken change..."
* Operating System: Ubuntu 19.04
* Node Version: 11.3.0
* NPM Version: 6.4.1
* webpack Version: 6.4.1
* css-loader Version: 2.1.1

### Expected Behavior

no syntax errors and normal compile...

### Actual Behavior
--- after webpack work ...
Entrypoint polyfills = polyfills.bundle.js
Entrypoint main = main.bundle.js
[./$$_lazy_route_resource lazy recursive] ./$$_lazy_route_resource lazy namespace o

[2019-05-01 12:26] evilebottnawi commented on #931
Please create minimum reproducible test repo

[2019-05-01 13:41] dmaksimovic commented on #447
I have a React SSR (server side rendering) website, and both my server.js and browser.js go through webpack. For this purpose I have:

webpack.server.js:

    {
        target: 'node',
    }

webpack.browser.js:

    {
        node: {
            fs: 'empty',
        }
    }

[2019-05-01 15:11] johnryan commented on #884
@d-dizhevsky Did you figure out a solution to this issue? I asked the question [here](https://stackoverflow.com/questions/55930482/configuring-css-loader-with-publicpath/55932372#55932372) but I was hoping you found a more elegant solution.

[2019-05-02 22:56] fzembow commented on #353
One neat thing is you can use local scope inside of global scope.

For example:

[code]

[2019-05-06 08:57] jmarceli commented on #295
As of Storybook v5 there is no need to add custom .css loader as it is already defined. If you are getting an error after upgrade from v4 you should most probably review your `.storybook/webpack.config.js` and remove custom .css loader.

[2019-05-07 06:05] mech commented on #295
But what if I want to have "style.module.css" and is not using SASS?

I have to add custom .css loader for Storybook v5 right? Like so (but it is not working):

[code]

[2019-05-07 21:51] jmarceli commented on #295
In order to make it work just add `exclude: /\.css$/,` to the existing rule and then add your own code. You may write something like this (this exact code may not work, but it should be easy to fix if required):

[code]

[2019-05-10 18:30] wendal2841 opened #932 "Problem with modules"
Hi, I have an old project.
I need to add CSS modules.
In webpack.config.js I added
` loader: 'css-loader',
   options: {
         importLoaders: 1,
         modules: true,
         localIdentName: '[local]--[hash:base64:5]',
},`
after this, I have problem with url() and className
new logic with css modules works cool
but old less style don't works

old logic includes index.less in index.jsx file a

[2019-05-10 18:33] wendal2841 commented on #932
./src/index.less
Module not found: Can't resolve 'components/general/header/~assets/images/pages/icon.svg' in '/Users/******/src'

[2019-05-11 02:58] dishagarg commented on #295
Thanks so much @jmarceli
It finally worked. You're amazing!

[2019-05-13 10:23] evilebottnawi commented on #932
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please use gitter or stackoverflow for questions and supporting.

You need rewrite old code to new code

You need rew

[2019-05-13 10:23] #932 closed

[2019-05-16 10:21] jcamilleri13 commented on #864
I've also encountered this issue. I can see what you mean regarding the issues in extract-loader's code, but why did this only surface with css-loader 2.0.0+? Reverting to an earlier version of the css-loader plugin solves this issue.

[2019-05-16 10:54] niksy commented on #914
What can we do to get this implemented?

[2019-05-16 10:56] evilebottnawi commented on #914
Yes, PR welcome, don't have time right now

[2019-05-16 11:41] d-dizhevsky commented on #884
@johnryan no, unfortunately, I gave up on this

[2019-05-16 15:12] niksy commented on #914
@evilebottnawi done in #933 !

[2019-05-23 01:57] jpthor commented on #447
The solution for me was to hack the Angular-CLI module to spoof the missing node modules.

After installing locate the following file:
[code]

Find the `node` line and add this:
[code]
And that's it!!!

🎉🎉🎉🎉🎉
===========

Note: You will need to do this patch every time you update the package. So use this script:

**package.json**
[code]

**patch-webpack.js**
[code]

Source:
https://blog.lysender.c

[2019-05-23 12:58] iloveyii commented on #240
`rm node_modules -Rf`
`npm i

[2019-05-23 16:20] vidartf commented on #51
Xref https://github.com/webpack-contrib/css-loader/issues/683

[2019-05-24 10:49] VictorWuSH opened #936 "about attributes(margin,padding)"
* Operating System:
* Node Version: v9.11.1
* NPM Version: 5.6.0
* webpack Version: 4.32.2
* css-loader Version: 1.0.1

### Code ###
I create a .css file
.popup  {
    height: calc(env(safe-area-inset-top) + 46px);
    height: 44px;
    height: 10rem;
    width: calc(env(safe-area-inset-top) + 46px);
    width: 44px;
    width: 10rem;
    padding: calc(env(safe-area-inset-top) + 46px);
    padding

[2019-05-24 11:20] evilebottnawi commented on #936
Irrelevant to css-loader, we don't modify your values, maybe broken or outdated minimizer version

[2019-05-24 11:20] #936 closed

[2019-05-24 11:21] evilebottnawi commented on #936
Also please update css-loader to latest version

[2019-05-25 07:30] Shhuy commented on #617
Perhaps it's the sequence of calls to css-loader and style-loader, which should be handled by calling css-loader first.

[2019-05-27 16:49] evilebottnawi commented on #931
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-05-27 16:49] #931 closed

[2019-05-28 17:32] #891 closed

[2019-05-29 08:04] rodfersou commented on #891
:tada:

[2019-05-29 17:08] mbulfair opened #944 "Exporting only used CSS"
Question:
I am not sure this is the correct loader, but when you have css modules enabled. Isn't it supposed to only "import" the css classes imported into a JS component? Unless it has `:global` on it? I'm asking because when doing a production build, the entire file is being extracted (mini-css-extract). While I'm using (webpack development) the style blocks only show the css I am importing. Wha

[2019-05-29 17:20] evilebottnawi commented on #944
Duplicate https://github.com/webpack-contrib/css-loader/issues/506, it is feature

[2019-05-29 17:20] #944 closed

[2019-05-29 17:20] evilebottnawi commented on #944
And no supported right now

[2019-05-30 06:55] VictorWuSH commented on #936
sorry, I made a mistake.
It was affected by optimize-css-assets-webpack-plugin who is using cssnano.

[2019-06-03 05:53] webpack-bot opened #945 "ImportLoaders of css-loader does not work"
# Bug report

**What is the current behavior?**
index.js
[code]

index.scss
[code]
a.scss
[code]
The option importLoaders allows you to configure how many loaders before css-loader should be applied to @imported resources.

[code]
When I configured **importLoaders: 0** ，Why is the content inside a.scss prefixed?
**If the current behavior is a bug, please provide the steps to reproduce.**

**What i

[2019-06-04 17:30] evilebottnawi commented on #945
Can't reproduce problem (also we have test on this), maybe you use `sass` mixin what is generate prefix or something wrong with configuration, please provide minimum reproducible test repo or link on your configuration and i say you what is wrong, thanks

[2019-06-04 17:30] #945 closed

[2019-06-04 22:46] evilebottnawi opened #953 "Support @value in url and @import"
- Operating System: linux
- Node Version: 10
- NPM Version: 6
- webpack Version: 4
- css-loader Version: 2

### Feature Proposal

[code]

Same for `@import`

### Feature Use Case

Above

[2019-06-04 22:47] evilebottnawi opened #954 "Reduce count of `require` for locals"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- css-loader Version:

### Feature Proposal

Reduce count of `require` for locals

### Feature Use Case

Above

[2019-06-05 00:02] vladeck opened #955 "ValidationError: CSS Loader Invalid Options"
- Operating System: Windows 10 x64 1903
- Node Version: 10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.32.2
- css-loader Version: 2.1.1
- css-modules-typescript-loader: 2.03
- sass-loader: 7.1.0

### Expected Behavior

No error.

### Actual Behavior

Error:

[code]

### Code

[code]

When using `modules: true` there is no issue. Is this a bug or a bad configuration? I have followed documentatio

[2019-06-05 01:20] yh284914425 commented on #945
https://github.com/yh284914425/webpack_1
The address is here. Thanks.

[2019-06-05 07:00] sabarasaba commented on #955
Im having the exact same issue as well :'(

[2019-06-05 09:14] vladeck commented on #955
Using string works, but I don't understand why using objects doesn't:

[code]

This can be considered as a workaround, but would like for this issue to remain open until someone can shed some light as to why is loader refusing object-based config.

[2019-06-05 09:16] sabarasaba commented on #955
Ah good to know, I ended up downgrading to 1.0.1 for now

[2019-06-05 09:17] ElForastero commented on #955
I've got the same issue.

[code]

[2019-06-05 09:39] evilebottnawi commented on #955
Because master contain not publish yet version (`3.0.0`, release will today), for `2` version please use:
[code]

[2019-06-05 09:39] #955 closed

[2019-06-05 09:42] vladeck commented on #955
As @evilebottnawi mentioned, until new version is published, some of the options you can use are configured as following:

[code]

[2019-06-09 02:09] TylerNGUP commented on #352
same here，因为要先加载css-loader,然后才加载style-loader，so must write like this : loader='style-loader!css-loader', after 2.0，must add 后缀，-loader。

[2019-06-11 10:14] evilebottnawi commented on #914
Sorry for big delay

/cc @niksy i think we can create postcss-plugin for this stuff and avoid put logic into css-loader, what do you think, sorry again

[2019-06-11 14:44] niksy commented on #914
@evilebottnawi yeah, that’s certainly one way to do this, but introduces complexity on another part. That plugin then needs to read and parse every dependancy and change `import` statements, not to mention that you need to apply that plugin on whole codebase, including `node_modules`. If you have idea and know how to do that performantly, great! I’m more inclined on solving this on css-loader side

[2019-06-11 15:47] taylortdixon opened #960 "Suggest More Detailed Error Message When Migrating to 3.0.0"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- css-loader Version:

### Feature Proposal

### Feature Use Case

[2019-06-11 15:48] #960 closed

[2019-06-11 15:48] taylortdixon commented on #960
Github wiped my issue description.

[2019-06-11 15:50] taylortdixon opened #961 "Suggesting a more detailed error message for users upgrading from 2.1.1"
- css-loader Version: 3.0.0

In 3.0.0 there are a lot of breaking changes in the webpack configuration. Right now, when you have additional options, you receive the error `options should NOT have additional properties`.

This is a good step, but I suggest enumerating the options that are no longer valid, which would make the upgrade for those from 2.1.1 easier.

[2019-06-11 16:12] evilebottnawi commented on #961
Thanks for issue, already in todo, we use `schema-utils` package for this and need solve this problem here https://github.com/webpack-contrib/schema-utils/issues/35

[2019-06-11 16:12] #961 closed

[2019-06-12 12:36] bhavyaw commented on #863
- Proper solution should be the validator should not throw cryptic validation errors.
- Anybody who is still facing this issue **just validate the options you have entered with the options schema** with the file `node_modules\css-loader\dist\options.json`.

[2019-06-14 21:20] JonDum commented on #863
Coming across this issue again on 3.0.0

For me, it was `localIdentName` not being in the options schema. Is this a bug?

`localIdentName` is mentioned all over the README and docs.

[2019-06-18 06:17] eric-miffre commented on #863
Had the same issue, but it is indeed explained in the [breaking changes](https://github.com/webpack-contrib/css-loader/blob/master/CHANGELOG.md#breaking-changes) section of the v3 changelog:

Which did solve it for me.

[2019-06-19 03:20] princed commented on #914
There's such a plugin now: https://github.com/princed/postcss-modules-tilda
It could be used as a temporary solution (@Diokuz) and possibly even in `css-loader` itself (@niksy, @evilebottnawi)

[2019-06-19 13:16] kalpeshsingh commented on #611
This. Is. What. I was Looking for.

[2019-06-21 07:59] sarthakagarwal23 commented on #362
Priority of loaders matters in this case .
In my case i changed the order of loader from use: [ 'css-loader',style-loader', 'sass-loader'] to this use: [ style-loader','css-loader', 'sass-loader']
and it works fines for me .
Thanks

[2019-06-21 17:57] evilebottnawi commented on #914
@princed can you send a PR in readme with example setup?

[2019-06-24 17:07] BobGuo-1995 commented on #447
I don't know about you guys. But I fixed the issue by restarting the computers. So the conclusion is drawn. It is a bug.
[code]
Does not work for me.

[2019-06-25 14:40] joeldenning commented on #155
For anyone coming through this old issue, here's a relevant PR in file-loader that might help things: https://github.com/webpack-contrib/file-loader/pull/334

[2019-06-26 14:35] JParkinson1991 opened #1078 "Sourcemaps pointing to wrong file"
* Operating System: macOS 10.14.5
* Node Version: 8.16.0
* NPM Version: 6.4.1
* webpack Version: 4.35.0
* sass-loader Version: 7.1.0

It seems that there (somewhere in the chain) are some alterations to node-sass generated sourcemaps which results in them pointing to the wrong scss source declarations.

The sourcemaps do not point to completely the wrong file, the point to a file/line in which sty

[2019-06-27 08:22] linjiyeah opened #962 "using Rule.resourceQuery got error"
- webpack Version: 4.22.0
- css-loader Version: 3.0.0

### Expected Behavior

supposed to be working?

### Actual Behavior

error  in ./src/pages/dashboard/a/index.less?local

Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
ModuleBuildError: Module build failed (from ./node_modules/css-loader/dist/cjs.js):
ValidationError: CSS Loader Invalid Options

options shoul

[2019-06-27 10:37] evilebottnawi commented on #962
Please create minimum reproducible test repo, your have invalid configuration

[2019-06-29 09:45] shahidkarimi commented on #863
There is not shit like 'minimize:true' in my config.

[2019-07-02 23:38] DanielHeath opened #964 "Cannot nest :global to switch modes in scss"
- Operating System: ubuntu
- Node Version: v12.5.0
- NPM Version: 6.9.2
- Yarn version: 1.16.0
- webpack Version: 4.32.2
- css-loader Version: 2.1.1
- sass-loader "7.1.0"

### Expected Behavior

`.foo` is exported mangled, but `.bar` is left alone.

### Actual Behavior

`.bar` gets its name mangled

### Code

[code]

### How Do We Reproduce?

An app produced by 'rails new' with webpacker has css m

[2019-07-03 10:11] evilebottnawi commented on #964
Please use latest version of css-loader, also it is expected

[2019-07-03 10:11] #964 closed

[2019-07-04 12:36] krupa147 commented on #863
I am facing the same issue with version 3.0.0

[2019-07-05 19:39] js1599 commented on #863
To those needing help, just change the key <-> pair like what @eric-miffre mentioned. Here's an example:

Before:
`                        options: {
                            modules: true,
                            localIdentName: "[name]__[local]___[hash:base64:5]",
                        },`

After:
`                        options: {
                            modules: {

[2019-07-06 05:47] jahed commented on #759
The fix I found is to do:

[code]

In general, any `@` rules in :global seems to cause incorrect behaviour. Not sure if it's part of CSS Modules spec to behave like that or not.

[2019-07-06 21:36] techieanant commented on #863
Confirmed working. In my case I changed it from

`options: {
              localIdentName: '[hash:base64:5][path]-[local]'
          }`

to

`options: {
            modules: {
              localIdentName: '[hash:base64:5][path]-[local]'
            }
          }`

in my webpack/babel config.

[2019-07-07 20:34] dparkar commented on #863
@truonghoangphuc how do you achieve that for production when build automatically installs the css-loader package for next-js ? manipulate the file during build time or is there a way to do it using next.config.js ?

[2019-07-08 14:09] manuelbieh commented on #863
It **suddenly** happens in one of my projects too, after I updated all dependencies to their most recent version. Looks like it doesn't have to do anything with the other dependencies being upgraded, because I created a minimal reproducible example and it happens there too:

webpack.config.js
[code]

package.json dependencies:
[code]

index.js:
[code]

test.module.css
[code]

And the build error I

[2019-07-08 14:10] evilebottnawi commented on #863
@manuelbieh
[code]

[2019-07-08 14:11] evilebottnawi commented on #863
Strongly recommend don't use random

[2019-07-08 14:12] evilebottnawi commented on #863
In work, in near future we release new version with better errors

[2019-07-08 14:13] manuelbieh commented on #863
It was just for demonstration 😉 I use `react-dev-utils/getCSSModuleLocalIdent`, just didn't want to add another external dependencies as potential source of error.

[2019-07-08 14:18] manuelbieh commented on #863
Still doesn't work btw. Now I'm getting:

[code]

I pushed it into a temporary repo. I don't see what's wrong here?!
https://github.com/manuelbieh/css-loader-issue

[2019-07-08 14:23] manuelbieh commented on #863
Ok, looks like I was mixing 3.0.0 options with 2.1.1. Upgraded to 3.0.0 and it seems to work. Thanks for the ultra fast help!

[2019-07-09 10:38] basque21 commented on #447
I'm having the same issue, I don't know where I have to write the
[code]

[2019-07-09 14:15] funlee commented on #863
[code]

[2019-07-09 18:18] jquense opened #966 "values in selectors aren't escaped properly."
on latest css-loader. I'd expect this to be true for any defined value but not importing classes where the local ident is generated.

// button.css
[code]
// toolbar.css
[code]

[code]

The local names would need escaping and webpack outputs:

[code]

which is correctly escaped but in toolbar its

[code]

note that the interpolated value isn't escaped. I'm not sure why this is happening maybe it n

[2019-07-09 18:30] evilebottnawi commented on #966
Feel free to send a PR

[2019-07-09 18:31] jquense commented on #966
always happy to help out, I was hoping you might have an idea where the problem could be?

also why you are here what do you think about: https://github.com/css-modules/css-modules/pull/324 :D

[2019-07-09 18:35] evilebottnawi commented on #966
let's solve issue first, and when create monorepo :+1:

[2019-07-09 18:36] evilebottnawi commented on #966
I think problem inside css-loader, try to debug

[2019-07-11 10:54] slavafomin commented on #228
The docs totally need clarification. This option is extremely confusing, especially when you use `sass-loader`, which resolves imports vs. plugins that does not.

[2019-07-11 11:17] evilebottnawi commented on #228
What here need clarify?
[code]

[2019-07-11 15:30] guidobouman commented on #228
@evilebottnawi  The value `2` does not make sense. See my previous comments.

[2019-07-11 17:42] cindy100295 commented on #447
[This link may help you.](https://github.com/react-boilerplate/react-boilerplate/issues/2279#issuecomment-405824492)
[code]

[2019-07-12 21:48] brendanfalkowski commented on #243
For reference, I found this issue while debuggin and documented several approaches here: https://gravitydept.com/blog/keyframe-animations-in-css-modules

[2019-07-12 21:48] brendanfalkowski commented on #399
For reference, I found this issue while debuggin and documented several approaches here: https://gravitydept.com/blog/keyframe-animations-in-css-modules

[2019-07-12 21:48] brendanfalkowski commented on #539
For reference, I found this issue while debuggin and documented several approaches here: https://gravitydept.com/blog/keyframe-animations-in-css-modules

[2019-07-12 21:48] brendanfalkowski commented on #759
For reference, I found this issue while debuggin and documented several approaches here: https://gravitydept.com/blog/keyframe-animations-in-css-modules

[2019-07-13 13:34] evilebottnawi commented on #539
@brendanfalkowski please open new issue with reproducible test repo, thanks

[2019-07-13 13:35] evilebottnawi commented on #759
@brendanfalkowski please open new issue with reproducible repo

[2019-07-15 00:47] fa93hws opened #967 "Behaviour of the "[path]" placeholder have been changed in a refactor commit"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- css-loader Version: 3.0+

### Expected Behavior
`[path]` placeholder gives `path-to-file`

### Actual Behavior
`[path]` placeholder gives `path/to/file`

### How Do We Reproduce?
Should be very clear in this commit. https://github.com/webpack-contrib/css-loader/pull/920
`normalizeIdentifier` is removed.

[2019-07-15 10:26] evilebottnawi commented on #967
Please create minimum reproducible test repo

[2019-07-15 11:19] fa93hws commented on #967
It should be clear enough by seeing here https://github.com/webpack-contrib/css-loader/pull/920/files#diff-2b4ca49d4bb0a774c4d4c1672d7aa781L108.

If you are looking for the config
[code]

If you are looking for the repo
https://github.com/fa93hws/simple-typescript-react-starter

[2019-07-15 11:47] evilebottnawi commented on #967
Still can't understand, what is output was previously and what is output actually, no need link on source code, just clarify you problem

[2019-07-15 11:48] fa93hws commented on #967
The `[path]` in classname should was mapped to `path-to-file` and it is mapped to `path/to/file` now.

[2019-07-15 11:49] evilebottnawi commented on #967
@fa93hws looks like regression, feel free to send a PR

[2019-07-15 11:51] fa93hws commented on #967
No problem. OK to have this function back? https://github.com/webpack-contrib/css-loader/pull/920/files#diff-2b4ca49d4bb0a774c4d4c1672d7aa781L108

[2019-07-15 11:55] evilebottnawi commented on #967
No, css classes can have non standard characters, so we can back this function

[2019-07-15 11:56] evilebottnawi commented on #967
stop, why you think it is bug? Looks like it is expected behavior, and looks it is breaking change, i think you should use own `localIdentName` implementation if you want to have `-`

[2019-07-15 11:58] fa93hws commented on #967
Because that commit says it's a "refactor" and a "refactor" normally won't change the behavior of the code.
That make me think it's probably a mistake?

[2019-07-15 12:01] fa93hws commented on #967
Anyway, if it is expected behavior, I am happy to implement the `-` in my configuration.
Thanks

[2019-07-15 12:01] evilebottnawi commented on #967
Sometimes refactor has breaking change. Css allow to use `/` character so we need allow to use this in code also, but `[path][name]__[local]` to `/path/to/name__hash` looks very bad and it is very uncomfortably, maybe we should change `/` to `-` only for placeholders for better DX

[2019-07-15 12:01] evilebottnawi commented on #967
Let's think about this, because maybe it is really not good DX

[2019-07-15 12:02] evilebottnawi commented on #967
In version@2 it was `-`, right (i am look on code)?

[2019-07-15 12:04] fa93hws commented on #967
2.something is with `-` but 3.0 is not.
I'm not sure which version it start not to replace the `/` but it's after this PR: https://github.com/webpack-contrib/css-loader/pull/920

I will replace the '/' to '-' only then.

[2019-07-15 12:07] evilebottnawi commented on #967
Let's keep open i think about this in near future, as workaround you can use custom `localIdentName` function to fix problem, feel free to feedback. Here interesting problem

[2019-07-15 12:08] fa93hws commented on #967
No problem, Thanks

[2019-07-15 12:10] evilebottnawi commented on #962
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-07-15 12:10] #962 closed

[2019-07-15 17:03] Yegorich555 opened #969 "Minimize (obfuscate) class names"
### Feature Proposal
add options like
[code]

### Feature Use Case
It is helpful for changing classNames to 'a_a', 'a_b' etc. like Google does. It is a must-have improvement for production build since it can reduce bundle size up to 70%: [https://www.freecodecamp.org/news/reducing-css-bundle-size-70-by-cutting-the-class-names-and-using-scope-isolation-625440de600b/](https://www.freecodecamp.org/ne

[2019-07-15 17:15] evilebottnawi commented on #969
As as said i think we don't need this as part of css-loader, anyway you can send a example in docs

[2019-07-16 21:20] Kashio opened #970 "css modules reduces bundle size"
Hey I'm trying to reduce my css bundle size by using css modules with the following `localIdentName`:

`localIdentName: '[sha1:hash:hex:4]'`

Problem is that I see an increased size in my css bundle by 8kb and 40kb in my sourcemap for that bundle.

I was wondering if I might be doing something wrong or falling into a css module gotcha that I might have been missing?

Would appreciate any help than

[2019-07-17 09:49] evilebottnawi commented on #970
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Without reproducible test repo/examples i can't say what is wrong, also in some cases css modules can increase bundle

[2019-07-17 09:49] #970 closed

[2019-07-17 18:31] evilebottnawi commented on #967
Yes, it is big regression :disappointed: thanks for catching this

[2019-07-17 20:18] evilebottnawi commented on #969
Out of scope this plugin please use custom implementation for getLoaderIdent based on https://github.com/grabantot/incstr, anyway feel free to feedback, if issue collects many :+1: i will reopen this and we implement this as option, thanks for issue

[2019-07-17 20:18] #969 closed

[2019-07-17 20:22] #967 closed

[2019-07-18 07:00] niksy commented on #914
@princed @evilebottnawi this doesn’t solve issue I mentioned https://github.com/webpack-contrib/css-loader/issues/914#issuecomment-500874514 - you will need to apply this plugin to _every_ dependancy, including `node_modules`.

As for using plugins, you can also achieve this with URL mapper, but as I said, this only works for *your* modules by default:

[code]

I’m more inclined in implementing fu

[2019-07-18 07:06] niksy commented on #914
OK, I’ve reviewed codebase and it seems that there’s been a lot of changes since my PR has been submitted.

Main thing I’m concerned with is **will this PostCSS solution work with `node_modules` dependencies by default?**

[2019-07-18 10:00] evilebottnawi commented on #914
@niksy can you clarify?

[2019-07-18 11:18] niksy commented on #914
Let’s say you have this configuration:

[code]

Wouldn’t PostCSS for adding tilde work only on dependencies outside `node_modules`?

[2019-07-18 12:07] evilebottnawi commented on #914
@niksy `tilde` always try to load module from `resolve.modules` option (by default it is `node_modules`)

[2019-07-18 16:10] jquense commented on #966
This isn't fixed is is it. Looks like there was just a test case added

[2019-07-18 16:15] evilebottnawi commented on #966
@jquense What output you expected in this case?

[2019-07-18 16:19] jquense commented on #966
I noted it here:

https://github.com/webpack-contrib/css-loader/pull/973#discussion_r305002572

The output should be `.button\.hey` so that it's interpreted as a single class. The default `getLocalIdent` uses `cssesc` which FIXES the locals export but not the css source.

[2019-07-18 16:23] jquense commented on #966
i'll update the test case

[2019-07-18 16:24] evilebottnawi commented on #966
@jquense in theory you can use `cssesc` on your line, other question should we do this by default

[2019-07-18 16:25] evilebottnawi commented on #966
I see what you mean, maybe other developers specifically want to add a class, but i can;t imagine use case

[2019-07-18 16:26] jquense commented on #966
we do use `cssesc` in the default getLocalIdent, but it wasn't working for me locally. HOWEVER, while trying to update the test case and it DOES seem to escape everything. so you may be right its a problem with my css setup!

I think it makes sense to leave escaping up to the dev if they use `getLocalIdent` the problem when there are `.` in paths when using localIdentName to interpolate a name

[2019-07-18 16:29] evilebottnawi commented on #966
@jquense yep, it is very rare use case, we can't change this right now only in next major release, now it is breaking change. Also developers really can want insert own output from `getLocalIdent`, but as i said above i can't imagine use case

[2019-07-19 09:31] niksy commented on #914
OK, @princed, can you make a PR for this change?

[2019-07-19 09:33] princed commented on #914
@niksy You mean README?

[2019-07-19 10:56] niksy commented on #914
@niksy 	yes!

[2019-07-19 13:41] Kashio opened #975 "Can't reference keyframe animation name inside jsx"
- Operating System: Windows 10
- Node Version: v10.15.3
- NPM Version: v6.4.1
- webpack Version: 4.28.3
- css-loader Version: 1.0.0

`Webpack.config.js`:
(not really relevant to the issue..)
[code]

Hey, I'm using css modules with css loader, and I've stumbled upon a problem.
I have a `LoadingOverlay` component which shows a loader for `duration` ms.
I apply a fade-in-out animation on the overlay

[2019-07-19 13:43] evilebottnawi commented on #975
It looks like you just deleted our lovely crafted [issue template](https://raw.githubusercontent.com/webpack/webpack/master/.github/ISSUE_TEMPLATE.md). It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please use gitter or stackoverf

[2019-07-19 13:43] #975 closed

[2019-07-22 14:45] danigomonea opened #976 "Nuxt build exportOnlyLocals invalid option"
- Operating System: MacOS
- Node Version: 12.1.0
- NPM Version: 6.9.0
- webpack Version: 4.30.0
- css-loader Version: 3.0.0

### Expected Behavior

Nuxt should build the app
### Actual Behavior

ERROR in ./assets/stylus/app.styl (./node_modules/css-loader/dist/cjs.js??ref--10-oneOf-1-1!./node_modules/postcss-loader/src??ref--10-oneOf-1-2!./node_modules/stylus-loader??ref--10-oneOf-1-3!./assets/sty

[2019-07-22 14:46] evilebottnawi commented on #976
Because in `css-loader` no option `exportOnlyLocals`, not it is `onlylocals` https://github.com/webpack-contrib/css-loader#onlylocals

[2019-07-22 14:46] #976 closed

[2019-07-23 10:30] GHUserZ opened #977 "请问nodejs 6.11.5 兼容哪个版本的css-loader"
Hey there! If you need support, help, or advice then this is not the place to ask.
Please visit [StackOverflow](https://stackoverflow.com/questions/tagged/webpack)
or [the Webpack Gitter](https://gitter.im/webpack/webpack) instead.

[2019-07-23 10:36] evilebottnawi commented on #977
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2019-07-23 10:36] #977 closed

[2019-07-23 10:36] evilebottnawi commented on #977
https://github.com/webpack-contrib/css-loader/blob/master/package.json#L12

[2019-07-23 17:02] GeraldJM commented on #295
According to the most recent docs on GitHub, the preferred syntax is:
`
{
  test: /\.css$/,
  use: [
    { loader: 'style-loader' },
    { loader: 'css-loader' }
  ],
  exclude: /node_modules/
}
`

[2019-07-24 03:08] edwardfhsiao commented on #877
for who would like to keep using the latest version of ``` css-loader```, just use ```postcss-modules``` to modulize the css file instead.
https://github.com/css-modules/postcss-modules#generating-scoped-names

Example:
[code]

[code]
[code]

[2019-07-24 14:08] josh-lind commented on #447
Could someone respond with an explicit file path (ex. node_modules/webpack/package.json) for where I need to add node: { fs: 'empty' }, and also include the entire file? I can't find this magical webpack config file everyone is raving about. I have been struggling for a number of hours trying to get file-system to work and have tried adding node: { fs: 'empty' } to a number of places but it doesn'

[2019-07-24 14:11] evilebottnawi commented on #447
Please don't use old css-loader version, update to latest (no problems with `fs`)

[2019-07-24 15:34] josh-lind commented on #447
Thanks for the quick response but I just updated css-loader and still have the same error.

package.json:
`{
  "name": "mapsys-online-web-client",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "node --max_old_space_size=4096 ./node_modules/@angular/cli/bin/ng build --prod --aot --configuration=production",
    "test": "ng test",
    "lint": "ng lint",

[2019-07-24 16:01] evilebottnawi commented on #447
Please provide minimum reproducible test repo

[2019-07-25 02:53] michaeltaranto commented on #966
I think this might be the same issue I am facing. Since [this commit](https://github.com/webpack-contrib/css-loader/commit/d3a0a3c59f4de1b48c5011abbd1ca565b1be3760) we have been unable to upgrade css-loader as `.` now end up in the selector name.

[code]

The resulting classname previously was `button-css__container__<hash>`, since the change it is now `button.css__container__<hash>`.

Was the int

[2019-07-25 07:48] evilebottnawi commented on #966
@michaeltaranto can you create minimum reproducible test repo?

[2019-07-26 11:01] Bhushankumar-pawar opened #978 "Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):"
We are migrating CSS-loader from  v0.28.11 to v3.1.0

we have 2 projects.
**Project A**- No component dependency on any other project - (containing some components)
**Project B** - We are importing **Project A** as node modules

We are able to run and build **project A** successfully.
But when we try to run **Project B** we getting a dependancy error for css files from **Project A**.

same works f

[2019-07-26 11:09] evilebottnawi commented on #978
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Yes, there are a lot of breaking changes from `0.28.11` to `3.1.0`, for url/@import resolving was changed + many othe

[2019-07-26 11:09] #978 closed

[2019-07-26 14:45] georgyfarniev commented on #976
@danigomonea did you solve this problem in nuxt context?

[2019-07-26 15:37] logiclabs commented on #976
There is a fix for this in next that was commited last month, but not sure when it is to be released. https://github.com/nuxt/nuxt.js/blame/e7cc2757c3aea7076b82fc9c65700d48eab01586/packages/webpack/src/utils/style-loader.js

[2019-07-30 06:11] Bhushankumar-pawar commented on #978
For future use, if any one gets stuck to the same issue.

#This issue happens because of **[webpack resolve.alias not works](https://github.com/webpack/webpack/issues/4160)**
To solve this issue, you can use the absolute path.

[code]

Still not able to understand, why below wbepack resolve works with  CSS-loader v1.0.0 but not with CSS-loader v3.1.0?

[code]

[2019-08-03 14:50] rianbotha opened #980 ". is not replaced in filenames"
- Operating System: MacOS
- Node Version: 10.15.3
- NPM Version: 6.4.1
- webpack Version: 4.39.1
- css-loader Version: 3.1.0

### Expected Behavior

In 2.1.0 using this pattern for localIdentName: `[name]_[local]_[hash:base64:5]` the name portion would be transformed from `file.module` to `file-module`. File name is file.module.scss.

### Actual Behavior

The `.` in `file.module` is no longer chan

[2019-08-03 14:52] evilebottnawi commented on #980
It is expected and breaking change for `css-loader@3`, `babel-plugin-react-css-modules` should change logic generation too

[2019-08-03 14:54] evilebottnawi commented on #980
@rianbotha anyway can you create minimum reproducible test repo?

[2019-08-03 14:56] evilebottnawi commented on #980
/cc @jquense waht do you think, maybe it is not conventional for developers

[2019-08-03 17:42] jquense commented on #980
The `file.module.css` or whatever css flavor (scss, less, etc) is fairly conventional at this point but I don't know that default replacing the dot is a convention...I do think that replacing invalid case characters like this is better than escaping them like we do now but that's just my preference. For my webpavk builds I do change the default getLocalIdent to replace dots with dashes

[2019-08-03 18:18] evilebottnawi commented on #980
@jquense just for information, can you provide `getLocalIdent` source code, will be great see one of use case, maybe we can improve standard generation for better DX

[2019-08-03 20:05] MrJadaml commented on #295
This is how I ended up getting css modules to work

[code]

[2019-08-04 12:46] jquense commented on #980
It's pretty simple I don't escape other path characters tho since we don't use the path interpolation https://github.com/jquense/webpack-atoms/blob/master/src/index.ts#L150

[2019-08-05 08:49] evilebottnawi commented on #980
Ok, let's fix it, as regression from 2.0.0

[2019-08-05 13:15] TheImpressionist opened #981 "Unexpected "exclude: /node_modules/" behaviour"
- Operating System: macOS Catalina 10.15
- Node Version: 12.7.0
- NPM Version: 6.10.0
- webpack Version: 4.39.1
- css-loader Version: 3.1.0

### Expected Behavior

Using `exclude: /node_modules/` would exclude unneeded CSS files found under the `node_modules` folder.

### Actual Behavior

Throws the following error, saying I need an appropriate loader for CSS.

[code]

### Code

The issue is cause

[2019-08-05 13:26] evilebottnawi commented on #981
Not related to css loader, it is part of webpack api

[2019-08-05 13:26] #981 closed

[2019-08-06 06:36] rianbotha commented on #980
@evilebottnawi Do you still need a repo?
To get around it in the meantime I just added a custom getLocalIdent copied from the original, that just replaces `.` with `-`. A bit blunt, but solves the immediate issue for us:
[code]

[2019-08-06 09:22] evilebottnawi commented on #980
@rianbotha no need new option, it is bug and need fix, PR welcome

[2019-08-06 10:18] #980 closed

[2019-08-06 10:24] sokra commented on #889
You can write your custom addtional loader to add this query to urls.

[code]

But webpack strategy in general is to do all asset processing at build time and avoid server processing of static assets.

[2019-08-06 10:25] sokra commented on #889
In a loader you can access `this.resourceQuery` and add this to the URL.

[2019-08-07 06:56] rianbotha commented on #980
@evilebottnawi Thanks for the quick action.

[2019-08-09 08:30] shaodahong commented on #447
[code]

wait for me to give a test repo

[2019-08-12 01:32] michaeltaranto commented on #980
FYI this was the same issue i [raised here](https://github.com/webpack-contrib/css-loader/issues/966#issuecomment-514874689). Can also confirm that 3.2.0 fixes the issue. Thanks for getting to this 🙌

[2019-08-12 10:25] evilebottnawi commented on #980
@michaeltaranto behaviour for this https://github.com/webpack-contrib/css-loader/issues/966 expected when you use user function you should escape non standard characters manually, mayme we change this in next major release

[2019-08-15 09:12] danieldanielecki commented on #447
In case, if your **target** is **node** in webpack (`target: 'node'`), because you want to fix `"Can't resolve 'fs'`. Then you're getting the following error `Fix: "Uncaught ReferenceError: global is not defined"` do it as follows `node: { global: true, fs: 'empty' }`. **Bonus**: if you got error `"Uncaught ReferenceError: exports is not defined".` simply add `libraryTarget: 'umd'`. The complete w

[2019-08-16 14:47] robcochranff commented on #295
If it might help someone sometime, I was playing with types in and using react-scripts.  I didnt need that, but the addition to it caused this error for me.  Removal, and voila, it worked.  Now to tell my PM why it's taken me so long haha

[2019-08-20 20:37] Timer opened #985 "Add support for pure CSS Modules"
- Operating System: N/A
- Node Version: N/A
- NPM Version: N/A
- webpack Version: N/A
- css-loader Version: `3.2.0`

### Feature Proposal

Ability to use `modules: 'pure'`, a very-desirable CSS Modules mode.

### Feature Use Case

Defining global CSS using CSS Modules is arguably incorrect behavior, which `modules: true` / `modules: 'local'` allows.

The underlying `postcss-modules-local-by-defaul

[2019-08-21 10:34] evilebottnawi commented on #985
Pr welcome

[2019-08-22 13:37] EvalGitHub opened #986 "modules: true did not work?"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- css-loader Version:

### Expected Behavior

### Actual Behavior

### Code

[code]

[code]

### How Do We Reproduce?

[2019-08-22 13:40] evilebottnawi commented on #986
Yes, please use gitter or stackoverflow for questions

[2019-08-22 13:40] #986 closed

[2019-08-29 03:12] shiatsumat opened #987 ":global blocks for css modules seem not working"
- Operating System: Ubuntu 19.04
- Node Version: v12.9.1
- NPM Version: 6.11.2
- webpack Version: 4.39.3
- css-loader Version: 3.2.0

### Expected Behavior

A css module with a `:global` block in `contents/main.css`
[code]
should be transpiled into the following (prettified for human beings).
[code]

### Actual Behavior

The following is output. Although the tag `:global` is removed, the outer cur

[2019-08-29 10:29] evilebottnawi commented on #987
Because default `mode` is `local` and when you use `global` use mark this as `global`

[2019-08-29 10:29] #987 closed

[2019-08-29 10:34] evilebottnawi commented on #889
Yes, it is out of scope `css-loader, better use specific loader for this edge case

[2019-08-29 10:34] #889 closed

[2019-09-03 04:07] DanielHeath opened #988 "Produce JSON file(s) with class mappings"
Previously discussed in #143 , but that solution has not worked for a long time.

- Operating System: ubuntu
- Node Version: v12.5.0
- NPM Version: yarn 1.16.0
- webpack Version: 4.32.2
- css-loader Version: 2.1.1

### Feature Proposal

When compiling CSS modules, export a JSON file containing the mappings, so that the generated classnames can be used by e.g. SSR setups, and even from other langua

[2019-09-03 10:28] evilebottnawi commented on #988
Can you provide case?

[2019-09-03 10:29] DanielHeath commented on #988
EG in a rails template, I'd like to be able do to:

[code]

[2019-09-03 10:33] evilebottnawi commented on #988
Maybe we can implement `getJSON` option as it is done in https://github.com/css-modules/postcss-modules

[2019-09-03 10:39] DanielHeath commented on #988
That would work perfectly

[2019-09-03 10:41] evilebottnawi commented on #988
PR welcome, it is very rare feature, so it is not high priority

[2019-09-07 15:32] DemonCloud opened #989 "webpack with "production" mode , the option "getLocalIdent" has not any effect?"
<img width="578" alt="Screen Shot 2019-09-07 at 11 30 58 PM" src="https://user-images.githubusercontent.com/7436361/64476921-95986380-d1c7-11e9-876f-07a6f766a23e.png">

on process.env.NODE_ENV = "production" production mode, ths "getLocalIdent" was not work!!!,  but use it with devServer, it work fine!

[2019-09-07 15:38] evilebottnawi commented on #989
Please use issue template, i don't know what is work or not, you don't provide example of full configuration or reproducible test repo, also i don't know what `abcJSON.css` and what is it in production

[2019-09-07 16:17] DemonCloud commented on #989
@evilebottnawi

you can try a simple example with this option "getLocalIdent"

it does not work when webpack build in mode "production"

like the pic, I can't get any console.log ...

<img width="470" alt="Screen Shot 2019-09-08 at 12 17 14 AM" src="https://user-images.githubusercontent.com/7436361/64477427-06db1500-d1ce-11e9-8be4-151c3ae1a402.png">

[2019-09-07 16:24] evilebottnawi commented on #989
Please create minimum reproducible test repo, looks you have problem in configuration, a lot of repositories use this option and no problem (for example CRA)

[2019-09-07 16:53] DemonCloud commented on #989
@evilebottnawi

OK, no problem, but you can turn off the problem first. I try to locate the problem first. During this time, if I really can't find the problem, I will make an example to prove that this setting may be a problem. Thank you, I closed the question.

[2019-09-07 16:53] #989 closed

[2019-09-10 05:29] lytvoles commented on #455
@tomasdev thanks for tip! Now my solution is next:
[code]
...
[code]
It`s works brilliant for me)

[2019-09-11 16:24] lukehillonline opened #990 "css-loader ignores the minimize: false flag."
Hey all,

First time creating a Bug Report so sorry if I have missed anything.

- Operating System: Mac 10.13.6
- Node Version: v11.10.1
- NPM Version: v6.7.0
- webpack Version: v4.38.0
- css-loader Version: v3.1.0

### Expected Behavior

When in production mode and optimization is set to false like so:
[code]

CSS should not be minified

### Actual Behavior

When in production mode and optimizati

[2019-09-11 16:29] evilebottnawi commented on #990
No, you should use plugin for minimize CSS https://github.com/NMFR/optimize-css-assets-webpack-plugin, minimize out of scope loader

[2019-09-11 16:29] #990 closed

[2019-09-11 16:37] lukehillonline commented on #990
Hey @evilebottnawi,

Thanks for coming back, I believe you have misunderstood. I completely agree with you, minimzing CSS **should** be controlled by a plugin like Optimize CSS Asset Webpack Plugin.

If you look at the case I have produced there is no plugins for CSS minification and `minimize: false` is set, and still the CSS is minified in production mode.

From my testing I believe that `css-lo

[2019-09-11 16:52] evilebottnawi commented on #990
maybe you use old version of `css-loader`

[2019-09-11 16:58] lukehillonline commented on #990
@evilebottnawi I am using `css-loader` v3.1.0.

When installing with `yarn` by using the following command:
`yarn add -D css-loader` v3.1.0 is the latest installed version.

[2019-09-11 17:00] evilebottnawi commented on #990
You can look css-loader code and find we don't use minimizer nowhere, you need investigate who minimize you code

[2019-09-12 03:02] yangfandashuaige commented on #863
I don't know why, but it's okay to upgrade to the latest 3.2.0.

[2019-09-13 15:04] johnmikel commented on #362
The hero we need!

[2019-09-18 17:13] A-Tokyo commented on #131
michael-ciniawsky Is there any update on this? 💪

[2019-09-19 18:00] jcmcneal commented on #988
It's surprising this feature doesn't exist already. Seems simple enough to just dump all the mappings in a JSON file. After looking into `postcss-modules` I don't like how the `getJSON` works as it creates a `.json` file for each `.less/.scss` file. I would prefer to have a flat JSON file with every classname that's been hashed across my app.

Another use case:
We are implementing cypress testing

[2019-09-19 23:06] DanielHeath commented on #988
@jcmcneal Consider your tone. The maintainers have already said 'PR welcome', so "It's surprising this feature doesn't exist already" sounds a little entitled.

[2019-09-19 23:18] jcmcneal commented on #988
This package is used in 2.4M public repos and when I searched to find out how to get the mappings it did surprise me that there isn't a way yet. However, I'm glad you requested the feature and I only commented to show support that it's wanted by more than just one person.

[2019-09-19 23:23] DanielHeath commented on #988
Yeah, I figured you didn't mean it that way - just pointing out that it's worth making it clear, especially when dealing with people who don't know you.

[2019-10-01 10:13] wanaryytel opened #991 "Module local mode assigned to CSS animation"
- Operating System: node:10.16.0 docker image running on Manjaro Linux
- Node Version: 10.16.0
- NPM Version: 6.9.0
- webpack Version: 4.41.0
- css-loader Version: 3.2.0

### Expected Behavior

I expect this CSS animation `animation: 2.5s blow 0s linear infinite;` to remain unchanged.

### Actual Behavior

The output looks like this `animation: 2.5s :local(blow) 0s linear infinite;`. This only hap

[2019-10-01 10:48] evilebottnawi commented on #991
It is exampled because modules: {} === `local` mode, so you need use `global` if you need keep animation name

[2019-10-01 10:48] #991 closed

[2019-10-01 12:28] wanaryytel commented on #991
@evilebottnawi Yes but why if I don't define modules at all it does not default to local?

[2019-10-01 12:29] evilebottnawi commented on #991
When you enable css modules all possible global value (include animation name) will be converting in local

[2019-10-01 14:19] nmvuong92 commented on #44
thanks

[2019-10-10 19:18] dupiesdupreez commented on #447
Me TOO!

[2019-10-22 03:59] sayjeyhi commented on #362
I was facing this issue with `storybook` webpack config , and instead of pushing rules I do :
[code]

[2019-11-01 08:12] coopeu opened #992 "_Invalid options object. CSS Loader has been initialised using an options object that does not match the API schema_"
Issues are so 🔥
👉🏽 SYSTEM
rails webpacker:info
Ruby: ruby 2.6.4p104 (2019-08-28 revision 67798) [x86_64-linux]
Rails: 6.0.0
Webpacker: 4.0.7
Node: v8.16.1
Yarn: 1.19.0
@rails/webpacker:
MRCOM@0.1.0 /var/www/html/MRCOM
└── @rails/webpacker@4.0.7
Is bin/webpack present?: true
Is bin/webpack-dev-server present?: true
Is bin/yarn present?: true

### Expected Behavior

$ rails/webpack NOT 2 ERRORS
$ ra

[2019-11-01 19:28] krrskl commented on #955
This worked for my VUE Js project:

Browse to the `/build/utils.js` file and in the object of the` css-loader` comment on the option that is marking you in the error. In my case I had to comment:

`minimize: process.env.NODE_ENV === 'production',`

[2019-11-01 19:28] krrskl commented on #863
This worked for my VUE Js project:

Browse to the `/build/utils.js` file and in the object of the` css-loader` comment on the option that is marking you in the error. In my case I had to comment:

`minimize: process.env.NODE_ENV === 'production',`

[2019-11-04 19:24] schaeffermj opened #993 "Found 2 vulnerabilities npm audit security"
Overview
Versions of js-yaml prior to 3.13.0 are vulnerable to Denial of Service. By parsing a carefully-crafted YAML file, the node process stalls and may exhaust system resources leading to a Denial of Service.

Remediation
Upgrade to version 3.13.0.

[code]

- Operating System: 10.13.6 MacOS High Sierra
- Node Version: v12.10.0
- NPM Version: 6.10.3
- webpack Version: ^4.41.0
- css-loader Versi

[2019-11-05 10:47] evilebottnawi commented on #993
Please open issue in `optimize-css-assets-webpack-plugin` repo

[2019-11-05 10:47] #993 closed

[2019-11-05 11:20] evilebottnawi commented on #992
open issue in `webpacker`, you should move `localIdentName` in `modules` https://github.com/webpack-contrib/css-loader#object

[2019-11-05 11:20] #992 closed

[2019-11-11 10:04] Chickyky commented on #790
what is library you use?
I have same issue.
Thanks.

[2019-11-11 11:15] Sareeka97 commented on #863
why sudo npm run dev show this?

ERROR in ./resources/assets/sass/app.scss
Module build failed: ModuleBuildError: Module build failed: ValidationError: Invalid options object. Sass Loader has been initial
ised using an options object that does not match the API schema.
 - options has an unknown property 'outputStyle'. These properties are valid:
   object { implementation?, sassOptions?, prependDa

[2019-11-11 13:30] Yegorich555 opened #994 "Auto resolving css-modules import and default import"
### Feature Proposal
We have two imports ES6 and It looks smarter when resolving some imports will be work in the following automatic way:
```import styles from 'someFiles.css'``` as css-module
```import 'someFiles2.css'``` as default import (without css-module-specification)

### Feature Use Case
The main idea is simplifying webpack config and avoiding misunderstanding in mixed project (when we h

[2019-11-11 13:32] evilebottnawi commented on #994
`import from 'someFiles2.css'` invalid JS syntax, so it is impossible

[2019-11-21 16:54] gera2ld opened #995 "Nested emoji class names do not work as expected"
- Operating System: Mac OS X
- Node Version: 11.15.0
- NPM Version: 6.7.0
- webpack Version: 4.41.2
- css-loader Version: 3.2.0

### Expected Behavior

Emoji in nested class names should always work.

### Actual Behavior

Nested emoji class names do not work as expected. See explanation below.

### Code

I made a project for minimum reproduction: https://github.com/gera2ld/css-loader-bug

[code]

[2019-11-21 16:57] evilebottnawi commented on #995
Why do you use emoji as classes? It will be removed in next version, just for infromation

[2019-11-22 01:51] gera2ld commented on #995
Because it's short and cool... Why will it be removed?

[2019-11-22 12:48] evilebottnawi commented on #995
@gera2ld because it is unsafe in some situations, buggy and do not supported old browsers

[2019-11-23 02:36] mmizutani commented on #240
Enabling `onlyLocals` option (`onlyLocale` in v3 and `exportOnlyLocals` in v2) worked for me:

webpack.config.js
[code]

[2019-11-23 23:51] joepie91 opened #997 "ICSS: Importing a composed class name produces wrong output"
- Operating System: Linux
- Node Version: v10.17.0
- NPM Version: n/a, Yarn 1.15.2
- webpack Version: 4.41.2
- css-loader Version: 3.2.0

### Expected Behavior

`css-loader` should produce correct output:

[code]

![Selection_407](https://user-images.githubusercontent.com/1663259/69487032-98fccc00-0e53-11ea-8ad2-703118887ded.png)

### Actual Behavior

`css-loader` produces incorrect output:

[code

[2019-11-25 10:47] evilebottnawi commented on #997
Thanks for issue i will look on this in near future

[2019-11-25 13:20] evilebottnawi commented on #994
Closing due to inactivity.

[2019-11-26 05:38] Yegorich555 commented on #994
How soon can it be implemented

[2019-11-26 06:25] Yegorich555 commented on #994
Sorry. I made mistake. Fixed in the first message:
```import styles from 'someFiles.css'``` as css-module
```import 'someFiles2.css'``` as default import (without css-module-specification)

[2019-11-26 09:26] evilebottnawi commented on #994
@Yegorich555 can you clarify what you want, hard to udnestand

[2019-11-27 07:29] Yegorich555 commented on #994
According to css-modules specification we have to use:
``` import styles from 'someFile'``` and use **styles** as object.

But for switching on css-modules rule we should configure this for exact-files (by regex pattern). Does it makes sense? Why can not it be resolved automatically? I'm not sure is it question for css-loader?
The different imports can provide different rules to us. And It seems c

[2019-11-27 07:32] Yegorich555 commented on #994
How can css-config looks like:
[code]

[2019-11-27 10:03] evilebottnawi commented on #994
For webpack@5 CSS will be built-in so it is not high priority right now, but idea is good, do you want send a PR (PoC), we have `this.resourcePath` and can implement option for `modules: { test:  /\.module\.\w+$/ }`: shortly:

[code]

[2019-11-27 12:26] Yegorich555 commented on #994
Yes. Such config looks nice. I like it. What can I do for this?

[2019-11-27 12:28] evilebottnawi commented on #994
Need improve checking here https://github.com/webpack-contrib/css-loader/blob/master/src/index.js#L54

[2019-11-28 10:29] #995 closed

[2019-12-03 09:22] Kevinkkkang opened #1002 "update after new version to report cannot read property 'split' of undefined mini-css-extract-plugin"
I reported the following error after using webpack build code:

ERROR in ./view/pages/activitiesList/components/brand.scss
Module build failed (from ../node_modules/mini-css-extract-plugin/dist/loader.js):
ModuleBuildError: Module build failed (from ../node_modules/happypack/loader.js):
TypeError: Cannot read property 'split' of undefined

=========================

- Operating System: Mac 10.15.1

[2019-12-03 09:24] Kevinkkkang commented on #1002
Can be rolled back to css-loader@3.2.0 for repair!

[2019-12-03 10:31] evilebottnawi commented on #1002
Looks problem in `HappyPack` plugin, please create reproducible test repo

[2019-12-03 10:32] evilebottnawi commented on #1002
Problem what somebody remove `remainingRequest and `currentRequest` from loader context, without this loader can't work

[2019-12-03 15:50] yakato commented on #997
I have the same. After update all new `react-scripts` dependencies, also `css-loader` updated. With the latest version my all code based on  CSS-Modules `composes` is broken.

[2019-12-04 11:05] umutesen commented on #447
I came across this issue and figured that it is because I was setting cucumber timeout in an Angular app inside a file under src/app. Moved the setting into a file under e2e folder and the error is gone.

[2019-12-05 16:17] evilebottnawi commented on #1002
After investigate problem here https://github.com/amireh/happypack/blob/6549ad0a9b2d3af98d62401af8cc9c2e1b812635/lib/applyLoaders.js#L90, happy pack should provide `remainingRequest` and `currentRequest` in loader context, sorry we can't do anything on our side, my recommendation is do not use happy pack due he is very buggy

[2019-12-05 16:17] #1002 closed

[2019-12-05 16:21] #954 closed

[2019-12-06 14:53] evilebottnawi commented on #916
After investigation i find it is not bug. Why?
1. Sass don't touch all `@import` with `css` extension, so after sass-loader you will get:
[code]
2. css-loader handle `@import` as css import

It is edge case, solution - rename `index.css` to `index_in_sass.css` (any name) and remove `css` extension from '@import':
[code]

Unfortunately we can’t do anything here because this is how sass works.

[2019-12-06 14:53] #916 closed

[2019-12-09 15:20] #985 closed

[2019-12-09 16:11] evilebottnawi commented on #997
@yakato please create reproducible test repo

[2019-12-11 03:18] zhnoah commented on #990
I ran into exactly the same problem.

sass-loader -> postcss-loader -> css-loader -> mini-css-extract-plugin

I don't know which link went wrong.

[2019-12-11 05:22] zhnoah commented on #990
To solve!

The problem is the outputStyle option of sass-loader(node-sass),

I need to adjust the webpack configuration,

[code]

[2019-12-12 15:17] bezin commented on #668
Hi there, I am experiencing the same issue with #iefix, but also with `/path/to/mask.svg#path`, when using an SVG path in clip-path. I am running version 2.1.1 (as dependency of symfony/webpack-encore).

[2019-12-12 15:56] evilebottnawi commented on #668
update to latest version

[2019-12-12 17:58] zechdc opened #1019 "3.3.2 includes breaking change"
- Operating System: MacOS
- Node Version: 6.9.1
- NPM Version: 3.10.8
- webpack Version: 1
- css-loader Version: 3.3.2

### Expected Behavior

We were using css-loader 3.3.0 without issue. Our integration/prod builds started breaking this morning with the following error.

09:11:58     ERROR in ./resources/assets/js/components/FormWalletPayButton.vue?vue&type=style&index=0&id=7d35c126&scoped=true&

[2019-12-12 21:38] jbrennan414 commented on #1019
(same here)

[2019-12-12 23:30] jgoz commented on #1019
Also experiencing the same behaviour on Windows 10, node 12.13.1. Pinning to `css-loader` @ `3.3.0` fixes the behavior.

[2019-12-13 03:16] pawaramol22 commented on #1019
I see same behavior on RHEL 7, node 6.13.1. I had to pin css-loader version to 3.2.0.

[2019-12-13 09:13] evilebottnawi commented on #1019
Please create reproducible test repo

[2019-12-13 09:15] evilebottnawi commented on #1019
It is not breaking change, please look at here https://github.com/webpack-contrib/css-loader/blob/master/package.json#L12, update your node version to 8

[2019-12-13 09:15] #1019 closed

[2019-12-14 20:21] chetabahana commented on #447
Modify `webpack.config.js`:
[code]
Refer [here](https://jlongster.com/Backend-Apps-with-Webpack--Part-I)

[2019-12-16 15:45] #929 closed

[2019-12-17 20:05] vankop commented on #506
@evilebottnawi Do you have any ideas to implement this in webpack 5? Maybe only for css modules..

[2019-12-18 09:17] evilebottnawi commented on #506
@vankop i think we need postcss plugin for this

[2019-12-18 11:01] vankop commented on #506
Maybe my vision is mistaken, but how you want to tree shake css without webpack plugin? You need to understand which css classes does not imported in JS.

[2019-12-18 11:17] evilebottnawi commented on #506
@vankop to be honestly, i think it is impossible, i really don't have ideas how we can remove unused selectors, we don't have infromation about which selectors used, so we can't remove them, also it is not safe, because you can asynchronously load CSS file and use any logic so removing selectors is not safe

[2019-12-18 16:56] HeyParkerJ commented on #922
For what it's worth, I'm reproing with the following setup (css-loader@2.0.0 and mini-css-extract-css-plugin@0.8.2)

`{
                test: /\.module.css$/,
                use: [
                    {
                        loader: MiniCssExtractPlugin.loader,
                    },
                    {
                        loader: 'css-loader',
                        options: {

[2019-12-19 19:58] denisx opened #1028 "Reduce bundle size via one-letter css classname hash strategy"
A worked code sample for https://dev.to/denisx/reduce-bundle-size-via-one-letter-css-classname-hash-strategy-10g6

Improving bundle compression to 40% of filesize via change standard css classname hash for splitting to one-letter name strategy and filepath.

webpack
[code]

class
[code]

tests
[code]

p.s. need help with more magic - how to keep file tree sorted between client and server variants.

[2019-12-20 08:05] sokra commented on #1028
I would say one way would be to keep a JSON file with all CSS files in your src folder and take the index. For any CSS file found during build that is not in the list emit a warning (or error) and use a hash instead.

Even while this is against the guideline of webpack build should not write to intput files, you could offer a flag to automatically add new files to the JSON file during development.

[2019-12-20 08:41] denisx commented on #1028
@sokra I thinks about access to file tree (for sort and count) before module parsing...

[2019-12-20 19:40] billyjanitsch opened #1029 "Option for esModule to export named exports instead of default export"
- Operating System: macOS
- Node Version: 12.13.1
- NPM Version: 6.13.4
- webpack Version: 4.41.4
- css-loader Version: 3.4.0

### Expected Behavior / Situation

When the new `esModule` option is enabled, I hoped that each CSS class name would be exported as a named export:

[code]

[code]

### Actual Behavior / Situation

Instead, an object of class names to hashes is exported as a default export

[2019-12-23 10:55] aZolo77 opened #1030 "Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js)"
- Linux 3.10.0-957.21.3.el7.x86_64
- v6.17.1
- 3.10.10
-"webpack": "^4.41.2"
- "css-loader": "^3.4.0"

### Actual Behavior

ERROR in ./src/css/main.css
Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js):
ModuleBuildError: Module build failed (from ./node_modules/css-loader/dist/cjs.js):
/home/newpanel/node_modules/css-loader/dist/plugins/postcss-icss-parser.js:34

[2019-12-23 11:21] aZolo77 commented on #1030
I installed "css-loader": "^2.1.0" - everything works fine

[2019-12-23 11:21] #1030 closed

[2019-12-23 11:57] evilebottnawi commented on #1029
hm, i think we should open issue in webpack, we should concat modules in this case too

[2019-12-23 20:18] HimaChitalia commented on #1019
I am having the same issue. @zechdc .. did you get any solution?

[2019-12-23 21:13] zechdc commented on #1019
We just downgraded to 3.3.0. Doubt we will try to fix it.

On Mon, Dec 23, 2019 at 12:18 PM Hima Chitalia <notifications@github.com>
wrote:

--

--
Thanks,
Zechariah Campbell   |   Software Engineer

[2019-12-26 15:03] evilebottnawi commented on #886
Working on this problem https://github.com/webpack-contrib/css-loader/pull/1031/, found what it is happens only with `sass-loader` and `sourceMap: true`, sorry for big delay in this issue, a lot of issues :disappointed:

[2019-12-26 16:50] gfortaine commented on #995
@gera2ld There is no point in using emojis as classnames. This is not only an antipattern, moreover the corresponding fix is causing severe regressions on our business critical project.

@evilebottnawi Would you kindly remove it, please ?

[2019-12-26 17:01] evilebottnawi commented on #995
@gfortaine remove `[emoji]` placholder?

[2019-12-26 17:02] evilebottnawi commented on #995
@gfortaine if you have a bug after this patch please open new issue with reproducible test repo

[2019-12-27 00:51] gfortaine commented on #995
@evilebottnawi after further investigations, we have clearly identified our annoying bugs coming from the upgrade of postcss-modules-scope to 2.1.1 We use bootstrap and it completely broke the CSS for glyphicons. I will try to set up a reproducible test repo. However, I was a bit surprised to have a such regression on a patch release (3.2.1).

[2019-12-29 09:46] Abdo0o-rgb commented on #447
Thanks for Helpful 🥇

[2019-12-30 12:03] oceandrama opened #1032 "Add getLocalIdent to export"
In previous versions of this package, it has `getLocalIdent` function exported from `utils` folder. We use it as a first step of our own `getLocalIdent` implementation

In version 3.3.0 it was removed

Please, add this function to export again

[2019-12-30 12:52] evilebottnawi commented on #1032
What is use case?

[2019-12-30 14:36] timocov opened #1033 "css-loader produces invalid es5 code"
- Operating System: windows 10
- Node Version: 12.4
- NPM Version: 6.13.4
- webpack Version: 4.41.5
- css-loader Version: 3.4.0

### Expected Behavior

No JS code produced.

### Actual Behavior

css-loader produces

[code]

what is incorrect es5 code (also I don't think that having exported `undefined` key with `undefined` value is good here).

### Code

I'll fill code later if it's really needed,

[2019-12-30 14:41] timocov commented on #1033
Broken in 23bc1e95555e1b88b0aab56ea496412b24911c29.

[2019-12-30 15:07] evilebottnawi commented on #1033
Can you create reproducible test repo?

[2019-12-30 15:08] evilebottnawi commented on #1033
Looks like bug, agree

[2019-12-30 15:43] timocov commented on #1033
I'll try. It isn't so easy to extract repro from huge project :)

[2019-12-31 06:20] ericblade commented on #447
Came across this issue while playing with worker-loader, but the related issues in worker-loader are all marked as fixed.  I just tried adding the ```node: { fs: 'empty' }``` trick, but also had to add module: 'empty' to it to get that to work.

This seems to work, but has caused a ten-fold increase in bundle size for the browser :O zero increase in the same module built for node.

[2019-12-31 09:50] oceandrama commented on #1032
We use our own `getLocalIdent` function to create special locators in `storybook` for e2e testing. But we don't need to do this for every classname, so as the first step of our function we use default implementation and then replace some patterns

[2020-01-01 08:30] DavidKk opened #1034 "sourceMap always prepend a undefined"
I found that `sourceRoot` does not necessarily exist, sometimes it equals `undefined`.

I look for some codes, and found that [`extract-loader`](https://github.com/peerigon/extract-loader/blob/master/src/extractLoader.js#L141), it uses `extractExports` function to transform, (`Function toString()`) `sandbox.module.exports`.

And the `css-loader` use [`cssWithMappingToString`](https://github.com/we

[2020-01-03 14:30] evilebottnawi commented on #1033
Reproduced, WIP

[2020-01-03 15:18] #1033 closed

[2020-01-03 15:26] #1034 closed

[2020-01-03 15:36] evilebottnawi commented on #1032
We never exported `getLocalIdent`, it is part of private API and can be changed in any time so we don't want to export that, you can copy paste code from our code base

[2020-01-03 15:36] #1032 closed

[2020-01-04 02:33] heymartinadams commented on #447
For those using [preact](https://github.com/preactjs/preact) (which uses `webpack`), borrowing from Eric’s version above, I had to add the following into the `preact.config.js` file to make it disappear:

[code]

[2020-01-04 22:21] pillowfication commented on #1032
I also would like `getLocalIdent` to be exported again. I had my class names created based off of what the `getLocalIdent` function returned.

[code]

[2020-01-06 10:09] vlazh commented on #772
There is regression with the latest css-loader. The issue present again.

[2020-01-06 10:48] vlazh opened #1037 ""Composes" duplicating css (again)"
- webpack Version: 4.19.1
- css-loader Version: 3.4.1

It's copy of #772 but with latest css-loader.

### Expected Behavior
It shouldn't duplicate css class.

### Actual Behavior
When a class name within a css file is shared using "composes" in a 2 degree level, it gets duplicated (when each class has its own file).

For example (each class has its own css file):

Case 1 (composes in 1 degree leve

[2020-01-06 19:17] evilebottnawi commented on #1032
What is problem with copy/paste the code?

[2020-01-07 23:17] pillowfication commented on #1032
I currently am copy/pasting the code, but it's an ugly solution that can potentially cause troubles with dependency versions or updating `css-loader`, for something that this module used to export.

[2020-01-07 23:21] WearyMonkey opened #1038 "sources field of map does not contain path."
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- css-loader Version:

### Expected Behavior

### Actual Behavior

### Code

[code]

### How Do We Reproduce?

1) Create a webpack project with the above configuration.
2) `yarn webpack`
3) `cat dist/main.css.map`

Note, the sources field is `"sources":["webpack:///index.css"]`

[2020-01-08 19:30] mgwalker opened #1039 "url()s with hashes seem to be parsed incorrectly"
- Operating System: macOS 10.14.6
- Node Version: 12.13.1
- NPM Version: 6.13.4
- webpack Version: 4.41.5
- css-loader Version: 3.4.1

### Expected Behavior

This input:
[code]

becomes this output:
[code]

### Actual Behavior

Get this output:
[code]

### Code

[webpack.config.js](https://github.com/mgwalker/css-loader-issue/blob/master/webpack.config.js)

### How Do We Reproduce?

Repro repo her

[2020-01-10 15:56] evilebottnawi commented on #1037
/cc @jquense looks you are right about dedupe same modules in one module

[2020-01-10 16:45] #1037 closed

[2020-01-10 17:05] evilebottnawi commented on #1039
Problem in `extract-loader`, it is not official webpack loader so we can't fix it, please open issue that repo.

We return that code:
[code]

and you can see `___CSS_LOADER_URL_REPLACEMENT_1___` is defined.
The problem is here https://github.com/peerigon/extract-loader/blob/master/src/extractLoader.js#L93
also next version of `css-loader` will be used `import` by default so that loader doesn't wor

[2020-01-10 17:05] #1039 closed

[2020-01-10 17:09] evilebottnawi commented on #1037
/cc @vlazh @jquense please test https://github.com/webpack-contrib/css-loader/releases/tag/v3.4.2

[2020-01-10 18:42] mgwalker commented on #1039
Ah-ha! I see, I misunderstood the output when I first looked at it. I only saw `CSS_LOADER_URL_IMPORT_0` and no `CSS_LOADER_URL_IMPORT_1` and guessed that was the problem, but I see now what it's doing.

Thanks for taking a look and the feedback! 😄

[2020-01-10 19:07] jquense commented on #1037
working for me 👍

[2020-01-11 15:38] vlazh commented on #1037
Example project work fine, but in my real project still has dublicating in some cases. Unfortunately I can't reproduce it in example project. I use typescript, react and a lot of components. I continue to research, but still have no success.

[2020-01-11 19:05] jquense commented on #1037
@vlazh make sure you also have style-loader installed that is less than 1.1.0

[2020-01-11 19:18] vlazh commented on #1037
@jquense, Yes, I have latest version of style-loader installed.

[2020-01-11 19:23] vlazh commented on #1037
I just have managed to demonstrate the problem.
Demo project: https://github.com/vlazh/css-dublication
Run `start:client` script.

![image](https://user-images.githubusercontent.com/374240/72209562-00410f00-34da-11ea-81e7-7884a6acc021.png)

Class `.CompB__children--10ad6` is duplicating.

[2020-01-13 11:45] evilebottnawi commented on #1037
@vlazh please use style-loader less than 1.1.0, we have some problems with latest version, i will fix it in near future

[2020-01-13 12:35] vlazh commented on #1037
@evilebottnawi with style-loader@1.0.2 works great!
Thank you!
Worth it to create a new issue for the problem with style-loader or it already exists?

[2020-01-13 12:37] evilebottnawi commented on #1037
@vlazh already exists

[2020-01-13 13:31] BonBonSlick opened #1041 "Enabled modules break fonts, Mixed Content?"
Hey there! If you need support, help, or advice then this is not the place to ask.
Please visit [StackOverflow](https://stackoverflow.com/questions/tagged/webpack)
or [the Webpack Gitter](https://gitter.im/webpack/webpack) instead.

This might be a bug for enabled css modules. I am not sure.
[code]
[code]

If modules are enabled, fonts throw errors, not loaded

ERROR
`Mixed Content: The page at '<

[2020-01-13 13:38] evilebottnawi commented on #1041
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please use issue template, CSP is out of scope css-loader, use stackoverflow or gitter for questions

[2020-01-13 13:38] #1041 closed

[2020-01-14 16:04] jquense opened #1042 "Define the runtime interface output by CSS loader and make it "public""
hey @evilebottnawi 👋 While building a few loaders i was struck by how so much of the css webpack ecosystem is dependent on the output of css-loader. There is this implicit export API that css-loader uses that is consumed but style-loader and extraction plugins. For others to build versions of those it depends on knowing css-loaders runtime output.

It seems like i'd be a good idea to define the ou

[2020-01-15 12:00] evilebottnawi commented on #1042
Yes, let's do it, feel free to create a new section in readme and documented that. You can investigate how it is work looking at the tests.

[2020-01-17 04:15] weilinzung opened #1043 "Adding hot reload?"
Ignored an update to unaccepted module ../node_modules/css-loader/dist/cjs.js?{"url":false,"sourceMap":true,"importLoaders":2}!..

process-update.js:102 [HMR] The following modules couldn't be hot updated: (Full reload needed)

This is usually because the modules which have changed (and their parents) do not know how to hot reload themselves. See https://webpack.js.org/concepts/hot-module-replacem

[2020-01-17 09:41] evilebottnawi commented on #1043
Out of scope css-loader, please use style-loader too

[2020-01-17 09:41] #1043 closed

[2020-01-17 10:58] weilinzung commented on #1043
@evilebottnawi i use style-loader too, which show me that errors with their latest version.

[2020-01-17 11:06] evilebottnawi commented on #1043
What is error? Please provide reproducible test repo

[2020-01-19 06:34] vlazh commented on #1037
@evilebottnawi, seems like fixed in style-loader@1.1.3. Thank you!

[2020-01-20 15:05] CaelanStewart commented on #272
If anybody here is wondering why this is happening to them, also make sure that you have not unintentionally passed: `modules: true` to 'css-loader' if you do not need the option enabled.

[2020-01-22 16:37] rikers opened #1045 "key containing "@" as first character in resolve.alias breaks url("~@my-alias/foo.jpg") in css"
- Operating System: Windows 10
- Node Version: 12.9.0
- NPM Version: 6.10.2
- webpack Version: 4.41.5
- css-loader Version: 3.4.2

Hi,
I get the same issue as mentioned in [issues/49](https://github.com/webpack-contrib/css-loader/issues/49) but the tilde in front of the alias inside url() in my css file doesn't get the job done.
However, if I go from this resolve.alias configuration:
[code]

[code

[2020-01-22 16:42] evilebottnawi commented on #1045
Please fill issue template and provide example how we can reproduce problem, otherwise issue will be closed, thanks

[2020-01-22 16:46] evilebottnawi commented on #1045
Do not forget what `@` is special character for npm/yarn, for example you can have a package `@images/landscape.jpg`, it is valid package name, so it can potential will be problem in future, anyway it should work, so i wait minimum reproducible test repo

[2020-01-22 17:37] rikers commented on #1045
Thank you for the answer. I'll set up a repo as soon as I can and edit this msg.

[2020-01-23 01:03] fa93hws opened #1047 "Css class got duplicated if @import sytnax is used"
- Operating System: OSX 10.15.2
- Node Version: v10.17.0
- NPM Version: 6.11.3
- webpack Version: 4.41.5
- css-loader Version: 3.4.2

### Expected Behavior
"preload_fonts" which **imports** "font_a" which composes "font_base" and;
"preload_fonts" which **imports** "font_b" which composes "font_base".
On this case, the "baseFont"  appears only once.

### Actual Behavior
the "baseFont" module appear

[2020-01-23 10:05] evilebottnawi commented on #1045
Problem in `precss` postcss plugin (just comment that plugin and build is fine), sorry I don't know how to fix it (i think you need disable `url` handling) or maybe it is bug, and `precss` should ignore `url` value, please open issue in `precss` we can't fix it on our side.

[2020-01-23 10:05] #1045 closed

[2020-01-23 10:22] evilebottnawi commented on #1047
Do not use css `modules` and pure `@import` together, your output is expected (I will documented that limitation). You can override some styles for `.baseFont` in `font_b.css` and with dedupe i will got invalid result. `composes` works like `require` in JS, `@import` has other logic, CSS is not module based so each next `@import` can potential override previously styles and we can't dedupe that

[2020-01-23 17:57] rikers commented on #1045
Thank you for investigating. I'll head over to precss.

[2020-01-27 13:34] aholtkamp opened #1048 "unescaped urls are being passed to downstream loaders"
- Operating System: Linux Mint 18.3
- Node Version: 10.16.0
- NPM Version: Yarn 1.19.2
- webpack Version: 4.41.5
- css-loader Version: 3.4.2

### Code

The "css-loader" processes our css files, our custom loader processes svg files.

Example CSS processed by the css-loader
[code]

Code of the custom downstream loader processing the svg (and its query parameters):
[code]

### Expected Behavior

Whe

[2020-01-27 13:57] evilebottnawi commented on #1048
Please provide configuration, you can setup loader before `css-loader` or create postcss plugin

[2020-01-27 14:02] aholtkamp commented on #1048
Nothing special about the loader configuration:

[code]

[2020-01-27 14:15] evilebottnawi commented on #1048
Thanks i will look at that in near future

[2020-01-28 16:30] evilebottnawi commented on #1048
Here the interesting use case, remember what `css-loader` convert `CSS` to `JS` what allow to use `CSS` inside `JS` files. Any `url` converting to `require`/`import`, let's investigate that.

Let's look on the specification - https://drafts.csswg.org/css-values-3/#urls.

According the specification developers can escape some characters in URL.

But when you use `require` you need use **real** file

[2020-01-28 16:30] #1048 closed

[2020-01-28 21:12] aleksandergorecki80 commented on #1030
Thanks aZolo77

[2020-01-30 12:04] aholtkamp commented on #1048
Thanks for the detailed analysis, I appreciate that.

[2020-01-31 10:19] evilebottnawi commented on #1047
I want to documented thath

[2020-02-04 08:32] radiocity commented on #978
For future use, if any one gets stuck to the same issue:
Try to delete `node_modules` folder and install dependencies again with `npm i`

[2020-02-11 12:10] ogonkov commented on #954
There is no way to get `utils.getLocalIdent` anymore? I used to have it for my custom ident logic, just wanted to tune it a bit, but keep whole other thing on defaults.

[2020-02-11 12:19] evilebottnawi commented on #954
Yes `utils.getLocalIdent` is private API and can be changed/improved in any time, you can copy/paste code

[2020-02-15 12:21] omar-dulaimi commented on #447
For me what caused this was installing dotenv-webpack and then uninstalling it without removing the lines that reference it like imports. Hope this helps someone. Setting both  node: { fs: 'empty'} and target: 'node' helped me find the the problem.

[2020-02-17 10:16] apexskier commented on #997
Might be related to https://github.com/webpack-contrib/css-loader/issues/561, which has a minimal reproduction.

[2020-02-17 18:39] joepie91 commented on #997
@apexskier That's a different issue, about imports not working *at all*. That has since been fixed, as far as I can tell.

The remaining issue is that specifically *composed* class names are not handled correctly, for which I've provided a reproduction in the initial report above.