[2017-09-23 19:47] radeno opened #614 "CleanCSS instead CSSNano"
**Do you want to request a *feature* or report a *bug*?**
Feature

css-loader using css-nano 3 as minifier. But css-nano has so many dependencies.
clean-css looks like solid alternative https://github.com/jakubpawlowicz/clean-css

Do you expect switch to version 4 in the future?

[2017-09-23 22:16] TrySound commented on #614
@radeno Dependencies means it's modular and every piece per one feature.  It doesn't mean cssnano is not solid. And still css-loader 1.0 won't have minifier out of the box, so you can prefer anything.

[2017-09-23 22:16] #614 closed

[2017-09-24 05:56] radeno commented on #614
You are right, css-loader can not minify css file. But it does now.
CSS nano is dependency hell. It uses many dependencies with different versions which not anyone want to use.

CSS-nano should be used within only with postcss settings (postcss.config.js file).
There could be an option to choose minifier. By my tests css-nano and clean-css are both solid. But i dont like css-nano tons of dependenc

[2017-09-24 10:24] TrySound commented on #614
@radeno You may say the same about any nodejs project. cssnano is a plugin pack, you should not care what it use under the hood. Same with babel, you can use presets which are just plugin packs with atomic plugins as dependencies.

[2017-09-25 01:19] NeekSandhu commented on #613
The cause of this behavior is the fact that turning sourceMaps on makes style loader switch from `style` tags to `link` tags with `href` set to `Blob` url of css.

But so what you ask? Its because `href`s are now treated as regular network requests, which are initiated **from bundle.js**, which means bundle.js loads, executes and renders content to document long before `css` is loaded (and painted

[2017-09-25 01:24] NeekSandhu commented on #613
As a side note, I'm working on new loader + plugin that aims to completely replace `style-loader`. I started this because the pain you described. This new loader + plugin allows source maps while not causing the flicker.

It does so by *not* injecting css at runtime but instead at compile time using `HTMLWebpackPlugin` and it also listens for hot updates once loaded. I'll add a link here once its

[2017-09-25 03:45] Aqours commented on #613
Thanks for your answer.
I read source code of style-loader. I found style-loader always use `<style>` tag when `options.singleton: true`, which can resolve this issue temporary.
And I'm joyfull expecting your new loader + plugin.

[2017-09-25 03:49] NeekSandhu commented on #613
I have strong feeling that `<style>` tags don't play well with source maps. I might be wrong, let me know if
I am 😜.

[2017-09-25 03:54] Aqours commented on #613
😂yeah, sourcemap has no effect when css injected by `style` tag.

[2017-09-26 08:55] NeekSandhu commented on #613
@Aqours As promised the plugin is now live at https://github.com/chipto/css-visor

Please give it a shot and file any issues you run into. It's just a start of new horizons.

[2017-09-27 08:12] Aqours commented on #613
It works.
Sometimes, I want to debug single JavaScript file by proxy online. In this condition, this plugin is not suitable.

[2017-09-27 08:14] NeekSandhu commented on #613
Do you mind sharing minimal setup to reproduce that issue?

[2017-09-27 08:18] Aqours commented on #613
😄Don't mind. It's not an issue.

[2017-09-28 09:12] evilebottnawi commented on #613
@Aqours can we close issue?

[2017-09-28 11:11] #613 closed

[2017-09-28 15:48] edmorley opened #615 "Missing quotes in url() for data URIs returned from another loader"
Hi!

**STR:**

Using node 8.5.0:

1. Clone https://github.com/edmorley/css-loader-missing-quotes-testcase
2. `yarn install`
3. `yarn build`
4. Inspect `dist/styles.bundle.css`

**Expected:**

[code]

**Actual**

[code]

ie: Including the data URI inline in the CSS file works fine (thanks to the fix in #15), however when the resource is `url('./svg-data-uri.txt')` and so processed by another loader

[2017-09-28 15:52] edmorley commented on #615
Just fixed a typo: the prior fix for the inline data URI case was actually #15 not #14.

[2017-09-28 17:13] Origslammer1 commented on #253
Solved: Had similar problem needed to to import bootstrap template into css from scss see below:
@import "vendors/_bootstrap.scss";
body{
	padding-bottom:50px;
}
The folder vendors has to be in the same directory as the scss file for it to work

[2017-09-28 20:57] Maxdola opened #616 "Can't Load CSS."
Hi, I am using React combined with Electron and as css I am trying to use bootstrap css, but when I try to import it it always fails.

index.js :
`import styles from 'bootstrap/dist/css/bootstrap.css';

import React from 'react';
import { render } from 'react-dom';
import App from './components/App';

// Since we are using HtmlWebpackPlugin WITHOUT a template, we should create our own root node in

[2017-09-29 11:50] yinshipeng opened #617 "Module build failed: Syntax Error (5:1) Unknown word"
ERROR in ./~/css-loader!./~/sass-loader/lib/loader.js!./~/postcss-loader/lib!./~/extract-text-webpack-plugin/loader.js?{"omit":1,"remove":true}!./~/vue-style-loader!./~/css-loader?{"minimize":true,"sourceMap":true}!./src/assets/css/index.css
Module build failed: Syntax Error

(5:1) Unknown word

  3 | // load the styles
  4 | var content = require("!!../../../node_modules/css-loader/index.js?{\"mi

[2017-09-29 12:03] evilebottnawi commented on #617
@yinshipeng seems you have invalid configuration, please provide your `webpack` configuration, thank you!

[2017-09-29 12:11] yinshipeng commented on #617
I just configured the CSS - loader, the file with the suffix called CSS.
`{
            test  : /\.css$/,
            loader: 'css-loader'
        }`

[2017-09-29 12:15] yinshipeng commented on #617
`ERROR in ./src/assets/css/index.css
Module build failed: Unknown word (5:1)

  3 | // load the styles
  4 | var content = require("!!../../../node_modules/css-loader/index.js??ref--6-2!./index.css");
  5 | if(typeof content === 'string') content = [[module.id, content, '']];
    | ^
  6 | if(content.locals) module.exports = content.locals;
  7 | // add the styles to the DOM
  8 | var update = req

[2017-09-29 12:18] evilebottnawi commented on #617
@yinshipeng you need `style-loader` for `css` if you want to import in `js`

[2017-09-29 12:41] yinshipeng commented on #617
`{
            test: /\.css$/,
            loader:  ExtractTextPlugin.extract({ fallback: 'style-loader', use: 'css-loader' })
        }
`
`new ExtractTextPlugin({
        filename: utils.assetsPath('css/[name].[contenthash].css')
    })`

The same mistakes will be made~

[2017-09-29 13:20] evilebottnawi commented on #617
@yinshipeng please provide full webpack configuration or minimum reproducible test repo, thanks!

[2017-09-29 21:15] sgehrman commented on #585
Just got autoupdated to file-loader 1.1.0 and have to revert because of this incompatibility.  Please fix soon.

[2017-09-30 22:08] #616 closed

[2017-10-01 05:05] arjunkathuria commented on #581
willing to take this up, still around ?

[2017-10-02 19:46] engelen commented on #447
How should I go about solving this issue when importing an npm module that uses Webpack (i.e., when importing an npm module that imports a package that yields this problem)?

To add some clarity: say I've create two npm modules, both using Webpack. Let's call them module A and module B.

Module A imports `require`, which yields this error. Thus, in `webpack.config.js` of module A, I add:
[code]

M

[2017-10-03 09:11] sgehrman commented on #585
file-loader 1.1.4 fixed the issue.

[2017-10-03 09:38] evilebottnawi commented on #585
@sgehrman yep, thanks

[2017-10-03 09:38] #585 closed

[2017-10-05 07:01] tiserge2 commented on #352
@vikashpisces thanks guys! it works fine for me after doing it as you said

[2017-10-05 13:37] maciej-gurban commented on #226
Copied from https://github.com/webpack/loader-utils:

* `[ext]` the extension of the resource
* `[name]` the basename of the resource
* `[path]` the path of the resource relative to the `context` query parameter or option.
* `[folder]` the folder of the resource is in.
* `[emoji]` a random emoji representation of `options.content`
* `[emoji:<length>]` same as above, but with a customizable number

[2017-10-05 21:40] remcohaszing opened #618 "Add ability to export as es6 modules instead of commonjs"
**Do you want to request a *feature* or report a *bug*?** feature

**What is the current behavior?**

css-loader always outputs commonjs modules when `modules` is set to `true`.

**What is the expected behavior?**

To have the ability to output es6 modules instead.

**If this is a feature request, what is motivation or use case for changing the behavior?**

Let's say there is a file `main.js`:

[c

[2017-10-05 21:41] remcohaszing commented on #618
This would solve #612

[2017-10-05 22:09] michael-ciniawsky commented on #618
This is highly required and 'in progress', but won't likely happen anytime soon. See https://medium.com/webpack/the-new-css-workflow-step-1-79583bd107d7 for more info on this topic :)

[2017-10-05 22:09] #618 closed

[2017-10-05 22:11] michael-ciniawsky commented on #618
All whole ecosystem e.g `url/file-loader, style-loader, extract-text-webpack-plugin` would break and there are other downsides to the current approach taken by `css-loader`  anyways

[2017-10-09 04:06] silaike opened #620 "import absolute path files failed when use css modules"
**Do you want to request a *feature* or report a *bug*?**
bug.

**What is the current behavior?**
import absolute path files failed when use css modules.
`Module not found: Error: Can't resolve '~img/logo.png'`

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

[code]

[code]

[code]

**What is the expected behavior?**
it works fine without css modules mode.

**P

[2017-10-10 07:39] knaos commented on #124
Is this issue fixed yet?

[2017-10-10 11:30] swxy commented on #295
Spent hours, I just fixed it..shit...when using the vue-cli `webpack`template， the dev webpack config file (`build/webpack.dev.conf.js`) line 16-18 ：
[code]
replace with config like:
[code]

the whole `build/webpack.dev.conf.js` is:
[code]

[2017-10-10 17:22] Pawlarius opened #621 "Error: Module build failed: Unknown word (5:1)"
This only happens when i tried to run unit test..
I'm using "css-loader": "^0.28.7"

ERROR in ./node_modules/css-loader!./node_modules/vue-style-loader!./node_modules/css-loader?{"minimize":false}!./src/assets/css/main.css
Module build failed: Unknown word (5:1)

  3 | // load the styles
  4 | var content = require("!!../../../node_modules/css-loader/index.js?{\"minimize\":false}!./main.css");

[2017-10-11 08:15] evilebottnawi commented on #621
@Pawlarius can you create minimum reproducible test repo?

[2017-10-11 12:19] outreal commented on #124
Does this issue also affect webpack 2 or 3?

[2017-10-12 11:21] zhanba commented on #355
so, for now, how to use @import when we use less-loader? Anyone know?

[2017-10-12 12:16] jhnns commented on #124
Nope, afaik it's not fixed. It's not directly related to webpack itself, but the way how the css loader works.

[2017-10-13 22:02] gulakov commented on #31
[code]

Then in your css/sass/less files you can do relative-to-root resource URLs like this.   `background-image: url(/assets/images/clockface.png) `

Note the  /  slash in the beginning. However, when you webpack config to root-resolve your imports you  declare it as   `import 'components/app.jsx` without the leading slash. Took me a bit to figure out this inconsistency

[2017-10-15 12:24] stereokai commented on #455
Would love a solution for this.

[2017-10-16 13:51] seitensei commented on #535
Looks like `cssnano`'s `post-css` dependency has been updated to 6.0. Is anyone working on this?

[2017-10-16 14:08] evilebottnawi commented on #535
@seitensei wait when https://www.npmjs.com/package/cssnano release `4.0.0` stable version

[2017-10-17 13:29] lcsrinaldi commented on #589
Is this considered an inconsistency? I wish I could fix this.

[2017-10-17 17:51] lcsrinaldi commented on #436
Any futher improvement on this issue?

[2017-10-18 00:38] MagicDuck opened #622 "css sourcemap sources should be namespaced"
**Do you want to request a *feature* or report a *bug*?**
bug/feature

**What is the current behavior?**

The css-loader doesn't put it's stuff under `webpack://` as far as I can see: https://github.com/webpack-contrib/css-loader/blob/master/lib/loader.js#L117
![image](https://user-images.githubusercontent.com/95201/31695733-3b060d4a-b361-11e7-9822-1e38c9da22ce.png)
(Ignore some of the weird absol

[2017-10-18 00:40] MagicDuck commented on #622
Also wanted to mention that I find it kind of weird that when the dev searches in the devtool, one of the matches for "foo.css" is actually the code produced by the `style-loader` (and the other by the `css-loader`). The  regular dev shouldn't care about those. Is there a way to turn those off?

[2017-10-18 09:40] evilebottnawi commented on #436
@lcsrinaldi please provide minimum reproducible test repo, thank you!

[2017-10-18 18:25] lcsrinaldi commented on #436
@evilebottnawi sorry, I don't know how to provide you with that. Isn't the issue already specified by other comments?

[2017-10-19 10:00] RRmallaP commented on #410
Hello, I am still having this issue. In angular 4 application, when built in production mode, quotation mark is kept if there are two spaces in the path but with one space, quotation mark is removed . For example,
before `ng build  --prod` the background-image property looks like this:
[code]
after `ng build --prod`, this is what I see in the browser:
[code]
Am I missing something here?

[2017-10-19 10:13] evilebottnawi commented on #410
@RRmallaP which version `css-loader` are you?

[2017-10-19 16:46] mkMoSs commented on #617
I have the exact same issue
[code]

Here's my webpack config (3.5.0 is used) through laravel-mix:

[code]

package.json dependencies:
[code]

I'm trying to use react-toolbox (Material UI components) which requires postcss and I'm unable to make it work. I have no clue where the issue lies, however it seems it's a problem with either css-loader or style-loader.

[2017-10-19 16:54] mkMoSs commented on #621
I have the same issue, although it's not during unit testing, is while I try to build it.  #617

[2017-10-19 19:15] FreeMasen opened #623 "loader fails on watch only: Module build failed: Unknown word (5:1)"
I have been looking over the issues here (closed and open) as well as stack overflow questions related to this error however none of these solutions have helped.

One of the most confusing parts about this is that most of what I can find related the the error message are consistent while my problem only happens when I use the --watch flag (a normal webpack build will work with no issue).

I have b

[2017-10-20 09:33] evilebottnawi commented on #617
@mkMoSs create minimum reproducible test repo, thank you

[2017-10-20 15:16] RRmallaP commented on #410
@evilebottnawi Its version 0.28.7

[2017-10-20 19:08] mkMoSs commented on #617
@evilebottnawi I have created a minimal repo that reproduces the bug.
https://github.com/mkMoSs/css-loader-bug

[2017-10-21 12:12] mkMoSs commented on #623
I have same issue #617, not limited to watch only though. I made a minimal repo that replicates the issue: https://github.com/mkMoSs/css-loader-bug

This is a major problem since it doesn't allow me to use libraries like react-toolbox, that depends on css-loader for my project.

[2017-10-23 23:12] codeaimh commented on #352
guys how I know if I have a duplicated loader?

[2017-10-24 05:11] #51 closed

[2017-10-24 07:21] just-boris commented on #51
I can confirm. The feature is available at least since Webpack `3.5.1` with is currently used in Create-react-app.

[2017-10-24 10:12] DataTables commented on #51
@just-boris - I don't see `css-loader` in the [create-react-app dependencies](https://github.com/facebookincubator/create-react-app/blob/master/package.json). I'm trying to get it working and if they are using it, I might be able to follow along as an example.

@d3viant0ne - Could you possibly confirm why this was closed? Has it been implemented now - I don't see anything in the recent commits rel

[2017-10-24 10:28] frenzzy commented on #51
@DataTables
css-loader in create-react-app: https://github.com/facebookincubator/create-react-app/blob/54f7da9bb92f0c809fb24c7f22d7457acbfe851f/packages/react-scripts/package.json#L33

style field usage example: https://github.com/necolas/normalize.css/blob/73b6b0c7e8690ab5005bca9d7e13d3fb319c98ac/package.json#L6

[2017-10-24 18:16] kayneb commented on #615
This is affecting us too. Looks like `url-loader` should be wrapping this kind of string in quotes, if not all URLs in quotes.

[2017-10-25 08:38] tomchentw commented on #326
@TrySound @michael-ciniawsky ran into this issue today and I'd like to help!

Is there any suggestions on how I could help into this?

[2017-10-25 11:00] TrySound commented on #326
@tomchentw
[code]

[2017-10-25 14:18] tomchentw commented on #326
@TrySound after a few thoughts I think it's not currently possible given `css-loader` is just a loader of webpack. It doesn't know the whole picture of the app until webpack links them (but that's the runtime part). Unless we apply the same methodology of ES module tree shaking to CSS-modules, this can't be done solely in the `css-loader`.

Is this what you're trying to say?

[2017-10-26 12:50] burtyish commented on #89
I see this effect when I'm using css-loader for ExtractTextPlugin. I've even tried to disable minimizing, but the keyframe names are still minimized to `a`.

[code]
webpack 2.7.0
css-loader": 0.28.7

I've been working on this problem for hours now. Would love to hear if anyone has any helpful tips.

[2017-10-27 11:53] fend25 opened #624 "HMR with css modules reloads page, unless dummy function in accepts"
I want to report a bug.

#### Current behaviour
When the loader is configured with `{modules: true}`, any change of css file causes page reload, not css hot replacement. The app is running on webpack-dev-server.

#### Steps to reproduce
I made a repo: https://github.com/fend25/css-modules-hot-reload-test
steps:
1. git clone
2. yarn
3. npm start
4. change `src/styles.css` file (for example, change

[2017-10-28 21:00] inferusvv opened #625 "Syntax Error if @import was commented"
Hello!  If found that it is impossible to comment an import.

My code:

[code]

When I run build - I am getting an error:

[2017-10-28 21:02] #625 closed

[2017-10-30 05:12] kopax commented on #338
I have the same issue when trying to build in webpack tinymyce :

[code]

How did you guys solve it ?

[2017-10-31 11:27] lnhrdt commented on #589
Yes, it definitely is. I believe this also may be the cause of some confusion in issues like #12.

[2017-10-31 11:34] lnhrdt commented on #436
Hello @evilebottnawi! @jantimon produced a testable repo in #589. I see you commented there but the conversation stalled. Can you take another look?

[2017-10-31 12:31] kgram commented on #615
This is definitely an error on css-loaders part. At the moment, quotes are stripped unless there is a space in the url, but the rules for valid URLs are more complicated than that. To quote [the spec](https://drafts.csswg.org/css-values-3/#urls):

I think the correct approach would be to escape the URL when injecting it by escaping and wrapping the result of the require-call.

I'll try to put a pu

[2017-10-31 13:18] evilebottnawi commented on #615
@kgram PR welcome

[2017-11-01 12:14] PedroEsperanca opened #628 "Way to skip localIdentName on files from node_modules"
I'm looking for a way to not `localIdentName` files `@imported` from **node_modules** with **css-loader**.

[2017-11-01 19:46] timbur opened #629 "HMR not detecting changes to existing classes"
Basically...

[code]

This problem started when I upgraded from `webpack` 1 to 3, `css-loader` 0.23 to 0.28, `postcss` 5 to 6, and `postcss-loader` 0.8 to 2.

[2017-11-03 06:06] xywai1993 commented on #617
I have the same problem。Very helpless。

webpack.prod.js

`module:{
        rules: [
            {
                 test: /\.css$/,
                 use: ExtractTextPlugin.extract({
                    fallback: "style-loader",
                     use: "css-loader"
                 })

             }
        ]
    },
    plugins: [
        new CleanWebpackPlugin(['dist']),
        new webpack.Defi

[2017-11-03 22:04] Dygerati commented on #617
Same issue here, tried a few different config's to no avail.

Console output:
[code]

webpack.config.js
[code]
And the include:
[code]

In package.json:
[code]

[2017-11-03 22:17] michael-ciniawsky commented on #617
@Dygerati

[code]

[2017-11-03 23:41] Dygerati commented on #617
Thanks @michael-ciniawsky, although I tried that as well and just get a different error:

[code]

[2017-11-03 23:47] michael-ciniawsky commented on #617
You need setup a loader for images

[code]

or disable asset resolving in `css-loader`  via `options.url = false`

[2017-11-03 23:54] Dygerati commented on #617
Welp, that did it. Looks like I got lazy and didn't read the error in detail. Thanks!

[2017-11-05 03:32] tomasdev commented on #455
Alternatively, what would be a resolver-for-not-founds-loader look like? all I found in docs, is mapping requests filenames to different filenames, not to sources themselves (meaning one could do `module.exports = '';`)

[2017-11-05 05:09] oyeanuj commented on #256
@evilebottnawi @d3viant0ne Is there a recommended solution for this problem given that the thread has many different possible solutions? What is the recommended way of using local images as background image urls?

[2017-11-06 13:41] max-mykhailenko commented on #628
I have the same problem. How to resolve it in the smart way without duplicating loaders for different scopes?

[2017-11-06 17:36] xywai1993 commented on #617
hello, @evilebottnawi  , The following case will present this problem
`npm run build`

https://github.com/xywai1993/demo/tree/master/webpack%E5%AD%A6%E4%B9%A0

[2017-11-08 09:58] SerikDM opened #630 "Flexible url resolving behavior"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
urls are resolved or not. one global flag via config.

**What is the expected behavior?**
allow some urls to pass unresolved:
url(media/image.jpg')
url(./media/image.jpg')
url(/media/image.jpg')

some prefix would be great:
url(!/media/image.jpg')

**If this is a feature request, what is motivation

[2017-11-08 16:16] mschipperheyn commented on #272
@TrySound there should be an easy way to locally force [local] indent naming (prevent processing). seems to be that a `:global { }` around pieces of css code would be the ideal approach for that.

[2017-11-08 16:29] mschipperheyn commented on #193
@jopdeklein

That doesn't seem to be the case.
[code]
class1 and class2 are processed as local

[code]
is illegal

[code]
is just an evil plot to make life as hard as possible

[2017-11-09 12:41] affanshahid opened #631 "Error: File not included into executable"
Using `figlet` in my app, throws the following error on running the compiled exe:

[code]

I can't seem to figure out which blob pattern would make this work.

The following example should be enough to trigger this:

[code]

[2017-11-10 02:36] michael-ciniawsky commented on #631
Wrong repo ? ¯\_(ツ)_/¯

The `figlet` module seems trying to read a file

does `textSync` accept a `{String}` ?
Maybe it needs a `filepath` instead ?

Anyways please consider consulting their docs :D

[2017-11-10 02:36] #631 closed

[2017-11-10 12:19] salmanm commented on #155
Practically it doesn't seem possible with external css files. In javascript, the compiled code gets something like

`module.exports = __webpack_require__.p + "images/my-img.svg";`

But in css file, this is obviously not possible. :(

[2017-11-11 15:01] affanshahid commented on #631
Completely wrong repo, apologies! Must not have been paying attention when I wrote this.

[2017-11-13 10:41] aaronatmycujoo opened #632 "Breaking postcss-cssnext variables"
I have the following configuration where I have an EventInfoCard. When it's in a preloading state, it renders a different component that inherits a lot of CSS from the parent. I am using `postcss-cssnext` variables and this composes function does not seem to play nicely with it.

`EventInfoCard.css`

[code]

`EventInfoCardPreloading.css`

[code]

Although now it seems to be bringing in the EventIn

[2017-11-13 12:09] michael-ciniawsky commented on #632
**EventInfoCardPreloading.css**
[code]

**postcss.config.js**
[code]

**webpack.config.js**
[code]

[2017-11-13 12:09] #632 closed

[2017-11-13 13:20] aaronatmycujoo commented on #632
Many thanks for sharing this config, although I am still running into the same issue. I have even removed partial-import.

[code]

[code]

And from this screenshot you can see I am still running into the issue: https://imgur.com/a/Qb4NM

[2017-11-13 13:29] anzcarroll commented on #38
@oscaroceguera where did you put this? what location in what file? this is the exact issue I am having.

before :You may need an appropriate loader to handle this file type.SyntaxError: Unexpected character '�' (1:0)it worked!

after apply:{ test: /.(png\|woff(2)?\|eot\|ttf\|svg)(?[a-z0-9=.]+)?$/, loader: 'url-loader?limit=100000' }
--

[2017-11-13 13:53] ahmadalfy commented on #38
@anzcarroll  When you get that error try stopping webpack and run it again

[2017-11-13 14:03] michael-ciniawsky commented on #632
[code]

[2017-11-13 14:19] aaronatmycujoo commented on #632
It works without the `composes` in the Preloading component, but I also swapped it out for this syntax and it doesn't work also.

So just to confirm, removing the `composes` it compiles fine. What seems to be happening is that the EventInfo css is being brought into the file above the EventInfoPreloader css and it is not being transformed by css-next. I still see all the flex definitions, nesting,

[2017-11-13 22:22] mnpenner commented on #282
Please fix 😢 This has been plaguing me for over a year now.

[2017-11-14 06:58] michael-ciniawsky commented on #632
You won't need `composes` if you pass all variables to `postcss-custom-properties`, so they are always 'globally' (available to all files/modules)

1. Using CSS Modules should remove any Cascading Issues (Order)
2. Do you still use `@import` for common CSS (helpers/base styles) ? (You also missed the `importsLoaders` option)

**webpack.config.js**
[code]

**file.css**
[code]

### `without importLo

[2017-11-14 08:16] aaronatmycujoo commented on #632
Just a heads up, `importLoaders: 1` fixed the issue: https://imgur.com/a/QAnmy So thanks!

The idea was not to use variables in different files, is was that the component that shows the preloading state needs to look like the original component so it should compose a lot of styles from it. The styling of the thumbnail for example is one.

This is the EventInfoPreloading CSS:

[code]

I have remove

[2017-11-14 10:16] leegee commented on #447
Same problem - why is this issue closed? Should I 👍 a different issue?

[2017-11-14 13:27] AllainPL commented on #306
I'm not sure if there is any development on this (looks like no) but a workaround for now is to
wrap `.parent` selector in an additional `:global` but that requires modification to the imported sass.
[code]
A bit more explanation:
the sass starts with compiling your original case to this:
[code]
so the behavior of css-loader is technically correct.

On the other hand the workaround I provided is b

[2017-11-14 22:17] colin-c opened #633 "Unhelpful Error Message for Invalid Class Name"
## Summary

Error message emitted for invalid class name is very unhelpful.

The error appears to be emitted from a [different module](https://github.com/css-modules/postcss-icss-composes/blob/45adcfb557a81ab9f5012bbfd93f5ef1d74a37a3/src/index.js#L19), but css-loader should probably check the validity of rules first and spit out a more helpful error message for debugging.

### Reproduction

* Writ

[2017-11-16 06:29] rosethorn999 commented on #38
I add the rule by zyxneo into webpack.config.js and redo
`npm run dev`
It's fixed! Thank!

[2017-11-16 08:54] RuBAN-GT commented on #571
@Tux1, Hello! I have similar problem for webpack 3 aliases and last css-loader with modules mode. Did you find any solution for this issue?

[2017-11-16 21:56] aczekajski commented on #306
I suggested a missing feature in SASS which will resolve the case:
https://github.com/sass/sass/issues/2401

You can comment there to get their attention to the use-case.

[2017-11-20 07:58] wanliyunyan opened #634 "Who can help me,“localIdentName” does not work in my code,I do not know why"
in my .tsx file,
 `import "./BasicLayout.less";`
[code]
in my webpack,
`

        test: /\.less$/,
        use: ExtractTextPlugin.extract({
          use: [{
            loader: 'css-loader',
          }, {
            loader: 'less-loader',
          }],
          fallback: 'style-loader',
        }),
      }

`
in my .less file

[code]

now ,**these code can work normally,but if i want to use "l

[2017-11-20 10:35] gaponenkodv commented on #617
I have a similar problem
` ERROR in ./node_modules/css-loader!./ClientApp/scripts/scss/material.scss
    Module build failed: Unknown word (530:29)

      528 |
      529 |     @each $key, $val in $colors {

               |                                          ^
      531 |             + label {
      532 |                 &:before {
      533 |                     border-right: 2px solid $va

[2017-11-20 12:02] d3viant0ne commented on #634
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support though you may also inquire in [Webpack Gitter](https://gitter.im/webpack/webpack). The issue tracker is for bug reports and feature discussions. See also our CONTRIBUTING guidelines.

[2017-11-20 12:02] #634 closed

[2017-11-20 12:20] michael-ciniawsky commented on #634
[code]

[2017-11-20 12:43] jeezlee commented on #628
same problem

[2017-11-20 14:37] Chuvisco88 commented on #410
I'm having the same issue

[2017-11-21 01:37] wanliyunyan commented on #634
@d3viant0ne thanks！I am a noob, did not really understand the issue......

[2017-11-21 01:40] wanliyunyan commented on #634
@michael-ciniawsky thanks！

[2017-11-21 09:38] aronwoost commented on #611
Just to wrap this up. I made it work in [this commit](https://github.com/aronwoost/webpack-css-loader-import-test/commit/bc1d76b1b47e88311eafdfa1c10e0b3935618561) using `postcss-import`.

[2017-11-21 09:38] #611 closed

[2017-11-22 17:42] webpack-bot opened #635 "Wrong paths for css source maps"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Source maps for scss files produced by webpack contains duplicate parts like `C:\...C:\...\some-file.scss`.
I'd like to use relative paths but I can't understand why webpack use absolute paths for css files.

**If the current behavior is a bug, please provide the steps to reproduce.**
There is my loade

[2017-11-22 18:21] kevinbeal commented on #447
I got this problem because I ran: `webpack webpack.config.js` rather than `webpack --config webpack.config.js`. It bundled webpack itself and it took *forever* to bundle.

[2017-11-24 03:28] xu-oliver commented on #617
a similar problem ! Has anybody finish ?

`ERROR in ./node_modules/css-loader!./public/stylesheets/style.css
Module build failed: Unknown word (1:1)

    | ^
  2 | // imports
  3 |
  4 |

 @ ./public/js/entry.js 2:0-46
 @ multi public/js/entry.js ./public/js/entry.js bundle.js`

[2017-11-24 03:31] xu-oliver commented on #617
Just only css-loader , this css-loader & style-loader

`ERROR in ./node_modules/css-loader!./node_modules/style-loader!./node_modules/css-loader!./public/stylesheets/style.css
Module build failed: Unknown word (5:1)

  3 | // load the styles
  4 | var content = require("!!../../node_modules/css-loader/index.js!./style.css");

    | ^
  6 | // Prepare cssTransformation
  7 | var transform;
  8 |

[2017-11-27 01:28] Liwoke commented on #18
**hi，this is the error i meet,someone can help me?**

WARNING in ./src/assets/logo.png
Module parse failed: Unexpected character '�' (1:0)
You may need an appropriate loader to handle this file type.
(Source code omitted for this binary file)
 @ ./src ^\.\/(?!main(\.js)?$)
 @ ./test/unit/index.js
27 11 2017 08:56:29.940:INFO [karma]: Karma v1.7.1 server started at http://0.0.0.0:9876/
27 11 2017 0

[2017-11-27 18:57] MrSaints commented on #272
I just encountered a similar issue. To adopt the above example, if I did:

[code]

I noticed the external styles are _hoisted_ out of the wrapper. Any idea why that might be happening?

_That is:_

[code]

[2017-11-27 19:20] TrySound commented on #272
@MrSaints because this behaviour was never allowed. Nobody said it should work.

[2017-11-29 19:43] sachetsharma1 commented on #535
Is there a timeline for this?
we are using css-loader@0.28.7 and postcss-loader@0.28.7 with webpack. On windows machine we run into the following issue :
Module build failed: ModuleBuildError: Module build failed: TypeError: WeakMap: incorrect
 at Module.load (module.js:458:32)
    at tryModuleLoad (module.js:417:12)
    at Function.Module._load (module.js:409:3)
    at Module.require (module.js:4

[2017-11-30 04:45] pillowfication opened #636 "Composing a class from a different file does not pass that class through `getLocalIdent`"
**What is the current behavior?**
Composing a class from a different file does not pass that class through `getLocalIdent`.

[code]

[code]

[code]

**What is the expected behavior?**
I expected the same behavior as I would get when I compose from the same file.

[code]

[code]

[2017-11-30 09:15] evilebottnawi commented on #535
@sachetsharma1 which nodejs version you use?

[2017-11-30 13:29] sachetsharma1 commented on #535
Node@6.3.0
NPM@4.6.1

Note: post-css-loader version is 2.0.6. I mentioned the css-loader version in both in above comment.

[2017-11-30 14:34] abimelex commented on #250
For me it was just a forgotten semicolon at the end of a nested block. It worked in dev mode but failed during minification on production.
`
.className {
    padding: 3px;
    margin: 0 10px /*note the missing semicolon in this line*/

    subClass {
        margin: 0;
    }
}
`

[2017-11-30 14:42] loopmode commented on #250
I guess what we all would appreciate is better description of what went wrong, when it goes wrong..

[2017-11-30 14:50] evilebottnawi commented on #250
@abimelex known issue, need stable release `cssnano@4`

[2017-11-30 15:52] mihaiOD commented on #362
@wolmir this seems to be the actual fix for this! thanks!

[2017-11-30 17:35] amerllica commented on #406
@michael-ciniawsky , Why every developer used `hash:base64` used the minimum number 5, why I use 3 instead of 5 some class names made duplicated?

[2017-11-30 17:58] amerllica opened #637 "Min length of localIdentName hash name"
I use `localIdentName` in my webpack config file. I set the value as `[hash:base64:3]` but I saw all of developers configs. all of them used `[hash:base64:5]` or a number for length greater than 5.

Why anybody didn't use 3 or 2, and actually when I use 3 some class names after build has same name that this situation is not good at all. because all of my styles made very bad.

some kind developer

[2017-11-30 21:57] michael-ciniawsky commented on #637
https://en.wikipedia.org/wiki/MD5
https://github.com/webpack/loader-utils/blob/master/lib/getHashDigest.js#L47

You basically answered your question yourself already => `hash` collisions due to a lack of combinations possible with e.g `length =< 3`

Yes, you can pass a `{Function}` to generate your own `localIdentName` (I would avoid it)  or simply increase the `length` to be safer

[code]

[2017-11-30 21:57] #637 closed

[2017-12-01 08:47] amerllica commented on #637
Thanks @michael-ciniawsky  , I calculate the possibility of conditions, it is so simple, `base64` can has 64 characters:
[a-z][A-z][0-9][-,_] so with 3 we can has `64 x 64 x 64` conditions, it means `262144` class names!!

So why it can not generate unique names? with 3 there are many collision class names conflicts.

It make me confused, I studied applied mathematics in university so this situati

[2017-12-04 04:19] lzl124631x commented on #447
This bug is still happening. Haven't it been fixed yet?

[2017-12-04 15:31] alexandreannic commented on #447
I had this issue because i unintentionally imported Session from selenium-webdriver
`import {Session} from "selenium-webdriver";`

[2017-12-04 19:10] lzl124631x commented on #447
I had this issue when webpacking my app along with `urllib` which depends on `fs` and `child_process`, and luckily both of these two dependencies have this issue! I almost gave up on the lib, but this thread saved my life. Looking forward to resolving this issue.

[2017-12-07 12:09] kud opened #640 "sourceMap seems not to work with Firefox"
**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

- Set `sourceMap: true,`, open your project with Firefox

**What is the expected behavior?**

- Like on Chrome, it should display the right source file.

I've got this error on Firefox:

[code]

Is it because I didn't sourceMap `style-loader`? However, it works on chrome so…

[2017-12-07 12:15] kud commented on #640
Chrome:

![image](https://user-images.githubusercontent.com/655838/33714813-a15b9260-db50-11e7-920f-7dea494cead1.png)

Firefox:

![image](https://user-images.githubusercontent.com/655838/33714821-a8d18e14-db50-11e7-9085-2bacda3a0adc.png)

[2017-12-07 14:44] kud commented on #640
I've decoded the sourcemap given, this is the result:

[code]

[2017-12-07 15:03] evilebottnawi commented on #640
@kud can you create minimum reproducible test repo?

[2017-12-07 15:05] kud commented on #640
I'll give a try when I've got time, yes. :)

[2017-12-07 20:13] chebotarevmichael commented on #38
Кто пояснит, в какой именно  файл это вписать? Какой именно конфиг??

[2017-12-08 11:00] sureshokp commented on #447
Error on fetch for node_modules/angular2-notifications/src/simple-notifications.module.js at file:///D:/GIP/IMAGE PILOT/gipfe/node_modules/angular2-notifications/src/simple-notifications.module.js Loading build/tmp/aot/src/app/app.module.ngfactory.js Loading build\boot-aot.js Error: ENOENT: no such file or directory, open 'D:\GIP\IMAGE PILOT\gipfe\node_modules\angular2-notifications\src\simple-not

[2017-12-08 11:05] evilebottnawi commented on #546
@gkatsanos problem still exists? If yes please create minimum reproducible test repo, thank you!

[2017-12-08 11:06] evilebottnawi commented on #629
@timbur can you create minimum reproducible test repo?

[2017-12-08 11:15] #546 closed

[2017-12-08 11:28] evilebottnawi commented on #621
@Pawlarius what tests do you mean?

[2017-12-09 14:21] plexigras commented on #506
i saw @michael-ciniawsky talked in april about plans for better css-module loading, did anything come of it?

[2017-12-11 03:02] joshanderson99 opened #643 "CSS modules being imported globally"
Hi,
I'm using this syntax to import styles:

`import myStyles from 'file.css'`

but it seems the loader is processing the css file as a normal non-modularised css file and making the style definitions global.  Any style in `file.css` is applied globally.  My understanding of css modules is that isn't supposed to happen, or else how is there a means to localise styles.  Any ideas as to why this is

[2017-12-11 03:50] michael-ciniawsky commented on #643
Could you aswell post the CSS (Result) please? Does this also happen without setting a custom `localIdentName` (`options.localIdentName`) and just `options.modules =  true` ?

[2017-12-11 04:43] joshanderson99 commented on #643
I've created a simple example below, in a button's text is coloured green.  The button style is imported but not applied explicitly to the button.  The button however is green, which implies the import has been applied globally.

**styles.css**
[code]

**app.js**
[code]

**result**
![screenshot from 2017-12-11 14-09-41](https://user-images.githubusercontent.com/32922283/33815440-18914f58-de7d-11e7

[2017-12-11 04:53] michael-ciniawsky commented on #643
CSS Modules don't work for/with 'native' selectors like

[code]

you need to use a `.class`  selector

[code]

[2017-12-11 04:53] #643 closed

[2017-12-11 05:01] joshanderson99 commented on #643
Okay, thanks for your speedy response and for clarifying that matter.

[2017-12-12 11:25] shirakaba opened #644 "Camel case for characters after numbers inconsistent with that emitted by typed-css-modules"
## Current behaviour

My CSS class `.border_radius_4px` is becoming exposed in webpack in camelCase as `borderRadius4Px`. However, the `typed-css-modules` project that adds typings to my CSS files so that I can auto-complete their import names produces a subtly different camel-case name `borderRadius4px` (with a lower-case 'p' at the end). As a result, the TypeScript compiler throws no errors, yet

[2017-12-13 09:53] ZeeCoder opened #645 "Custom module export support"
I'm not sure if I'm opening this issue at the right place, but I'm not certain where else could I address this issue.

**My goal**
I wanted to make a custom loader, that would allow me to import some statistics from a css file, like so:
`import stats from 'MyComponent.css';`
This setup would also involve style-loader and css-loader so that my css is injected in the browser.

**The issue**
It seems

[2017-12-13 10:18] michael-ciniawsky commented on #645
It is possible, but I need to triage the use case for custom CSS exports first before consider adding it `css-loader` directly. Checkout #642 for how you can do this with PostCSS && Plugins.

**css-meta-loader**
[code]

[code]

What kind of stats (metadata) you intend to include and where does it come from/how is it generated ?

[2017-12-13 10:33] ZeeCoder commented on #645
That's how I thought it'd work.
The problem is that the style-loader that injects the styles actually looks for the css-loader's
`locals` specifically, and only exports that as default:
https://github.com/webpack-contrib/style-loader/blob/master/index.js#L26

Nothing else gets through.

I'm not actually sure if the css-loader itself respects exports made by previous loaders on the same source.
I m

[2017-12-13 11:21] michael-ciniawsky commented on #645
locals specifically, and only exports that as default:

Yep correct, this will change in `style-loader >= v1.0.0`, but how exactly isn't set in stone yet. Intended is

[code]

So  in theory there could be other (custom) named ESM exports, unrelated to CSS Modules (`locals`)

[code]

Currently I'm working on the long outstanding ESM upgrade of the CSS related loaders and a few things will likely ch

[2017-12-13 14:03] ZeeCoder commented on #645
Lots of interesting thoughts!

## loader-exports
I like where things are going with this. But it's important we avoid potential name-collisions.
With the approach you described, the named "container" export is exported by the css-loader, which means it would export all classnames in the same fashion.
That would mean that other loaders now cannot use "container" and any other named exports that mig

[2017-12-13 15:43] Root-Core commented on #571
@RuBAN-GT it seems that you have missed the style extensions in you resolve config.
But it seems impossible to me to get the css-loader working with `webpack.resolve.alias`.

[2017-12-14 10:26] samayo commented on #447
The suggested answer does not work. Where is everyone even putting the fix `node: {fs: "empty" }` I have about. I have 4  webpack config files in `/config/` and which line? I tried putting it everywhere but no solution ..

[2017-12-14 10:31] sureshokp commented on #447
Before i installed typescript version

**`"typescript": "^2.3.3", // package.json`**

then i changed the typescript version

`"typescript": "2.3.3", //without cap symbol`

Now,error was not came and i took build successfully

try this

[2017-12-14 10:48] samayo commented on #447
Thanks. But I get this error now

I don't know why this issue is ignored

[2017-12-14 10:50] evilebottnawi commented on #447
@samayo can you provide link to this issue?

[2017-12-14 10:51] evilebottnawi commented on #447
And all who have this ~~bug~~ (solution: `fs: 'empty'`) please provide minimum reproducible test repo, thanks

[2017-12-14 10:53] evilebottnawi commented on #337
Inactive issue. Feel free to reopen if you still have problem. Thanks!

[2017-12-14 10:53] #337 closed

[2017-12-14 10:54] samayo commented on #447
I haven't created any issues for this yet. I just have the same issue as everyone else. There are certain libraries than when I install I get the same error as everyone else: `Module not found: Error: Can't resolve 'fs' in` last time I got that error I chose not to use the lib, and today I installed https://github.com/bpampuch/pdfmake/ and I got the error.

[2017-12-14 10:55] samayo commented on #447
Can someone share where exactly you are passing `fs: 'empty'`?

[2017-12-14 10:55] evilebottnawi commented on #447
@samayo
[code]

[2017-12-14 10:57] evilebottnawi commented on #447
@samayo you try to use library in browser which require `fs` or maybe other module(s) which inavailable in browser env. You should search `fs` polyfill or rewrite library to compatibility with browser env

[2017-12-14 11:38] samayo commented on #447
@christianvuerings Thanks. This is what I was looking for, sadly I am not using Karma. And I am not sure how to pass this or where... but it probably wouldn't work because I tried putting it everywhere

[2017-12-16 10:25] fgarcia opened #647 "Option to only hash first class selectors"
**Do you want to request a *feature* or report a *bug*?**

FEATURE

**What is the current behavior?**

All nested class selectors are hashed

**If this is a feature request, what is motivation or use case for changing the behavior?**

While prototyping I use this pattern a lot. My CSS files export a single root class selector like this

[code]

Then my JS component looks like this
[code]

Without

[2017-12-17 17:26] ZeeCoder commented on #645
To further demonstrate what I'm aiming for, I've made a prototype:
https://github.com/ZeeCoder/exporting-css-loaders

Hopefully it might kickstart further discussions?
@webpack-contrib-services @michael-ciniawsky

[2017-12-17 21:25] vgjenks commented on #447
Why is this issue closed? I just spent the last two days racking my brains, until I finally stumbled upon this bug report with a lucky combination of search keywords. The workaround seems like a really bad one. Will we see a fix?

[2017-12-18 04:37] tjvg91 commented on #447
I get an error like this:

`TypeError: fs.readFileSync is not a function`

[2017-12-18 09:09] evilebottnawi commented on #447
@vgjenks @tjvg91 please read **above**. Need minimum reproducible test repo. Thanks!

[2017-12-19 04:42] egeersoz commented on #256
I don't think this should have been closed. There is lots of confusion around the issue still, and no official recommended way to resolve it.

[2017-12-19 22:30] ZeeCoder commented on #645
@evilebottnawi , maybe? 😅
Not sure who to ping to have a discussion. 🤔

[2017-12-20 13:29] michael-ciniawsky commented on #645
@ZeeCoder Sry for the delay I didn't start to ignore this 😛, but I need to finish the exporting for CSS Modules (all related plugins with their `result.messages`) + `style-loader@next` + `css-loader@next` first to have something basically working (and maybe do an early alpha release for the loaders). I took a first glance at your example (which looks promising) and will take a deeper look when I'm

[2017-12-20 13:40] ZeeCoder commented on #645
Sure, thanks for the update @michael-ciniawsky  👍

[2017-12-20 18:49] nabilnaffar opened #648 "Feature request: CSS Element selectors local scope (encapsulation)"
Feature request: Support CSS elements selectors local scope

We're developing components library and we're looking for a way to locally scope CSS element selectors styles.
for example:
[code]
I want this style to affect only 1 component and not the whole buttons on the page of whoever uses it.

(the :local selector doesn't affect the button style encapsulation. )

Is there already a library/plugin

[2017-12-21 12:18] michael-ciniawsky commented on #648
Please reopen this in `css-modules/postcss-icss-selectors` instead, I will triage it there. Also `button` likely doesn't work since it isn't a `.class`. `button` => `.button`

[2017-12-21 12:18] #648 closed

[2017-12-21 22:16] bttf commented on #455
I believe a feature like this would address issues like https://github.com/tj/consolidate.js/issues/295 as well, in the case that a third-party lib determines which modules it uses at run-time and not build-time.

[2017-12-23 14:14] lndj commented on #256
https://github.com/vuejs/vue-loader/issues/481

[2017-12-26 12:33] OrlovEvgeny opened #649 "sass local className return undefined"
Use css-loader scope, why does the name of the file come to me in import, but not the cd?

AuthRIA.js file
[code]
print - /static/media/AuthRIA.bbac420a.sass

[code]
print - undefined

AuthRIA.bbac420a.sass file
[code]

My webpack conf file
[code]

[2017-12-26 12:54] OrlovEvgeny commented on #649
Need add /\.sass$/ mask
[code]

[2017-12-26 17:49] Amandarg commented on #447
Super annoying! None of the fixes work for me. And there's nothing to reproduce. just `require("fs")` causes the problem.

[2017-12-26 17:51] #649 closed

[2017-12-27 12:57] MargaretKrutikova commented on #38
In `webpack.config.js` in the section with `rules`. This is what works for me (slightly different from the proposed solution):
[code]
You also need to install `url-loader` for `webpack` with this command (if using `npm`):
[code]

[2017-12-28 02:35] Percapio commented on #447
[code]
The work-around allows us to run the webpack, but if our application needs to use FS for any reason, like write to file, the work-around is now a problem as FS no longer exists.

Does anyone have a different solution?

[2017-12-28 12:38] amireldor commented on #520
Is anyone working on this? How can I help? I'd really like this functionality.

[2017-12-28 13:05] evilebottnawi commented on #520
@amireldor yes, see https://github.com/postcss/postcss-loader/issues/227

[2017-12-28 14:58] jrencz opened #650 "Readme on `minimize` option should inform about actual dynamic default value"
**Do you want to request a *feature* or report a *bug*?**

Bug (documentation)

**What is the current behavior?**
In a table there's an entry saying that `minimize` is `false` by default:
https://github.com/webpack-contrib/css-loader/blob/d999f4a599b13e19d53fdd9fbd9a323fed7a101c/README.md#L102

**If the current behavior is a bug, please provide the steps to reproduce.**

The default value depends

[2017-12-29 06:36] yyman001 commented on #12
for js
[code]

[2017-12-29 11:02] rhysburnie commented on #12
@liuliangsir yes, thats the same as what I said, you've just phrased it differently

[2017-12-30 10:04] amerllica commented on #539
@damujiangr

this solution has issue in webpack product version. but in dev version is ok.

[2017-12-31 13:43] HelloKitty1991 opened #651 "first run is not include the css-base.js"
when I run my webpack first , There is not include the css-base.js , so , There is a error on the Browser console:
TypeError: Cannot read property 'call' of undefined
    at __webpack_require__ (lib.9119166….js:55)
    at Object._vm (admin.9119166….js:2742)
    at __webpack_require__ (lib.9119166….js:55)
    at Object.<anonymous> (admin.9119166….js:2719)
    at __webpack_require__ (lib.9119166….js

[2017-12-31 17:45] michael-ciniawsky commented on #651
This look s like a issue with `Vue` and `vue-loader`, please reopen the issue there instead

[2017-12-31 17:45] #651 closed

[2018-01-02 11:18] princyjain commented on #240
React-structured filter date type is working fine in local but not in server.the date picker picks date and creates a token but it doent happen in the server when built via jenkins.
I tried copying node modules but it din't compile.
node-version in local-8.2.1
npm version-5.3.0
in server
node version-6.2.0
npm version-3.8.9
I have changed the npm version to 5.3.0 but it din't work..
Please help..

[2018-01-02 14:45] jwldnr opened #652 "Weird source map paths when used together with sass-loader"
**Do you want to request a *feature* or report a *bug*?**
Bug report

**What is the current behavior?**
Wrong source map/resource paths using `css-loader` together with `sass-loader` as shown below:

**Examples of source map paths using the plugin**
The actual `app.scss` path is `./src/styles/app.scss`

![ex1](https://user-images.githubusercontent.com/11960421/34483589-cdf4a6da-efbf-11e7-8178-de67

[2018-01-03 10:07] mark-a-roberts opened #653 "css-loader fails on @webkit-keyframes in material-components-web.css"
In the material-components-web.css I have:

[code]

When running a build, I get the following error:

[code]

Any ideas?

    "css-loader": "^0.28.7",
    "webpack": "^3.10.0",
    "webpack-dev-server": "^2.9.7"

**dependencies:**

    "material-components-web": "^0.27.0",
    "rmwc": "0.0.1-rc12",

[2018-01-03 14:48] HuBinAdd commented on #243
[code]

[2018-01-03 17:50] dcatoday commented on #652
Hi I am seeing an issue using ~paths.  The path is returned without any deliminating /'s in the url.

[2018-01-04 16:20] mrkaspa commented on #447
@Percapio  add this
[code]

[2018-01-04 19:27] #615 closed

[2018-01-04 19:49] Vandivier commented on #447
@mrkaspa not only did your suggestion resolve my fs issue, I had other modules as well and it resolved all of them ('net' was one)

[2018-01-05 16:41] DostalTomas commented on #630
Hello, i've same problem. Adding this feature would be great.
BTW, could you recommend me some workaround for this case?

[2018-01-05 21:17] michael-ciniawsky commented on #630
This will happen in `v1.0.0` (#655)

[2018-01-06 15:25] amerllica opened #657 "Weird damn `:local` in `CSS` codes"
I simply declare a `key-frames`:

    @keyframes spinner {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

But in `CSS` file that `Webpack` made for me I see:

    animation: 1s infinite alternate :local(spinner)

What is `:local`???

I search and found some solutions but why it appear in css?

some of solution was, where I use th

[2018-01-08 05:01] michael-ciniawsky commented on #455
https://github.com/webpack-contrib/css-loader/pull/655

[2018-01-08 05:01] #455 closed

[2018-01-08 05:01] michael-ciniawsky commented on #538
https://github.com/webpack-contrib/css-loader/pull/655

[2018-01-08 05:01] #538 closed

[2018-01-08 05:01] michael-ciniawsky commented on #558
https://github.com/webpack-contrib/css-loader/pull/655

[2018-01-08 05:01] #558 closed

[2018-01-08 05:02] michael-ciniawsky commented on #604
https://github.com/webpack-contrib/css-loader/pull/655

[2018-01-08 05:02] #604 closed

[2018-01-08 05:02] michael-ciniawsky commented on #630
https://github.com/webpack-contrib/css-loader/pull/655

[2018-01-08 05:02] #630 closed

[2018-01-08 05:38] michael-ciniawsky commented on #645
https://github.com/webpack-contrib/css-loader/commit/0ee635dbb1fd79c21f0cd91678cf2ae5d3d22c1c#diff-1fdf421c05c1140f6d71444ea2b27638R116

### `Usage`

[code]

**webpack.config.js**
[code]

**file.js**
[code]

[2018-01-08 05:38] #645 closed

[2018-01-08 05:39] #621 closed

[2018-01-08 05:41] #617 closed

[2018-01-08 05:42] #74 closed

[2018-01-08 05:46] michael-ciniawsky commented on #647
Please reopen this issue in `css-modules/postcss-icss-selectors`  instead, I will triage it there. CSS Modules will be removed from `css-loader` soon (`v1.0.0`)

[2018-01-08 05:46] #647 closed

[2018-01-08 05:48] michael-ciniawsky commented on #628
Please reopen this in `css-modules/postcss-icss-selectors`  instead, I will triage it there since CSS Modules will be removed from `css-loader` soon. Maybe I can add a filter option for file paths within the plugin...

[2018-01-08 05:48] #628 closed

[2018-01-08 05:49] #545 closed

[2018-01-08 05:51] michael-ciniawsky commented on #547
CSS Modules will be removed from `css-loader` soon and get a redesign in terms of request resolving.
For the current README feel free to send a PR

[2018-01-08 05:51] #547 closed

[2018-01-08 05:58] michael-ciniawsky commented on #644
That's actually an issue between `camelcase` (`typed-css-modules`) && `lodash.camelcase` (`css-loader`). No clue what's the 'correct' way here, please reopen this is in `css-modules/postcss-icss-selectors` since CSS Modules will be removed from the `css-loader` soon and the current loader won't get a change like that as it is in 'maintenance' mode

[2018-01-08 05:58] #644 closed

[2018-01-08 06:05] michael-ciniawsky commented on #612
CSS Modules will be removed for 'css-loader` soon and become a separate plugin.

The `css-loader` will be able to export locals as **Named ESM Exports** in `v1.0.0`

[code]

[2018-01-08 06:05] #612 closed

[2018-01-08 08:09] tom10271 opened #658 "`font-display` cannot get compiled"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

    ERROR in ./node_modules/css-loader?{"minimize":true}!./node_modules/sass-loader/lib/loader.js!./web/styles/embed/myCss.scss
    Module build failed:
        font-display: swap;
       ^
          Invalid CSS after "    font-display": expected "}", was ": swap;"

**If the current behavior is a bug, ple

[2018-01-08 08:43] michael-ciniawsky commented on #535
#642

[2018-01-08 08:43] #535 closed

[2018-01-08 09:30] ZeeCoder commented on #645
I'll check it out as soon as I have some time, thanks for all the hard work. 🎉 👍

[2018-01-08 09:42] michael-ciniawsky commented on #645
Pending `css-loader@next` && `style-loader@next` release (1-2 days), so no hurry 😛

[2018-01-08 18:32] DawnWright opened #659 "v0.28.8 regression: Relative urls in @font-face throw exception `TypeError: url.replace is not a function`"
This bug was introduced in v0.28.8, and does not occur in v0.28.7 - it was introduced last week by https://github.com/webpack-contrib/css-loader/pull/627/

Repro:
Use a relative url inside a css `@font-face`, e.g.
[code]

RESULT: `css-loader` throws exception `TypeError: url.replace is not a function`:
[code]

Note, the URL is indeed a valid path, and I've confirmed that I get the appropriate `Mod

[2018-01-08 18:49] kenashcraft commented on #659
I have a related error, and reverting to 0.28.7 also fixes the problem.
[code]

@kgram, perhaps you have some ideas how to fix this?

[2018-01-09 04:18] dreki commented on #447
None of these suggestions have worked for my env. How is this not fixed?

[2018-01-09 05:08] franklin-ross commented on #659
Yup, seeing exactly this when upgrading v0.28.7 to v0.28.8. `Uncaught TypeError: url.replace is not a function` in `font-awesome.css`.

[2018-01-09 08:01] guoxiangwen opened #660 "How to exclude transfer some .less file ?"
1.webpack.config.js
[code]
2.index.less
[code]
it transfer antd.less so that can not use antd correctly

[code]
How should i do?

[2018-01-09 08:57] bartosz-szymanski commented on #447
Installing that package and saving solves problem, for example:
`npm install fs --save`

[2018-01-10 11:38] jeysty commented on #659
ERROR in ./node_modules/file-loader/dist/cjs.js?{"outputPath":"css/"}!./n
ules/extract-loader/lib/extractLoader.js!./node_modules/css-loader!./node
s/bootstrap/dist/css/bootstrap.css
Module build failed: TypeError: escape is not a function

[2018-01-10 14:45] Songworks commented on #652
Came upon the same today with having duplicate-ish paths in sourcemaps.
Here's the relevant loaders in my config (no ExtractTextPlugin and devtool as *source-map*):
[code]

To me it seems like `sass-loader` uses the style file path relative to the current working directory and `css-loader` uses that same path as just a filename (rather than considering it a proper path?) and prepends the absolute

[2018-01-10 14:58] jwldnr commented on #652
@songworks see https://github.com/webpack-contrib/sass-loader/issues/529
@evilebottnawi promised that he would have a look in the near future :mag_right:

[2018-01-11 12:22] ketabi commented on #145
You can use Promise: 'es6-promise' in your webpack config:
[code]

https://stackoverflow.com/questions/35769777/axios-ie-promise-doesnt-work/48203092#48203092

I had this in Android 4.x browsers and about using axios And Promise there.

[2018-01-11 21:11] kgram commented on #659
@DawnWright, could you expand on this part:

If that is the case, I made the escape-functionality in complete ignorance of it. What happens in  0.28.7? Wouldn't it just output `src: url([object Object]);`? Is there an easy way to reproduce it? Is this functionality documented anywhere?

@kenashcraft, @jeysty: I believe you are seeing a different issue, although I don't get how it could occur. It s

[2018-01-12 00:36] alimazrooei commented on #352
same here But I solve this shit with using `loader:'css-loader!style-loader'`
Blv me Don't Use `'use'`  instead u can use `'loader'` which is the keyword of the prev version of the weback and I think it's better than 'use'
I think it's because the css and style loader are not updated ...

[2018-01-12 00:43] alimazrooei opened #661 "ERROR in ./src/s.css Module build failed: Unknown word (5:1)"
Hey guys
I had a bug in my webpack running last night
And I understand what is that about
Look at the error :
[code]

it may seems bad but I use `"use"` keyword for loading loaders (cuz the loader key is deprecated and in the new version of the webpack we can use `'use'`)

And css and style loader have some problem with use keyword
It throw an error
But I tried with loader keyword it worked well

[2018-01-12 01:27] tom10271 commented on #658
Can anyone at least tell me which part of script contains the checking part so that I can solve it myself?

Thank you

[2018-01-12 01:43] #658 closed

[2018-01-12 03:54] ngyikp commented on #659
For me, this is caused by an incompatibility with extract-loader and they just released a new patch version: https://github.com/peerigon/extract-loader/pull/27

[2018-01-12 11:53] Maseeharazzack commented on #240
**My code works perfectly in dev environment when I try npm run build I get the following error:**

ERROR in ./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./node_modules/extract-text-webpack-plugin/dist/loader.js?
{"omit":0,"remove":true}!./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./src/app/communication-center/comm-center
.component.scss
Module build f

[2018-01-12 13:10] leotm commented on #447
`npm install fs --save` doesn't seem to have any affect in my case.
https://webpack.js.org/configuration/target/ hints I should be using `target: 'web'`.
This gives me _Can't resolve 'fs'_.
`node: { fs: "empty", }` gives me *_fs2.default.readFileSync is not a function*.
Changing to `target: 'node'` gives me *require is not defined*.

[2018-01-12 15:08] evilebottnawi commented on #652
Just for information - reproducible test repo https://github.com/jwldnr/extract-text-issue

[2018-01-12 15:47] MatthewJNewton opened #662 "Cannot find module error css file when using webpack as a script"
(node v6.9.5)

[code]

[code]

[code]

[code]

[code]

steps to replicate:
[code]

then open directoryB/out/index.html in the browser

result: "Error: Cannot find module "./foo.css"
expected: loading css style and getting a blue page

Note that, if out/index.html , app.js and foo.cs are inside directoryA instead, then running node poc.js actually yields the expected result, however outside, webpac

[2018-01-12 15:55] evilebottnawi commented on #662
@MatthewJNewton try to remove `context: appPath`

[2018-01-12 15:59] MatthewJNewton commented on #662
@evilebottnawi I removed it, same result. (note: I'll edit the original post to remove it)

[2018-01-12 16:06] MatthewJNewton commented on #662
also changing appPath to ```appPath = absolute/path/to/directoryB``` and then **running on directoryA** ```node poc.js```, just never works if running outside directoryA

[2018-01-12 16:23] evilebottnawi commented on #289
Close in favor https://github.com/webpack-contrib/css-loader/issues/289

[2018-01-12 16:23] #289 closed

[2018-01-15 02:04] krishnadubagunta commented on #355
if anyone still need help with this,

`rules: [
      {
        test: /\.(js|jsx)$/,
        exclude: /node_modules/,
        loader: 'babel-loader'
      },
      {
        test: /(\.css$)/,
        include: /node_modules/,
        loaders: ['style-loader', 'css-loader']
      },
      {
        test: /\.(png|woff|woff2|eot|ttf|svg)$/,
        loader: 'url-loader?limit=100000'
      }
    ]`
thes

[2018-01-15 17:53] rally25rs commented on #44
@sokra the `?-url` and `options: { url: false }` options still mangle the URLs:

Actual CSS:
[code]

Output CSS:
[code]

This is from Bootstrap's source, so I can't edit the original CSS. Once served the font will be served from `../fonts` as expected, so the loaded does not need to edit this line.

Is there any way around this?

[2018-01-16 12:02] gewisser commented on #659
after uptade to 0.28.8

[code]

Rollback to version 0.28.7. Everything is working.

[2018-01-16 15:16] kgram commented on #659
@DawnWright, @franklin-ross, @gewisser: could any of you expand on what exactly in your build process results in this error? If @DawnWright is correct that the url is an empty object, a check could easily be added. I'd just like to understand *why* you'd ever need this functionality and how exactly it works first. Which loaders produce objects for what kind of files? Is it a special build-step? I

[2018-01-16 15:17] kgram commented on #659
@kenashcraft, @jeysty: can you confirm that you are using extract-loader and does an upgrade to extract-loader@1.0.2 fix your problem with css-loader@0.28.8 as @ngyikp suggests?

[2018-01-16 15:40] gewisser commented on #659
**package.json:**
[code]
**webpack.config.js:**
[code]
**materialize.css:**
https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css

[2018-01-16 18:24] kgram commented on #659
@gewisser: Perfect, everything's becoming clear after playing around with that for a bit. The `null-loader` transforms everything into an empty file. Webpack defaults `module.exports` to an empty object, which is where that comes from. So really you just want to ignore the urls, the object is incidental.

You are effectively getting that with 0.28.7, although you should be aware that this is only

[2018-01-16 19:58] hankthewhale commented on #253
@Origslammer1 while that solution works, what happens when bootstrap updates? The real solution needs to address installed node modules.

[2018-01-17 02:47] franklin-ross commented on #659
I'm no longer seeing this, but I don't remember the exact set of package updates that got me in trouble in the first place. I've tried just updating all my Webpack loaders and whatnot to their latest and it seems fine.

[2018-01-17 12:59] #659 closed

[2018-01-17 13:28] michael-ciniawsky commented on #659
Released in [v0.28.9](https://github.com/webpack-contrib/css-loader/releases/tag/v0.28.9) 🎉  Please try it out and report back if still regressions :)

[2018-01-17 14:04] gewisser commented on #659
v0.28.9 now works with null-loader. There are no errors.

[code]

Thanks to this problem, I now know where it comes from:  **url([object Object])**
:)

[2018-01-18 10:02] lili21 commented on #273
almost 2 years ?

[2018-01-18 10:26] evilebottnawi commented on #273
@lili21 because it is out of scope `css-loader`, we use https://github.com/css-modules/postcss-modules and their modules to transform css modules code to css. This issue should be created in their repos instead here. Sorry but we can't do here anything. Thanks everyone for issue, please re create issue in their repo(s).

[2018-01-18 10:26] #273 closed

[2018-01-18 14:33] Mioleris commented on #418
@evilebottnawi no, everything works now as expected.

[2018-01-18 14:46] evilebottnawi commented on #418
@Mioleris Thanks!

[2018-01-18 14:46] #418 closed

[2018-01-19 16:52] mattmewton commented on #652
I'm having this issue as well. Any update as to when it will be resolved?

[2018-01-19 19:30] 6palace commented on #578
+1 from us as well

[2018-01-19 19:33] RoopGuron commented on #578
+1 This fix is needed.

[2018-01-20 13:13] kaluznyt opened #665 "Fonts relative path is incorrect when using file-loader outputPath option"
Hello,

I have an issue. I'm quite new to webpack, so possibly I just don't understand it yet fully. However, I'm trying to set up a project of asp+vue. Frontend using webpack. I'm using following configuration for css files and fonts:

[code]

And it get 404 errors for fonts:
![image](https://user-images.githubusercontent.com/572605/35183727-d3e8ada8-fde2-11e7-940b-97d4613321ee.png)

As it seems

[2018-01-21 02:26] hermeslm commented on #250
This error is clearly a CSS error, but if you use many libs from third parties as was my case, finding it is like looking for a needle in a haystack, my solution was to go to the file: "node_modules/postcss-elector-arser/dist/processor.js" and on line 29 where the error is launched with a very generic message I just add to the error message the "selectors" variable that has the selectors that are

[2018-01-22 10:28] aixfox opened #666 "What is the syntax of using module and sass @at-root together?"
Hi,
  It seems that css-loader works not well with sass @at-root.
  Examples with 'module: true' below:
Writen like this:
[code]
Exp:
[code]

And writen:
[code]
It still compiles to .ie_hash like with writen :local;

[2018-01-22 10:32] aixfox commented on #666
Re-edit issue

[2018-01-22 18:46] sakthig opened #667 "Css-Loader / Less-Loader not working"
This is my config: https://gist.github.com/sakthig/d8f99c4a31ca511caa8067537bededcb

It keeps throwing this error

ERROR in ./components/layout/main.less
Module parse failed: Unexpected character '@' (1:0)
You may need an appropriate loader to handle this file type.
| @import "../vars.less";
|
| .layout {
 @ ./components/layout/sider.js 12:35-57
 @ ./routes/app.js
 @ ./routes/index.js
 @ ./index.j

[2018-01-23 02:51] attrox opened #668 "Font URL containing hashtag is not processed correctly"
url('./assets/fonts/ProximaNova/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix')

is processed to

url("Mark Simonson - Proxima Nova Alt Regular-webfont.e802340fb269d9d36021.eot”?#iefix).

The quotation mark is misplaced and the font is not downloaded properly by the browser.

It's working correctly once I revert back to "css-loader": "0.28.7"

[2018-01-23 05:09] claysquareninety commented on #362
So it seems the readme is all up to date, and by following it I implemented all these fixes, but I'm still seeing this issue:

` ERROR  Failed to compile with 3 errors23:03:46
[1]
[1]  error  in ./node_modules/bootstrap/dist/css/bootstrap.css
[1]
[1] Module build failed: Unknown word (5:1)
[1]
[1]   3 | // load the styles
[1]   4 | var content = require("!!../../../css-loader/index.js?{\"sourceMap

[2018-01-23 22:43] claysquareninety commented on #362
I had to do this instead:
[code]

[2018-01-24 03:12] levindoneto commented on #447
#### I got it to work when I added the following element inside `module.exports` in my _webpack.config_ file
[code]

[2018-01-24 07:07] igorroch commented on #668
+

[2018-01-24 11:23] theNotoriousHxc commented on #665
You can look at the `useRelativePath` option in file-loader, it may help.
https://github.com/webpack-contrib/file-loader#userelativepath

[2018-01-24 20:37] JiDai commented on #381
I have the same problem, did you find any solution ?

[2018-01-25 09:14] lydell opened #669 "Better HMR story for css-modules :)"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
I have enabled CSS HMR. It’s awesome!

If I enable css-modules, saving a CSS file now results in the whole page being reloaded. As mentioned #139 this is correct: JS files imports class names from CSS file, and those could have changed.

I think we can do better though :)

**What is the expected be

[2018-01-25 09:47] evilebottnawi commented on #669
@lydell seems you have something wrong in configuration, `css-loader` don't reload page when you change `css/less/scss/etc`. Can you provide configuration or minimum reproducible test repo?

[2018-01-25 09:54] lydell commented on #669
Sorry, I was 100% that was the way things worked from all the issues I’ve been reading through! Might totally be a problem with my configuration. I’ll come back with a test repo.

[2018-01-25 11:55] lydell commented on #669
@evilebottnawi Here is a minimal reproduction repo: https://github.com/lydell/css-hmr-bug

[2018-01-25 11:58] evilebottnawi commented on #669
@lydell thanks!

[2018-01-25 20:22] lydell commented on #669
I looked at the compiled code. As far as I can tell, HMR is completely disabled when using css-modules.

[code]

The interesting part is:

[code]

I checked in the debugger, and `content.locals` is an object like this when using css-modules (it is what you get from `import styles from "./index.css"`):

[code]

@evilebottnawi Do you know which repo that HMR code comes from? style-loader?

Do you ha

[2018-01-25 21:04] x-yuri commented on #381
I've just rechecked my test case. I can reproduce it with Webpack 1, 2, and [3](https://github.com/webpack-contrib/css-loader/files/1665580/incorrect-source-map.tar.gz). Steps to reproduce:

[code]

And display styles for `div` in Chromium. Chromium 63.0.3239.132 (Developer Build) (64-bit) in my case. These days the block points to 5th line.

![](https://i.imgur.com/op3Fu1t.png)
![](https://i.imgu

[2018-01-26 05:19] x-yuri commented on #381
Well, it turns out even with `libsass`'s result Chromium these days doesn't point to line 4:

`1.scss`:
[code]

[code]

`index.html`:
[code]

`1.css`:
[code]

`1.css.map`:
[code]

If we now create a copy of `1.scss` (`2.css`), and make `index.html` use it. We can see that Chromium puts the cursor after the opening curly bracket (`div {`). Then with this amended source map, which has extra segment

[2018-01-26 08:18] lydell commented on #669
Never mind, I think I figured it all out. PR coming soon.

[2018-01-26 09:07] lydell commented on #669
https://github.com/webpack-contrib/style-loader/pull/298 :tada:

[2018-01-26 09:22] lydell commented on #139
Probably fixed in https://github.com/webpack-contrib/style-loader/pull/298

[2018-01-26 16:20] hitolv4 commented on #362
this worked for me
` {
        test: /\.scss$/,
        use: [
          {
            loader: "style-loader"
          },
          {
            loader: "css-loader",
          },
        ]
      }`

[2018-01-26 19:18] #669 closed

[2018-01-27 22:32] pachuka opened #670 "ude"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2018-01-27 22:32] pachuka commented on #670
sorry... hit the wrong button, closing.

[2018-01-27 22:32] #670 closed

[2018-01-28 00:58] ZeeCoder commented on #645
I assume these were released? 😅

[2018-01-28 09:10] ishenli commented on #74
@smashercosmo I can not understand why it works。。It is surprise

[2018-01-28 13:30] ZeeCoder commented on #645
I'm not too sure how to test this @michael-ciniawsky
I've tried cloning and building the next versions of both style- and css-loaders, but it doesn't seem to work with the current postcss-loader:

![screenshot from 2018-01-28 13-29-36](https://user-images.githubusercontent.com/3679506/35482575-6010226e-042f-11e8-9851-e833b9dab654.png)

👆 That's what I get with the postcss-loader added without any

[2018-01-28 13:35] ZeeCoder commented on #645
I'm getting the same error using `postcss-loader#features/meta` branch. 🤔

[2018-01-28 19:45] the-teacher commented on #282
@dakiesse
@mnpenner

Please try the option `url`

[code]

a config has to look like below:

[code]

Please let me know if it works. I'm not a maintainer, but would be nice to know just out of curiosity.

[2018-01-29 14:40] dvakatsiienko commented on #228
I guess would be great to put a small real-life example of a `importLoaders` option use case. Because it becomes clear that this option may come in handy more like 'sometimes', rather than 'often', so people won't tend to apply it by default even if they don't need it at all (using `sass-loader` for examle).

[2018-01-29 14:43] evilebottnawi commented on #228
@dvakatsiienko PR welcome

[2018-01-31 09:52] casdev-stefan commented on #640
I have a similar error when including new bootstrap v4's ./scss/_root.scss and ./scss/_reboot.scss files. All the other bootstrap v4 files work.

Maybe the error occurs when using css variables `:root {--color--default: #424242;  --color--action: #2574a9;`

Did you find a solution?

[2018-01-31 09:53] evilebottnawi commented on #640
@casdev-stefan can you create minimum reproducible test repo and describe you problem, what is wrong?

[2018-01-31 15:20] wxlworkhard opened #671 "sourceMap: true and minimize discardComments"
In loader.js file
[code]
 to
[code]

is better

[2018-01-31 15:29] evilebottnawi commented on #671
@wxlworkhard `discardComments` don't remove source map

[2018-01-31 19:03] CNK001 commented on #282
A lot of thanks @the-teacher ! I had the same problem and your solution was resolve it! :)

[2018-01-31 20:16] the-teacher commented on #282
From my practice it's better do not process files from `node_modules` and from your App with the only rule.

In my case I use 2 rules:

The first rule processes only components of my project

[code]

the 2nd one processes all other rules

[code]

[code]

[2018-02-01 05:34] wxlworkhard commented on #671
@evilebottnawi

![image](https://user-images.githubusercontent.com/8287140/35662531-923d5b68-0753-11e8-9995-d679da92baf2.png)

[code]
should remove

[2018-02-01 08:16] evilebottnawi commented on #671
@wxlworkhard cssnano should not remove source map URL

[2018-02-02 04:00] intelcoder opened #672 "Excluding some css files with test regex"
**What is the current behavior?**
I wanted to exclude some of the css files which can be many depends on config file.
So I tried to pass the regex to test
`test: /^(?!bear|cat).*\.css$`/
However, it still include bear.css and cat.css which is not even required in js

**What is the expected behavior?**
I am expecting this test check regex and retrieve only matched ones

[2018-02-02 04:09] michael-ciniawsky commented on #672
[code]

[2018-02-02 04:09] #672 closed

[2018-02-02 15:02] intelcoder commented on #672
Thanks for answer. I used include with regex. However, it still includes everything.
if I try this in [https://regex101.com/](url). The regex below is valid.
^((?!cat|bear).*\.css)$
[code]

Am I still configuring wrong way ?

[2018-02-04 12:11] dagda1 opened #673 "How do I use css-loader server side with sass files coming from packages in node_modules"
I have the following config which I am using to create my bundle from a node server:

[code]
This works fine for `.scss` files in my `src` directory but is not applying the transformation for files coming from packages in the `node_modules` directory.

[2018-02-05 00:27] talss89 commented on #256
@egeersoz I agree. @Indj - thanks for the link, it worked for me. For anyone put off by an unfamiliar character set:

[code]

[2018-02-05 00:48] ZeeCoder commented on #645
@michael-ciniawsky any idea? 🤔
I really want to try this out :)

[2018-02-05 21:43] Anuga commented on #362
I've tried several combinations, but the only combo that worked for me, was the same as for @claysquareninety

[code]

[2018-02-06 22:51] Arvnox opened #674 "cssWithMappingToString fails when used in WebSphere Portal"
**Do you want to request a *feature* or report a *bug*?**
Report a *bug*.

**What is the current behavior?**
The script breaks when used inside an script portlet from WebSphere Portal.

**If the current behavior is a bug, please provide the steps to reproduce.**
Create a project in Angular 4 and use the script provided by IBM to upload it to WebSphere Portal.
The function cssWithMappingToString(it

[2018-02-06 22:53] Arvnox commented on #674
I would suggest changing the function from this:

`function cssWithMappingToString(item, useSourceMap) {
	var content = item[1] || '';
	var cssMapping = item[3];
	if (!cssMapping) {
		return content;
	}

	if (useSourceMap && typeof btoa === 'function') {
		var sourceMapping = toComment(cssMapping);
		var sourceURLs = cssMapping.sources.map(function (source) {
			return '/*# sourceURL=' + cssMappin

[2018-02-06 23:28] jaredramirez commented on #250
I just ran into this as well. My issue was:
[code]

[2018-02-06 23:36] badaljain commented on #634
I have a question, if we use localIndentname, this breaks the css/classes defined and used by some library for example antd. How can we use both:

import './style.css'
import style from './style.css'

Thanks

[2018-02-07 00:11] EvanLovely commented on #578
I've got a workaround [detailed here](https://github.com/bolt-design-system/bolt/pull/410)

[2018-02-07 19:22] EvanLovely commented on #578
I found where this is being caused: [`./lib/getLocalIndent.js` has a `.replace()` function](https://github.com/webpack-contrib/css-loader/blob/630579d01e9d28a2032e707dcea2ad9f4ec613da/lib/getLocalIdent.js#L15:73) that replaces a big RegEx with `-` (if you change that character and run you can see it being used).

[2018-02-07 19:42] EvanLovely commented on #578
It appears that by the time it hits this file, classes like `.u-hide\@large` are already `.u-hide@large`, and then after that line become ``.u-hide-large`.

[2018-02-07 19:52] EvanLovely commented on #578
Hmm... also turning CSS modules off with `options.modules = false` "fixes" it.

[2018-02-08 01:37] wanliyunyan commented on #634
@badaljain if you use antd,ni could code like this

`
{
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}
`

but,i do not kown how to use both

[2018-02-08 19:48] badaljain commented on #634
Hi @wanliyunyan,

Even without this, I am able to use antd properly but I want to support both the import formats.

Thanks for your time :)

[2018-02-09 14:33] duhaime commented on #136
I removed `autoprefix-loader` from `package.json` and my webpack.config file, then updated css loader to: `css-loader": "^0.28.9` and all was well.

[2018-02-12 09:08] jwldnr commented on #652
ping @evilebottnawi

[2018-02-12 10:50] evilebottnawi commented on #652
@jwldnr sorry for delay, don't have time for this right now, PR welcome :+1:

[2018-02-13 00:03] BurkovBA opened #676 "css-loader fails to bundle bootstrap.min.css in Server-side rendering, while sass-loader succeeds"
I'm trying to create a server-side rendering configuration for my React app with Webpack and Express.js and it almost works.

I managed to bundle my `.jsx` and `sass`, not using `style-loader` (which is client-only), but going with `ExtractTextPlugin` instead.

All was good, but then I tried to include css files into the bundle and on any css file, e.g. `bootstrap.min.css`, webpack chokes, althoug

[2018-02-13 15:38] evilebottnawi commented on #640
Thanks everyone! Problem in `style-loader`, we investigate this. Ref: https://github.com/webpack-contrib/style-loader/issues/303

[2018-02-13 15:38] #640 closed

[2018-02-13 15:51] evilebottnawi commented on #635
Closing in favor #652

[2018-02-13 15:51] #635 closed

[2018-02-13 15:51] evilebottnawi commented on #576
Closing in favor #652

[2018-02-13 15:51] #576 closed

[2018-02-13 15:52] evilebottnawi commented on #280
Should be fixed, if problem still exists please comment here #652 Thanks!

[2018-02-13 15:52] #280 closed

[2018-02-13 15:54] evilebottnawi commented on #671
@wxlworkhard `sourceMappingURL` generated by `style-loader`, and `cssnano` don't remove source map

[2018-02-13 15:54] #671 closed

[2018-02-13 15:55] evilebottnawi commented on #653
@mark-a-roberts problem still exists? If yes, can you create minimum reproducible test repo?

[2018-02-13 15:58] evilebottnawi commented on #471
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 15:58] #471 closed

[2018-02-13 16:00] evilebottnawi commented on #667
@sakthig Invalid configuration. Use `style-loader` -> `css-loader` -> `postcss-loader` -> `less-loader/sass-loader` (https://gist.github.com/sakthig/d8f99c4a31ca511caa8067537bededcb#file-webpack-config-js-L31 `postcss-loader` should be above `less-loader/sass-loader`). Thanks!

[2018-02-13 16:00] #667 closed

[2018-02-13 16:02] #661 closed

[2018-02-13 16:05] evilebottnawi commented on #660
@guoxiangwen we use `postcss` plugins for css modules. Looks here https://github.com/css-modules/postcss-modules#postcss-modules- . Just use `:global` if you want exclude some classes or just disable `modules` if you want all global classes

[2018-02-13 16:05] #660 closed

[2018-02-13 16:09] evilebottnawi commented on #633
@colin-c Thanks for issue, we use [postcss-icss-composes](https://github.com/css-modules/postcss-icss-composes) for `composes` https://github.com/css-modules/postcss-icss-composes/blob/master/src/index.js#L43, please recreate issue there.

[2018-02-13 16:09] #633 closed

[2018-02-13 16:11] evilebottnawi commented on #276
Closing due to inactivity. Please test with latest version and feel free to reopen if problem still exists. Also we use `postcss` plugin for css modules, seems you should create this issue there. Thanks!

[2018-02-13 16:11] #276 closed

[2018-02-13 16:13] evilebottnawi commented on #600
@davicho Sorry for delay, duplicate https://github.com/webpack-contrib/css-loader/issues/652 . Thanks!

[2018-02-13 16:13] #600 closed

[2018-02-13 16:16] evilebottnawi commented on #245
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 16:16] #245 closed

[2018-02-13 16:18] evilebottnawi commented on #290
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 16:18] #290 closed

[2018-02-13 16:19] evilebottnawi commented on #552
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 16:19] #552 closed

[2018-02-13 16:19] evilebottnawi commented on #567
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 16:19] #567 closed

[2018-02-13 16:20] evilebottnawi commented on #530
Duplicate https://github.com/webpack-contrib/css-loader/issues/264

[2018-02-13 16:20] #530 closed

[2018-02-13 16:22] evilebottnawi commented on #329
@MartinMuzatko problem still exists?

[2018-02-13 16:23] evilebottnawi commented on #360
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 16:23] #360 closed

[2018-02-13 16:24] evilebottnawi commented on #322
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 16:24] #322 closed

[2018-02-13 16:25] evilebottnawi commented on #666
@aixfox better place for this question is `postcss-modules` repo or stackoverflow. Also some sass/scss syntax may be incompatibility or have problem with `css modules`. Thanks!

[2018-02-13 16:25] #666 closed

[2018-02-13 16:27] evilebottnawi commented on #345
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 16:27] #345 closed

[2018-02-13 16:30] evilebottnawi commented on #427
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 16:30] #427 closed

[2018-02-13 16:32] evilebottnawi commented on #256
Closing due to inactivity. Also we have many difference problem here, please create new issue if you have problem (with minimum reproducible test repo). Thanks!

[2018-02-13 16:32] #256 closed

[2018-02-13 16:33] evilebottnawi commented on #342
@mnpenner problem still exists?

[2018-02-13 16:34] evilebottnawi commented on #676
@BurkovBA can you create minimum reproducible test repo?

[2018-02-13 16:36] evilebottnawi commented on #596
@wesmelon Thanks for issue, seems bug

[2018-02-13 16:42] BurkovBA commented on #676
@evilebottnawi  Thanks for reply!

I figured the cause of the problem. It turns out that due to the fact that I'm using `nodeExternals`

`externals: [nodeExternals()], // in order to ignore all modules in node_modules folder`

to avoid inclusion of javascript from `node_modules` into the bundle, css that also resides in my `node_modules` (such as `bootstrap.min.css`) is not included into the bundl

[2018-02-13 16:46] evilebottnawi commented on #676
@BurkovBA very strange, maybe problem in webpack, tomorrow i will investigate this, also minimum reproducible test repo will help me to do this faster.

[2018-02-13 16:48] evilebottnawi commented on #346
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Also some `sass/scss` feature can be incompatibility with css modules. Better place for this problem is css modules repo (we just use `postcss` plugin). Thanks!

[2018-02-13 16:48] #346 closed

[2018-02-13 16:48] evilebottnawi commented on #589
Seems bug PR welcome!

[2018-02-13 16:50] BurkovBA commented on #676
@evilebottnawi It's not exactly minimal, but this code is a part of my personal blog's repo: https://github.com/BurkovBA/BurkovBA.github.io

Take a look into `package.json`. It contains `ssr` script for building server-side, so you can run `npm run ssr` to reproduce the bug.

`ssr-webpack.config.js` in the repo's root is used for building Server-Side Rendered bundle and put it into /dist folder of

[2018-02-13 16:50] evilebottnawi commented on #622
@MagicDuck feel free to PR

[2018-02-13 16:58] evilebottnawi commented on #561
Closing if favor `css-loader/next` and `postcss-loader` or css as first citizen in webpack. It is rfc/porpalse and should be resolve in https://github.com/css-modules/icss. Thanks for issue!

[2018-02-13 16:58] #561 closed

[2018-02-13 17:01] evilebottnawi commented on #608
@IvanKalinin Use `postcss-loader` above `sass-loader`. First compile `sass/scsc`, then increase specificity when `css-loader` with `css` modules

[2018-02-13 17:01] #608 closed

[2018-02-13 17:02] evilebottnawi commented on #624
@fend25 problem still exists?

[2018-02-13 17:06] evilebottnawi commented on #355
A lot of problems here happen due invalid configuration. Closing issue. Please create new issue with minimum reproducible test repo. Thanks!

[2018-02-13 17:06] #355 closed

[2018-02-13 17:07] evilebottnawi commented on #309
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 17:07] #309 closed

[2018-02-13 17:08] evilebottnawi commented on #209
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 17:08] #209 closed

[2018-02-13 17:08] evilebottnawi commented on #236
Solved

[2018-02-13 17:08] #236 closed

[2018-02-13 17:10] evilebottnawi commented on #264
Close in favor https://github.com/webpack-contrib/css-loader/issues/243

[2018-02-13 17:10] #264 closed

[2018-02-13 17:13] evilebottnawi commented on #306
Thanks for issue, but not related to `css-loader`. We can not do anything here :disappointed:

[2018-02-13 17:13] #306 closed

[2018-02-13 17:13] evilebottnawi commented on #298
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 17:13] #298 closed

[2018-02-13 17:14] evilebottnawi commented on #275
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-13 17:14] #275 closed

[2018-02-13 17:14] BrainCrumbz commented on #360
We're on angular-cli at the moment, so not directly accessing webpack options that much these days. Cheers

[2018-02-13 18:05] mnpenner commented on #342
@evilebottnawi Uhh... let me check... it's still a problem in 0.26.4. Will try upgrading css-loader... and still broken in 0.28.9 too.

Here's my [full list of dependencies](https://gist.github.com/mnpenner/f90b46388b213490d459a3e19ba674e3) if you want to see that, and my test code:

[code]

[2018-02-13 18:13] mryarbles commented on #582
We recently ran into this same problem.  After we implemented code splitting we noticed that chunkhashes were changing will each build.  Problem was not fixed by separating out the webpack manifest into it's own file. Problem wound up being css-module hashes.

We wound up with temporary fix by using this for file naming instead:
const LOCAL_IDENT_NAME = '[name]-[local]-[path]';

This is aesthetica

[2018-02-13 22:05] BurkovBA commented on #676
@evilebottnawi

Hiya! I think, I solved the problem with inclusion of css files into the bundle.

I should have read the [webpack-node-externals](https://github.com/liady/webpack-node-externals) documentation more carefully. They suggest that you use a regex for whitelisting non-javascript assets served from `node_modules`, so that they are not excluded from the bundle:

[code]
I added it and it w

[2018-02-14 09:30] evilebottnawi commented on #676
@BurkovBA Great! Can you create improve docs (PR)?

[2018-02-14 11:23] BurkovBA commented on #676
Hi, @evilebottnawi!

Sure, I will do a PR.

Should I add an example of my configuration of Server-Side Rendering with CSS-loader to https://github.com/webpack-contrib/css-loader#examples section of [README.md](https://github.com/webpack-contrib/css-loader/blob/master/README.md) and explain in details what line does what?

[2018-02-14 12:13] evilebottnawi commented on #676
@BurkovBA Will be great!

[2018-02-14 12:23] BurkovBA commented on #676
@evilebottnawi

Sent the PR with a detailed description of setup and example webpack configuration with parts relevant to `css-loader`.

Cheers!

[2018-02-14 15:39] evilebottnawi commented on #662
@MatthewJNewton Problem still exists? Can you create minimum reproducible test repo?

[2018-02-14 15:49] evilebottnawi commented on #674
Look https://github.com/webpack-contrib/css-loader/pull/675#issuecomment-365643840

[2018-02-14 15:49] #674 closed

[2018-02-14 15:59] evilebottnawi commented on #673
@dagda1 problem still exists? Do you wan't SSR?

[2018-02-14 16:07] evilebottnawi commented on #668
@attrox @igorroch problem still exists? Don't reproducible locally. Can you create minimum reproducible test repo?

[2018-02-14 16:13] evilebottnawi commented on #665
@kaluznyt Expected,  we have `name` (=== `publicPath`, url in browser) and `outputPath` (place where `file-loader` should be place files). Maybe releated https://github.com/webpack-contrib/file-loader/issues/160. But you are right not related to `css-loader`. Thanks!

[2018-02-14 16:13] #665 closed

[2018-02-14 16:21] evilebottnawi commented on #302
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-14 16:21] #302 closed

[2018-02-14 17:13] fend25 commented on #624
@evilebottnawi I will check again and provide more info a bit later

[2018-02-14 21:36] dagda1 commented on #673
apologies yes, i was excluding node modules

[2018-02-14 21:36] #673 closed

[2018-02-15 10:17] evilebottnawi commented on #258
Sorry for delay, feel free to PR, it is feature

[2018-02-15 10:19] evilebottnawi commented on #308
Thanks everyone, it is out of scope `css-loader`, please recreate issue in css modules repo, it is their rfc.

[2018-02-15 10:19] #308 closed

[2018-02-15 10:24] evilebottnawi commented on #620
@silaike problem still exists? Can you create minimum reproducible test repo?

[2018-02-15 10:25] evilebottnawi commented on #253
Sorry for delay! PR welcome!

[2018-02-15 10:43] evilebottnawi commented on #564
@TrySound problem was solved?

[2018-02-15 10:44] evilebottnawi commented on #316
Solved in `cssnano`

[2018-02-15 10:44] #316 closed

[2018-02-15 10:45] TrySound commented on #564
It can't be solved without major release.
/cc @michael-ciniawsky

[2018-02-15 10:45] evilebottnawi commented on #299
@jpommerening better ask this question in `val-loader`, also you can see example in https://github.com/peerigon/extract-loader how other loader works with `css-loader`

[2018-02-15 10:45] #299 closed

[2018-02-15 10:46] evilebottnawi commented on #564
@TrySound it is solved in new version `postcss-*` plugins?

[2018-02-15 10:47] seggev319 commented on #246
@developit link's broken..

[2018-02-15 10:48] evilebottnawi commented on #363
@NekR friendly ping, problem still exists? Wait PR?

[2018-02-15 10:51] TrySound commented on #564
Maybe. However current idea is to combine all plugins in one to prevent compatibility problem between plugins.

[2018-02-15 10:56] evilebottnawi commented on #564
@TrySound This https://github.com/css-modules/postcss-modules?

[2018-02-15 10:57] TrySound commented on #564
@evilebottnawi Nope. It's just a pack. I mean full rewrite in single plugin. This can solve all problems.

[2018-02-15 10:59] evilebottnawi commented on #564
@TrySound somebody can take care about this?

[2018-02-15 11:00] evilebottnawi commented on #365
Please see comment above. Thanks for issue and sorry for delay!

[2018-02-15 11:00] #365 closed

[2018-02-15 11:01] evilebottnawi commented on #365
Also we have example with `local` https://github.com/webpack-contrib/css-loader#scope

[2018-02-15 11:02] evilebottnawi commented on #231
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-15 11:02] #231 closed

[2018-02-15 11:03] evilebottnawi commented on #279
@orlandodemauro @bdo @felixexter Problem still exists?

[2018-02-15 11:04] evilebottnawi commented on #124
Feel free to PR, what speedup css loader

[2018-02-15 11:06] evilebottnawi commented on #294
Not related to `css-loader`, you can use https://github.com/webpack-contrib/style-loader#transform option for modify css before their insert in page

[2018-02-15 11:06] #294 closed

[2018-02-15 11:06] TrySound commented on #564
We need to decide. Do we focus on webpack css type support, or do we finish [this](https://github.com/webpack-contrib/css-loader/pull/639) and fix everything with breaking change.

[2018-02-15 11:06] evilebottnawi commented on #278
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-15 11:06] #278 closed

[2018-02-15 11:08] evilebottnawi commented on #564
@TrySound Roadmap:
1. Stability current `style-loader/css-loader/postcss-loader` with support css-modules
2. Experimental  branch with `css` in webpack

It is allow to easy migrate and improve stability loaders.

[2018-02-15 11:13] evilebottnawi commented on #657
Duplicate https://github.com/webpack-contrib/css-loader/issues/243

[2018-02-15 11:13] #657 closed

[2018-02-15 11:16] evilebottnawi commented on #272
Original issue solved. Other post or duplicate https://github.com/webpack-contrib/css-loader/issues/243 or new porposle

[2018-02-15 11:16] #272 closed

[2018-02-15 11:20] evilebottnawi commented on #539
Duplicate https://github.com/webpack-contrib/css-loader/issues/243

[2018-02-15 11:20] #539 closed

[2018-02-15 11:31] evilebottnawi commented on #220
Problem still exists?

[2018-02-15 11:33] evilebottnawi commented on #286
PR welcome!

[2018-02-15 11:34] evilebottnawi commented on #582
@mryarbles Can you create minimum reproducible test repo?

[2018-02-15 11:45] evilebottnawi commented on #652
Feel free to PR if somebody have time

[2018-02-15 11:48] evilebottnawi commented on #537
@DylanPiercey @pixelass problem still exists? If yes can you create minimum reproducible test repo?

[2018-02-15 11:49] evilebottnawi commented on #524
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-15 11:49] #524 closed

[2018-02-15 11:52] evilebottnawi commented on #140
Other solution use https://github.com/kentcdodds/babel-plugin-macros, but we need implement api, it is feature, feel free to PR

[2018-02-15 11:55] evilebottnawi commented on #230
@snaptopixel not related to `css-loader`, seems it should be do minificator with right configuration https://webpack.js.org/plugins/commons-chunk-plugin/

[2018-02-15 11:55] #230 closed

[2018-02-15 11:57] evilebottnawi commented on #653
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Seems you have invalid configuration. Thanks!

[2018-02-15 11:57] #653 closed

[2018-02-15 12:06] evilebottnawi commented on #282
Feel free to PR

[2018-02-15 12:15] jwldnr commented on #652
Understood 👍🏼

[2018-02-15 12:24] evilebottnawi commented on #560
Thanks for issue. Related to https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/159

[2018-02-15 12:24] #560 closed

[2018-02-15 12:28] pixelass commented on #537
@evilebottnawi I don't use this mechanism anymore. I think I figured it out somehow and AFAIR it was a problem in my implementation.

[2018-02-15 12:28] pixelass commented on #220
@evilebottnawi I don't use this mechanism anymore. I think I figured it out somehow and AFAIR it was a problem in my implementation.

[2018-02-15 12:34] evilebottnawi commented on #220
Let's close this issue. If somebody will face this problem feel free to feedback.

[2018-02-15 12:34] #220 closed

[2018-02-15 12:36] evilebottnawi commented on #520
Thanks for issue, it is RFC for modules and should resolve in spec https://github.com/css-modules/css-modules. Please recreate issue there :+1:

[2018-02-15 12:36] #520 closed

[2018-02-15 13:14] evilebottnawi commented on #351
Feel free to PR

[2018-02-15 13:15] evilebottnawi commented on #553
Look comment above. Thanks!

[2018-02-15 13:15] #553 closed

[2018-02-15 13:18] evilebottnawi commented on #636
@pillowfication can you describe use case?

[2018-02-15 13:26] evilebottnawi commented on #413
Feel free to documentation this!

[2018-02-15 13:28] evilebottnawi commented on #250
Out of scope `css-loader`, should be fixed in `cssnano`, seems need release stable `cssnano` version :+1:

[2018-02-15 13:29] evilebottnawi commented on #296
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-15 13:29] #296 closed

[2018-02-15 13:32] evilebottnawi commented on #235
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-15 13:32] #235 closed

[2018-02-15 13:36] evilebottnawi commented on #511
@eduardoboucas Thanks for issue, it is out of scope `css-loader`, you can create own function in your app to solve this problem.

[2018-02-15 13:36] #511 closed

[2018-02-15 13:36] evilebottnawi commented on #333
@bensampaio @jnields Sorry for very long delay, problem still exists?

[2018-02-15 13:40] evilebottnawi commented on #469
Look comment above :+1:

[2018-02-15 13:40] #469 closed

[2018-02-15 13:54] evilebottnawi commented on #629
Fixed in https://github.com/webpack-contrib/style-loader/pull/298

[2018-02-15 13:54] #629 closed

[2018-02-15 14:28] evilebottnawi commented on #589
Just information: `@import "~normalize.css/normalize.css";` also don't works, seems all syntax don't workds

[2018-02-15 14:29] evilebottnawi commented on #436
Close in favor https://github.com/webpack-contrib/css-loader/issues/589#issuecomment-365942989

[2018-02-15 14:29] #436 closed

[2018-02-15 14:45] evilebottnawi commented on #443
Problem still exists?

[2018-02-15 14:48] evilebottnawi commented on #578
Just infromation:
[code]

Also broken

[2018-02-15 14:49] evilebottnawi commented on #459
Close in favor https://github.com/webpack-contrib/css-loader/issues/578

[2018-02-15 14:49] #459 closed

[2018-02-15 14:50] evilebottnawi commented on #569
Close in favor https://github.com/webpack-contrib/css-loader/issues/578 . Thanks!

[2018-02-15 14:50] #569 closed

[2018-02-15 14:52] evilebottnawi commented on #279
Related to `style-loader`. Maybe solution here https://github.com/webpack-contrib/style-loader/issues/287

[2018-02-15 14:52] #279 closed

[2018-02-15 14:53] evilebottnawi commented on #379
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-15 14:56] evilebottnawi commented on #317
Close in favor https://github.com/webpack-contrib/css-loader/issues/578

[2018-02-15 14:56] #317 closed

[2018-02-15 14:56] evilebottnawi commented on #578
Also
[code]

[2018-02-15 14:58] evilebottnawi commented on #462
@darrenscerri Problem still exists?

[2018-02-15 14:59] evilebottnawi commented on #320
Close in favor https://github.com/webpack-contrib/css-loader/issues/320

[2018-02-15 14:59] #320 closed

[2018-02-15 15:01] evilebottnawi commented on #374
Not related to `css-loader`, also seems abandoned issue. Feel free to feedback.

[2018-02-15 15:01] #374 closed

[2018-02-15 15:08] evilebottnawi commented on #620
Close in favor https://github.com/webpack-contrib/css-loader/issues/589

[2018-02-15 15:08] #620 closed

[2018-02-15 15:12] evilebottnawi commented on #411
Use `ident`. Some `webpack` version was affected this bug

[2018-02-15 15:12] #411 closed

[2018-02-15 15:15] evilebottnawi commented on #650
Duplicate https://github.com/webpack-contrib/css-loader/issues/265 . Fell free to PR

[2018-02-15 15:15] #650 closed

[2018-02-15 15:32] evilebottnawi commented on #541
Done in https://github.com/webpack-contrib/css-loader/pull/543

[2018-02-15 15:32] #541 closed

[2018-02-15 15:42] evilebottnawi commented on #668
Close in favor, seems you have other invalid loader and/or plugin.

[2018-02-15 15:57] evilebottnawi commented on #623
@mkMoSs you have invalid configuration, just remove
[code]
laravel mix already know how handle css

[2018-02-15 16:06] evilebottnawi commented on #623
@FreeMasen `module.loaders` => `rules`, `loaders` inside `rules` => `use`. Also don't reproducible with you example. Seems you provide not full repository or use other configuration. Feel free to feedback.

[2018-02-15 16:06] #623 closed

[2018-02-15 16:08] evilebottnawi commented on #623
@FreeMasen also please upgrade `style-loader` to `latest` version, `wepback` also

[2018-02-15 16:12] evilebottnawi commented on #443
Look https://github.com/postcss/postcss-loader/issues/198#issuecomment-293449768. Feel free to feedback.

[2018-02-15 16:12] #443 closed

[2018-02-15 16:14] evilebottnawi commented on #571
@kud problem also

[code]

It could be great if I was directly able to do:

[code]

without having to define aliases for css-loader.

[2018-02-15 16:14] evilebottnawi commented on #522
Thanks for issue! Let's close in favor https://github.com/webpack-contrib/css-loader/issues/571

[2018-02-15 16:14] #522 closed

[2018-02-15 16:17] evilebottnawi commented on #596
@wesmelon maybe related to https://github.com/webpack-contrib/css-loader/issues/676

[2018-02-15 16:30] #250 closed

[2018-02-15 16:40] evilebottnawi commented on #581
Plase upgrade to latest version. Should be work, feel free to feedback :+1:

[2018-02-15 16:40] #581 closed

[2018-02-15 16:44] evilebottnawi commented on #363
Duplicate https://github.com/webpack-contrib/css-loader/issues/342. Feel free to feedback.

[2018-02-15 16:44] #363 closed

[2018-02-15 16:55] evilebottnawi commented on #462
Confirm.
Input:
[code]

Output:
[code]

[2018-02-15 17:25] evilebottnawi commented on #462
Not related to `css-loader`. Information:
1. `style-loader` PR https://github.com/webpack-contrib/style-loader/pull/304
2. `ETWP` - WIP

[2018-02-15 17:45] #462 closed

[2018-02-17 14:46] vimal1083 commented on #447
There is a better solution available [hee](https://stackoverflow.com/a/42425214/2557900)

[2018-02-17 14:56] reda-alaoui commented on #447
Maybe it will help some of you.
I was having this issue because an emscripten built dependency was used by my project.
Emscripten js output contains require(‘fs’).

[2018-02-18 07:34] igorroch commented on #668
Hey, @evilebottnawi
Check this out https://github.com/igorroch/css-loader-issue-668

npm i
npm run build
Open index.html in chrome

I can still reproduce the problem with spaces in folder or file name. I used file loader to store font files with exact path.

p.s.: In this repo I used ttf with hash just for demo.

[2018-02-19 01:28] qrew commented on #413
Got same problem after moving to webpack-4.0.0beta. Updating css-loader with context fix this issue for me too. Config example:

`{ loader: 'css-loader',
          options: {
            modules: true,
            context: __dirname,
            localIdentName: '[local]-[hash:base64:6]',
        }`

Thanks so much for this solution!

[2018-02-19 10:34] aliaqdas07 commented on #240
Did any one get the answer ?

[2018-02-19 15:57] MladenJanjetovic commented on #240
I found out that one of my css files was missing.
Node and errors... I lost half of the day reinstalling and clearing caches and files, and killing processes, and bunch of other stupid stuff. Why it just won't say "xyz.css file is missing"?

[2018-02-19 21:13] FreeMasen commented on #623
Thanks for the update @evilebottnawi , I am still seeing this error though. I have updated the example repo I sent in before with a readme.md detailing the build steps to reproduce.

[repo](https://github.com/FreeMasen/webpack.error.watch)

I have updated all of the dependencies you requested and updated the package.json, maybe I am missing something?

![error output](https://user-images.githubuse

[2018-02-20 02:16] sbyrne-sugarcrm commented on #447
@vimal1083 Your "better solution" seemed to be completely ineffective for me; no change in observed behavior.  This "fs" issue has been around for quite a while; I have to say I'm more than a little concerned that it's taken over half a year for any real solution to emerge.  Doing the webpack.config.js node: { fs: 'empty' } is ineffective for me, but then I am not directly using webpack; it's bein

[2018-02-20 07:38] the-spyke opened #679 "Chore dependencies"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

`css-loader` depends on `postcss@5` while some other its dependencies depend on `postcss@6`. That creates a mess inside `node_modules`.

**What is the expected behavior?**

I have 2 options on my mind:

1. Lower some dependencies like `icss-utils`, so all depends on `postcss@5`.
2. Extract `postcss`

[2018-02-20 09:42] evilebottnawi commented on #679
@the-spyke Thans for issue, should be solve in next major version, just wait :+1:

[2018-02-20 09:42] #679 closed

[2018-02-22 09:29] oleg-webdev commented on #346
Not sure if this is actual for someone.
Whatever - I think, you can just use css selectors benefits.
From your example:
[code]

[2018-02-23 12:32] ShardulNalegave commented on #447
same here

[2018-02-24 02:46] sujeetbuddiga opened #682 "ModuleNotFoundError: Module not found: Error: Can't resolve the file path"
Please help me resolve **ModuleNotFoundError** when i try to import assets to my .less file.

Looks like the issue is will css-loader, can someone help me in gracefully resolving the issue, I have posted the same on gitter many times but I haven received any resolution till date.

Please find **variables.less**,**webpack.config.js**, **error log** and **directory structure** in the screenshot
**co

[2018-02-24 02:46] sujeetbuddiga commented on #682
I have also reported the issue with less-loader as well, link: https://github.com/webpack-contrib/less-loader/issues/243

[2018-02-24 02:50] sujeetbuddiga commented on #682
stack-overflow link https://stackoverflow.com/questions/48958848/css-loader-modulenotfounderror-module-not-found-error-cant-resolve-the-file

[2018-02-24 03:39] J-Gallo commented on #447
If any of you is using NextJS to fix this problem, you can add:
[code]

To your next.config.js file

[2018-02-24 06:05] sujeetbuddiga commented on #682
@d3viant0ne  @michael-ciniawsky  Can you please provide some pointers to help me unblock from this issue.

[2018-02-24 08:52] fend25 commented on #624
@evilebottnawi yes, it does. When I comment out the HMR line in the `src/index.js`, changing of the `src/styles.css` causes page reload, not HMR.

[2018-02-24 17:27] FLighter7 commented on #252
I had the same problem and solution for me was:
1. remove "node_modules" folder
2. remove "package-lock.json"
3. reinstall modules `npm install`

[2018-02-25 11:05] x-yuri commented on #379
@evilebottnawi Yeah, I can reproduce it with `webpack@^3.0.0`. Here's [the archive](https://github.com/webpack-contrib/css-loader/files/1755881/img-urls.zip) with files needed to reproduce the issue.

`1.css`
[code]

The thing is [here][after-process-css] we get totally valid source map:

[after-process-css]: https://github.com/webpack-contrib/css-loader/blob/v0.28.10/lib/loader.js#L52

[code]

Op

[2018-02-25 13:46] ZeeCoder commented on #645
@michael-ciniawsky I'm still lost with this one, was there a release?
running `yarn add css-loader@next` gives me a list of available versions instead of installing. 🤔

[2018-02-25 21:12] Vadorequest commented on #447
@J-Gallo Thank you so much!

[code]

I just had to add the `module: "empty",` as well.

[2018-02-26 06:26] #682 closed

[2018-02-26 09:30] evilebottnawi commented on #682
@sujeetbuddiga can you create minimum reproducible test repo?

[2018-02-26 09:47] evilebottnawi commented on #379
@x-yuri Thanks!

[2018-02-26 09:50] evilebottnawi commented on #624
@fend25 can you create minimum reproducible test repo?

[2018-02-26 12:53] shravan2x opened #683 "Style field from package.json not respected"
**What is the current behavior?**

When @import-ing a package (blueprintjs/core) from a CSS file, the `"style"` field from the package's package.json file is not used. So JS files are read and this error occurs:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

I've uploaded a full reproduction at https://github.com/shravan2x/cssLoader-bug-styleUnrecgonized. Jus

[2018-02-26 20:02] mikeaustin commented on #101
I'm also wondering the same, why localIdentName is still needed. On a side note, I don't see anyone using something like ```return '_' + (nextLocalIdent++).toString(36)` to drastically reduce class name length.

[2018-02-27 17:34] vnallamhawk commented on #439
Hi Team,

Could you please let us know on how to fix this.I am facing this in a Paas environment. Cannot find module "!!../../node_modules/css-loader/index.js?modules=true&localIdentName=[name]__[local]___[hash:base64:5]!../../node_modules/sass-loader/lib/loader.js!./style.scss". However its not coming up in my local system.

[2018-03-01 01:29] niennguyen commented on #362
{ test: /\.scss$/, use: [ "style-loader" ,  "css-loader" ] }
It worked for me

[2018-03-01 08:53] bbthorntz commented on #243
Had a similar issue but ensuring the animation name (as suggested by @dominik791) was specified as the first property in the `animation` shorthand fixed it.

[2018-03-01 11:34] HosseinAgha commented on #582
@evilebottnawi I have created a minimum reproducible test: https://github.com/HosseinAgha/css-loader-chunkhash-problem as you have requested.
Run `yarn build` multiple times. as you'll see, importing css in `Modules.js` module causes its chunkhash to change every time. But `Normal.js` chunkhash never changes.
If you want to check for webpack 3 use `webpack3` branch (`yarn install` to install new d

[2018-03-02 00:54] elisechant commented on #634
@badaljain for the case

`import './style.css'`

there's a helper you can use like this:

style.css

[code]

https://github.com/css-modules/css-modules#exceptions

[2018-03-02 09:43] Knagis opened #685 "Automatically verify class name existence"
Feature request

[code]

Currently there are no indications in logs that the class name is not defined - instead `undefined` will be returned and the class name will simply be omitted (or written as `"undefined"` depending on the UI framework).

We have been using a wrapper function that performs the class name existence validation and prints a console warning in such case. However, it would be ni

[2018-03-02 10:13] HosseinAgha commented on #582
@evilebottnawi I think we can fix this issue by simply adding a module-content based hashing option so classnames don't change on every build. So chunk hash won't change because the files content are fixed.

[2018-03-02 12:17] fend25 commented on #624
@it's in the first message here: https://github.com/fend25/css-modules-hot-reload-test

[2018-03-03 11:41] EhsanFahami opened #686 "You may need an appropriate loader to handle this file type"
Hi.
I put my problem inside the  [stackoverflow](https://stackoverflow.com/questions/49069032/reactjs-server-side-you-may-need-an-appropriate-loader-to-handle-this-file-typ) .

#### and in summary :
I received the following error :
[code]
and css-loader config :
[code]
package versions :
`  "webpack": "^2.7.0" ` , ` "style-loader": "^0.18.2" ` , `"css-loader": "^0.28.9"`

Note that I have research

[2018-03-03 12:03] michael-ciniawsky commented on #686
Remove the `include` as `webpack` will only apply the rule to CSS files within `node_modules` atm. `node_modules` will be included by default unless excluded explicitly via `exclude`

[2018-03-03 12:03] #686 closed

[2018-03-03 17:20] EhsanFahami commented on #686
that I removed the include: /node_modules/ and I did not leave anything. Or I gave it exclude: /node-modules/ instead. but I encountered an.  ** ReferenceError: window is not defined.**

Is not this error related to css-loader?
Is this error related to nodeJS?
Where do I ask my question to be solved?

[2018-03-03 17:24] michael-ciniawsky commented on #686
Seem unrelated

Nope, it's a `BuildError` somewhere, since you intend to run the code in the browsers

StackOverflow {:label: webpack}
Gitter `webpack/webpack`

[2018-03-03 18:06] EhsanFahami commented on #686
@michael-ciniawsky I thank you very much for your guidance

[2018-03-04 04:40] badaljain commented on #634
Hi @elisechant,

This approach will work with just **import './style.css'** format right?
Actually, I want to use something like this:

1. (possible when I use localIndentName)
import style from './style.css'

className= {style.someClass}

2. and also support(possible when I remove localIndentName):
import './style.css'

className={someClass}

Thanks,
Badal

[2018-03-05 09:08] thasmo opened #687 "Enabling source-maps throws errors"
**Do you want to request a *feature* or report a *bug*?**
*Bug*

**What is the current behavior?**
Using `sourceMap: true` throws errors for all CSS files. Example:
[code]

**What is the expected behavior?**
No errors are thrown when using `sourceMap: true`.

**Versions**
OS: Ubuntu 16.04 LTS
node: 6.13.0
npm: 5.6.0
webpack: 3.11.0
css-loader: 0.28.10

[2018-03-05 18:57] songawee opened #688 "Minimizing border styles creates incorrect output CSS"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

given an input CSS style such as:

[code]

and configuring the css-loader in webpack.config.js to be:

[code]

The loader outputs:

[code]

This output does not produce the desired output as the shorthand property `border:

[2018-03-05 19:46] songawee commented on #688
Update:

Upon a little investigation, it appears that the bug may actually be in cssnano. I've added a failing test there - https://github.com/ben-eb/cssnano/pull/449.

Not sure exactly who should own the issue so I'll leave this open in case other folks hit it.

[2018-03-06 09:13] evilebottnawi commented on #688
@songawee in future version we remove `minimize` option. I recommending use `plugin` for this purpose. WE use old version `cssnano` and they have bugs.

[2018-03-07 02:20] Gobie opened #689 ""RangeError: Maximum call stack size exceeded" when compiling a file with many requires"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Given CSS file with 10000 or more classes with URLs, in our case generated from sprites.

[code]

The css-loader creates such a JS file, which on compile throws `RangeError: Maximum call stack size exceeded`.

[code]

**What is the expected behavior?**
The expected behaviour is to generate a JS file, w

[2018-03-07 14:27] amrshakya commented on #617
can anyone help me out. i'm using extract-text-webpack-plugin

webpack.config.js
const path = require('path');
const ExtractTextPlugin = require('extract-text-webpack-plugin');

var extractPlugin = new ExtractTextPlugin({
    filename: 'main.css'
});

module.exports = {
    entry: './src/js/app.js',
    output: {
        path: path.resolve(__dirname, 'dist'),
        filename: 'bundle.js',

[2018-03-08 10:15] zry656565 opened #691 "Current postcss version is incompatible."
**Do you want to request a *feature* or report a *bug*?**

I don't know, maybe a bug of css-loader or postcss-loader.

**What is the current behavior?**
[code]

**What is the expected behavior?**

Upgrade postcss version of css-loader to `^6.0.1` please, because another dependency of css-loader, `postcss-modules-scope@^1.1.0`, relies on postcss@^6.0.1.

And my problem may be fixed.

**Please menti

[2018-03-09 10:41] dkfiresky opened #692 "Importing of class names from style"
The importing of class names from a CSS file doesn't seem to work.

[code]

[2018-03-09 10:42] dkfiresky commented on #692
[code]

[2018-03-09 10:49] michael-ciniawsky commented on #692
[code]

This only works when using CSS Modules

[2018-03-09 10:49] #692 closed

[2018-03-09 11:06] dkfiresky commented on #692
@michael-ciniawsky even with `modules: true`, I'm not able to import the class name directly.

Only this method works:
[code]

[2018-03-09 12:00] michael-ciniawsky commented on #692
I need more info about your setup please

[2018-03-10 15:56] ZeeCoder opened #693 "Support for custom exports"
Continuing the discussion here: https://github.com/webpack-contrib/css-loader/issues/645#issuecomment-355887308

I've not been able to use the example here, do you have any leads @michael-ciniawsky as to when "@next" will be released, or how could I use this?

Also: could you leave this issue open until it's usable?

I'm more than happy to help, I'm not too sure what stage this is in currently.

[2018-03-12 01:22] albertstill opened #694 "Running the css-loader on the same CSS file more than once does not work"
Not sure if this a bug or a limitation of the Webpack/css-loader architecture.

**What is the current behavior?**

When I try to compile a Webpack config that has the css-loader operate on the same CSS file more than once (in the context of [multiple](https://github.com/webpack-contrib/extract-text-webpack-plugin#multiple-instances) `extract-text-webpack-plugin` instances to achieve theming) I get

[2018-03-14 00:53] franjohn21 commented on #636
+1 Also seeing this issue.

This breaks `getLocalIdent` as it cannot reliably be used on all selectors.

The use case we have is that we are using a custom `getLocalIdent` function to produce a hash within the classname that is deterministic in our ecosystem, both on the server side and in the browser (using the file path, as css-loader currently does, breaks us in certain circumstances).

[2018-03-14 01:24] pillowfication commented on #636
I've been using a custom `getLocalIdent` function to generate my own minified selectors, but because of this issue, it doesn't work if cross-file composition is used.

I've been using the following workaround:

[code]

[code]

[code]

[2018-03-14 07:47] gaoshu883 commented on #617
I also encountered the similar question when using extract-text-webpack-plugin to extract multiple css files:
[code]
Finally, I have found that I extract the same css content with two ExtractTextPlugin instances. My solution is as follow:

In my case, I import many css files:
[code]
I only want to extract the `base.css` and others build into a single one file.

Then the webpack config may look as

[2018-03-14 16:55] franjohn21 commented on #636
Thanks @pillowfication that makes sense for a work around.

@evilebottnawi - what other information would be helpful here? `getLocalIdent` is broken with this issue.

On the server side we use `css-modules-require-hook` and it's `generateScopedName` option which is in essence the same function as `getLocalIdent`. However `css-modules-require-hook`'s implementation works correctly and the `generate

[2018-03-14 16:56] evilebottnawi commented on #636
@franjohn21 PR welcome :+1:

[2018-03-15 18:08] alicoding commented on #668
I'm seeing similar issue here when upgraded to version 0.28.10.

In my case I'm seeing this once I upgraded:
[code]

and in an older version (which is working fine)
[code]

Notice no quote on the path there...

[2018-03-15 22:49] ridhwaans opened #696 "Webpack css-loader failing at @import '~node_module/path/to/css.css'"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
In my `client/src/style/AlbumDetail.css`, I have
[code]
Webpack crashes and returns
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Run `webpack` and `webpack-dev-server --inline --hot` to reproduce crash

**What is the expected behavior?**
Webpack should look at no

[2018-03-16 09:49] webpack-bot opened #697 "Webpack css-loader failing at @import '~node_module/path/to/css.css'"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
In my `client/src/style/AlbumDetail.css`, I have
[code]
Webpack crashes and returns
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Run `webpack` and `webpack-dev-server --inline --hot` to reproduce crash

**What is the expected behavior?**
Webpack should look at no

[2018-03-16 09:54] michael-ciniawsky commented on #697
https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L58-L60

[2018-03-16 10:01] evilebottnawi commented on #696
Duplicate https://github.com/webpack-contrib/css-loader/issues/697

[2018-03-16 10:01] #696 closed

[2018-03-16 10:02] michael-ciniawsky commented on #697
@ridhwaans Could you hack around this by removing `options.mode === 'global'` from in `node_modules/css-loader/`, needs further investigation why this check is actually needed :)

[2018-03-16 10:32] #697 closed

[2018-03-16 10:39] michael-ciniawsky commented on #697
Released in [`v0.28.11`](https://github.com/webpack-contrib/css-loader/releases/tag/v0.28.11) 🎉  Please open a new issue in case there are still regressions :)

[2018-03-16 13:36] ZeeCoder commented on #693
@michael-ciniawsky ☝Friendly ping

[2018-03-16 16:43] ridhwaans commented on #697
@michael-ciniawsky was the change tested? the error seems to persist
[code]

[2018-03-16 17:02] michael-ciniawsky commented on #697
I tested it with this `@import "~basscss/css/basscss.css";` in a small example `index.js > style.css (@import)` an it worked on `macOS` (POSIX Paths) at least

[css-loader-issue.zip](https://github.com/webpack-contrib/css-loader/files/1820122/css-loader-issue.zip)

`Can't resolve 'basscss/css/basscss.css"'`

Missing `~` ?  But maybe that's removed elsewhere now...

Could you test if  this small re

[2018-03-16 23:33] mnpenner commented on #228
The documentation is still strange. They show this:

[code]

But when would you ever want to include `sass-loader` if `importLoaders` only affects `.css` (non-sass/less) files? So you wouldn't want to set it to `2` here. You probably *do* want `postcss-loader` (autoprefixer/cssnano) to run over `@import`ed files though. So the only number that makes sense here is `1`, right?

[2018-03-18 01:10] pkout commented on #295
For me, the solution was to add the post-css loader into the `/\.css$/` loader like so:

`
{
        test: /\.css$/,
        use: ExtractTextPlugin.extract({
          fallback: 'style-loader',
          use: [
            {
              loader: 'css-loader',
              options: {
                modules: true,
                localIndentName: '[name]_[local]__[hash:base64:5]'
              }

[2018-03-18 13:05] guidobouman commented on #228
@mnpenner  Sass in this case already handles importing of `.sass`, `.scss` and extensionless files. One thing this would allow is using sass in `.css`. No idea why that would be something you want though.

It does make sense to let PostCSS run on imported `.css` files. So yes a value of 1 does make some sense.

[2018-03-19 03:37] albertstill commented on #694
Sorry ignore above, `css-loader` is behaving as expected. I need to use [multi-loader](https://github.com/webpack-contrib/multi-loader). Almost have it [working](https://github.com/albertstill/css-multiple-extracts/blob/d3a78bbc8fb9a5169e697f7505f81f9f029c089f/webpack.config.js). Issue is multi-loader does not accept the object based config.

[2018-03-19 03:37] #694 closed

[2018-03-20 11:40] carmat commented on #447
For those of you using Nuxt.js for Vue.s server-side rendering, webpack can be extended as follows:

[code]

However, if you need `fs` for any reason, you may run into the same issues as mentioned above and require further workarounds

[2018-03-24 23:54] martin-minovski commented on #578
+1

[2018-03-28 10:38] Oscar-ren commented on #589
I find the reason: https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L163-L174
If open the css module, the mode is 'local', url will reserve the `~`,such as:
[code]
else the mode is 'global', url will recognize the `~` ,https://github.com/webpack/loader-utils/blob/67499ff3d13c13ef455ec0fede90b714fc16d787/lib/urlToRequest.js#L50-L52,and remove the `~`,require file as a mod

[2018-03-28 10:50] Oscar-ren commented on #582
you can use 'contenthash',the chunkhash will change if the js content change
[code]

[2018-03-28 23:30] anawesumoposum commented on #447
I solved this by just requiring the fs module in my electron window:
`const fs = window.require('fs');`
Looks like something in ipcRenderer tries to use it without defining it? Once it was defined all my errors went away.

[2018-03-29 20:26] dmlinn commented on #589
Ran in to this while trying to import fonts. `changing src: url()` to `src: require()` seems to be a viable workaround.

[2018-03-29 21:54] dmlinn commented on #589
Using vue-loader which allows modules to be turned on or off per <style> tag. Using or omitting a tilde in the font paths breaks my code in different places, as fonts no longer resolve depending on the module tag. Toying with possible build-process workarounds. Wish I had the background to fix it right.

[2018-03-29 22:30] buddyackerman commented on #352
None of the above work.  I'm using Angular 5 and have ejected the project from the cli so that I can modify the webpack config.

Here's the entry section:

    "entry": {
      "main": [
        "./src\\main.ts"
      ],
      "polyfills": [
        "./src\\polyfills.ts"
      ],
      "styles": [
        "./src/ui-styles.js"
      ]

and here's the module definition:

    {
      "test": /\.css$/

[2018-03-30 14:54] wilsonpage commented on #571
Rolling back to `0.28.0` worked for me. Looks like a breaking change slipped into a patch release.

[2018-04-03 04:40] cfv1984 opened #699 "Incorrect transformation of transition name"
Using Webpack 4 and css-loader@0.28.11, I get incorrect CSS output from correct CSS input

**Do you want to request a *feature* or report a *bug*?**
*Bug*

**What is the current behavior?**
[code]

what even is this :local() thing doing here?

**If the current behavior is a bug, please provide the steps to reproduce.**

This are the loaders I'm using in webpack:

[code]
**What is the expected beha

[2018-04-03 11:03] smelukov opened #700 "Incorrect behaviour with media-query"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Adds all composes classes from the style and ignores media-queries

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

[code]

Then resize browser window to 1000px and get the result:
[code]

**What is the expected behavior?**

[code]

**Please mention other relevan

[2018-04-04 14:49] georeith commented on #697
@michael-ciniawsky works on OSX but not Ubuntu 12.04 for me.

[2018-04-05 00:01] Miracle01 opened #702 "react slider arrow color"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2018-04-05 00:02] #702 closed

[2018-04-06 10:14] thibautRe opened #703 "Issue when using CSS modules' compose from a node_modules file"
**Do you want to request a *feature* or report a *bug*?**
A *bug*

The bug was introduced by [this PR](https://github.com/webpack-contrib/css-loader/pull/698).

**What is the current behavior?**
When trying to use `compose` from CSS modules from a `node_modules` dependency, it breaks with an `Can't resolve` error.

The bug has been introduced by [this commit](https://github.com/webpack-contrib/css

[2018-04-09 05:42] Spaxe commented on #74
Just traced my `postcss-loader` issue all the way here! Wow. Please fix. :)

[2018-04-09 19:40] themoch commented on #578
I'm having a slightly different issue.

Loader
[code]

input.css
[code]

transforms to:

output.css
[code]

☝️ notice the uppercasing of `E`.  This breaks the unicode used in the font icon

[2018-04-10 15:20] smmoosavi commented on #691
Can you find any solution?

[2018-04-10 16:29] justinstander commented on #447
So is there proper fix for this? I'm not having any luck in React with these workarounds.

[2018-04-10 19:07] executives commented on #447
Similar situation: Node, Webpack, React. Trying to read a file using fs.readFileSync and am getting this error.

Per [this discussion](https://github.com/webpack/node-libs-browser/pull/64), looks like memfs is being considered for use as a browser replacement for Node's fs package.

From what I can tell, the main problem is accessing Node libs for browser use.

[2018-04-10 23:32] executives commented on #447
@justinstander Here's my settled-upon solution:

I keep a file one directory above my project that contains my relevant env vars in JSON format.

In my webpack.prod.config.js file, I perform the following code:

[code]

In my code, I use these vars like so:
[code]

This works for me in my environment. My sensitive data is kept in a file outside the project. Node gets to use `fs` to import that dat

[2018-04-11 10:04] Ramnath24 commented on #617
ERROR in ./~/css-loader?{"minimize":true}!./~/sass-loader/lib/loader.js!./src/styles/_master.scss
Module build failed: Error: Cannot find module 'node-sass'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (C:\Users\B0074907\Desktop\

[2018-04-11 17:06] WinWinHost opened #704 "Babel and NodeJS not able to run webpack dev engine"
**Do you want to request a *feature* or report a *bug*?**
Sorry if this is a question. Seems like a bug to me.
Currently experiencing an error while trying to use with babel.
[code]

**What is the current behavior?**
Webpack should be able to run.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
Webpack should compile.

**Plea

[2018-04-11 17:30] WinWinHost commented on #704
Never mind. Fixed it.
[code]

So I guess if I want to include the .js files that webpack autogenerates, I don't need the loader, right?

[2018-04-11 17:30] #704 closed

[2018-04-12 04:53] GiancarlosIO commented on #552
I'm getting the same error with .eot, .woff2, .png files only when I enable modules  :cry:
![screenshot from 2018-04-11 23 45 29](https://user-images.githubusercontent.com/17274950/38656812-7c1eca40-3de2-11e8-85f5-25702acd8364.png)
My css-loader config:
[code]

[2018-04-12 10:12] ZeeCoder commented on #693
@d3viant0ne Is there any way I could be involved here?
@michael-ciniawsky seems to be doing most of the work now, but I cannot reach him with questions for some reason, and I don't know where else to turn. 🤔

[2018-04-12 11:48] kshitijmehta commented on #38
Hi,

I am using Webpack + Vue2 project, I am having the same problem,
The fonts inside the SCSS are not getting resolved. Below is the config, Can anyone help me on this.

 Webpack rules

   {
        test: /\.vue$/,   //Match the file extention
        loader: 'vue-loader',  //Loader type
        options: *vueLoaderConfig*
      },
    {
        test: /\.(woff2?|woff|eot|ttf|otf|svg)(\?.*)?$/,

[2018-04-12 11:50] kshitijmehta opened #705 "Not able to load the fonts from SCSS + webpack + Vuejs"
Hi,

I am using Webpack + Vue2 project, I am having the same problem,
The fonts inside the SCSS are not getting resolved. Below is the config, Can anyone help me on this.

Webpack rules

{
test: /.vue$/, //Match the file extention
loader: 'vue-loader', //Loader type
options: vueLoaderConfig
},
{
test: /.(woff2?|woff|eot|ttf|otf|svg)(?.*)?$/,
loader: 'url-loader', // i tried file-loader also
option

[2018-04-13 10:44] Oscar-ren commented on #571
looks like you used css module, delete ~ will ok

[2018-04-17 05:35] bugzpodder commented on #228
original issue + PR: https://github.com/webpack-contrib/css-loader/issues/21

[2018-04-18 11:30] Grohden commented on #455
@michael-ciniawsky  when the fix will be released?

[2018-04-18 15:06] vladivanovrf commented on #652
Hey guys, do you have any progress/plans on this issue?

[2018-04-19 23:43] npetruzzelli commented on #652
I haven't been able to fix it, but I've done some digging and will share what I have found in hopes of it being useful to someone who has more time to put into it.

In comment https://github.com/webpack-contrib/sass-loader/issues/484#issuecomment-314924134

A deleted user claimed to have fixed the issue by editing what was line number 198 at the time:
https://github.com/webpack-contrib/css-loader/

[2018-04-20 00:12] npetruzzelli commented on #652
I'm not sure about what kind of file and folder structure @jhnns was originally running into that cause the screenshot he first posted but this is what I see if I remove the prefix, and it appears to be correct:

![image](https://user-images.githubusercontent.com/19242218/39023911-692c60da-440b-11e8-9eb9-03a6868ed60d.png)

Yes, my code is in a directory called `src-0`, which is a child of the curr

[2018-04-23 12:53] HamzaAhmad932 opened #706 "semantic ui error in webpack"
ERROR in ./node_modules/css-loader?{"localIdentName":"[name]__[local]__[hash:base64:5]","importLoaders":1,"modules":true}!./node_modules/postcss-loader/lib?{"ident":"postcss","plugins":[null]}!./node_modules/semantic-ui-css/semantic.min.css
    Module not found: Error: Can't resolve 'themes/default/assets/fonts/outline-icons.woff2' in 'C:\webpack--03-finished\node_modules\semantic-ui-css'
....
Thi

[2018-04-23 12:57] evilebottnawi commented on #706
@HamzaAhmad932 you don't have loader for woff2, you can use `file-loader` for this type of assets

[2018-04-23 12:57] #706 closed

[2018-04-23 14:18] kshitijmehta commented on #705
I had to import fonts again along with the roboto SCSS in the main.js. And set a rule in the webpack.config.
There is an known issue when we use the postcss loader along with resolve-url-loader (as of the time of commenting this)

here is the url you can check https://github.com/bholloway/resolve-url-loader/issues/77

[2018-04-23 14:19] #705 closed

[2018-04-29 13:35] murphyj commented on #447
@executives what if you want to access the `fs` library outside of `webpack.config.js` ?

Example:
File: `configLoader.js`
[code]

File: `webpack.config.js`
[code]

File: `local/config.json`
[code]

File: `production/config.json`
[code]

I try and run `node dist/bundle.js` but I get the following error...

[code]

[2018-05-01 01:21] mrdanimal opened #707 "Using options throws error: parseQuery should get a string as first argument"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
Using `options` throws the error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

https://gist.github.com/mrdanimal/a49acbb6fcdcb4b44171db4675b769ba

**What is the expected behavior?**
It should allow you to configure the loader using `options`

**Please m

[2018-05-02 03:07] iahu opened #708 "Should not resolve CSS Custom Variables"
**Do you want to request a *feature* or report a *bug*?**
report a *bug*

**What is the current behavior?**
CSS Custom Variables be compiled as normal css property, like the split properties compile to be a shorthand property.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
will be compiled to
[code]

**What is the expected behavior?**
expected keep the `CSS Cu

[2018-05-02 11:40] evilebottnawi commented on #707
@mrdanimal Looks like a bug, feel free to fix and send PR

[2018-05-02 13:01] evilebottnawi commented on #708
Test for this https://github.com/webpack-contrib/css-loader/pull/709

[2018-05-02 13:04] evilebottnawi commented on #708
Main CI passed https://travis-ci.org/webpack-contrib/css-loader/builds/373920345?utm_source=github_status&utm_medium=notification. Looks like you have other plugins for `postcss-loader` or other loader what minimize you css or plugin for css minification and he is remove this. Not related to `css-loader`. Thanks!

[2018-05-02 13:04] #708 closed

[2018-05-02 14:18] iahu commented on #708
Thanks you reply.
I have trace the issue some times, and find it only happens at merging longhand properties to shorthand property. maybe we should add some case like
[code]
In fact, I have made a [fork repository](https://github.com/iahu/css-loader/commit/41a182954fb1020ece7b970657697d5386e3a97f) to test this case, you can clone it to run test command.

[2018-05-03 19:43] andrewMuntyan commented on #611
so, as i understand `css-loader` is not able to `@import` using absolute paths and i should use `postcss-import` for this purpose? i have ` resolve.modules ` in my webpack config but can't use `@import 'shared/styles/_colors.css';` in css file :(

[2018-05-04 01:28] sacredMonster opened #710 "[Help] webpack -p results in TypeError: Cannot read property 'length' of undefined"
I am using webpack 3 and along with that css-loader@0.28.11. When running webpack -d, it compiles just fine. However on doing webpack -p I get the following error:

ERROR in ./node_modules/css-loader!./node_modules/sass-loader/lib/loader.js!./stylesheets/main.scss
Module build failed: TypeError: Cannot read property 'length' of undefined
    at module.exports (..\node_modules\postcss-value-parser\

[2018-05-04 09:16] evilebottnawi commented on #710
It looks like you just deleted our lovely crafted [issue template]. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2018-05-04 09:16] #710 closed

[2018-05-04 09:16] evilebottnawi commented on #710
Also look on stack trace
`at ..\node_modules\css-loader\node_modules\postcss-minify-gradients\dist\index.js:65:65`
Problem in `postcss-minify-gradients`

[2018-05-04 09:17] evilebottnawi commented on #710
Will be create if you find css what throw this error and create issue in cssnano

[2018-05-06 13:19] pushkarskiy opened #712 "The option "minimize: true" breaks the assembly of the project"
Hello guys!
I have a problem when i do webpack build, problem depend on option minimize=true and when i trying inline svg files in css.
I tried to change packages versions, but i don't to found working variant

[code]
<img width="1300" alt="2018-05-06 16 03 47" src="https://user-images.githubusercontent.com/5006584/39673676-431f0a46-5149-11e8-8d9a-93a1498abf12.png">

[2018-05-06 13:28] evilebottnawi commented on #712
@pushkarskiy don't use `ETWP` for extract css for webpack@4. Please use https://github.com/webpack-contrib/mini-css-extract-plugin. Also css-loader use `cssnano@3`. In next major version `minimize` option will be remove. I recomandate switch on plugin https://github.com/NMFR/optimize-css-assets-webpack-plugin. Thanks!

[2018-05-06 13:28] #712 closed

[2018-05-07 09:45] bkrajendra commented on #691
any solution.
Im getting same error on laravel passport package asset migration on my centos7 server
get this error when i do
npm run dev

Im having root access to server

[2018-05-07 09:53] evilebottnawi commented on #691
Oh guys, you are right, WIP

[2018-05-07 09:54] evilebottnawi commented on #691
@bkrajendra please read you stacktrace before post issue , add `node-sass` to deps and install

[2018-05-08 06:37] yibn2008 commented on #124
If you don't need sourceMap and css module, you can try [fast-css-loader](https://github.com/yibn2008/fast-css-loader), it use RegExp to parse `@import` and `url(...)`, which will be faster than postcss.

[2018-05-08 06:43] ai commented on #124
@yibn2008 note, that regexp is not a safe way for CSS since CSS could contain a string (inlined SVG?) or comments with directives inside.

But it is a good idea to improve css-loader. Maybe we could try to create a css-loader fork with PostCSS (it’s parser is very fast), but without all features. Maybe CSS Modules is used every time and slow down the process?

[2018-05-08 07:43] yibn2008 commented on #124
@ai I have handled comments in css, but inline SVG haven't been tested. I'll try to use postcss alone later to see is the performance improved.

[2018-05-08 09:42] evilebottnawi commented on #124
@ai it is in our plans in future, if somebody started this i can help

[2018-05-09 08:43] tonghae opened #713 "Using modules: true with relative urs. How to?"
If I set modules: true in options, I get nice local-scoped unique style names. Really sweet feature, but it breaks import of relative urls in background-image and @font-face.
Got this error both in less-loader and postcss-loader.

url(kitty.jpg)
url('kitty.jpg')
url('./kitty.jpg')
All of these instructions are broken by modules: true.

`Module not found: Error: Can't resolve 'kitty.jpg' in '/Users

[2018-05-09 16:56] #713 closed

[2018-05-12 12:21] tony1Centre opened #714 "Couldn't use compose in Webpack 4"
Hi,

Webpack.config.js:
use: [
          {
            loader: "style-loader"
          },
          {
            loader: "css-loader",
            options: {
              modules: true,
              importLoaders: 1,
              localIdentName: "[name]_[local]_[hash:base64]",
              sourceMap: true,
              minimize: true
            }
          }
        ]
home.css:
.layout{

[2018-05-14 17:48] timswalling commented on #636
@pillowfication @franjohn21 I've just come across what appears to be the same problem, but it only occurs when I'm using the `extract-text-webpack-plugin`.

Is this case for you too?

[2018-05-15 17:04] HosseinAgha commented on #582
@Oscar-ren this is not working as css files content will change when using css modules

[2018-05-17 07:47] MichaelFBA opened #716 "NPM audit - Critical Command Injection"
Because of a deep dependancy `macaddress` it is advised not to use this plugin.

[code]

[2018-05-17 09:42] TomS- commented on #716
Noticed this, is there an alternative until this is fixed?

[2018-05-17 09:43] MichaelFBA commented on #716
Looks like it might be getting fixed downstream.

[2018-05-17 10:29] evilebottnawi commented on #716
@MichaelFBA need help with release `cssnano@4`

[2018-05-17 10:30] evilebottnawi commented on #716
https://github.com/ben-eb/cssnano/milestone/6

[2018-05-17 13:44] DavidHenri008 commented on #699
Can someone help. I am facing same issue with similar setup.

[2018-05-18 08:08] mickael-kerjean commented on #716
Same here but this issue is a symptom of a much deeper problem: why would a dependency of a dependency of a dependency of a dependency of a plugin that manage CSS in a build system would need to know about my mac address in the first place?

The randomid version of the Leftpad syndrom? Lack of third party dependency audit? It doesn't feel right.

[2018-05-18 09:30] TomS- commented on #716
@mickael-kerjean I was thinking exactly that, why does it need to know my mac-address?

[2018-05-18 11:07] mickael-kerjean commented on #716
@JamesCodes : The question isn't what it does but why did this land here in the first place. You can generate a unique id in 1 line of code:
[code]

[2018-05-18 11:10] JamesCodes commented on #716
@michael-ciniawsky completely agree, it's not needed. Looks like a fix may be close: https://github.com/postcss/postcss-filter-plugins/pull/18

[2018-05-18 11:12] evilebottnawi commented on #716
Guys i am contributor and maintainer `cssnano`, feel free to send PR, don't have time right, go ahead :+1:

[2018-05-18 12:00] JamesCodes commented on #716
I've fixed the linting issues on the PR that replaces the vulnerable dependancy: https://github.com/postcss/postcss-filter-plugins/pull/19

Just need to get it merged in and update the relevant dependent repos.

[2018-05-18 14:34] niedfelj opened #717 "Can't Live Edit CSS/SCSS Sources in Chrome Workspaces without file://"
**Do you want to request a *feature* or report a *bug*?**

FEATURE

**What is the current behavior?**
Sourcemap from sub module css (from sass-loader) is stringified with absolute paths

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Would be great to be able to use Chrome 66 workspaces to live edit files, but Chrome requires that s

[2018-05-18 14:39] evilebottnawi commented on #717
@niedfelj looks you ahve invalid configuration webpack out of box work with workspaces

[2018-05-18 14:43] niedfelj commented on #717
@evilebottnawi What should it be? I'm working with the new Shopify slate/slate-tools project. Opened this ticket with them also

https://github.com/Shopify/slate/issues/447

[2018-05-18 14:44] niedfelj commented on #717
Also reference this issue https://github.com/webpack/webpack/issues/6400

[2018-05-18 15:36] JamesCodes commented on #716
@evilebottnawi I have managed to get a fix merged into `postcss-filter-plugins` and have created an update to the tagged version of [cssnano](https://github.com/JamesCodes/cssnano/tree/css-nano-3.10.0-fixed), but I am a bit confused about how I can get that into the branch

[2018-05-18 15:49] evilebottnawi commented on #717
Looks like we can close this issue in favor https://github.com/webpack/webpack/issues/6400

[2018-05-18 15:52] evilebottnawi commented on #716
@JamesCodes just update you deps and lock file (`cssnano@3` already use `^` for this plugin https://github.com/ben-eb/cssnano/blob/v3.10.0/package.json#L40)

[2018-05-18 16:03] JamesCodes commented on #716
@evilebottnawi You will have to excuse my ignorance, but I don't quite understand. My project is dependant on `cssnano`. Is it not possible for me to contribute to that package with the fix?

[2018-05-18 16:05] evilebottnawi commented on #716
@JamesCodes `cssnano@3` already have fixed version of plugin (just update your deps and lock file), `cssnano@4-rc` doesn't use this module and all works file.

[2018-05-18 16:06] JamesCodes commented on #716
@evilebottnawi I'm with you now! Thank you very much.

[2018-05-18 16:35] niedfelj commented on #717
@evilebottnawi While they are related, they are not the same issue. css-loader is responsible for munging these sourceMaps, there is nothing webpack or that issue can do to resolve it by itself.

[2018-05-18 18:16] niedfelj commented on #717
I guess with an option like sourceMapUrlPrefix or a similar callback function as mentioned above with devtoolModuleFilenameTemplate(info) (or maybe look for that output setting and use the same so they output the same file formats?

[2018-05-18 18:21] evilebottnawi commented on #717
@niedfelj we should first solve this in webpack, maybe add new api, which allow to us using this, no new option

[2018-05-18 19:04] niedfelj commented on #717
Sounds good, can we leave this open as a tracking ticket?

[2018-05-18 19:09] evilebottnawi commented on #717
@niedfelj :+1:

[2018-05-19 13:47] kumorig commented on #716
So, since I'm not all that good with npm/github, I must ask: Do you consider this fixed now? How do you even handle this in your projects?

Do you fork css-loader, change deps, use your own fork and hope you don't forget about it (like what if there are more critical vulnerabilities found later, do I even get a notice if I use my own github-fork?)

Or do you edit your package-lock file, update css

[2018-05-20 15:03] KyloJorgensen commented on #716
Manual Review
             Some vulnerabilities require your attention to resolve

          Visit https://go.npm.me/audit-guide for additional guidance

  critical        Command Injection

  Package         macaddress

  Dependency of   css-loader

  Path            css-loader > cssnano > postcss-filter-plugins > uniqid >
                  macaddress

  More info       https://nodesecurity.io/ad

[2018-05-20 15:42] bdiz commented on #716
What is the npm command for getting the dependency updated? I've tried many things but nothing has worked for me.

[2018-05-20 17:48] Hypnosphi commented on #716
@evilebottnawi unfortunately, `postcss-filter-plugins` has this fixed only in v3, which isn't covered by `^2.0.0` range

[2018-05-20 18:06] KyloJorgensen commented on #716
@dbiz
npm update the-name-of-the-dependency

[2018-05-20 19:33] JasonFritsche commented on #716
Is it safe to use this on a local server?

[2018-05-21 09:59] evilebottnawi commented on #716
Just update your deps and lock files (run `npm/yarn install`) and all

[2018-05-21 09:59] #716 closed

[2018-05-21 16:52] rettgerst commented on #716
I don't think this issue is resolved yet.

the issue is fixed upstream in postcss-filter-plugins version 3.0.1. this package depends on cssnano ^3.10.0, which itself depends on postcss-filter-plugins ^2.0.0. the caret means npm will _not_ install postcss-filter-plugins higher than 2.x.x, so nuking node_modules, or running `npm upgrade` still leaves me with postcss-filter-plugins 2.0.2.

I created

[2018-05-21 17:00] evilebottnawi commented on #716
@rettgerst yep, you are right, `cssnano@3` use `postcss-filter-plugins@2`, need backport, we can't update this in `cssnano@3` due backward compatibility :disappointed:

[2018-05-21 23:29] ahester57 opened #719 "Security vulnerability in uniqid > macaddress dependency."
🚨🚨🚨
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
![image](https://user-images.githubusercontent.com/18651861/40334679-cfc749cc-5d24-11e8-8158-208bddbe94ca.png)

**What is the expected behavior?**

No Command Injection

**Please mention other relevant i

[2018-05-22 09:57] tbsvttr commented on #719
Same problem on:
`+ macOS 10.13.4
+ Node 8.11.2
+ NPM 6.0.1`

[2018-05-22 15:13] magnusriga commented on #716
@evilebottnawi

I am confused about this. The problem is not solved on my end.

I installed cssnano@next (4.0.0-rc.2), deleted node_modules and lock files, and re-installed npm as advised.

The problem is still that css-loader depends on cssnano@3.10.0. So whenever I install css-loader, the old cssnano is automatically installed (next to cssnano@next) and used as the dependency.

I need to somehow

[2018-05-22 15:22] evilebottnawi commented on #716
@magnusriga because `css-loader` use `cssnano@3`, i wrote about this above. Need solve this issue https://github.com/ben-eb/cssnano/projects/1, PR welcome, right now i am one who support `cssnano` with `2m` downloads, i don't have time on all (i maintain `prettier/stylelint/webpack/webpack-contrib/cssnano/etc` also i have regular work), i need you help.

Also after fix cssnano issues we can update

[2018-05-22 15:34] rettgerst commented on #716
postcss-filter-plugins merged my PR and released 2.0.3, but I don't [see it on npm yet](https://www.npmjs.com/package/postcss-filter-plugins). whenever 2.0.3 shows up on npm, new installs will use 2.0.3 and the issue will be resolved here and anything else downstream of postcss-filter-plugins v2. neither this package nor anything else upstream need any more maintenance to fix this issue.

[2018-05-22 15:45] magnusriga commented on #716
@ahester57 How can it be avoided? I was only able to remove the vulnerability by removing css-loader completely from the project?

Do we not have to just update the dependency css-loader uses? Move it from cssnano@latest to cssnano@next (which has fixed the issue)?

[2018-05-22 15:48] evilebottnawi commented on #716
@magnusriga move to `cssnano@next` it breaking changes, also `cssnano@next` is not fully complete.

[2018-05-22 15:48] magnusriga commented on #716
@rettgerst Sorry to beat a dead hores (and for the naive question), but is the problem here not that css-loader uses cssnano@3.10.0 instead of 4.0.0-rc.2? I was under the impression that cssnano@4.0.0-rc.2 had removed its dependency on postcss-filter-plugins v2.

If that is correct, is not all that is needed to update what dependency css-loader uses (from cssnano@3.10.0 to cssnano@4.0.0-rc.2)?

[2018-05-22 15:53] evilebottnawi commented on #716
Guys stop spamming, it is bug tracker, please use https://gitter.im/webpack/webpack for communication, also i avaliable here if somebody have question I will reply within 24 hours within business days.

Right now we triangle how we can move `css` as build-in part of webpack. But i agree we need update `css-loader` before we do this.

Problem with vulnerable dep already fixed and release in `postcs

[2018-05-22 20:39] apexskier commented on #561
What's the status on this?

[2018-05-23 14:55] jspencersharpe commented on #716
Seems like npm's server problems are resolved because deleting node_modules and package-lock didn't fix the critical vulnerability yesterday but fixes it today. Thanks @evilebottnawi.

[2018-05-23 17:03] whimsicaldreamer opened #721 "Prepending URLs in CSS file with ".." to make them relative paths"
I am trying to prepend my URLs in css with `..` as the current URL that is being created is something like `/assets/images/image1-hash` as a result the image doesn't show up on the html page.

The following is my `dist` folder structure:

[code]

From #655 I understand that `url` option can also be a function and I tried implementing that way but the output didn't have the `..` prepended. Is it so

[2018-05-23 17:12] ydennisy opened #722 "Keep CSS local using Modules"
Hey
I am using Webpack 4 and trying to use CSS modules, my config is as the below. I cannot see any local names attached to the CSS classes in the browser, and the app is still polluted by the parent website.

[code]

[2018-05-24 16:42] npetruzzelli commented on #652
I've been doing some additional digging, and it looks like the problem may be spread out between **sass-loader**, **postcss-loader**, and **css-loader**.

css-loader, might still be contributing to it, but not as much as initially thought. I won't know until I can fix it locally and open up pull requests for each repository.

[2018-05-24 16:46] evilebottnawi commented on #652
@npetruzzelli `sass-loader` just output source map from `node-sass` (maybe bug in node-sass), postcss don't change source maps, looks problem with `css-loader` or `node-sass`

[2018-05-24 18:52] KevinDanikowski commented on #447
I added `node: { fs: 'empty' }` without luck,

then I added --config to start command:
̀webpack-dev-sever webpack.config.dev.js`

You must add the --config flag to put in a custom file.
̀webpack-dev-sever --config webpack.config.dev.js`

Boom! It worked.

[2018-05-25 07:07] nguyenhuutinh opened #723 "Not able to load image url from css file + webpack 4"
Hello,
I tried to render image in scss file but cannot. Using require() in js is ok. But cannot load image url in css file

Here is my config
{
        // Preprocess our own .scss files
        test: /\.scss$/,
        exclude: /node_modules/,
        use: ['style-loader', 'css-loader', 'sass-loader'],
      },
my sccs script:

background: url("images/header/book.png") no-repeat;

[2018-05-25 10:54] evilebottnawi commented on #723
Please use issue template, also you need `url-loader` or `file-loader` for assets.

[2018-05-25 10:54] #723 closed

[2018-05-25 14:43] npetruzzelli commented on #652
@evilebottnawi I must respectfully disagree. As I will outline below, both postcss-loader and sass-loader alter the contents of the source map fields, so we can't say it "just outputs" (or otherwise passes through) anything.

I'm still looking, but so far the only place I've found css-loader to be interacting with source maps is the following: https://github.com/webpack-contrib/css-loader/blob/889

[2018-05-27 14:05] TongDaDa opened #724 "Why i import .less file from node_modules, css-loader still compile css of class"
[code]

I have found no effect to do so. because it is compiled into a hash.
We can not introduce any file from a node_modules is processed by a CSS - modules

[2018-05-28 11:08] evilebottnawi commented on #724
@TongDaDa not related to `css-loader`, looks problem in `less-loader`. Also please use issue template. We don't have enough data to help you.

[2018-05-28 11:08] #724 closed

[2018-05-28 13:38] TongDaDa commented on #722
You are using the CSS file suffix ?

[2018-05-28 13:43] TongDaDa commented on #724
@evilebottnawi You can see the webpack config loaders, please.

[2018-05-28 14:03] evilebottnawi commented on #714
@tony1Centre Please use issue template. Feel free to recreate/reopen when you fixed it.

[2018-05-28 14:03] #714 closed

[2018-05-28 14:04] evilebottnawi commented on #700
Not related to `css-loader`, please create issue in https://github.com/css-modules/postcss-modules repo

[2018-05-28 14:04] #700 closed

[2018-05-28 14:05] evilebottnawi commented on #687
@thasmo sorry for delay, interesting, can you create minimum reproducible test repo?

[2018-05-29 09:16] ydennisy commented on #722
No, could you explain more on how to achieve this?

[2018-05-29 09:49] Yaowenjie commented on #569
@PookMook are you still having this issue? I met this as well, could you tell me what you did for it? Thanks!

[2018-05-29 09:54] tornography opened #725 "Outdated cssnano, autoprefixer, browserslist"
Hi, I found out the outdated dependency of `cssnano@3.10.0` uses an outdated version of `autoprefixer@6.7.7` that uses an outdated version `browserslist@^1.7.6`.

As browserlist currently is at version 3.2.8, there are error when setting the browserlist options in package.json:

[code]

causes an error `BrowserslistError: Unknown browser query '<1%'`.

As this is definately fixed in in that versio

[2018-05-29 11:38] Yaowenjie commented on #459
@zaneadix I used your way to customize one loader for my issue, which is about a special character in css content (e.g. ü inside of `content: 'something über'`), it works fine. Thank you so much!

[2018-05-29 12:01] evilebottnawi commented on #725
@tornography we are working on `cssnano@4`, also i recomadate to move from `minimize`, because this option will be remove in next major version. Thanks!

[2018-05-29 12:01] #725 closed

[2018-05-29 21:14] trusktr commented on #295
In my case, I accidentally had the same loader twice. For example:

[code]

Removing one worked, so it isn't applied twice.

[2018-05-30 05:55] ydennisy commented on #722
What is the purpose of `ExtractTextPlugin` in this setup?

[2018-05-30 13:16] #721 closed

[2018-05-30 14:06] Volune commented on #652
I met this issue too, and did some more investigation. Hopefully that can help.

----
First, things I've read from the doc
- Webpack says the loaders should return sourcemaps compatible with mozilla/source-map module, [see here](https://webpack.js.org/api/loaders/#this-callback)
- source-map says the `sources` must be URL

----
In fact, I've identified one function in source-map [util.join](https:

[2018-05-30 14:34] evilebottnawi commented on #652
PR welcome!

PR welcome!

It is require for internal works, we can fix it in next major release.

[2018-05-31 02:12] TongDaDa commented on #722
Because want to extract separate CSS file, may not need now

[2018-06-04 10:53] bartpukas-67bricks opened #726 "an"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2018-06-04 10:55] evilebottnawi commented on #726
@bartpukas-67bricks please fill you issue

[2018-06-04 10:55] #726 closed

[2018-06-07 00:07] #596 closed

[2018-06-07 09:38] mininao commented on #233
Hi @evilebottnawi !
I still have this issue as of today, it seems other people do too here : https://github.com/css-modules/css-modules/issues/95
@jmar777 describes the issue pretty well here : https://github.com/css-modules/css-modules/issues/95#issuecomment-369822016
So yeah, pretty annoying for anyone who tries to import an icon font for example.

Thanks a bunch for your work on this 👍 😄 !

[2018-06-08 21:57] zyrolasting opened #727 "No resolution and/or transformation applied to `url()` using `options.alias`."
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
I am adding to the conversation re: aliases similar to #557. `url()` does not seem to resolve correctly according to an alias configuration `css-loader` shares with `enhanced-resolve`. I have been using latest, but have rolled back to 0.28.0 after seeing whispers about a breaking change. Nothing impro

[2018-06-11 04:02] WuJiangquan commented on #617
try this:
npm install --save-dev node-sass

[2018-06-12 09:39] Birne94 opened #728 "Resources not found when being included through current directory"
**Do you want to request a *feature* or report a *bug*?**

This is a bug.

**What is the current behavior?**

I am trying to include some fonts within my stylesheets:

[code]

Directory structure:

[code]

Error:

[code]

I have verified that the path is correct and the files I want to access are accessible.

When changing the font url to include the parent directory, everything works:

[code]

**

[2018-06-12 12:38] kamalendugarai opened #729 "Module build failed: Error: Cannot find module '../../css-loader/lib/css-base.js'"
Hi,

I am getting this errors **"Module build failed: Error: Cannot find module '../../css-loader/lib/css-base.js'"** and can not solve it. I am under impression that this is more of a "Bug". I have tried searching and came up with a close solution I have already tried but didn't fixed the issue (https://github.com/webpack-contrib/css-loader/issues/64).

For more information I am placing screensho

[2018-06-12 12:51] FE-Lockie commented on #728
same as you~

[2018-06-13 03:06] NewPrototype opened #730 "I want to know, in loader.js, what is the map value of the second parameter in the function?"
[code]
What are the map parameters above?

[2018-06-13 17:21] evilebottnawi commented on #730
source map, also it is not QA, please use gitter for this, thanks

[2018-06-13 17:21] #730 closed

[2018-06-17 02:54] rwinzhang commented on #691
Get the same problem here, any update?

[2018-06-18 14:00] tpopov94 opened #732 "Critical vulnerability in css-loader@0.28.11 - retire.js"
Retire.js identifies a critical vulnerability when scanning projects with css-loader as dependency.

`Retire.js Report`:
`   "results": [
      {
        "component": "macaddress",
        "version": "0.2.8",
        "parent": {
          "component": "uniqid",
          "version": "4.1.1",
          "parent": {
            "component": "postcss-filter-plugins",
            "version": "2.0.2",

[2018-06-19 12:18] mlnor27 opened #733 "Hash classNames only with CSS modules"
Hi everyone,

Sorry if my topic is duplicated, it seems that no issues relate to my problem.
I'm on an ejected create-react-app config, where i enabled scss files and css modules.

I would like to keep the classNames as they are if i import my css file like this :
`import './style.scss'`
with a regular className written the regular way :
`<div className="homeContainer">...</div>`

And i only want

[2018-06-19 12:55] danny-andrews commented on #509
Any news on when module support will be dropped from css-loader and where the alternative package will live? I'm very interested in helping out with getting named exports finished but it sounds like it should be done in another repo.

[2018-06-19 13:04] evilebottnawi commented on #509
@danny-andrews in todo list

[2018-06-19 13:18] danny-andrews commented on #509
@evilebottnawi I'm afraid I don't have the context to start the work on this. Was hoping there was somewhere existing to contribute. :)
Seems like it might also depend on this: https://github.com/webpack/webpack/pull/6448?

[2018-06-19 13:33] evilebottnawi commented on #509
@danny-andrews abandoned, also `css-modules` should not be a part of css pipeline in webpack, a lot of people use vanilla css, or scss/less or css-in-js and etc. In `css-loader@1` we drop css-modules support inside loader, better use for this babel-plugin or `css-modules-loader` (need implement)

[2018-06-22 14:11] budarin opened #734 "importLoaders doc"
there is inconsistent comment
[code]
do you mean 2nd loader will be css-loader? not again postcss?
[code]

[2018-06-22 14:16] evilebottnawi commented on #734
@budarin docs are right, with 1 only `postcss-loader`, with two `postcss-loader` and `sass-loader` (i.e. each `scss` will be also handle `postcss-loader`)

[2018-06-22 14:36] budarin commented on #734
got it! Thanks

[2018-06-22 14:36] #734 closed

[2018-06-25 00:33] mikeumus commented on #691
I had a nasty looking bug in a docker version of my app that upgrading `css-loader`'s `postcss` module to `^6.0.1` fixed for me:

[code]

[2018-06-25 08:18] TongDaDa commented on #733
I encountered same problem with you !! i want to find a good idea for resolve it.

[2018-06-25 08:27] TongDaDa commented on #733
I using less file to build a project and use css-modules of css-loader, but when import less file from 'node_modules' and local less, but from the 'node_modules' file is HASH classname, I hope except css-modules when from 'node_modules' import the less file.

[2018-06-25 08:49] TongDaDa commented on #733
@mlnor27 Do you resolve this problem ?

[2018-06-25 13:36] BiosBoy opened #736 "."

[2018-06-25 13:51] #736 closed

[2018-06-26 10:42] kamalendugarai commented on #729
Hello All,

I have finally found the issue. As I have set jQuery as external module...
`
config.externals = {
jquery: 'jQuery'
}
;`
and set not to parse jquery as any module by Webpack as follows...
`
 noParse: /jquery/,
`
...as you can see this is a regex expression, so its trying to match this with every file name whenever it appears to the name file get ignored.
So, I have removed "jquery" from

[2018-06-26 10:42] #729 closed

[2018-06-26 17:22] kzusy opened #737 "ar"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2018-06-26 17:22] #737 closed

[2018-06-27 16:46] pumano commented on #732
update `macaddress` dependency and make a release please.

[2018-06-27 16:47] evilebottnawi commented on #732
@pumano we don't have `macaddress` in deps, please update own deps and lock file

[2018-06-27 23:42] anhmt90 commented on #552
I am getting the same error too. When changing css-loader to `modules: true`, I got the

![image](https://user-images.githubusercontent.com/16328682/42005428-89567c0c-7a74-11e8-9d5c-72bc36d148ba.png)

"css-loader": "^0.28.11",
"react-summernote": "^2.0.0",

Please help!

[2018-06-28 17:30] turbobeast commented on #732
@evilebottnawi you do have [cssnano](https://github.com/cssnano/cssnano) `v3.10.0` which has an older version of [post-css-filter-plugins](https://github.com/postcss/postcss-filter-plugins) (`v2.0.2`), that still depends on [uniqid](https://github.com/adamhalasz/uniqid) (also an older version), that has the vulnerable version of [macadress](https://github.com/scravy/node-macaddress).

The version

[2018-06-30 08:09] TongDaDa commented on #733
Ok, coincidentally, I used to have this idea too, it may not a good way though haven't others ways yet.

[2018-07-04 05:55] JayAndCatchFire opened #738 "sourcemap doesn't work as expected with css-modules"
**What is the current behavior?**
With `sourceMap` and `modules` both enabled, the soucemaps don't seem to work as expected.  The source that shows in the browser's dev tools is the JavaScript, not the actual CSS.

**If the current behavior is a bug, please provide the steps to reproduce.**
I created [this repository](https://github.com/JayAndCatchFire/css-loader-sourcemap-example) to minimally re

[2018-07-04 22:12] evilebottnawi commented on #727
Don't use `alias` option, it is removed in `1.0.0` version, please use https://webpack.js.org/configuration/resolve/ or https://github.com/postcss/postcss-url with `postcss-loader`

[2018-07-04 22:12] #727 closed

[2018-07-04 22:15] evilebottnawi commented on #526
Please don't use `root` option, it will be removed in `1.0.0`, use https://github.com/postcss/postcss-url

[2018-07-04 22:15] #526 closed

[2018-07-04 22:19] evilebottnawi commented on #728
Not related to `css-loader`, please put this issue for `less-loader`

[2018-07-04 22:19] #728 closed

[2018-07-05 02:30] willin opened #743 "sass compile with css: require is not defined"
**Do you want to request a *feature* or report a *bug*?**

perhaps bug

**What is the current behavior?**

ref: https://github.com/peerigon/extract-loader/issues/41

**If the current behavior is a bug, please provide the steps to reproduce.**

![1](https://user-images.githubusercontent.com/1890238/42299265-d5a60492-803c-11e8-8e94-dd63d8f0f0d9.jpeg)

![2](https://user-images.githubusercontent.com/1

[2018-07-05 02:55] terremoth commented on #652
I am experiencing the same thing!

friendly ping to @jwldnr and @evilebottnawi

I am using Windows and Wamp server, and all the things and options tried in
"https://webpack.js.org/configuration/output/#output-devtoolmodulefilenametemplate"
returned a wrong path, even modifying "file//" to "file///"
It duplicates part of the path in the URI...

Using, for example, "[absolute-resource-path]" returns

[2018-07-05 14:05] fabinhofz opened #744 "npm i css-loader has return error"
Hello,

I tried to start a new webpack project, when I put this css loader on my package.json like that "css-loader": "^0.28.9". Something went wrong, an ERR returned: "npm ERR! Unexpected end of JSON input while parsing near '...evDependencies":{"bab'".

![image](https://user-images.githubusercontent.com/14041042/42327904-519e662e-8043-11e8-898d-009a2e210fbb.png)

[2018-07-05 14:09] evilebottnawi commented on #744
@fabinhofz maybe npm bug, try `rm -r node_modules && rm -r package-json.lock && npm cache clear --force && npm`, if problem still exists please create issue in npm repo, thanks!

[2018-07-05 14:09] #744 closed

[2018-07-05 17:17] fabinhofz commented on #744
It works, right now! thanks, @evilebottnawi.

[2018-07-06 16:50] evilebottnawi commented on #743
@willin thanks for issue, looks in `extract-loader`

[2018-07-06 16:54] evilebottnawi commented on #243
Problem in https://github.com/css-modules/postcss-icss-selectors, looks already fixed (https://github.com/css-modules/postcss-icss-selectors/pull/49), if problem still exists, please create in issue in https://github.com/css-modules/postcss-icss-selectors

[2018-07-06 16:54] #243 closed

[2018-07-06 16:54] evilebottnawi commented on #253
Not related to `css-loader` please create issue with feature request in https://github.com/css-modules/postcss-modules, thanks!

[2018-07-06 16:54] #253 closed

[2018-07-06 16:55] evilebottnawi commented on #333
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-07-06 16:55] #333 closed

[2018-07-06 17:11] evilebottnawi commented on #733
@TongDaDa using `:global` on selectors, or use `.modules.css` extensions for modules and `.css` for vanilla css, example here https://github.com/facebook/create-react-app/blob/next/packages/react-scripts/config/webpack.config.dev.js#L302

[2018-07-06 17:15] evilebottnawi commented on #689
fixed in https://github.com/webpack-contrib/css-loader/blob/master/CHANGELOG.md#02811-2018-03-16

[2018-07-06 17:15] #689 closed

[2018-07-06 17:16] evilebottnawi commented on #662
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-07-06 17:16] #662 closed

[2018-07-06 17:20] evilebottnawi commented on #329
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-07-06 17:20] #329 closed

[2018-07-07 14:44] TongDaDa commented on #733
@valscion Thanks!

[2018-07-08 09:28] HairyRabbit commented on #717
:)

Anything update here?

![image](https://user-images.githubusercontent.com/5752902/42418484-3d205ae8-82d4-11e8-858d-8ea3d7278a1a.png)

[2018-07-08 17:34] j-u-p-iter commented on #49
Guys, may be this stuff should be documented?

[2018-07-08 17:39] j-u-p-iter commented on #49
Pretty cool! Is this documented somewhere?

[2018-07-08 20:03] MSTWNTD1 opened #745 "minimize option not working after upgrade."
After upgrading to version 1.0.0 the minimize option stopped working.

This is the configutation I have:

![capture](https://user-images.githubusercontent.com/5055390/42423429-00cc945a-82c8-11e8-910d-984aa7231ce4.png)

I am using ubuntu 18.04 with nodejs 8.10.0. When I downgrade css-loader to version 0.28.11, the minimize option works as expected. Is there something I'm missing?

[2018-07-09 02:21] polco commented on #745
it's in the breaking changes of the last release: https://github.com/webpack-contrib/css-loader/releases

[2018-07-09 09:08] jussikinnula opened #746 "css-modules changes context to it's directory when using background image: url( ... ) with relative path to node_modules package"
Note! This is a copy from https://github.com/css-modules/css-modules/issues/296 to track this issue on `css-loader` side as well.

We're using bunch of loaders (e.g. stylus-loader, postcss-loader, css-loader & style-loader) on top of Webpack to bundle the CSS. After switching to CSS modules, we've had bunch of strange things occurring like this one. I'm happy to provide more input if needed.

Exam

[2018-07-09 09:32] evilebottnawi commented on #745
Yes, it is breaking chage, please use `cssnano` using `postcss-loader` or use plugin for this

[2018-07-09 09:32] #745 closed

[2018-07-09 09:46] evilebottnawi commented on #746
@jussikinnula looks better solve this problem in `css` modules, because we remove their support in `2.0` version in favor `postcss-loader` + `postcss-modules`

[2018-07-09 09:47] jussikinnula commented on #746
Re @evilebottnawi, I did added this issue just for keeping track of the actual problem. There's already issue on css-modules side to work for a proper fix :-)

[2018-07-09 12:10] gcangussu commented on #652
I'm experiencing the same problem on MacOS, the path to the original file on the source map is
```/Users/gabriel/Repos/myProject/app/styles/app/styles/_styles.scss```
But the respective file is really at
```/Users/gabriel/Repos/myProject/app/styles/_styles.scss```

Note that there is a repeated `app/styles/` on the source map path.

[2018-07-09 12:58] x-yuri opened #747 "CSS file doesn't get rebuilt when image it references changes on disk"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
When image that is referenced in a CSS file changes on disk, the CSS file doesn't get rebuilt (`webpack-dev-server`).

**If the current behavior is a bug, please provide the steps to reproduce.**

Here's [the archive](https://github.com/webpack-contrib/css-loader/files/2176074/extract-text-dependent-i

[2018-07-09 13:00] evilebottnawi commented on #747
@x-yuri looks bug feel free to send PR

[2018-07-10 09:16] #743 closed

[2018-07-12 12:11] evilebottnawi commented on #687
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-07-12 12:11] #687 closed

[2018-07-12 12:14] evilebottnawi commented on #77
@pstoica can you provide more information about feature?

[2018-07-17 12:21] anil26 opened #749 "Multiple keyframes are generated with same name in production build(not using css modules)"
"css-loader": "^0.26.0",
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Multiple keyframes are generated with same name in production build(not using css modules)
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
css-loader should give an option to prevent keyframes naming

**Please men

[2018-07-17 15:02] fccoelho7 commented on #418
@Mioleris how did you solved that problem? I've got the same. 😕

[2018-07-18 19:54] pstoica commented on #77
When I tried to debug CSS, I would go to the file and only see the `:local` syntax without the real ID.

I don't use this module anymore and don't know if this is still the case. Feel free to close this!

[2018-07-18 19:58] #77 closed

[2018-07-21 12:04] anil26 commented on #749
Closing the issue as this was not specifically css-loader issue. I was able to fix it using cssnano minifier config in postcss-loader. I have answered this question on stack overflow for reference
https://stackoverflow.com/questions/51383596/multiple-keyframes-are-generated-with-same-name-in-production-buildnot-using-cs/51402681#51402681

[2018-07-21 12:04] #749 closed

[2018-07-23 05:50] NE-SmallTown opened #750 "File won't be packed and no error tip when use absolute path in url()"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
[code]

If so, the iconfont.eot won't be packed to a module/file to the dist directory and won't be added to the devServer when I request the page.

If I add an option/query such as `root: process.cwd()` or `alias: {'/src': '../../../'}` to the `css-loader`, the iconfont.eot will be packed to the dist

[2018-07-24 02:31] zhangolve commented on #750
same question

[2018-07-24 05:54] gwm4230670 opened #751 "How to disable className change in production mode."
changes the className of the third-party package when it runs in production mode. It causes a different result than the server side renders. how can I disable it or other way.

[2018-07-24 08:38] #751 closed

[2018-07-24 10:10] evilebottnawi commented on #750
Please create minimum reproducible test repo

[2018-07-24 12:35] NE-SmallTown commented on #750
Sorry for too busy, I will provide the repo this weekend if you don't mind

[2018-07-26 05:10] steelx commented on #640
is there any workaround ! Cause I really want to use Firefox over RAM monster (..chrome)

[2018-07-28 01:54] Giannidluca commented on #295
Hey guys, I actually found that if you change the order of your loaders that fix the problem. I used to have css-loader first and style-loader second inside the array but when i switch them it worked.

            test: /\.css$/,
            use: [
                'style-loader',
                'css-loader',
                'sass-loader'
            ]

[2018-07-28 09:49] NE-SmallTown commented on #750
@ekulabuhov

clone `https://github.com/NE-SmallTown/css-loader-absolute-path-test` and run `npm start`

I add `exclude: file => console.log(11111, file)` in the `test: /\.(png|jpg|gif|svg|ttf|woff|eot)$/`

If I don't add `root: process.cwd()` to the `query` of `extractLESS.extract`, the build is:

![image](https://user-images.githubusercontent.com/18418010/43355415-438634f6-928e-11e8-9bae-c5cee079

[2018-07-29 20:51] hguiney opened #752 "Breaks `@apply`able Custom Properties"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
CSS Custom Properties (i.e. variables) which specify nested properties (i.e. mixins) for use with `@apply`, get escaped on output, which prevents use.

**If the current behavior is a bug, please provide the steps to reproduce.**
Given this input:
[code]
…CSS Loader produces this output:
[code]

[2018-07-30 10:16] evilebottnawi commented on #752
Should be fixed in https://github.com/webpack-contrib/css-loader/pull/748

[2018-07-30 13:39] marswong commented on #506
any update on this?

[2018-07-30 13:42] evilebottnawi commented on #506
in `css-loader@2` we drop support `css` modules in favor `postcss` plugins, looks you need postcss plugin for these

[2018-07-30 15:02] iksent commented on #38
Try to install modules:

`
yarn add style-loader
yarn add css-loader
yarn add url-loader
`

Then in webpack.config.js add:
`
    module: {
        rules: [
            {
                test: /\.jsx?$/,
                exclude: /node_modules/,
                loader: 'babel-loader',
            },
            {
                test: /\.css$/,
                loader: ['style-loader', 'css-loader']

[2018-08-03 13:46] anxolin commented on #652
Same issue here, with:

"webpack": "^4.16.4",
"css-loader": "^1.0.0",
"sass-loader": "^7.1.0",
"style-loader": "^0.21.0"

[2018-08-07 15:15] padakuro commented on #750
I just hit the same problem and could track it down to [this line](https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L102) in *processCss.js*.

[code]

The check `loaderUtils.isUrlRequest(item.url)` will return `false` for absolute paths (see [here](https://github.com/webpack/loader-utils/blob/master/lib/isUrlRequest.js#L6)) so the URL is ignored. Removing this check will

[2018-08-07 15:25] NE-SmallTown commented on #750
@padakuro https://github.com/webpack/loader-utils/blob/master/lib/isUrlRequest.js#L4-L7 , seems intended

[2018-08-08 17:47] evilebottnawi commented on #747
Out of scope `css-loader`. `postcss-image-sizes` should send message with type `dependency`  for each generated image https://github.com/postcss/postcss-loader/blob/master/src/index.js#L151

[2018-08-08 17:47] #747 closed

[2018-08-08 17:50] evilebottnawi commented on #746
We drop built-in support `css` modules in `2.0.0` version (https://github.com/webpack-contrib/css-loader/pull/748). Now you should use `postcss-loader` for their. But looks many `css` modules plugins is abandoned. I would recommend that you switch to another technology (example `css-in-js`) or you can use old `css-loader` version.

[2018-08-08 17:52] #733 closed

[2018-08-08 18:06] evilebottnawi commented on #624
@fend25 expected because `style-loader` already do this logic, if you want use own hmr logic don't use `style-loader` for this module.

[2018-08-08 18:06] #624 closed

[2018-08-08 18:08] evilebottnawi commented on #652
We prepare `2.0.0` release (drop built-in `css` modules and refactor code), after release `2.0.0` we take care about source maps

[2018-08-08 18:10] evilebottnawi commented on #738
@JayAndCatchFire problem still exists? If yep please create minimum reproducible test repo

[2018-08-08 18:14] #722 closed

[2018-08-08 19:13] JayAndCatchFire commented on #738
I made a minimally reproducible repo. It was mentioned in the original description.

https://github.com/JayAndCatchFire/css-loader-sourcemap-example

I can update the deps and see if it still happens in the next couple of days.

[2018-08-08 21:03] milesj opened #754 "Upgrade to PostCSS v7"
**Do you want to request a *feature* or report a *bug*?**

New feature.

**What is the current behavior?**

Uses PostCSS v6.

**What is the expected behavior?**

Use PostCSS v7.

**If this is a feature request, what is motivation or use case for changing the behavior?**

Most loaders and tools have been updated to v7. Looks like this loader is the current outlier.

**Please mention other relevant

[2018-08-10 05:14] tanin47 opened #755 "css-loader doesn't export Webpack's stats when @import is used"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

The Webpack's stats doesn't seem to contain any data related to `@import`

**What is the expected behavior?**

When reading a file from `@import`, ensure that the imported file path and the path of the file contains `@import` are written to Webpack's stats (https://webpack.js.org/api/stats/).

I'

[2018-08-10 07:28] NE-SmallTown commented on #750
@ekulabuhov Could you please look at this? Thanks

[2018-08-10 10:51] evilebottnawi commented on #755
@tanin47 It is expected because any css import become js module. Better create this issue inside webpack.

[2018-08-10 14:53] tanin47 commented on #755
This explains why Webpack's stats contains the content of the css import, for example:

[code]

Notice `.beautiful-box`, which is the content in the css file.

However, the css file path is nowhere to be found.

Could you point to the code where it converts css import to a js module? It might be helpful to me. I want to try to solve this problem by leaving a trail that contains the css file path.

[2018-08-10 20:25] andrey-helldar opened #756 "[question] How to disable flattening files with use processCssUrls?"
I have the following file structure:
[code]

When compiled, the destination file copies the files to the folder `public/fonts`:
[code]

Given that the site uses several fonts, eventually the `fonts` folder contains about 119 files.
Tell me, how can I save the option `processCssUrls: true` to copy files while saving paths?

For example:
[code]

?

[2018-08-11 14:51] evilebottnawi commented on #756
@andrey-helldar please use for question stackoverflow or gitter, also not related to css-loader, you should use file-loader and change output path.

[2018-08-11 14:51] #756 closed

[2018-08-11 20:26] andrey-helldar commented on #756
Oh, sorry...
I was up to the last convinced that I left the question in [JeffreyWay/laravel-mix](https://github.com/JeffreyWay/laravel-mix)

[2018-08-13 08:26] radeno commented on #754
Look at branch 2.0

[2018-08-14 18:40] jdatskuid commented on #246
Updated link: https://github.com/webpack/loader-utils/#interpolatename

[2018-08-18 15:40] ranrolls commented on #253
Everything is working if we use following

https://stackoverflow.com/questions/41368263/how-to-import-external-scss-properly-with-webpack-and-vue-js

Thanks 22samuelk

[2018-08-19 19:13] lynndylanhurley commented on #628
same problem

[2018-08-19 19:14] lynndylanhurley commented on #628
same problem. this is the first google result for this issue - if it's been resolved can someone pls point to a fix?

[2018-08-20 15:10] Kamadake opened #758 "URL Parsing of CSS Images triggering maximum call stack size exceeded"
**Do you want to request a *feature* or report a *bug*?**
Report a bug (unless I'm doing something wrong)

**What is the current behavior?**
Trying to import two SASS files which contain background-image urls into a CSS file and use URL parsing to pass images to file-loader to output to build folder

**If the current behavior is a bug, please provide the steps to reproduce.**
Have a SASS file that

[2018-08-20 15:18] evilebottnawi commented on #758
@Kamadake you have invalid js somewhere, webpack parser parse only js, maybe you have broken loader/plugin, not related to css-loader

[2018-08-20 15:18] #758 closed

[2018-08-20 15:35] Kamadake commented on #758
I'm working with a configuration that has no JS. I am only working with SASS for testing purposes. This is another error stack that I get too:
` ERROR in ./sass/main.scss (XXX/node_modules/css-loader??ref--4-1!XXX/node_modules/sass-loader/lib/loader.js??ref--4-2!./sass/main.scss)
    Module parse failed: Maximum call stack size exceeded
    You may need an appropriate loader to handle this file ty

[2018-08-20 15:40] evilebottnawi commented on #758
@Kamadake look on stack trace - `node_modules\acorn`, `acont` it is JS parser

[2018-08-20 15:40] evilebottnawi commented on #758
We don't use `acorn` in `css-loader`

[2018-08-20 15:42] Kamadake commented on #758
so i have to take this with webpack then? cause it's passing through loaderRunner then to parser then to acorn

[2018-08-20 15:55] evilebottnawi commented on #758
@Kamadake you have invalid configuration and/or broken loader/plugin

[2018-08-21 12:00] NE-SmallTown commented on #750
@evilebottnawi Friendly ping~, do you have time to look at this? If no, please give some response because maybe others want to start work on this :)

[2018-08-21 12:02] evilebottnawi commented on #750
@NE-SmallTown i am working on `css-loader@2` right now (icss - ext css modules), feel free to send a PR with fix

[2018-08-21 12:03] evilebottnawi commented on #750
@NE-SmallTown Can you provide what url you have and what expected

[2018-08-21 14:59] NE-SmallTown commented on #750
@evilebottnawi Cool, will look at whether it's been fixed in 2.0 and will dig into the bug this weekend.
Current: '/src/assets/font/iconfont.eot'
Expected: '/static/assets/font/iconfont.eot'
But the other problem is if use absolute path the assets won't be packed. You can view before [comment](https://github.com/webpack-contrib/css-loader/issues/750#issue-343495963) for more details.

[2018-08-23 13:58] wende60 opened #759 "creating a animation in :global scope animation's name is translated to local name in the keyframes"
"css-loader": "^1.0.0",
"css-modules": "^0.3.0",

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
creating a animation in :global scope animation's name is translated to local name in the keyframes

**If the current behavior is a bug, please provide the steps to reproduce.**

compiling this css:

[code]

results in (files name is _core)

[code]

**

[2018-08-24 09:46] ignitenet-martynas commented on #652
I have found that removing the following line in node_modules/css-loader/lib/loader.js (line number 28 in css-loader version 1.0.0) fixes the problem for me:

`        map.sourceRoot = '';`

[2018-08-27 21:37] JayAndCatchFire commented on #738
@evilebottnawi I just updated it with the latest dependencies.  This issue is still present.

[2018-08-28 06:03] haohongran opened #761 "I find I can use @value in css modules,why I can't find the doc?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2018-08-28 09:26] evilebottnawi commented on #738
@JayAndCatchFire can you try https://github.com/webpack-contrib/css-loader/pull/760?

[2018-08-28 09:30] #761 closed

[2018-08-29 19:04] vkuzma commented on #759
Same problem here, did you find a workaround?

[2018-08-30 07:47] wende60 commented on #759
did something like

:global {
    .myclass {
        :local {
            animation: ...
        }
    }
}

so you have a global class and everything inside is local

[2018-08-30 09:28] kenan0122 commented on #38
ERROR in ../node_modules/iview/dist/styles/fonts/ionicons.ttf?v=3.0.0
Module parse failed: Unexpected character ' ' (1:0)
You may need an appropriate loader to handle this file type.
(Source code omitted for this binary file)
 @ ../node_modules/iview/dist/styles/iview.css 6:5023-5062
 @ ./js/pages/flex.js
 @ multi ./js/pages/flex.js

How to solve this problem?

[2018-08-31 07:58] NE-SmallTown commented on #750
@evilebottnawi There is no branch for '0.28.9', since the `alias` option has been removed, how should I send a pr to fix it?

[2018-08-31 17:59] juanca opened #764 "T"
**Do you want to request a *feature* or report a *bug*?**

Feature? Bug? I'm not sure which this should be under. I'm biased towards bug.

**What is the current behavior?**

Composing from a missing class does not throw an error.

**If the current behavior is a bug, please provide the steps to reproduce.**

Make two CSS files:

`foo.css`

[code]

`bar.css`
[code]

**What is the expected behavior?*

[2018-09-02 03:15] NE-SmallTown commented on #750
@evilebottnawi Hello ?

[2018-09-02 03:16] NE-SmallTown commented on #750
@evilebottnawi Hi, friendly ping~ ,There is no branch for '0.x' versions, since the alias option has been removed in 1.0, how should I send a pr to fix it in 0.x?

[2018-09-02 03:55] aorinevo opened #765 "Update importLoaders section of docs with some more examples and copy"
**Do you want to request a *feature* or report a *bug*?**

The request is for an update to the `importLoaders` section in the README file.

**What is the current behavior?**

Documentation on importLoaders seems to be confusing to some developers. I struggled with it myself.

Here are some examples:
 - https://github.com/webpack-contrib/css-loader/issues/228
 - https://github.com/webpack-contrib/c

[2018-09-02 04:08] aorinevo commented on #765
Below is my understanding of `importLoaders`.

In the given [example](https://github.com/webpack-contrib/css-loader#importloaders), when `importLoaders` is set to 2, sass-loader gets applied to `@import`'d lines first.  But sass-loader is never applied because all sass files end in `.scss` while the `test` regexp is for `.css` files only.

Even in the case when the `test` regexp includes sass file

[2018-09-03 09:44] evilebottnawi commented on #750
@NE-SmallTown no, better use latest version

[2018-09-03 09:50] NE-SmallTown commented on #750
Ok, close

[2018-09-03 09:50] #750 closed

[2018-09-03 11:35] shiro commented on #571
aliases break as soon as you try to use `composes` with an external module

[2018-09-04 02:56] johannhuang opened #766 "Enable modules for import...from and disable modules for bare import at the same time"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

When `modules: true` is enabled, the raw methods like `import 'bootstrap/dist/css/bootstrap.min.css';` don't work anymore; When `modules: true` is not set, the methods like `import styles from 'bootstrap/dist/css/bootstrap.min.css';` don't work.

**If the current behavior is a bug, please provide