[2017-03-01 11:16] alex-shamshurin commented on #354
0.26.2 calls postCSS, I see this in stacktrace.  I had a similar issue like this http://stackoverflow.com/questions/42376762/webpack-production-build-browserslisterror-unknown-version-55-of-and-chr

[2017-03-01 13:25] aanno opened #435 "webpack-dev-server: Module build failed: TypeError: Path must be a string. Received undefined"
**Do you want to request a *feature* or report a *bug*?**

Bug report

**What is the current behavior?**
I'm using ExtractTextPluginTyped to split out css for production. The relevant part of my webpack (2.2.1) config is:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
This configuration works for production/bundling. However, when I use it for webpack-dev-ser

[2017-03-01 17:28] ndcunningham commented on #256
You can also try using
`~` before you path to the image

Notably: `background-url: (~assets/image/myimage)` should resolve the path

[2017-03-02 09:17] edwinwright opened #436 "@imports not resolving when css-modules enabled"
I'm trying to import normalize.css from the `node_modules` directory. When I have the default configuration it works as expected.

[code]

When I enable css-modules I get a webpack compilation error:

[code]

Is this expected behaviour or a bug?

I'm using:
- css-loader: 0.26.2
- webpack: 2.2.1

[2017-03-02 12:14] ben-eb commented on #433
@joebell93 I'm thinking of changing v4 to be safe by default, please see: https://github.com/ben-eb/cssnano/issues/358#issuecomment-283624049

What's the issue with postcss-minify-gradients? As far as I'm aware that's a safe transform, but I'd appreciate any insight if that's not the case. Thanks. 👍

[2017-03-02 15:13] webjay opened #437 "sourceMap:false &&|| minimize:true silent break"
I have had minification to work in a previous version, but can't remember which.
With the latest version (0.26.2) it doesn't work as it just doesn't create a CSS file, and I get no error nor warning.

As you can see below, I have tried various combinations:

[code]
The above does create a CSS file, but how can I minimize it?

Toolbox:

[code]
babel-node --version 6.23.0
node --version v7.7.1

[2017-03-03 09:58] joebell93 commented on #433
@ben-eb ace!

Well I'm having a strange issue where our gradients are being minified and changed by default

We define

[code]

but this gets overwritten to

[code]

If this is supposed to be a safe transform I'll raise this up as an issue in Autoprefixer

[2017-03-03 11:07] ben-eb commented on #433
@joebell93 Hmm. Seems like the logic for reducing stop percentages needs fixing; I'm in the middle of a rewrite so it's not going to be fixed straight away, but will add it to the todo list.

Essentially, what *should* happen is that colour stops should be reduced, so if we add a third stop:

[code]

These two definitions are equivalent.

[2017-03-03 11:17] joebell93 commented on #433
@ben-eb awesome, thanks for looking into this

[2017-03-03 11:34] pbwei opened #438 "flex-direction: row-reverse;"
flex-direction: row-reverse;

minicss

-webkit-flex-direction: row-reverse;
this line is moved

[2017-03-03 12:03] ben-eb commented on #433
@joebell93 Fixed this locally, it'll be in cssnano 4 (within the next month or two).

[2017-03-03 12:48] mitkaaa commented on #413
If you are use LoaderOptionsPlugin, then you can add context
[code]
classes will be unique

[2017-03-05 16:46] imrealashu commented on #38
Thanks @mattybow 👍

[2017-03-06 12:54] jopdeklein commented on #419
I am experiencing the same when upgrading to webpack 2 and css-loader `0.26.0` - it used to work with webpack 1 and css-loader `0.23.0`. I am not sure if it's related to this project or perhaps another loader that comes before it, I use:
* sass-loader `6.0.2`
* node-sass `4.0.0`
* postcss-loader `1.3.3`.

[2017-03-06 16:01] Ziker22 opened #439 "Cannot find module "!!../../../node_modules/css-loader/index.js?modules&localIdentName=[name]__[local]--[hash:base64:10]!../../../node_modules/postcss-loader/index.js!./EraAccessGroupFilter.css""
`Cannot find module "!!../../../node_modules/css-loader/index.js?modules&localIdentName=[name]__[local]--[hash:base64:10]!../../../node_modules/postcss-loader/index.js!./EraAccessGroupFilter.css"`

Hi guys,
Recently i started to get this error.
Strange thing is that it happens only in production when built with jenkins(on linux).
Locally on windows it works just fine
Any ideas ?

Webpack setup
[co

[2017-03-06 19:37] #373 closed

[2017-03-06 19:56] michael-ciniawsky commented on #414
Discussion and Feedback please moved to #400 Thx you guys 😛

[2017-03-06 19:56] #414 closed

[2017-03-06 20:13] michael-ciniawsky commented on #51
ping @jonathantneal :)

[2017-03-06 20:16] michael-ciniawsky commented on #436
@edwinwright Only for `@imports` using `~` ?

1. webpack.config.js
2. Component which imports CSS (Modules)

Thx in advance 🙃

[2017-03-06 20:23] michael-ciniawsky commented on #427
@sokra Can you remember where warnings like that get added ?

[2017-03-06 20:23] michael-ciniawsky commented on #427
🙏

[2017-03-06 20:24] #438 closed

[2017-03-06 20:27] michael-ciniawsky commented on #376
@luqingxuan Please provide your fix as PR, so we can discuss it better 😛 , otherwise this hasn't any priority atm

[2017-03-06 20:27] #376 closed

[2017-03-06 20:27] d3viant0ne commented on #427
Better chance just messaging him in Slack and asking, with the amount of notifications he gets on a daily basis there is a real chance he's not going to see this.

[2017-03-06 20:32] michael-ciniawsky commented on #368
Fixed by #420

[2017-03-06 20:33] #370 closed

[2017-03-06 20:34] #340 closed

[2017-03-06 20:55] michael-ciniawsky commented on #325
@B3nCr Thats an issue with setup somewhere, try a clean install and if the issue persists and you set any resolve related options in your `webpack.config.js`start seacrhing from there 😛

[2017-03-06 20:55] #325 closed

[2017-03-06 21:08] michael-ciniawsky commented on #344
@just-boris @andreypopp I'm working on `postcss-loader` v20.0 to **not** depend upon `css-loader` anymore and being able to use CSS Modules `postcss-modules`  based on `result.messages`. Removing CSS Modules in `css-loader` can be considered if a proper replacement is available. Anyhow I don't think the size of a loader used in a dev env really matters tbh 😛

[2017-03-06 21:08] #344 closed

[2017-03-06 21:16] #207 closed

[2017-03-06 21:20] michael-ciniawsky commented on #210
Will be fixed by #402

[2017-03-06 21:20] #210 closed

[2017-03-06 21:21] #244 closed

[2017-03-06 21:30] michael-ciniawsky commented on #262
I'm working on postcss-loader v2 with the goal to *not* depend upon `css-loader` anymore in the near future, bc of usecases like that :), for now this won't fix sry

[2017-03-06 21:30] #262 closed

[2017-03-06 21:32] michael-ciniawsky commented on #92
@beckiechoi Still relevant with `css-loader`@latest

[2017-03-06 21:38] michael-ciniawsky commented on #310
Without the possibility to update to newer versions, we can't help you sry 😛 please test against `css-loader`@latest and open a new issue, if there are still any regressions

[2017-03-06 21:38] #310 closed

[2017-03-06 21:50] B3nCr commented on #325
Hi,

Sorry, I'd forgotten I'd opened this. You are correct, I noticed the difference between mine and most other webpack config files was that they didn't use the `context` property.

    module.exports = {
        context: __dirname + "/AssetStream.Web",

I removed the above property and it all started working okay.

[2017-03-06 21:55] rafaelrinaldi commented on #310
@michael-ciniawsky Thanks! I should have closed this issue. Problem was fixed by bumping versions 👍

[2017-03-06 22:01] timse commented on #376
@luqingxuan no worries about your english mine is not as good as I wanted it to be either :)

[2017-03-06 22:03] michael-ciniawsky commented on #260
Will be fixed by #404

[2017-03-06 22:03] #260 closed

[2017-03-06 23:15] michael-ciniawsky commented on #335
Thats an issue with `include` in `webpack.module.rules[i].include`, if you check the stacktrace you see that acorn (JS Parser) used by webpack tries to parse your `.css` which fails of course. `css-loader` isn't even called at this point. Closing as unrelated for now, feel free to reopen if any problems with `css-loader` occur after include works :)

[2017-03-06 23:15] #335 closed

[2017-03-06 23:18] michael-ciniawsky commented on #338
Discussion moved to PR #339

[2017-03-06 23:18] #338 closed

[2017-03-06 23:29] michael-ciniawsky commented on #387
https://github.com/css-modules/css-modules/issues/169

[2017-03-06 23:29] #387 closed

[2017-03-06 23:33] michael-ciniawsky commented on #352
@LeoMartinDev @zhyc9de @harwinvoid @yinshipeng @Jacke @rafaelboschini @fengyongze you guys all using VueJS ? If then please use `vue-loader` instead. I reopen if my assumption is false 😛

[2017-03-06 23:33] #352 closed

[2017-03-06 23:54] michael-ciniawsky commented on #360
@BrainCrumbz Could you try without `include` set please?

[2017-03-07 00:05] michael-ciniawsky commented on #251
@mgcrea `v1.0.0` will have all of that 😛

[2017-03-07 00:05] #251 closed

[2017-03-07 00:15] michael-ciniawsky commented on #209
@monkindey Could you try with removing `../` ?

[2017-03-07 00:38] #198 closed

[2017-03-07 00:50] michael-ciniawsky commented on #362
@desperate-man @uhinze @chanon Please provide a CSS file aswell, maybe related to #355

[2017-03-07 00:53] michael-ciniawsky commented on #422
@newasmod You need to set `options.root` to get the `url()` resolved

[2017-03-07 00:53] #422 closed

[2017-03-07 00:53] monkindey commented on #209
Maybe we can remove the `../` and set the output like that

[code]

[2017-03-07 01:13] michael-ciniawsky commented on #372
@hendrul Still doesn't work? Have you tried with webpack 2 ?

[2017-03-07 01:20] d3viant0ne commented on #372
To that end, https://github.com/webpack/webpack-cli is looking for people to try out their migration utility. This may be an excellent opportunity to update as majors are coming for most loaders that will no longer support 1.x

[2017-03-07 01:36] michael-ciniawsky commented on #363
@NekR  Yep 👍 please send PR when you have time

[2017-03-07 01:42] michael-ciniawsky commented on #331
Will be fixed by #402 in v1.0.0

[2017-03-07 01:42] #331 closed

[2017-03-07 01:57] michael-ciniawsky commented on #323
Yep wrapped within `url()` or try by disable `css-loader` import handling `{loader: 'css-loader', options: { import: false } }`

[2017-03-07 01:57] #323 closed

[2017-03-07 02:41] michael-ciniawsky commented on #354
PostCSS will not be removed in the near future, albeit the logic will change so it will not be called in `global` (no CSS Modules `module`) mode nor if no minification is requested to address various perf issues

[2017-03-07 02:41] #354 closed

[2017-03-07 02:42] michael-ciniawsky commented on #353
see @longlho comment

[2017-03-07 02:42] #353 closed

[2017-03-07 02:49] michael-ciniawsky commented on #232
It's a `style-loader` issue, @see https://github.com/webpack-contrib/style-loader#recommended-configuration

[2017-03-07 02:49] #232 closed

[2017-03-07 02:52] michael-ciniawsky commented on #229
@danpantry Can you try again with 'css-loader/locals' please?

[2017-03-07 02:54] michael-ciniawsky commented on #343
@cuiyue

[code]

[2017-03-07 02:54] #343 closed

[2017-03-07 02:58] michael-ciniawsky commented on #406
@enapupe Can you send PR and discussion moves on there then ? 😛

[2017-03-07 03:03] michael-ciniawsky commented on #231
@timaschew Did your try with `.css` as extension, are you sure the `extname` is the cause ?Can you provide more info please ? 🙃

[2017-03-07 03:37] michael-ciniawsky commented on #278
@waterstar

[code]

[2017-03-07 03:42] michael-ciniawsky commented on #419
@jasonmacdonald @jopdeklein https://github.com/webpack-contrib/sass-loader/issues/393#issuecomment-284382968. Reopen please if that's not the case, closing for now 😛

[2017-03-07 03:42] #419 closed

[2017-03-07 08:52] kumarharsh opened #440 "Add support for removing original classnames when using camelCase=true/'dashes'"
**Do you want to request a *feature* or report a *bug*?**
Feature Request

**What is the current behavior?**
CSS with both original and camelized classnames are retained in the final output.

**If this is a feature request, what is motivation or use case for changing the behavior?**
Would it be possible to introduce yet another flag which removes the uncamelized versions from the final output? I'm

[2017-03-07 09:18] daryn-k opened #441 "Doesn't work with JSX"
This errror occures everytime!

[code]

[2017-03-07 10:28] edwinwright commented on #436
@michael-ciniawsky Yes, since I logged this, I found that it does work without the `~` prefix.

It is confusing though. I wouldn't have thought that enabling the module would change the behaviour like this.

1. webpack.config.js
[code]

2. App.css
[code]

[2017-03-07 10:54] BrainCrumbz commented on #360
Hi there. In the meantime, the actual project we were working at (not the starter one linked above) has obviously evolved. It has webpack 2.2.1, loaders became rules, etc. css-loader is still 0.25.0, style-loader still 0.13.1, sass-loader still 4.0.2. The issue persists, even commenting out *include* set:

[code]

[2017-03-07 10:59] NekR commented on #363
@michael-ciniawsky lol, okay :D

[2017-03-07 14:45] Jeremboo commented on #434
Hi,

I think I have the same problem with the sourceMap option when migrating to webpack@2 :

[code]

**got :**

[code]

**versions:**

  "css-loader": "^0.26.2",
  "style-loader": "^0.13.2",
  "stylus": "^0.54.5",
  "stylus-loader": "^2.5.0",

**More Informations :**

I do not have any errors when `options: { sourceMap: true },` is commented.

[2017-03-07 16:27] michael-ciniawsky commented on #434
@Jeremboo Can you try to set `{ sourceMap: true }` in `stylus-loader` options aswell? Not 💯 that it exists 😛 but please try

[2017-03-07 16:30] michael-ciniawsky commented on #441
Where is the CSS 😛 ? I need more info on this one please, closing for now

[2017-03-07 16:30] #441 closed

[2017-03-07 16:39] michael-ciniawsky commented on #436
Yeah :D, we need to take a serious look at the resolver, it should work like you expected 😛

Is this line mandatory for you atm, bc #355 and regardless of that does `@charset` work for you ?

[2017-03-07 21:23] joscha commented on #440
@michael-ciniawsky: #420 only removes duplicates, not the original classes. What @kumarharsh is suggesting makes total sense, but would be a breaking change. For this we'd need an additional flag. Happy to open a PR after #420 is merged.

[2017-03-07 21:29] michael-ciniawsky commented on #440
@joscha kk I see, thx for joining in. Since we are working towards a next major (ES2015 Modules) etc. that isn't really a blocker as long as it makes things easier and general sense 😛

[2017-03-07 21:35] michael-ciniawsky commented on #411
@artemkaint Do you also a fix in mind ?

[2017-03-07 21:54] desperate-man commented on #362
@michael-ciniawsky https://gist.github.com/desperate-man/50e522139734934b287382cf63e534af

[2017-03-08 03:14] mrdulin opened #443 "css-module composes from other module not working."
`webpack.config.js`:
[code]

`src/index.module.scss`:

[code]
All of `composes` not working. No matter I use `alias` or `relative path`.

My project directory structure:

![](http://ww1.sinaimg.cn/mw690/005FHMJXgy1fdf9cdy4q8j30dw0fogmx)

-- update 2017.04.11 ---

Here is my `webpack.config.js`:  https://github.com/mrdulin/webpack1.x/blob/master/css-loader/css-module-import-module/webpack.config.js

[2017-03-08 09:15] edwinwright commented on #436
`@charset` is not mandatory for me at the moment, but I haven't noticed any problems with it so far.

[2017-03-08 10:51] joscha commented on #368
actually, will be fixed by #440 , #420 only removes the duplicate keys (cc @michael-ciniawsky )

[2017-03-08 12:20] Jeremboo commented on #434
@michael-ciniawsky even if `sourceMap` in `stylus-loader` seems to be supported (but not documented), nothing is appended (no errors or sourceMap) :/

I think `stylus-loader` need `css-loader?sourceMap` to.

[2017-03-08 13:53] ekulabuhov commented on #362
I can confirm the bug, happening on both webpack 1 and 2. Going to investigate.

[2017-03-08 13:56] joscha commented on #440
@michael-ciniawsky happy for me to open a PR for this? Should I add an additional flag, e.g. `?removeOriginal` or `?replaceOriginal` or do you want me to make the PR so it is a breaking change?

[2017-03-08 13:58] ekulabuhov commented on #362
Actually here's the problem, loaders are applied twice:
`ERROR in ./~/css-loader!./~/style-loader!./~/css-loader!./index.css`

Both webpack config and require string is applied when resolving. I think this is as designed.

Solution: either remove the loader from `require` or from the `webpack.config.js`.

[2017-03-08 14:02] ekulabuhov commented on #443
Hi! Could you please upload this example as a gist?

[2017-03-08 14:45] michael-ciniawsky commented on #440
@joscha Personally I would prefer to make it a breaking change and avoid an extra flag, `v1.0.0` will be a larger refactor anyways. For now we could maybe expose this behaviour as an option but please add a comment to refactor that later 😛 and not sure if we should do that at all tbh (confusion) .

cc @bebraw @d3viant0ne

[2017-03-08 14:47] michael-ciniawsky commented on #368
@joscha Alright 🤣 all my hopes are shattered

[2017-03-08 14:52] michael-ciniawsky commented on #434
@Jeremboo kk. Can you add a small test case for repro please 🙏 ? Either as a gist or a repo to clone

[2017-03-08 14:54] michael-ciniawsky commented on #70
@haustraliaer if there should be any regressions please reopen, closing for now as it seems to be fixed 😛

[2017-03-08 14:54] #70 closed

[2017-03-08 15:05] ekulabuhov commented on #434
@Jeremboo I've recreated your example as gist here: https://gist.github.com/ekulabuhov/1cfc08394de9619865d377db65b58d83

Seems to be working for me. Please make sure that all your dependencies versions match.

[2017-03-08 15:36] PanJ commented on #443
Might relate to #131. I'm experience the issue as well. Trying to make minimal example of the issue.

[2017-03-08 16:48] Jeremboo commented on #434
@michael-ciniawsky @ekulabuhov thank you for your care ! I just forked your Gist to recreate the problem https://gist.github.com/Jeremboo/e605ac205f115ef5d50a9b6bb48863a6 but it works well... I will check my dependencies and trying to find the bug.

PS: `stylus-loader?sourceMap` needs `css-loader?sourceMap` to work ;)

[2017-03-08 16:49] PanJ commented on #443
In my case it's https://github.com/webpack-contrib/style-loader/issues/179

[2017-03-08 17:36] Jeremboo commented on #434
Sometimes, just remove `node_modules` and reinstall all dependenties to make miracles... :/

All works with the same dependencies versions (named in my first post) and without other modifications in the webpack config.

Maybe @ImJoeHs will be better to track this bug.

Thank you for your times !

[2017-03-08 17:40] michael-ciniawsky commented on #434
@ImJoeHs Can also please update all your deps and I have the feeling that you are especially on a 'old' version of `extract-text-webpack-plugin`, update to >=2.0.0 **(2.1.0)**. If you still have any regressions feel free to reopen the issue :)

[2017-03-08 17:40] #434 closed

[2017-03-08 20:41] kumarharsh commented on #440
We can add `camelCase: only` and `camelCase: dashesOnly` if backward compatibility needs to be maintained.

[2017-03-09 01:19] mrdulin commented on #443
@ekulabuhov  @PanJ

Here is my case:
https://github.com/mrdulin/webpack-summer/tree/master/css-loader/css-module-import-module

Thanks for reply.

[2017-03-09 05:08] ImJoeHs commented on #434
@michael-ciniawsky @Jeremboo Thank you! Update css-loader to 0.26.4 and problem solved, seems I forgot to check the newest version of css-loader at that time.

@Jeremboo by the way, you are using '^' so actually the versions are not the same.

[2017-03-09 11:35] joscha commented on #440
Opened #445 @michael-ciniawsky and followed @kumarharsh's suggestion and made it an option.

[2017-03-09 19:00] michael-ciniawsky commented on #412
@Andrey-Pavlov I'm guessing it's `file-loader` but could you inspect the bundle source if the paths in your css are correct ?

[2017-03-09 21:48] FastAndFluid commented on #355
I am getting this error without using @charset etc. If my stylesheet contains a single "background-color" CSS setting everything is fine, but as soon as I change it to "background-image" then the error appears. Can someone give me a clue as to why perfectly valid CSS causes Webpack to get upset?

Here's a stylesheet that works:
[code]

Here's the modified stylesheet that breaks webpack:
[code]

An

[2017-03-09 22:17] michael-ciniawsky commented on #355
@FastAndFluid Is the Image loaded via `file-loader`?

[2017-03-10 05:31] #368 closed

[2017-03-10 05:31] #440 closed

[2017-03-10 06:26] Alex-Sokolov opened #447 "Can't resolve 'fs' when bundle with webpack"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Webpack finish bundle without errors with css-loader `0.26.4`.
After update to `0.27.0` webpacking finished with error:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Update css-loader from `0.26.4` to `0.27.0` version
2. Run webpack to build

**What is the expe

[2017-03-10 06:38] aximario commented on #447
same here

[2017-03-10 06:55] jano42 commented on #447
same here

[2017-03-10 06:56] hdnha11 commented on #447
After trying to add `target: 'node'` to my webpack config file and it works for me.

[2017-03-10 07:12] Kamilius commented on #447
Same for me, had to rollback that update

[2017-03-10 07:24] gwuhaolin commented on #447
same here

[2017-03-10 07:35] hdnha11 commented on #447
Adding
[code]
to webpack config file and the error is gone. Not sure how it works, It seems like webpack did some thing with `fs` module in `web` target.

[2017-03-10 07:36] takkyuuplayer commented on #447
same here

[code]

[2017-03-10 07:41] mehdivk commented on #447
add the following to your Webpack config:

[code]

[2017-03-10 07:42] bebraw commented on #447
The issue has been acknowledged and we are in process of figuring out a good fix. No need for "me too"s. Please add a thumbs up on the original issue if you want to do that. 👍

[2017-03-10 07:59] PredokMiF commented on #447
Did you can to unpublish this version? It will keep calm to all of us

[2017-03-10 08:01] d3viant0ne commented on #447
@PredokMiF  You don't unpublish anything, ever.

The workaround is sufficient and the bug is actually in webpack, related to `fs` in the web target.

If you can't handle the workaround, version lock to the previous release.

[2017-03-10 08:15] #447 closed

[2017-03-10 10:04] FastAndFluid commented on #355
No it isn't. Should it be?  I'm not currently using a loader for images. Here is my webpack.config file
[code]

[2017-03-10 17:31] kumarharsh commented on #365
I could be wrong, but the way I've understood this concept is:

1. if the `:global` is used with a space, e.g. `.local-name :global .global-name`, then it just converts the immediately succeeding selector as global.
2. if the `:global` is used with parenthesis, e.g., `.local-name :global(.global-name > .global-child + .global-sibling)`, then it converts the all selectors within the parens as globa

[2017-03-10 20:19] jquense commented on #411
this is a frustrating one :/ Shouldn't it use `ident` and a string placeholder like is down elsewhere for stringifying loader requests?

[2017-03-11 01:23] ImHype opened #449 "use"

[2017-03-11 01:26] ImHype opened #450 "use "const" in css-base.js cause the ie10 cann't work"

[2017-03-11 02:03] mattkime commented on #426
@michael-ciniawsky why was this closed?

[2017-03-11 02:34] #449 closed

[2017-03-11 04:48] haustraliaer commented on #70
Yep was sorted in https://github.com/webpack/loader-utils/pull/27 - thanks, works a treat!

[2017-03-11 05:02] anwari32 commented on #250
Hello, I think I found the same thing. I tried the idea from @timhjellum but it didn't work. I also didn't get which css file that failed.

Module build failed: Error: Unexpected "space" found.
    at new error (/some_folder/another_folder/myapp/node_modules/postcss-selector-parser/dist/processor.js:29:23)
    at Parser.error (/some_folder/another_folder/myapp/node_modules/postcss-selector-parser/

[2017-03-11 07:43] d3viant0ne commented on #426
`loader-utils` is currently on `v1.0.3` as is this loader and every other loader in contrib.

To the point, I fail to understand what a `loader-utils` issue has anything to do with css-loader and this was closed because this issue belongs in loader utils.

[2017-03-11 07:43] #426 closed

[2017-03-11 17:34] mattkime commented on #426
@d3viant0ne thanks, just wanted an explanation

[2017-03-11 17:36] d3viant0ne commented on #426
No worries. My suggestion would be to get your devDep up to date. The major release was mostly about enforcing NodeJS 4.x.

The other changes are reasonably simple to update.

[2017-03-12 16:12] stevestock commented on #410
Is there any workaround besides removing spaces from filenames?

[2017-03-12 17:14] jeff-kilbride opened #451 "Module not found: Error: Can't resolve './convert-source-map' -- upgrade from 0.26.4 to 0.27.2"
**Do you want to request a *feature* or report a *bug*?**

Possible bug.

**What is the current behavior?**
Errors when upgrading from 0.26.4 to 0.27.2

**If the current behavior is a bug, please provide the steps to reproduce.**

Upgrade from 0.26.4 to 0.27.2

**What is the expected behavior?**
Same configuration should work in both versions.

**If this is a feature request, what is motivation or

[2017-03-12 17:33] michael-ciniawsky commented on #450
@ImHype Fixed by #452

[2017-03-12 17:33] #450 closed

[2017-03-12 17:33] michael-ciniawsky commented on #451
@jeff-kilbride Fixed by #452

[2017-03-12 17:33] #451 closed

[2017-03-13 02:34] ImHype commented on #450
Maybe most of users use the 「ExtractTextPlugin」 to extract the stylesheet, so they haven't fount this problem. Anyway, thanks.

[2017-03-13 02:35] ImHype commented on #450
Happy Monday !

[2017-03-13 03:37] michael-ciniawsky commented on #450
np, also Happy Monday!

[2017-03-13 07:38] romanzoller commented on #410
That or not using `[name]` in the name option of file-loader, I haven't found anything else.

[2017-03-13 08:15] michael-ciniawsky commented on #410
@stevestock @romanzoller Sry I will take a look into that soon meanwhile avoid `[name]`

[2017-03-13 11:51] fklingler commented on #447
@bebraw With your fix of this issue, I have a `Uncaught ReferenceError: Buffer is not defined` in the `lib/convert-source-map.js` file, in the browser.

[2017-03-13 12:13] bebraw commented on #447
@fklingler I have a proposed fix for that at https://github.com/webpack-contrib/css-loader/pull/453 . Still waiting for some approvals before I can push it. Feel free to give that a go and let me know how it goes.

[2017-03-14 01:39] alexwalter88 opened #454 "Unnecessary Buffer polyfill when source maps are disabled"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
After upgrading from css-loader `0.26.4` to `0.27.3` webpack is including a polyfill for Buffer in the bundle when source maps are not enabled. This is resulting in an increased bundle size, even though the polyfill is never actually used.

**If the current behavior is a bug, please provide the steps t

[2017-03-14 02:08] michael-ciniawsky commented on #454
@alexwalter88 https://github.com/webpack-contrib/css-loader/blob/master/lib/loader.js#L113 Normally it should exaclty do that, but guessing the ` toComment` function needs to be moved into the `if (useSourceMap)` statement to avoid including the Buffer polyfill

[2017-03-14 02:10] michael-ciniawsky commented on #454
Mind testing quickly testing that out ? 😛

[2017-03-14 02:53] alexwalter88 commented on #454
Nope that doesn't seem to work. I tried removing the function too and just inlining it the `if (useSourceMap)` statement, but the Buffer polyfill is still being included.

[2017-03-14 03:10] michael-ciniawsky commented on #454
Alright I need to ask Tobias what to do about it at best, I come back when I know more :). Meanwhile please continue using your workaround 😛

[2017-03-14 07:59] Aleksanderis opened #455 "Option to ignore not found modules/URLs"
**Do you want to request a *feature* or report a *bug*?**
It would be good to have an option to skip not found URLs instead of throwing "Module not found" errors.
It might be just a warning instead of critical error, or just skipped.
Ignoring all URLs and @imports, which is already supported - is not an option, since it's too global.

**What is the current behavior?**
When URL is not found it thro

[2017-03-14 09:52] danielverejan opened #456 "Fails on commented import"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When you comment an import
`// @import 'base.css'`
it fails with **Unknown word** error

**If the current behavior is a bug, please provide the steps to reproduce.**
Comment an import with **//** and run config.

**What is the expected behavior?**
Bundled css to contain **// @import 'base.css'**

Webpa

[2017-03-14 11:17] nikitaMe1nikov opened #457 "camelCase: 'only' and camelCase: 'dashesOnly' dont work"
As I have understood from a code, these two options aren't realized.

[2017-03-14 16:59] bebraw commented on #454
I guess the question is, how to rewrite

[code]

without relying on `Buffer`. That would be one way.

[2017-03-14 17:06] michael-ciniawsky commented on #457
Can you link to the lines in the source code please ? :)

[2017-03-14 17:06] michael-ciniawsky commented on #457
cc @joscha

[2017-03-14 17:09] bebraw commented on #454
See [MDN](https://developer.mozilla.org/en/docs/Web/API/WindowBase64/Base64_encoding_and_decoding). Either `btoa` or solution `#1` from that page would likely solve this.

[2017-03-14 17:11] bebraw commented on #456
Only `/**/` is valid in vanilla CSS. Maybe that's it?

[2017-03-14 17:15] michael-ciniawsky commented on #455
@Aleksanderis It's depending on general usage, if it is possible to just display warnings and the build succees and **works** this would be a good idea. On the oher hand we already have a ton of url and @import releated issues because of the ambiguity of the resolver and trying to make it saner in the upcoming `v1.0.0` release. I'm not against this feature by any means but the `architecture` and p

[2017-03-14 17:16] michael-ciniawsky commented on #456
@danielverejan Please try with `/**/` and report back 😛 likely to be the source of failure

[2017-03-14 17:57] danielverejan commented on #456
Yes it works with `/**/`. Wasn't aware that this is a limitation of the current version.

[2017-03-14 18:16] bebraw commented on #456
It's a specification thing. I'm not sold on the idea that we should support non-standard syntax here. That's why postcss et al. exist.

Time to close. 👍

[2017-03-14 18:16] #456 closed

[2017-03-14 21:19] joscha commented on #457
@nikitaMe1nikov I have 0.27.1 running here and it seems to work - can you please let us know your css-loader config and the version you are using?

[2017-03-15 04:52] nikitaMe1nikov commented on #457
My mistake, its worked. For some reason, several modules have not been upgraded

[2017-03-15 04:56] joscha commented on #457
we should probably add a note to the docs on what version from these options are supported - or maybe we could add the same config options validation that webpack 2 has - @michael-ciniawsky what do you think?

[2017-03-15 05:54] michael-ciniawsky commented on #457
@joscha Options Validation would be optimal, but a note isn't a bad idea also 😛 . For `postcss-loader` I'm currently using/doing the following

[code]

**lib/validate.js**
[code]

**lib/schema.json**
[code]

**index.js**
[code]

![loader validation error](https://cloud.githubusercontent.com/assets/5419992/23935303/91cdd72c-094b-11e7-870c-bf6396fecab5.png)

[2017-03-15 05:54] #457 closed

[2017-03-16 01:29] pvienneau commented on #433
@ben-eb I'm having the same issue regarding implementing cssnano's safe mode to true (attempting to keep empty classes from being discarded).

Is the current position to wait for v4, or is there currently an alternate solution?

[2017-03-16 01:47] michael-ciniawsky commented on #433
@ben-eb 😛

[2017-03-16 01:49] michael-ciniawsky commented on #433
@pvienneau I think I this would be a breaking change in cssnano

[2017-03-16 01:50] pvienneau commented on #433
@michael-ciniawsky Apologies, I don't think I understand 😕

[2017-03-16 01:57] michael-ciniawsky commented on #433
@joebell93 @pvienneau could you try with the latest `css-loader`, bc of  #400 and

[code]

[2017-03-16 01:59] michael-ciniawsky commented on #433
@pvienneau Removing minifyGradients from `cssnano` v3.x 's safe mode would be semver major

[2017-03-16 02:12] pvienneau commented on #433
@michael-ciniawsky perhaps this is the wrong thread for my question and I should open a separate issue. Re-reading @joebell93's initial description, I see two issue, the first being that the `safe` flag was not being picked up from within the `minimize` option, and the second is in regards to `minifyGradients`.

My issue is solely in regards to the `safe` flag, from which reading through the code,

[2017-03-16 10:22] ben-eb commented on #433
@michael-ciniawsky `minifyGradients` is enabled by default, I didn't realise it was bugged until 2 weeks ago. However you know the situation right now, I've stopped all development on single repositories and moved everything to the monorepo, so it'll be fixed in v4.

@pvienneau I believe the transform you are looking for is `discardEmpty` (also enabled by default). Can you let me know your use cas

[2017-03-16 11:06] pvienneau commented on #433
@ben-eb I feel like I'm late to the party, I'm trying to piece things together as I go.

I'm trying to persist empty SASS classes through the transformations for them to be included to the styles. So far:

[code]

Does seem to work, but I'll create a new environment and isolate the `css-loader` loader from everything else, since there very well could be another culprit with removing the empty clas

[2017-03-16 11:11] ben-eb commented on #433
@pvienneau Try:

[code]

[2017-03-16 11:22] pvienneau commented on #433
@ben-eb Thanks for your help so far, but empty classes are still discarded.

Knowing that I can call `discardEmpty` directory, I will create an isolated environment and try it solely with `css-loader`. If I cannot get the expected result, I think I will create a new issue since this issue would be differently scope than this current issue. Does this work for you?

[2017-03-16 11:40] ben-eb commented on #433
Sure thing. Note that from v4 it should be much easier to configure cssnano through config files & presets. 😄

[2017-03-16 11:46] pvienneau commented on #433
Thanks @ben-eb for your patience and understanding. cssnano v4 is still planned to be out in 1/2 months?

[2017-03-16 11:57] ben-eb commented on #433
Hopefully as soon as possible, but I'd like to synchronise this with PostCSS 6 so that I can remove a few redundant methods also.

[2017-03-16 12:28] tvrcgo commented on #431
Also facing the same problem.

[2017-03-16 12:31] bebraw commented on #431
@tvrcgo Can you check https://github.com/webpack-contrib/css-loader/issues/413 ? They are discussing some solutions there.

[2017-03-16 12:56] tvrcgo commented on #396
Works for me ! thanks.

[2017-03-17 21:53] rjnair-nm opened #459 "Escape Characters in CSS content not processed correctly"
I am using css-loader and i could see that the content is not being processed correctly.

Original CSS :-
[code]

The above CSS was processed by webpack to :-
[code]

Webpack: 2.2.1
CSS-Loader: 0.27.3
Node: 7.2.1

[2017-03-17 22:34] michael-ciniawsky commented on #459
@rjnair-nm for getting started did an earlier version of `css-loader` process it correctly? 😛

[2017-03-17 22:39] rjnair-nm commented on #459
@michael-ciniawsky  I had tried using css-loader 0.25.0 with webpack 1 and that used to work fine. I was upgrading to webpack 2 and while using the latest version of css-loader with that, i came across this issue.

[2017-03-17 22:46] michael-ciniawsky commented on #459
@rjnair-nm While copy and paste, maybe typo while you opened the issue maybe the root cause 😆

[code]
[code]

[2017-03-17 22:47] michael-ciniawsky commented on #459
The string delimiters don't match

[2017-03-17 22:59] michael-ciniawsky commented on #459
Otherwise I need webpack 1 && webpack 2 configs + ideally a small test repo for each to debug 😛

[2017-03-17 23:36] rjnair-nm commented on #459
@michael-ciniawsky I am using a custom library like Bootsrap which has the class definition as below :-
[code]

When the webpack processes this via css-loader, it transforms to : -

[code]

Webpack rule for css :-
[code]

I see this issue https://github.com/webpack-contrib/css-loader/issues/87 which was raised here. But in that case it was removing the escape characters, but in my case its adding

[2017-03-18 00:17] michael-ciniawsky commented on #459
kk, as a 'workaround' would it be possible to reference bootstrap as static asset in meantime and exclude it from the bundle ? Also could you test another decl if it happens there also and a maybe pattern comes up when and where 😛 ?

[2017-03-18 07:19] bebraw commented on #437
Can you set up a standalone project? There isn't enough information to debug properly.

[2017-03-18 07:23] bebraw commented on #435
Can you set up a standalone example?

[2017-03-18 07:27] bebraw commented on #216
Yeah, you should set up `publicPath` to an absolute url as mentioned. Time to close.

[2017-03-18 07:27] #216 closed

[2017-03-18 09:50] Aleksanderis commented on #455
@michael-ciniawsky , sorry I'm quite new to webpack itself, and completely know-nothing yet in terms how webpack plugins/loaders are written inside. I didn't want to blame anyone, just was curious how easy it could be or couldn't be at all implemented.;)

But.. are you saying that it's actually not `css-loader` issue, but common way how webpack loaders work (or how third-party libraries, common fo

[2017-03-18 19:58] michael-ciniawsky commented on #455
Yes and no 😛

**entry.js**
[code]

**loader.js**
[code]

Yep right this is the webpack Resolver I was referring to. It will provide metadata for webpack Loaders after resolving the module (see above)

The webpack Resolver and mainly a Core Plugin called ModuleFactory, first resolves the path in the parsed `import/require` statements and depending on the file extensions (`{ test: /\.extname$/ }`) t

[2017-03-20 16:56] karolyi opened #460 "css-loader > 0.27.2 breaks webpack compilation"
**What is the current behavior?**
Hey,

after testing it out, using `css-loader` version greater than `0.27.2` breaks my webpack compilation. `master` still has it.I get errors saying
`Module build failed: TypeError: $export is not a function`
then a lot of traceback, and then at the end:
`blabla.scss doesn't export content`

**If the current behavior is a bug, please provide the steps to reproduc

[2017-03-20 17:10] bebraw commented on #460
Possibly related commit based on Git history, https://github.com/webpack-contrib/css-loader/commit/4250129cc39b75b3e894c3a30401ef47b931863d .

I might get to this sometime next week perhaps.

[2017-03-20 17:10] webjay commented on #437
After I upgraded to the latest packages I get an error that the svgo package was missing, so after `npm install --save-dev svgo` it works.

[2017-03-20 17:10] #437 closed

[2017-03-20 17:11] bebraw commented on #437
@webjay Can you see where that svgo dependency comes from?

[2017-03-20 17:19] webjay commented on #437
I'll try...

Interestingly `yarn clean` removes svgo, but I think [svgo](https://github.com/svg/svgo) should be installed globally.

[2017-03-20 17:22] webjay commented on #437
my tree:

<pre>
pforum@1.0.0 /Users/jacob/Sites/webcom/pforum
├─┬ archiver@1.3.0
│ ├─┬ archiver-utils@1.3.0
│ │ ├── graceful-fs@4.1.11
│ │ ├── lazystream@1.0.0
│ │ ├── lodash@4.17.4
│ │ └── normalize-path@2.0.1
│ ├─┬ async@2.1.5
│ │ └── lodash@4.17.4
│ ├── buffer-crc32@0.2.13
│ ├─┬ glob@7.1.1
│ │ ├── fs.realpath@1.0.0
│ │ ├─┬ inflight@1.0.6
│ │ │ └── wrappy@1.0.2
│ │ ├── inherits@2.0.3
│ │ └── onc

[2017-03-21 05:55] NightCatSama opened #461 "Because in ./css-loader/lib/css-base.js require Buffer causes the file to be too large"
version: css-loader@0.27.3

**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
After upgrading from webpack1 to webpack2, there is a large file package situation.
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
I was using vue-loader to load the css code, the file size becomes larger because the package after th

[2017-03-21 06:00] michael-ciniawsky commented on #461
Duplicate of #454 we are aware of this 😛

[2017-03-21 06:04] NightCatSama commented on #461
Thank you for your quick reply.

But I think that is not a good solution, is it possible to solve this problem in the future, I am considering whether to roll back to the old version.

[2017-03-21 06:10] michael-ciniawsky commented on #461
Solution is would be using this but I haven't had time to test by now https://developer.mozilla.org/en/docs/Web/API/WindowBase64/Base64_encoding_and_decoding

[2017-03-21 06:14] NightCatSama commented on #461
thank you.

[2017-03-21 06:14] #461 closed

[2017-03-21 12:04] kvfi commented on #295
Don't forget to separate the loaders as following:

`{
				test: /\.js$/,
				loader: ['babel-loader'],
				exclude: /node_modules/,
			},
			{
				test: /\.css$/,
				loader: ['style-loader', 'css-loader']
			}`

[2017-03-21 13:39] #295 closed

[2017-03-21 13:43] michael-ciniawsky commented on #74
Please Try agian with `less-loader >= v4.0.0`, if there are still regressions I will reopen 😛

[2017-03-21 13:44] michael-ciniawsky commented on #77
@pstoica Cpuld you send a PR for this ? 😛

[2017-03-21 13:46] michael-ciniawsky commented on #92
@beckiechoi If there are still regressions with latest `css-loader` feel free to reopen 😛

[2017-03-21 13:46] #92 closed

[2017-03-21 13:53] michael-ciniawsky commented on #100
If `postcss-loader`'s  `options: { sourceMap: true }` isn't set explicitly `css-loader` won't recieve [anything](https://github.com/postcss/postcss-loader/blob/master/index.js#L140)

[2017-03-21 13:53] #100 closed

[2017-03-21 13:57] #123 closed

[2017-03-21 14:03] michael-ciniawsky commented on #131
Please try with the latest `stylus-loader, sass-loader`, if there are still regressions I will reopen 😛

[2017-03-21 14:03] #131 closed

[2017-03-21 14:10] michael-ciniawsky commented on #372
[code]

Or just avoid `root` for the meantime it's likely to be removed in the future or will undergo a bigger refactor

[2017-03-21 14:10] #372 closed

[2017-03-21 14:13] #155 closed

[2017-03-21 14:14] michael-ciniawsky commented on #412
@Andrey-Pavlov If still any regressions with `css-loader@latest` feel free to reopen 😛

[2017-03-21 14:14] #412 closed

[2017-03-21 14:16] michael-ciniawsky commented on #159
@fingermark @bdefore Still interested in this ? Could one of you try to add this and send PR 😛 ?

[2017-03-21 14:18] michael-ciniawsky commented on #411
@jquense  Not sure tbh I need to look at it first, but if you think you have some a (rough) solution please send PR 😛

[2017-03-21 14:20] michael-ciniawsky commented on #439
@Ziker22 If it still happens please feel free to reopen 😛 , but this seems to be an issue with your setup, since all loaders fail to load according to the error

[2017-03-21 14:20] #439 closed

[2017-03-21 14:23] michael-ciniawsky commented on #225
@RGBboy Please see discussion in #284

[2017-03-21 14:23] #225 closed

[2017-03-21 14:25] michael-ciniawsky commented on #229
@danpantry If the solution posted above shouldn't address the problem feel free to reopen 😛

[2017-03-21 14:25] #229 closed

[2017-03-21 14:38] michael-ciniawsky commented on #423
@mizchi This isn't possible with `css-loader` in it's current state and I think this would need some work require @css-modules instead of `css-loader` and the plugins there 😛 .  Also wouldn't work in that way

[code]

needs to be, because you still need the `[hash]` from `styles.Hello` as prefix for `"title"`

[code]

[2017-03-21 14:38] #423 closed

[2017-03-21 14:40] michael-ciniawsky commented on #217
@matthiasfeist Can you please elaborate a bit futher ? 😛

[2017-03-21 14:48] michael-ciniawsky commented on #406
@enapupe Closed #442 I will come back to the PR soon

[2017-03-21 14:48] #406 closed

[2017-03-21 14:50] michael-ciniawsky commented on #140
@ConradIrwin Please elaborate futher what you mean by inline please? 🙃

[2017-03-21 14:52] bdefore commented on #159
@michael-ciniawsky It's been a while since I made that post! The desire still remains, but whether others have an appetite for the sugar/magic I'm not sure.

My current use relies on css-loader and postcss-loader, and looks roughly like this:

in components/Foo.js:
[code]
in css/components/Foo.css:
[code]

What would be nice is if I could do the following:
[code]
in css/components/Foo.css:
[code]

[2017-03-21 14:53] michael-ciniawsky commented on #167
@alexbyk You still have this issue ? 😛

[2017-03-21 14:58] michael-ciniawsky commented on #171
@jaroslawr Yep the docs should be using the most human friendly modules variant available and be consistent where possible, please send PR for that 😛  and the defaults are changing please join discuss in #442

[2017-03-21 15:02] michael-ciniawsky commented on #328
@gajus Could you try @timse suggestion ? Otherwise has you already stated, this is likely to be a a won't fix 😛. Please feel free to reopen if there is a way I'm missing out

[2017-03-21 15:02] #328 closed

[2017-03-21 20:09] ConradIrwin commented on #140
@michael-ciniawsky

My example currently compiles to:

[code]
[code]

I would like it to look like this:

[code]

This avoids creating an extra variable, and an extra property acccess (which is hard to minify).

Not sure how this would work, as it seems like a more generally useful compiler phase than just limited to CSS, but thought I'd put it here and see if anyone else was inspired to fix it :)

[2017-03-22 02:28] michael-ciniawsky commented on #140
[code]

?  But I don't think this is really feasible atm, the locals could be exported as constants when ES2015 Module suppprt lands in `css-loader` (v1.0.0) 😛

[code]

instead of a JSON-ish `{Object}` like it's currently the case

[code]

[code]

[2017-03-22 11:00] NicoBurno commented on #74
Still does not work... :worried:
#### footer/footer.less
`background: url("img/logo.png"); //not work`
`background: url("\./img/logo.png"); //work`

#### versions
- webpack 2.2.1
- less-loader 4.0.2
- css-loader 0.27.3

[2017-03-22 11:03] michael-ciniawsky commented on #74
@NicoBurno StackTrace (Error) please

[2017-03-22 11:40] NicoBurno commented on #74
@michael-ciniawsky there are two error sections:
<details>
<summary>Section 1</summary>

Module not found: Error: Can't resolve 'img/logo.png' in '/var/www/lb/src/public/components/views/footer'
 @ ./\~/css-loader?{"modules":true,"importLoaders":1,"localIdentName":"[name]__[local]___[hash:base64:5]"}!./\~/postcss-loader!./\~/less-loader/dist?{"paths":["/var/www/lb/src/public/styles"]}!./src/public

[2017-03-22 13:28] matthiasfeist commented on #217
Haha no not really. I have no idea anymore what the problem was after a bit more than 1 year 😝

[2017-03-22 13:37] michael-ciniawsky commented on #217
@matthiasfeist Yeah I understand, I wasn't responsible here during that time, mind if I close the issue and you reopen or make a new issue in case it's needed ? 😛

[2017-03-22 15:26] darrenscerri opened #462 "JS modules can be imported and executed from CSS"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
Although this might be intended, it might not be correct to require certain files such as Javascript files from CSS.

**If the current behavior is a bug, please provide the steps to reproduce.**
See this repo for more information: https://github.com/darrenscerri/webpack-extract-text-plugin-empty-requi

[2017-03-22 15:45] plrthink commented on #413
@mitkaaa thanks, this works for me. but could you please explain why this would solve this issue?

[2017-03-22 16:01] matthiasfeist commented on #217
Yes please :) I guess we worked around that somehow back in the days :)

[2017-03-22 16:01] #217 closed

[2017-03-22 16:41] onepixelcitizen commented on #256
Add **?url=false** to your css-loader, that will disable url handling :

[code]

[2017-03-22 17:01] jhnns commented on #124
I did some profiling with the sass-loader: https://github.com/webpack-contrib/sass-loader/issues/296#issuecomment-288464857

[2017-03-22 17:15] darrenscerri opened #463 "url('') is rewritten as require('./')"
**What is the current behavior?**
`url('')` is rewritten as `require('./')`

**If the current behavior is a bug, please provide the steps to reproduce.**
Simply specify a `url('')` rule in CSS.

**What is the expected behavior?**
`url('')` should not be allowed. Show a warning similar to https://github.com/webpack/webpack/issues/2006

[2017-03-23 03:52] Cedcn opened #464 "Same file name but different directory, after build hash is same.(use css module)"
**Dir1 (test.css)**
`.input { display: block }`
**Dir2 (test.css)**
`.input { display: none }`

**Webpack loader options**
`loader: 'style-loader!css-loader?sourceMap&modules&hashPrefix=23&importLoaders=1&localIdentName=[path][name]-[local]--[hash:base64:5]!postcss-loader?sourceMap&sourceComments',`

**After Build**

**The class name is conflict.**

[2017-03-25 06:03] showd0wn commented on #18
{
      test: /\.woff|\.woff2|\.svg|.eot|\.ttf/,
      use: 'url-loader?prefix=font/&limit=10000'
    }

for webpack2

[2017-03-25 07:20] vanesyan commented on #51
Any updates on the thread?

[2017-03-25 11:46] kawanamiyuu opened #466 "oader"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2017-03-25 11:50] kawanamiyuu commented on #466
sorry, this is an operation miss of github.

[2017-03-25 11:50] #466 closed

[2017-03-26 02:06] julenr opened #467 "css-loader 0.27.3 adds ~20kb more than 0.26.2 to the bundle. Is that correct?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2017-03-26 11:01] michael-ciniawsky commented on #467
Its because if the `Buffer` polyfill included for sourcemaps conversion and will be fixed soon :) Duplicate of #454

[2017-03-26 11:01] #467 closed

[2017-03-28 05:54] felek000 opened #468 "image in code"
webpack 2
"css-loader": "^0.26.2",
How can i set output path to be set in css ?
scss code
body{
   background: url("../img/x.jpg") no-repeat;
}

Output to css
background: url(dist/assets/x.jpg) no-repeat; }

[2017-03-28 06:53] TrySound commented on #468
@felek000 There's a url option. Just disable it.
https://github.com/webpack-contrib/css-loader#options-1

[2017-03-28 06:54] felek000 commented on #468
ah ok thx for info :)

[2017-03-28 06:54] #468 closed

[2017-03-28 15:24] finom opened #469 "Add an option to export classes as named exports instead of default export"
**Do you want to request a *feature* or report a *bug*?**

*feature*

**What is the current behavior?**

Styles imported as default import object.

[code]

**What is the expected behavior?**

Styles imported as named imports.

[code]

**If this is a feature request, what is motivation or use case for changing the behavior?**

Webpack 2 warns user when wrong reference is imported/used.

[code]

I'd

[2017-03-28 15:43] michael-ciniawsky commented on #469
@finom Currently `css-loader` exports CSS as CJS Modul, this will be addressed in `v1.0.0` when we export CSS as ES2015 Modules, but it's a breaking change alongside with other refactors in the pipeline, so please be patient 😛

[2017-03-28 19:20] jnields commented on #333
I also have this issue with fonts. I have to build using `css-loader`, which will emit the font files, copy files temporarily to another directory, build with `css-loader/locals`, then copy over the emitted font files to the public path.

It seems that the internal details of `lib/localsLoader.js` is only concerned about class names and not URLs, which seems like a good design choice, but it doesn

[2017-03-28 19:55] pvienneau commented on #433
@ben-eb If I isolate `css-loader` from the rest of my webpack configuration, the minification works like a charm. My issue is therefore elsewhere. Thanks for your help + patience :)

[2017-03-29 05:18] anandrikka opened #470 "Unknown word exception"
I'm getting unknown word exception with less. My Project doesn't use ExtractTextPlugin.

**webpack config loaders**
`javascript
{
        test: /\.js$/,
        loaders: ['babel?presets[]=es2015&presets[]=react'],
        exclude: /node_modules/,
      },
      { test: /\.md$/, loader: 'html!markdown' },
      { test: /\.less$/, loader: 'style!css!autoprefixer!less' },
      { test: /\.css$/, load

[2017-03-29 05:27] peterh32 commented on #240
Similar problem happened to me; fixed it by adding -p option to webpack build. In my package.json:

`  "scripts": {
    "prepublish": "webpack  -p",`

No idea what was happening, but my compiled output had this "Hot Module Reload" section that was causing anything that tried to load the NPM package to barf.

[2017-03-29 06:59] gztchan commented on #470
I got the same issue today

[2017-03-29 09:41] michael-ciniawsky commented on #470
Could yu try with latest `css-loader && postcss-loader`?

***webpack.config.js**
[code]

[2017-03-29 09:43] michael-ciniawsky commented on #433
@pvienneau Can you confirm that it isn't an issue within `css-loader` ?

[2017-03-29 10:11] anandrikka commented on #470
@michael-ciniawsky Is this the right way to use it ?

`
{test: /\.less$/, loaders: [
        'style-loader',
          { loader: 'css-loader', options: { importLoaders: 2 } },
          { loader: 'postcss-loader', options: { plugins: [ require('autoprefixer')() ] } },
          'less-loader'
        ]
      }
`

I'm getting errors and what are the options that I need to pass for autoprefixer

[2017-03-29 11:16] pvienneau commented on #433
@michael-ciniawsky I can confirm that this isn't an issue with `css-loader`. However, noticing that you took the `bug` label off, my issue was different than that of @joebell93.

[2017-03-29 14:32] mrchief commented on #464
I'm having the same issue. I also tried changing `localIdentName=[path][name]-[local]--[hash:base64:5]` param to diff combinations like:

`localIdentName=[path][name]-[local]--[hash:base64:7]`
`localIdentName=[name]-[local]--[hash:base64:5]`
`localIdentName=[name]-[local]--[hash:base64:7]`

but to no avail. It creates same classes with same hashes (even with 7).

[2017-03-29 14:34] mrchief commented on #464
Btw, #413 also talks about same issue

[2017-03-29 14:46] cycleseven commented on #136
I was seeing these same warnings. Turns out `css-loader` wasn't the culprit in my case, it was actually an outdated version of `autoprefixer-loader`. Might be helpful knowledge for somebody out there!

[2017-03-29 14:56] neutraali commented on #74
Any update to this? Having near-exactly the same error as @NicoBurno...

[2017-03-29 17:22] jorawarsingh opened #471 "ERROR in Child compilation failed: Module parse failed:"
I am reporting a bug

I am using this plugin with latest version of webpack. when i am bundling my app i am getting the following errors,

I am not sure if it should even go into node_modules and bundle material. i have tried exlude to node_modules but it is giving me same result.

it is clearly bundling the material, here is the outout

It is happning when i am using @ngtools/webpack plugin other

[2017-03-29 19:53] terencechow commented on #205
@studiosciences do you remember what was causing this? I seem to have a similar issue

[2017-03-29 22:34] hugorodrigues commented on #464
Same problem here (webpack 2)

[2017-03-30 01:51] michael-ciniawsky commented on #471
@jorawarsingh I will take a look later 😛 , did you open an issue in ngtools/webpack aswell? It depends on how ngtools/webpack works ( no idea tbh :) ) and if this is releted to eventual 'quirks' within 'css-loader` or not.

[2017-03-30 01:56] michael-ciniawsky commented on #433
@pvienneau Yep, there was a solution proposed and no response until now, if @joebell93  still has regressions after trying that out, he can reopen any time or simply open a new issue 😛. But this doesn't seems to be a bug in `css-loader`

[2017-03-30 01:56] #433 closed

[2017-03-30 02:04] michael-ciniawsky commented on #470
@anandrikka What webpack version are you currently using ? 😛  My latest comment is webpack v2+ only

[code]

*1) [Autoprefixer Options API](https://github.com/postcss/autoprefixer#options)
      [Autoprefixer Browsers](https://github.com/postcss/autoprefixer#browsers)

[2017-03-30 02:07] michael-ciniawsky commented on #136
@cycleseven Don't use `autoprefixer-loader` it is 'unofficial' without guaranteed support => `postcss-loader` + autoprefixer is the recommended way

[2017-03-30 04:04] jorawarsingh commented on #471
Hi there, I opened a issue on ngtools/webpack as well but they closed it , you can read there opinion
[here](https://github.com/angular/angular-cli/issues/5738#issuecomment-290251207)

[2017-03-30 06:35] anandrikka commented on #470
@michael-ciniawsky Unfortunately webpack version is 1.13.1 and I'm not supposed to change it. Can you tell me the reason behind the error ?

[2017-03-30 06:49] michael-ciniawsky commented on #470
@anandrikka The syntay above is simply uncompatible with webpack v1 😛

**webpack.config.js**
[code]

On a side note :), an update is highly recommended since webpack 2 is the first release since the core team introduction and open collective initiative and therefore most `loaders` will drop webpack v1 with the next semver major

[2017-03-30 08:09] michael-ciniawsky commented on #471
@jorawarsingh kk I haven't had time yet to read the stackTrace you posted above, but I will do it later today, as I'm no angular user myself (for reasons like this 😛) it's difficult to graps for me, but I don't understand what `node_modules`  should have to do with it, since it seems to be the case that the module was loaded correctly ¯\_(ツ)_/¯. One thing I could think of is maybe

[code]

This co

[2017-03-30 16:34] LinuCC commented on #436
@edwinwright @michael-ciniawsky  isnt this a result of the request-behaviour used in modules?
The README says the following:

I had the same issue, it seems kinda counterintuitive:

[code]

[code]

[code]

That is odd behaviour.
Because of this resolving the actual URL is context-sensitive making global variables ala bootstrap-sass (e.g. `$styleguilde-asset-url` / `$bootstrap-font-url`) awkward to

[2017-03-30 17:09] hugorodrigues commented on #464
I found some workarounds while trying to debug my issue.

This is the [code](https://github.com/webpack-contrib/css-loader/blob/master/lib/getLocalIdent.js) responsible for resolving the `localIdentName`:

[code]

As you can see, even if you set `localIdentName=[path][name]-[local]--[hash:base64:7]` the `[path]` will only be evaluated to the filename only (because the context will be the same/curr

[2017-03-30 18:32] michael-ciniawsky commented on #464
@hugorodrigues thx I will check that solution, we plan to overhaul css-loader in `v1.0.0` and address issues like that. Could you post the part of your `webpack.config.js` with that setup and PR even if for discussion is highly welcome aswell 😛

[2017-03-30 18:34] michael-ciniawsky commented on #470
@anandrikka Reopen if you still have any regressions 😛

[2017-03-30 18:34] #470 closed

[2017-03-30 18:36] michael-ciniawsky commented on #471
@jorawarsingh Did you find a solution, or any new insights :)? Otherwise please make a small test repo so I can reproduce the issue locallly

[2017-03-30 19:22] studiosciences commented on #205
@terencechow It's taken me a couple of days to recall this much info and I'm not in the office to ask the guy that wrote the custom plugin. He had messed with the IDs (identifiers?) for the files in a web pack plugin to address some legacy issue. So basically webpack thought these were two different files. We just filtered out the CSS files and we were ok.

[2017-03-31 12:05] stewartmegaw opened #474 "Styles strangely sometimes missing from output stylesheet sometimes not"
Simple problem to describe:

1. When I compile my project with webpack the .css stylesheet output looks great.

2. Now I restart webpack compile and the stylesheet is missing many classes.

Each time I compile it gives a different result - even though NOTHING has changed. Scratching my head. I can't find any errors in the CSS which may be causing css-loader problems.

Anyone else having this probl

[2017-03-31 13:57] kumarharsh commented on #159
@bdefore while usefyl, I feel that this approach would make using "global" classes a pain. And since classes being global is the default in HTML, the loader altering the default behaviour might cause a lot of raised eyebrows. Added on that, the current approach of importing local css modules and accessing classes as properties on it feels a little more sane - linting and autocomplete tools can be

[2017-03-31 16:05] bdefore commented on #159
@kumarharsh agreed. the approach i've described is probably too proscriptive for its own good.

[2017-03-31 16:26] jorawarsingh commented on #471
@michael-ciniawsky not yet. Been busy. I will come back with small repo to test on Monday. Thanks

[2017-04-01 04:29] swcho commented on #317
For me, this problem seems hard to solve at a first glance as unicode escaping done by postcss module.

Until proper solution applied, I would you interim solution by using hacky loader which unescape unicode.
https://github.com/swcho/font-family-unescape-loader

You can place "font-family-unescape-loader" right before "css-loader" then the loader will change font names of font-family config.

[2017-04-01 19:42] stewartmegaw commented on #474
Apologies I was using an old version of postcss-loader

[2017-04-01 19:43] michael-ciniawsky commented on #474
@stewartmegaw close ?

[2017-04-01 19:44] michael-ciniawsky commented on #474
reopen if still any regression(s) 😛

[2017-04-01 19:44] #474 closed

[2017-04-03 09:13] kumarharsh commented on #399
@timse specifying `animation: :global(flipInX) 10s ease` fails:

[code]

[2017-04-03 11:12] karolyi commented on #460
Update: seems to have fixed in `0.28.0`.

Cheers guys

[2017-04-03 12:03] #460 closed

[2017-04-03 16:24] michael-ciniawsky commented on #399
@kumarharsh  Does just using the the global name not work ? (Exclude the e.g `animations/` folder from `css-loader?modules` and load the them with a second rule instead). I don't think this is possible with CSSModules, it looks like compose, but that wouldn't do the job here either

[2017-04-04 06:37] kumarharsh commented on #399
@michael-ciniawsky I've not tried global names, but local keyframe names are not being exported, which led me to investigate other variants, but I couldn't get it working at all.

I have a file called animations.css, which has this:

[code]

First, I tried to `composes: moving-stripes from '../animations.css'` property,

[code]

but since my class is composite (`.container:global(.is-focused)`), t

[2017-04-05 07:56] heinhoang opened #475 "Module parse failed"
- OS windows 10
- node v6.9.5
- "css-loader": "^0.28.0",
- "style-loader": "^0.16.1",
- "webpack": "^2.3.3"
-------------------------------
./client/dist/css/style.css
[code]
webpack.config.js:
...
[code]
...
Error:
[code]

[2017-04-05 08:16] heinhoang commented on #475
oh! sorry, I'm fail at setting `include` path.

[2017-04-05 08:16] #475 closed

[2017-04-06 16:25] reywright commented on #244
@psimyn Wait I'm confused. I normally either have the option of using styleName, or using styles.className notation. I don't have the option of using styleName when it comes to using something like ReactCSSTransition, so I'm using styles.className notation, unless there's some other option.

I think my issue is that if the camelCase option is ticked off, then it should remove multiple hyphens as w

[2017-04-06 19:29] elfey opened #476 "JS file size increases 291 kB -> 314 kB upon upgrading from v0.25.0 to v0.28.0"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**
For some reason upon upgrading to v0.28.0 of css-loader from v0.25.0, our project's build size increased from 291 kB to 314 kB. This doesn't make sense... why is a loader for CSS increasing our JS build size when we're exporting it to CSS?

**If the current behavior is a bug, please provide the steps

[2017-04-06 19:38] michael-ciniawsky commented on #476
Duplicate of #454

[2017-04-06 19:38] #476 closed

[2017-04-07 13:10] RinatMullayanov commented on #374
I have same problem. Is there a solution?

[2017-04-07 16:17] michael-ciniawsky commented on #374
@RinatMullayanov Material Design [Lite] aswell ? :)

[2017-04-07 16:21] RinatMullayanov commented on #374
@michael-ciniawsky Yes

[code]

[2017-04-07 16:35] michael-ciniawsky commented on #374
kk, This happens also when using the non minified version of Material Lite ? Without `postcss-loader`?

[2017-04-07 16:35] michael-ciniawsky commented on #374
CSS Modules disabled ?

[2017-04-07 17:14] RinatMullayanov commented on #374
@michael-ciniawsky Did not try non minified version of Material Design Lite.
There are two big strange:
1. According to the settings, styles of third-party libraries should not be processed by postcss-loader, only the styles of my application.
2. I have this problem, but my colleague does not have the same code, OS versions, node.js and npm are the same.

[2017-04-07 17:17] RinatMullayanov commented on #374
@michael-ciniawsky
The error appeared as something accidental.
By the way recently we switched to webpack 2, if exactly 2.3.2 version.
With webpack 1, there was no such problem with the same source code.

[2017-04-07 17:50] michael-ciniawsky commented on #374
@RinatMullayanov For regression in webpack v2 Core you need to open an issue @webpack/webpack I can't help you here 😛 . So you removed `postcss-loader`and it works? That could likely be the cause, since it will try to generate a new sourcemap, which is undesired in your case

[2017-04-08 23:04] Bnaya commented on #74
@neutraali it have some issue becouse of postcss-loader. i'm still trying to understand it

[2017-04-09 04:24] d3viant0ne opened #479 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

This is being handled as a part of a rewrite here https://github.com/webpack-contrib/css-loader/tree/new-loader

[2017-04-10 10:14] rubyisapm opened #480 "How to resolve the assetsPublicPath to the url in css?"
By default, the url can be tansfered according to the direction of dist. But I didn't find the way to set it according to the assetsPublicPath. Is there  any way to deal with that?

[2017-04-10 10:30] infeng commented on #460
I still have this error in `0.28.0`.
My webpack config:
[code]

In My application:
[code]

[2017-04-10 10:42] karolyi commented on #460
@infeng do you use the latest version from all dependencies/packages?

use [npm-check-updates](https://www.npmjs.com/package/npm-check-updates) to update.

[2017-04-10 11:06] dmytro-lymarenko opened #481 "@import in css"
Hey Guys! I'm not sure if this module does it but... Is it possible to change the behavior of @import in css?

I mean I want to use a loader before the content from the file is inserted into css.

Please correct me if I'm wrong but I know that if a loader (or something else) sees @import './path/to/file.css' then the content is inserted into the file where import is used.

But this behavior is not

[2017-04-10 14:19] mgol opened #482 "package.json engines field value is not working as intended"
**Do you want to request a *feature* or report a *bug*?**

A small issue.

**What is the current behavior?**
`package.json`'s engines `node` field is currently defined as `">=0.12.0 || >=4.3.0 <5.0.0 || >=5.10"`.

**If the current behavior is a bug, please provide the steps to reproduce.**

Try to install the package under io.js. It won't complain about an unsupported Node version being used.

**W

[2017-04-10 15:34] rozzzly commented on #443
Any update on this? I've been experiencing it too, and it's like half the reason to use css modules.

[2017-04-10 15:53] aspirisen commented on #74
Had the same with webpack 2 and css-modules on
`background: url("\./img/logo.png"); //work `
helped

[2017-04-10 23:12] michael-ciniawsky commented on #482
👍  But maybe removing all versions`>= 4.0.0` is the sanest way, since all other node/io.js versions are EOL anyways, mind spinning up a quick PR 😛 ?

[2017-04-10 23:14] michael-ciniawsky commented on #443
@rozzzly Please provide more info about your current setup (file tree, `webpack.config.js`)

[2017-04-10 23:18] michael-ciniawsky commented on #481
@dmytro-lymarenko I reply @postcss-loader :D if any questions please post them there instead, closing in favour of [#191](https://github.com/postcss/postcss-loader/issues/197)

[2017-04-10 23:18] #481 closed

[2017-04-10 23:33] michael-ciniawsky commented on #480
@rubyisapm Please provide more info on your setup (file tree, `webpack.config.js`) I'm not 💯 sure what you mean and if possible

[2017-04-11 01:10] infeng commented on #460
I use  `npm-check-updates`, all dependencies use the latest version.

[2017-04-11 01:23] infeng commented on #460
When I use `extract-text-webpack-plugin` and `css-loader` together, it get error.

[2017-04-11 01:36] rubyisapm commented on #480
I'm sorry It's my fault, now it works!😁

[2017-04-11 01:36] #480 closed

[2017-04-11 08:17] mgol commented on #482
@michael-ciniawsky done: #483.

[2017-04-11 11:40] mrdulin commented on #443
Here is my `webpack.config.js`:  https://github.com/mrdulin/webpack1.x/blob/master/css-loader/css-module-import-module/webpack.config.js

[2017-04-12 00:50] rozzzly commented on #443
After some more investigation, it's an issue between `postcss-loader` and `css-loader`. I opened an issue there as it might be out of scope of `css-loader` https://github.com/postcss/postcss-loader/issues/198

[2017-04-12 08:01] NicoBurno commented on #74
@neutraali update did not help:
webpack@2.3.3
css-loader@0.27.3
postcss-loader@1.3.3
less-loader@4.0.3

@Bnaya I localized the problem. But I do not understand why this code works like this ...
https://github.com/webpack/loader-utils/compare/master...NicoBurno:patch-1

[2017-04-12 16:07] IdanCo opened #484 "Source Map + Inline Images = Invalid CSS"
**BUG**: When processing embed images in css with the `SourceMap` flag set to `true`, invalid css is outputted. Originated from bootstrap 4.

I'm trying to compile the following css:
[code]
code is based [on this](https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss#L617)

When the `SourceMap` flag is off, all is fine and well. But for some reason, when the `SourceMap` flag is on, it

[2017-04-12 21:28] jonathanphz commented on #343
@cuiyue Thank you thank you!

[2017-04-13 10:01] tonokim commented on #396
Is work for me !3Q

[2017-04-13 12:15] biplabmalakar commented on #141
Hi facing the same issue. ng serve was showing an error of environmentSource entry missing. I maintained the entry and proceeded again with the same command and now the build failed with the error -

![image](https://cloud.githubusercontent.com/assets/25076695/25004238/2d0d0050-2008-11e7-9713-305055737d63.png)

Any help with this is highly appreciated.
Thank you

[2017-04-13 17:47] VoloshchenkoAl commented on #355
@FastAndFluid try to use `url=false` in css-loader
`{ test: /\.css$/, loaders: ['to-string-loader', 'css-loader?url=false'] },`

[2017-04-14 14:20] ErickVoodoo commented on #264
I tried all your suggestions but no one works for me,
I found this article, it works for me when I used pseudo attributes:
https://gist.github.com/DavidWells/1f977cc310feb1264b41

`
:global {
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
  }
}

:global {
  .loader:before {
    border: 4px solid #7cbac0;
    border-bottom-color: transparent;
    width: 44px;
    border-radi

[2017-04-14 14:32] BearandYoon opened #485 "pkjle"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2017-04-14 14:32] BearandYoon opened #486 "pkjlejfweo"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2017-04-14 14:32] BearandYoon opened #487 "pkjlejfweo434"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2017-04-14 14:32] BearandYoon opened #488 "pkjlejfweo4345kjdf"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2017-04-14 15:53] #485 closed

[2017-04-14 15:53] #486 closed

[2017-04-14 15:53] #487 closed

[2017-04-14 15:53] #488 closed

[2017-04-15 19:10] aj120426394 opened #489 "Migrate to webpack2 and css modules is not working"
I move one of my project to webpack 2 recently. I currently only test on webpack-dev-server mode and seems every things work fine except css module.
Here is part of my webpack configuration which relate to css module:

version:
css-loader: 0.14.5 (for the better performance)
sass-loader: 6.0.3
webpack: 2.3.3
webpack-dev-server: 2.4.2
[code]
When I import the .scss file into .js file as beneath, th

[2017-04-15 22:38] michael-ciniawsky commented on #489
😛  That's the reason I guess, if I remember right  css-loader < v0.15.0 didn't use PostCSS and therefore has no `{ modules: true }` (CSSModules), could you try with latest `css-loader` and see if your config works? You're right `css-loader` has some perf issues, but these are more related to the bloated code base and we're working on that 😉

[2017-04-16 09:19] aj120426394 commented on #489
Thanks @michael-ciniawsky !

After I update to the latest css-loader version, it works!

[2017-04-16 09:54] #489 closed

[2017-04-16 22:52] bigfanjs opened #490 "CSS Scoping For React Components"
**Do you want to request a *feature* or report a *bug*?**
*feature*

**What is the current behavior?**
For CSS modules/scoping that css-loader offers both come with expensive costs; You whether need to pollute your CSS or to assign imported class names everywhere in your components.

**What is the expected behavior?**
Importing a CSS file to its component and Webpack automatically apply scoping.

[2017-04-17 00:41] michael-ciniawsky commented on #490
This is already possible via `loader.options` either

[code]

[code]

You will still need to import the generated names and apply them, otherwise `css-loader` would need to parse your markup aswell :)

[2017-04-17 00:41] #490 closed

[2017-04-17 07:09] dcworldwide commented on #413
Agree @mitkaaa i'm a bit confused by the solution... is this global config or local to css loader?

[2017-04-17 12:02] evilebottnawi commented on #484
@IdanCo i add tests https://github.com/webpack-contrib/css-loader/pull/491, all works fine, can you create minimal repo to reproduce?

[2017-04-17 12:12] evilebottnawi commented on #484
@IdanCo also you `%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E` seems invalid.

 Data should be `<svg><rect>...</rect></svg>` (but it is not support IE, maybe Edge) or `encoded` (use for this http://meyerweb.com/eric/tools/dencoder/) `%3Csv

[2017-04-17 13:24] evilebottnawi commented on #459
@rjnair-nm added tests https://github.com/webpack-contrib/css-loader/pull/493, seems for one escaped characters all works fine, maybe problems in some `postcss` plugin? Can you create minimal reproduce repo?

[2017-04-18 00:57] michael-ciniawsky commented on #389
Fixed by either installing webpack >= v2.2.1 or adding an `ident`  to the loader options

[code]

[2017-04-18 00:57] #389 closed

[2017-04-18 05:03] michael-ciniawsky commented on #484
@IdanCo #491 landed see @evilebottnawi comments and if still any regressions feel free to reopen or open a new issue :)

[2017-04-18 06:24] bboysathish commented on #305
i still have this issue. Can anyone suggest what to do ?

[2017-04-18 08:05] michael-ciniawsky commented on #305
@bboysathish Also with `angular-universal-starter` ?

[2017-04-18 08:12] #464 closed

[2017-04-18 08:55] IdanCo commented on #484
Wow, kudos for the quick reply and the excellent test!

I'm reopening this because for some reason (not sure how i missed it before) this only reproduces when sass-loader is present. Now, i now the reasonable thing would be to head out to their repo and report this issue, but before i do so there is still something strange the seems to originate from css-loader: **the sourcemap flag** still switch

[2017-04-18 08:59] IdanCo commented on #484
@evilebottnawi - thanks for the tip! this code is taken from Bootstrap 4 -
https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss#L616
and they insist on supporting IE10, but i'll look for a third way and maybe do a to fix it...

[2017-04-18 09:14] bboysathish commented on #305
@michael-ciniawsky No this with React Starter.

[2017-04-18 10:29] michael-ciniawsky commented on #305
Also related to module resolution? If so that's likely an issue in the respective boilerplate and better issued there 😛

[2017-04-18 10:29] #305 closed

[2017-04-18 11:54] evilebottnawi commented on #484
@IdanCo near future i try to investigate this

[2017-04-18 11:57] evilebottnawi commented on #484
@IdanCo and yep bootstrap have weird lines with svg, maybe this is due to something special in `sass` (but i don't think), can you create issue with reference here to clarify all :smile:

[2017-04-19 04:35] leovir-roque opened #498 "Error loading css-loader upon saving a file"
Everything builds fine once I run my build script but I'm getting this upon editing and saving a css file:

`ERROR in ./~/css-loader!./~/postcss-loader!./project/static/css/styles.css
Module build failed: (SystemJS) ENOENT: no such file or directory, open '/code/node_modules/css-loader/lib/loader'
  Error: ENOENT: no such file or directory, open '/code/node_modules/css-loader/lib/loader'
  Error l

[2017-04-19 04:36] leovir-roque commented on #498
package.json

  "devDependencies": {
    "autoprefixer": "^6.5.4",
    "autoprefixer-core": "^5.2.1",
    "babel": "^6.5.2",
    "babel-core": "^6.24.1",
    "babel-eslint": "^7.1.1",
    "babel-loader": "^6.2.10",
    "babel-polyfill": "^6.23.0",
    "babel-plugin-add-module-exports": "^0.2.1",
    "babel-plugin-rewire": "^1.0.0",
    "babel-preset-es2015": "6.24.1",
    "babel-register": "^6.18.

[2017-04-19 05:57] michael-ciniawsky commented on #498
Could you please add \```around the code blocks? It's very hard to read and from a first glace most of your dependencies are helplessly outdated :stuck_out_tongue:

[2017-04-19 06:07] leovir-roque commented on #498
@michael-ciniawsky I realised that this isn't a problem with css-loader, sorry. closing this thread

[2017-04-19 06:07] #498 closed

[2017-04-19 09:46] chrisjbrown opened #499 "Can't resolve @import"
Using
    "style-loader": "^0.13.0",
    "css-loader": "^0.23.0",
    "webpack": "^2.3.2",
    "basscss-basic": "^1.0.0",

With rule
[code]
styles/index.css
[code]
output
[code]

[2017-04-19 10:18] michael-ciniawsky commented on #499
@chrisjbrown  Try

[code]

Note the `~` as a webpack specific shorthand to import `node_modules`

[2017-04-19 10:56] chrisjbrown commented on #499
Thanks for the fast reply!

however i still get the same error though it no longer includes the './' in the resolve

[code]

[2017-04-19 11:42] chrisjbrown commented on #499
I've created a tiny repo to replicate the issue in isolation

https://github.com/chrisjbrown/loader-test

[2017-04-19 16:30] michael-ciniawsky commented on #499
[code]

Untested I didn't found the time yet

[2017-04-19 16:32] evilebottnawi commented on #484
@IdanCo wip

[2017-04-19 16:40] evilebottnawi commented on #484
@IdanCo trouble not in `css-loader`, in `style-loader` https://github.com/webpack-contrib/style-loader/issues/214

[2017-04-19 16:41] evilebottnawi commented on #484
we can close this issue in favor https://github.com/webpack-contrib/style-loader/issues/214m i can try resolve this issue in near future

[2017-04-19 16:52] #484 closed

[2017-04-19 17:03] evilebottnawi commented on #484
@IdanCo just update `style-loader` to latest version in your `package.json`, it should be solve your problems, feel free reopen if it is don't help :star:

[2017-04-19 17:20] IdanCo commented on #484
You're all awesome. Best response(s) i ever got on github!  Ill let you know if there's any news

[2017-04-19 17:31] evilebottnawi commented on #484
@IdanCo also i found why bootstrap don't encoded all url more infomation about this https://css-tricks.com/probably-dont-base64-svg/

[2017-04-20 05:20] michael-ciniawsky opened #500 "Standardize README"

[2017-04-20 11:06] evilebottnawi commented on #355
@CrazyUmka @VoloshchenkoAl @iraklisg Can any of you create minimal reproduced test repo? This would allow in the very near future to resolve the error :+1:

[2017-04-20 11:07] evilebottnawi commented on #410
/cc @michael-ciniawsky can we close this issue?

[2017-04-20 11:26] evilebottnawi commented on #117
/cc @michael-ciniawsky i think it is won't fixed and we can close issue, problems not in `css-loader`, it is problems in `sass-loader` see https://github.com/webpack-contrib/sass-loader#problems-with-url (also solution place here :smile: ). Btw, many popular frameworks and library have variables to change path - it is best solution for me (without spend time on `resolve-url-loader`).

Also
[code]

[2017-04-20 11:28] evilebottnawi commented on #117
/cc @kroko @virtualfunction @simonh1000 @eguneys @carlos- please read comment above :smile:

[2017-04-20 11:36] evilebottnawi commented on #209
@monkindey can your create minimal reproduced test repo :question: :+1:

[2017-04-20 11:41] michael-ciniawsky commented on #454
Closed by #501

[2017-04-20 11:41] #454 closed

[2017-04-20 11:43] #117 closed

[2017-04-20 11:44] michael-ciniawsky commented on #410
@evilebottnawi yep 😛

[2017-04-20 11:44] #410 closed

[2017-04-20 11:50] evilebottnawi commented on #237
/cc @michael-ciniawsky close :smile: Just a reminder, I apologize if I'm very quick and distracting :smile:

[2017-04-20 11:53] michael-ciniawsky commented on #237
ohh.. 😟  No worries appreciated, I thought I closed all issues related to the PR(s), but I should better double check next time 😛

[2017-04-20 11:53] #237 closed

[2017-04-20 13:32] evilebottnawi commented on #362
@michael-ciniawsky don't know about support in `webpack` `1`. But in `webpack` `2` you can use
[code]

or with `import`
[code]

/cc @michael-ciniawsky we can close this issue
Also i am bad in documentation and very bad in documentation in english, maybe you can do PR with example in `README.md` about this :smile:

[2017-04-20 13:33] evilebottnawi commented on #362
/cc @desperate-man @dphov @uhinze @chanon @desperate-man @ekulabuhov please see comment above :star2:

[2017-04-20 13:46] evilebottnawi commented on #211
/cc @michael-ciniawsky maybe bug with old version `postcss` or old version in `plugin` for `postcss` which we used for parsing, but now error does not happen :star: . I think we can close this issue.
/cc @4ware @psypersky @batwicket @gmaggess @arufian @kincaidoneil @newbieYoung @jkinzel-r7 all works as expected now?

[2017-04-20 14:02] evilebottnawi commented on #233
/cc @renanvalentin @rahilvirani @nindavidw can your create minimal reproduced test repo if error is present or we can close this issue?

[2017-04-20 14:10] michael-ciniawsky commented on #211
Reopen if still any regressions with the **latest** version of plugins/loaders/webpack etc 😛

[2017-04-20 14:10] #211 closed

[2017-04-20 14:12] michael-ciniawsky commented on #362
@evilebottnawi I in a overhaul of the README and will address this 👍

[2017-04-20 14:12] #362 closed

[2017-04-20 14:39] evilebottnawi commented on #264
/cc @michael-ciniawsky based on first message of issue
input:
[code]
output:
[code]
it is related to `css-modules`, in theory in css we can use same name for `class` and `keyframes`, it is not valid, also example for me works as expected and good.

/cc @netpoetica @gucheen @raveclassic @QuietOmen @isnifer @AlejandroEsquivel @desero @ErickVoodoo who can create minimal reproduce test repo with error

[2017-04-20 14:48] evilebottnawi commented on #424
@chrisdoble wip

[2017-04-20 16:29] chrisjbrown commented on #499
That did it! Thanks!

[2017-04-20 16:29] #499 closed

[2017-04-20 16:55] michael-ciniawsky commented on #500
Closed by #503

[2017-04-20 16:55] #500 closed

[2017-04-20 16:56] evilebottnawi commented on #424
@chrisdoble fixed :star2:

[2017-04-20 17:20] michael-ciniawsky commented on #424
Fixed by #504

[2017-04-20 17:20] #424 closed

[2017-04-20 22:15] ankurp opened #506 "Support Tree shaking of CSS"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Webpack 2 support tree shaking and removal of dead code but this does not work for CSS. If we have a javascript file which exports different CSS files and we only import some of then, then css loader does not tree shake and remove the unused CSS.

Example if we had the code below, css-loader curren

[2017-04-21 09:11] michael-ciniawsky commented on #506
Send PR for discsussion, but tbh I have no idea how `css-loader` should do that, since it works on a *per file* (chunk) basis like loaders do in general 😛. There are future plans to natively support CSS in webpack without requiring `style-loader/css-loader` etc., but that's the sound of the intermediate feature for now and I guess it will require changes to webpack core itself, mainly bc only the

[2017-04-21 09:26] evilebottnawi commented on #463
/cc @michael-ciniawsky what do you think about ignore empty url by default?

[2017-04-21 09:45] evilebottnawi commented on #275
/cc @ElessarWebb error now is present? if yes please create minimal reproduced test repo :+1:

[2017-04-21 09:48] evilebottnawi commented on #374
@RinatMullayanov maybe related to `postcss`, wip

[2017-04-21 10:17] michael-ciniawsky commented on #463
Yep, also`@ìmport/url()` with protocol schema `https://`, but we need to clearify if that breaks current useage somehow (don't think so, but how knows for sure 😛)

[2017-04-21 21:37] TrySound opened #509 "Named exports"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

**What is the expected behavior?**

Would be great to have a named exports mode which can help to verify class existing by new webpack feature. Not quite sure it works now.  But in theory it can fix lots of is issues.

[2017-04-21 21:38] TrySound commented on #509
Sorry
 Ux issues. Sitting in bar and t9

[2017-04-21 21:56] michael-ciniawsky commented on #509
@TrySound 🍻 😛 You mean `import * as styles from 'a.css' && import {className, ...} from 'a.css` ?

[2017-04-21 22:12] TrySound commented on #509
Yep. Didn't research this yet. Hope there will be valuable result.

[2017-04-21 22:30] michael-ciniawsky commented on #509
Current plan is to remove `modules` completely from `css-loader` (webpack will support CSS out-of-the-box in the intermediate future) and move them to `postcss-loader` instead, this requires changes to the various `postcss-modules-*` plugins

[code]

[code]

+  \+ Exporting them as a ES2015 Module `export const locals = {...locals }` in `css-loader`

I && @evilebottnawi (Stylelint) will start work

[2017-04-21 22:42] TrySound commented on #509
Should we wait for postcss 6 then? I think this stuff is not quite related.

[2017-04-21 22:59] michael-ciniawsky commented on #509
Yep `postcss-loader` v2 is blocked bc of that atm, it's unrelated to the feature itself (named exports), but you mentioned, that you didn't researched anything yet, so that's the (in brief) Roadmap to named exports 😛, since in any case adding this is a breaking change CJS Export => ES2015 Export

[2017-04-22 00:30] blainegarrett commented on #153
@chanon Thank you thank you! I ran into this on webpack 2 upgrade. Scratching my head for a while.

[2017-04-22 12:33] evilebottnawi commented on #482
/cc @michael-ciniawsky we can close issue in favor We will fix the engines field when we do the webpack-defaults upgrade.

[2017-04-22 12:59] #482 closed

[2017-04-22 13:14] gkatsanos commented on #355
Same error here,
ERROR in ./~/sass-loader/lib/loader.js?{"sourceMap":true,"includePaths":["/Users/Georgios/Development/rocket-internet/INTROCK2/drupal/web/themes/rocket/~/bootstrap-sass/assets/stylesheets"]}!./sass/main.scss
    Module parse failed: /Users/Georgios/Development/rocket-internet/INTROCK2/drupal/web/themes/rocket/node_modules/sass-loader/lib/loader.js?{"sourceMap":true,"includePaths":

[2017-04-22 13:22] evilebottnawi commented on #355
@gkatsanos expected, where `css-loader` for `sass/scss` files and fallback with `style-loader`?

[2017-04-22 13:23] evilebottnawi commented on #355
@gaearon see https://github.com/webpack-contrib/extract-text-webpack-plugin#extracting-sass-or-less

[2017-04-22 13:24] michael-ciniawsky commented on #355
[code]

webpack >= 2.2.1 &&  ETWP  >=v2.0.0 :)

[2017-04-22 13:24] gkatsanos commented on #355
@evilebottnawi for sass/scss files the loader declared is "sass-loader" ...

[2017-04-22 13:27] evilebottnawi commented on #355
/cc @michael-ciniawsky i think we should improve `webpack` docs about `loaders`, because many people do not understand how it works, we will constantly receive issues about bugs. Also be good to add this link to this docs in `.gitlab` issue's template.

[2017-04-22 13:30] michael-ciniawsky commented on #355
Also if you want SASS && CSS in a separate file each then use two instances of ETWP

[code]

[2017-04-22 13:31] michael-ciniawsky commented on #355
@evilebottnawi Yep it's a mess 😉

[2017-04-22 13:32] gkatsanos commented on #355
@evilebottnawi @michael-ciniawsky thanks a million! for helping me fix it. Now I'm over to the next error, it can't resolve my font paths..

but I must say not one in a million I would have figure it out on my own :( and I did read a dozen configuration examples :( can't this be simplified? I mean, from a purely high-level perspective, if I need to compile SCSS to CSS, why do I need to use so many

[2017-04-22 13:35] gkatsanos commented on #355
[code]

any hint on that one?

[2017-04-22 13:38] gkatsanos commented on #355
@evilebottnawi the problem with https://github.com/webpack-contrib/extract-text-webpack-plugin#extracting-sass-or-less is that their example doesn't have options.. didnt think use could be an array of objects..

[2017-04-22 13:40] evilebottnawi commented on #355
@gkatsanos use `{ loader: 'sass-loader', options: { someOptions: true}}` instead just `sass-loader` string

[2017-04-22 13:51] michael-ciniawsky commented on #355
assets need to be loaded via an appropiate loader 😆  you need `url/file-loader` and add a rule to `module.rules`

[code]

I recommend you use a few simple `css./.sass` files and test if that works (that == CSS Setup) :), no `url()` (Assets)  etc. from the start, since resolving the correct asset paths especially as a beginner will bug you many times I swear you that 😛.  Use the progressive approac

[2017-04-22 14:22] gkatsanos commented on #355
Yeah I understand that. I am migrating a big project from Gulp to Webpack and want to get it done asap. sorry for polluting this bug.
Is it normal that webpack is actually taking all the fonts/images now and moves them to the output directory? I'd prefer to leave the files where they are.. shall I use exclude?

[2017-04-22 14:33] evilebottnawi commented on #355
@gkatsanos it is bad practice, because other `loader`s and  `plugin`s can change content files (example compress or minify), be good have two directory: `src` for source and `build` for `webpack` output. But you can do this, just use `name: '/path/to/[name][ext]'` for `file-loader`, full information about interpolation paths https://github.com/webpack/loader-utils#interpolatename

[2017-04-22 14:38] michael-ciniawsky commented on #355
If your dependency grap isn't to complex, you could do that yes, the reason to load them and moved them to `outpu` is mainly bc of

### File Tree (Grunt, Gulp)
[code]

### Dependency Graph (webpack)
[code]

You will get this all the time, when storing them in one place :)

[code]

[code]

Thats wil `url/file-loader` etc are needed to have the webpack resolver dealing with that graph 😛

⚠️  If you

[2017-04-22 14:40] gkatsanos commented on #355
@michael-ciniawsky you're killing me :) It's a Drupal (php CMS) website, so definitely _not_ component based architecture - and yes now all the problems make sense..
I was using Gulp with Browserify but I was encountering problems with proper import of ES6 modules and in general it wasn't at all straightforward..

[2017-04-22 14:43] gkatsanos commented on #355
@evilebottnawi I didn't get how to ignore fonts and images ; essentially  there's no "src" and "dist" for my images as I've already included them in the "dist" directory.. this codebase I'm working on doesn't have a clear separation between src and dist (although I could make it)

[2017-04-22 14:50] gkatsanos commented on #355
[code]

so what happens now is webpack is generating a `bundle.js main.css frontpage.css` (correctly) but also a `main.js` and a `frontpage.js` (side effect).. it also moves all images in my `./ `

[2017-04-22 14:50] evilebottnawi commented on #355
@gkatsanos I'm not too familiar with with `drupal`, for `wordpress` exist https://github.com/roots/sage theme (but it is only beta), maybe it will help to inspire and rework the structure.

[2017-04-22 14:54] evilebottnawi commented on #355
@gkatsanos also try to search in google `github drupal webpack` :smile: seems not very bad https://github.com/teamdeeson/deeson-webpack-config, also you can see https://github.com/TallerWebSolutions/drupal-react-boilerplate. I think in the beginning it is necessary to work out the structure of the theme for the components of the form, not necessarily in the form as above, this is just one of the k

[2017-04-22 14:57] michael-ciniawsky commented on #355
Maybe if JS only, better take a look at Rollup first and just ES2015 modulize the JS as a starting point :), it's not necessary to utilize webpack here if the architecture doesn't match (best/easiest example for getting started would be a simple react app). Gulp and webpack are similar in terms of 'you can build your stuff from start to finish' but that's also where the similarity ends 😛 . The con

[2017-04-22 15:00] michael-ciniawsky commented on #355
[code]

`url-loader` base64 encodes your asset(s) into the bundle, when file size < limit, otherwise it will fallback to `file-loader` under the hood. Use `file-loader` additionally if you have assets ypu don't want to be encoded at all :)

[2017-04-22 15:06] michael-ciniawsky commented on #355
The CMS in use isn't important 🙃 It's about the front-end architecture. Serving a `app.bundle.js` + `index.html` works with any back-end :). Try out a react app with webpack and get familiar with the shift in the mental model first. Saves you a lot of pain... Again PHP/Python/Java && CMS X, Y, Z aren't really relevant

[2017-04-22 15:30] gkatsanos commented on #355
I totally understand. I've built 1-2 SPA's with Vue / Webpack so I've used the Component Based Architecture. Although I must say there are often times you need a concept of "Page" rather than a "Component" so I'm not sure if everything can be a Component in that sense..

Anyway. now I'm left with my half-baked webpack config and don't know how to proceed and if I should just stash and go back to G

[2017-04-22 15:40] michael-ciniawsky commented on #355
Your bundle is the/a 'page' + an initial 'index.html'. The rest is routing 😛

[2017-04-22 15:46] michael-ciniawsky commented on #355
It highly depending on how in particular your current page looks like, that's something you need to figure out yourself, I didn't meant to discourage you on anything but it can cause you more trouble in the end by 'blindly' trying to press that into something 'webpack-able' in the end

[2017-04-22 15:49] gkatsanos commented on #355
:) but my website isn't a JS-generated thing - JS is only for effects/carousels etc, so indeed following the dependency tree of .js files doesn't do much..
I just wanna concat the js files, compile the CSS, generate source maps and have a file watcher running..

[2017-04-22 15:51] michael-ciniawsky commented on #355
See e.g Drupal more as an API in a SPA, it's likely to be the case that many of the CMS 'Management'  (PHP- based on a classical  Request/Response Circle pattern) funtionality is obsolete then :D

[2017-04-22 15:53] michael-ciniawsky commented on #355
Browserify is just fine for that and if you what to use ES2015 Modules Syntax then

Browserify => Rollup  (gulp-rollup)

**page.js**
[code]

[2017-04-22 15:55] gkatsanos commented on #355
great. last question. if my images are supposed to live in components, and I have already separated them by folder / page ; why is webpack dumping them all in the same directory ignoring the original path?

[2017-04-22 16:02] michael-ciniawsky commented on #355
It rewrites the paths in various (loaders, plugins) places and finally adds them to the destination set in `config.output`, you can config that in a bunch of ways aswell, but that's a topic on it's own and error prone 😛

[2017-04-22 16:10] gkatsanos commented on #355
[code]
works :) I'm stubborn :) at least if I make a bare-bones working prototype then I can think on what's the best way to go about this. THanks for all the tips!

[2017-04-22 16:11] michael-ciniawsky commented on #355
It's **gathering** them so the speak, the same applies to some point for CSS in conjunction with ETWP, webpack gathers the CSS **Chunks** and spit out a file, not useful when there are not a bunch of **relative** components used, most of the time you will always to something like

**components/component/index.js**
[code]

**components/component/subcomponents/component/index.js**
[code]

[2017-04-22 16:12] michael-ciniawsky commented on #355
That's flattened in the `output` then

[2017-04-23 10:46] ndresx opened #510 "importLoaders option descriptions contradictory?"
**Do you want to request a *feature* or report a *bug*?**
*documentation*

**What is the current behavior?**
Under Options (https://github.com/webpack-contrib/css-loader#options), the description for `importLoaders` mentions **before** ...

... while under the `importLoaders` section (https://github.com/webpack-contrib/css-loader#importloaders) it says used **after**

**What is the expected behavi

[2017-04-23 11:07] eduardoboucas opened #511 "Add a hook function to the exports generation"
**Do you want to request a *feature* or report a *bug*?**
A feature.

**What is the current behavior?**
A `exports.locals` object is automatically created, resolving human-friendly class names to their generated names.

**What is the expected behavior?**
It would be nice to be able to intercept and modify the code that is exported using a hook. This would be done using a `exportsHook` option in th

[2017-04-23 11:24] IdanCo commented on #484
just for reference, you were spot on - upgrading style-loader fixed the issue.

[2017-04-23 12:37] michael-ciniawsky commented on #510
Yep the spelling could be improved, PR welcome 😛

👍

[2017-04-23 13:35] michael-ciniawsky commented on #510
Fixed by #512 @ndresx Thx again 😛

[2017-04-23 13:35] #510 closed

[2017-04-23 18:48] michael-ciniawsky commented on #462
Fixed by #513

[2017-04-24 00:08] chrisdoble commented on #424
Awesome, thank you!

[2017-04-24 13:33] ankurp commented on #506
There was a PR submitted but it did not get rebased and was closed because of no activity https://github.com/webpack-contrib/css-loader/pull/402

Not sure if something similar can be implemented where css-loader uses ES6 `import` `export` statements instead of module.exports so that webpack 2 can tree shake and remove the unused modules.

[2017-04-24 13:57] michael-ciniawsky commented on #506
The conversion to `ES2015` will definitely by coming soon, but this is a joined effort with changes needed in `style-loader` && `extract-textwebpack-plugin` aswell + in the PR the author referenced a webpack plugin prototypein addition, which then would do the whole 'tree shaking'  part on the compilation level before the bundle get emitted 😛. That's what I was referring to in my ealier comment by

[2017-04-24 21:02] TrySound commented on #509
Here's example of config. `strictExportPresence` validates not existing exports of (!) harmony modules. So this module should contain at least one `import` or `export` statement. So yes, it's only webpack2 feature.

This config can fail with this error
[code]

[code]

Empty output file may contains like this
[code]

[2017-04-25 08:49] evilebottnawi commented on #509
@TrySound can you create minimal reproduced test repo? and write in readme what do you have and what do expected
And yep `css-modules` will be dropped for `css-loader` in favor `plugin`s pack for `postcss-loader` or `css-modules-loader` (maybe best name), but if you we can resolve this issue now (maybe to other branch), we can migrate this code to `plugins-pack/css-modules-loader` and you get work

[2017-04-25 09:45] kimown opened #516 "newer version makes webpack slowly"
**Do you want to request a *feature* or report a *bug*?**

bug
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

the same issue https://github.com/webpack-contrib/css-loader/issues/124, I make a simple test, I only change different version of css-loader in my project, here is the screenshot. It seems if I use a newer version of css-loa

[2017-04-25 09:49] TrySound commented on #509
# namedExports mode
It's all simple
[code]
[code]
or if css is empty just
[code]

[2017-04-25 10:33] simlrh commented on #506
Confirm that all css-loader needs to do to support CSS treeshaking is to emit ES2015 modules. The "deadcss" plugin runs a sub-compilation and checks the used exports of css-loader.

[2017-04-25 12:11] michael-ciniawsky commented on #516
Thx, we are aware of this already 😛 , `css-loader` **v0.14.0+** added CSS Modules to the loader and that's why `css-loader`is slower now (Parsing), This will be fixed in the next major release of `css-loader` where CSS Modules will be reafctored out of the loader and need to be used as a opt-in (plugin) via `postcss-loader`, but it requires changes all over the place and is simply WIP atm

[2017-04-25 12:11] #516 closed

[2017-04-25 18:09] TrySound commented on #509
Did you started CSS modules loader project somewhere?

[2017-04-25 18:20] evilebottnawi commented on #509
@TrySound https://github.com/webpack-contrib/css-loader/pull/442#issuecomment-297118489

[2017-04-25 18:22] michael-ciniawsky commented on #509
@TrySound Not yet I plan to do so today evening (until tomorrow) aand come back here to notify when ready, @evilebottnawi (Stylelint, `css-loader`, `postcss-loader`) is also 'on board'  and if you want to jump in aswell, we plan to draft out a PostCSS Modules Plugin && `cssm-loader` prototype and then integrate the parts into where the belong in the existing `postcss-modules-*` plugins && `css-loa

[2017-04-25 18:24] michael-ciniawsky commented on #509
@TrySound @evilebottnawi  #402 has some goodies hidden aswell, the original author made PR's to (`style-loader`, `css-loader`, `extract-text-webpack-plugin` and  wrote a 'tree shaking' prototype (webpack Plugin)) also worth a look maybe

[2017-04-25 18:48] michael-ciniawsky commented on #509
Better start from current `css-loader` && `postcss-modules` code base or from scratch? :stuck_out_tongue:

[2017-04-25 18:51] Kelderic commented on #89
Just in case anyone stumbles across this, it's `discardUnused`, not `unused`, in recent versions.

[2017-04-25 19:03] TrySound commented on #509
I'd like to keep this project maintainable and do some breaking changes.

[2017-04-25 19:22] evilebottnawi commented on #509
@TrySound after discussion we resolve `css-loader` should working only with `css`, not `css-modules` and etc stuff, `postcss-modules-*` written as `postcss` plugins and should be moved to external `loader` (with own pack and settings). This will facilitate the maintenance of the project and reduce a lot of issue not related to `css-loader` (your can see our issues, most of their related to `postcs

[2017-04-25 19:25] evilebottnawi commented on #509
Or related to working `css-loader` with `postcss-modules-*`, I think there are many people who need `css-modules` and we easy to find maintainers for this

[2017-04-25 19:25] evilebottnawi commented on #509
@TrySound btw, your can be one of first champion of this :smile:

[2017-04-26 11:38] pavel06081991 opened #520 "css modules :external support"
There is new feature in css modules, you can read about this here https://github.com/tivac/modular-css/blob/master/docs/features.md#overriding-styles
It is necessary for using some css selector from another css file.
Are you planning to add this feature in css-loader?

[2017-04-26 14:07] Cevantime commented on #89
And, if i'm not mistaken, it's `mergeIdents` and not `idents` anymore !

[2017-04-26 14:18] ben-eb commented on #89
Yeah, we deprecated these in v2.5.0 (and removed in v3.0.0)

* https://github.com/ben-eb/cssnano/releases/tag/v2.5.0
* https://github.com/ben-eb/cssnano/releases/tag/v3.0.0

[2017-04-26 16:00] evilebottnawi commented on #520
@pavel06081991 future `css-loader` don't have buildin `css-modules`, for this purpose we create new css-modules-loader/postcss-plugin-pack, but we will leave this issue here until it starts, then we will move this to related repo

[2017-04-26 17:09] evilebottnawi commented on #337
@donaldpipowitch @wellyshen @phairoh @andreiglingeanu   this problem is actual?

[2017-04-26 17:22] evilebottnawi commented on #355
/cc @michael-ciniawsky i think we can close this issue, seems invalid configuration (majority) and invalid usage some loaders (less) and invalid `less/scss` syntax, it is very different problem. If someone else will face the problem simply create a new issue, be good disable to commenting here :smile:

[2017-04-26 17:30] evilebottnawi commented on #206
@mattkrick can you describe use case for this enhancement?

[2017-04-26 17:36] evilebottnawi commented on #326
/cc @michael-ciniawsky we can close issue not related to `css-loader` in favor https://github.com/css-modules/postcss-modules-extract-imports/issues/141

[2017-04-26 17:39] evilebottnawi commented on #317
WIP

[2017-04-26 17:55] gkatsanos commented on #355
@evilebottnawi @michael-ciniawsky I have to say one thing that helped me which maybe should be stressed more in the documentation section : "if you're coming from gulp". The point is this :
*It's really not clear in any part of the Webpack documentation that webpack doesn't copy shit around, it finds shit via requires/imports and then moves them around*.
e.g. it took me a while to figure out Webpa

[2017-04-26 18:15] evilebottnawi commented on #355
@gkatsanos What about me then I went from `.sh` -> `grunt` -> `gulp` -> `webpack`. I will agree it is diffucult to start thinking `require/import`, but it is related more `webpack` docs then loader, you can create issue about this and help clarify this, example add notes `migrate-from-grunt-gulp`, try to describe the basic principles of the work is brief and understandable, perhaps I could help in

[2017-04-26 18:19] mattkrick commented on #206
2 configs with different contexts
closing as this is a couple years old

[2017-04-26 18:19] #206 closed

[2017-04-26 20:20] pavel06081991 commented on #520
@evilebottnawi, thank you for your answer. Maybe you know when new css-loader and css-modules-loader/postcss-plugin-pack will be released?

[2017-04-26 20:31] evilebottnawi commented on #520
@pavel06081991 near future :smile: sorry, we have a lot of works now, but in near days repo with loader/plugins will be created and you can help :+1: i ping you

[2017-04-27 10:48] kishan3 commented on #38
Just remeber to install file-loader and url-loader before changing your webpack config.
**Using** :
`npm install --save file-loader  url-loader
`

[2017-04-27 13:10] kud opened #522 "css-loader should understand global aliases"
I've got:

[code]

It could be great if I was directly able to do:

[code]

without having to define aliases for css-loader.

[2017-04-27 15:12] evilebottnawi commented on #317
oh, two problems:
1. `postcss-modules-local-by-default` change `微软雅黑` to `\5FAE\8F6F\96C5\9ED1`.
2. `css-loader` on line https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L129 also change `微软雅黑` to `\5FAE\8F6F\96C5\9ED1`.

First try to fix in `css-loader`, then in `postcss-modules-local-by-default`

[2017-04-27 15:14] evilebottnawi commented on #317
/cc @michael-ciniawsky we can marked this as bug, i try to resolve this in near future, but very little time i have :sob:

[2017-04-27 15:26] Astridax commented on #455
I'm also facing this issue. Currently what I'm planning to do is resolve it by making a dummy image and using the alias function to resolve to the dummy image.

Maybe this could either be a feature where it simply warns about unresolved files, or even where you can specify the URLs to ignore as per the alias syntax?

[2017-04-27 19:38] AryanJ-NYC commented on #295
I switched from `use: [ 'css-loader', 'style-loader' ]` to `use: ['style-loader', 'css-loader']`(note the order) and all is well in the world. Weird.

[2017-04-28 04:26] eloytoro opened #524 "getLocalIdent doesn't apply for composed classes"
**Do you want to request a *feature* or report a *bug*?**
It's a bug

**What is the current behavior?**
`getLocalIdent` works for all directly required css file, but doesn't for composed classes

**If the current behavior is a bug, please provide the steps to reproduce.**

Loader in the webpack config
[code]

style1.css
[code]

style2.css
[code]

module.js
[code]

**What is the expected behavior?*

[2017-04-28 08:22] kud commented on #522
Thank you. :)

[2017-05-01 17:25] eloytoro commented on #524
Looking at the code this seems like the intended behavior.

Why is that? how can I control the name of composed classes?

[2017-05-02 08:33] chandan7193 opened #525 "Similar Issue like #250 with some differences"
[code]

[2017-05-02 09:22] evilebottnawi commented on #525
@chandan7193 can you create minimal reproducible repo or show your config and files where your get an error?

[2017-05-02 09:57] michael-ciniawsky commented on #525
Please also add \``` around the code

[2017-05-02 11:03] sagorshkov opened #526 "Root option on the Windows system."
Hello. I'm using **root** option to resolve relative paths in my css.
My architecture is: css loader uses root option to prepend my dirname's absolute path to the relative URLs in css. After, this URLs resolve with file-loared (file loader is finding the assets using
those absolute path).
For examle I've tried something like this:
`options:{`
    `root: __dirname`
`}`
also I've tried:
`options:{`

[2017-05-02 11:11] evilebottnawi commented on #526
@sagorshkov can you create minimal reproducible test repo?

[2017-05-02 11:53] sagorshkov commented on #526
@evilebottnawi I've created a simple example with my case.
https://github.com/sagorshkov/css-loader-demo
It works on my OS X, but not on my Windows.
Please, let me know if I can do something else.

[2017-05-02 12:14] evilebottnawi commented on #526
@sagorshkov why do your store `images` not `src` directory?

[2017-05-02 12:19] sagorshkov commented on #526
@evilebottnawi It's a long story)) It's a simple example, but I need to use relative paths in the sass and get absolute paths in result CSS. I found only one way to do it - using css-loader's root option and got this case((

[2017-05-02 12:23] evilebottnawi commented on #526
@sagorshkov absolute path => `http://domain.com/path/to/image.jpg` or `/path/to/image.jpg`?

[2017-05-02 12:33] sagorshkov commented on #526
@evilebottnawi Sorry, more precisely so: in sass I have to use **"/images/"** paths, and in the result CSS I need to get path relative to this CSS file, something like this **"../assets/images/"**. Because of For URLs that start with a /, the default behavior is to not translate them, I use root option.

[2017-05-02 12:36] sagorshkov commented on #526
And to find this asset I use absolute path to working directory as root option.

[2017-05-02 13:40] evilebottnawi commented on #526
@sagorshkov on linux works as expected https://github.com/sagorshkov/css-loader-demo ?

[2017-05-02 13:59] evilebottnawi commented on #526
@sagorshkov seems bug in https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L125
`values`
[code]

[2017-05-02 14:00] evilebottnawi commented on #526
/cc @michael-ciniawsky should we wait new `css-loader` or try to fix now?

[2017-05-02 14:06] evilebottnawi commented on #526
/cc @sagorshkov also https://github.com/sagorshkov/css-loader-demo/blob/master/webpack.config.js#L47 seems not compatibility with windows paths https://regex101.com/r/CZg28i/1

[2017-05-02 14:46] michael-ciniawsky commented on #526
depending if you have something in mind to fix it already 😛 everything we can fix let's fix it nevertheless

[2017-05-02 15:10] evilebottnawi commented on #526
@michael-ciniawsky this PR https://github.com/webpack-contrib/css-loader/pull/523 should fix this issue because we drop `css-selector-tokenizer` (bug here) :smile:

[2017-05-02 15:11] evilebottnawi commented on #526
but be good add tests for this

[2017-05-02 15:24] michael-ciniawsky commented on #526
Just ping for review when ready :D LTGM so far, btw I think I will port it to my originally proposed `v1.0.0` branch and I think it's still a good idea to keep it alive in one way or another for now 😛 `postcss-loader`would be initially ready for AST hand off, I will still try this all out later today :D

[2017-05-04 16:22] jacobwalton commented on #413
I think you can set `context` to `__dirname` on the `options` object passed in to css-loader, you shouldn't need to use LoaderOptionsPlugin.

@plrthink @dcworldwide I believe this works because css-loader uses the value of `options.context` when generating the hash used in the `localIdentName`. By default `context` is just the local directory name of the module but by setting it to `__dirname` it

[2017-05-04 16:27] jeffijoe commented on #413
Won't `__dirname` just set it to the path of the webpack config?

[2017-05-04 16:40] jacobwalton commented on #413
Yeah, you're right. Seems to work anyway. ¯\_(ツ)_/¯  Will try and dig into it further at some point.

[2017-05-05 20:26] mrchief commented on #413
`__dirname` is not resolved when webpack loads. Its tucked away in a lazy function (`getLocalIdent`) that gets evaluated when a css file is bring processed. So it'll point to correct path everytime.

[2017-05-05 20:33] jeffijoe commented on #413
If you specify `context: __dirname` in your webpack config, then it _should_ be evaluated when webpack loads: https://nodejs.org/docs/latest/api/globals.html#globals_dirname

[2017-05-05 21:18] jacobwalton commented on #413
`__dirnane` is set In webpack config to the config's file path but `getLocalIdent` then resolves the relative path from the there to the stylesheet, thereby generating a unique string for each for use in the hashing algorithm.

[2017-05-05 21:20] jeffijoe commented on #413
Ah, I see. My bad.

[2017-05-08 00:01] jy95 opened #527 "Css loader : Unexpected token at (1:0)"
**Do you want to request a *feature* or report a *bug*?**

It is a **bug**.

**What is the current behavior?**

Cannot load css.
The full error message:
![error](https://cloud.githubusercontent.com/assets/9306961/25785999/7e839712-338d-11e7-846c-ea25919bed69.png)

**If the current behavior is a bug, please provide the steps to reproduce.**
My package.json : https://gist.github.com/jy95/99377c11325

[2017-05-08 15:19] #527 closed

[2017-05-08 15:21] jy95 commented on #527
Seems this css file requires another thing (less,scsss,etc) , css-loader should explain more why It cannot be working

[2017-05-09 15:18] Malenconiaprincep opened #528 "About importloaders usage problem"
webpack.config.js

[code]
This is my webpack config
I try to modify ```importLoaders``` value , Whatever I changed to 0 or 1, said it out of the results are the same， I suppose if set 0 that postcss-loader can't work , Let me feel confused is that it is still at work, Please explain the reasons Thank you very much ~

[2017-05-09 20:20] DBosley opened #529 "source-map resource urls coming out strange"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using postcss-loader (only using autoprefixer plugin, no extra configurations) combined with sass-loader, css-loader, and style-loader causes the resource URL for sourcemaps to be strange:

example: http://imgur.com/a/R73hV
scss loader config
[code]

**What is the expected behavior?**
relative urls for

[2017-05-09 20:26] DBosley commented on #529
This issue seems to affect multiple loaders. Posted the same issue on all affected loaders:
https://github.com/webpack-contrib/css-loader/issues/529
https://github.com/webpack-contrib/sass-loader/issues/451
https://github.com/webpack-contrib/style-loader/issues/231
https://github.com/postcss/postcss-loader/issues/224

[2017-05-09 23:37] michael-ciniawsky commented on #528
@Malenconiaprincep `importLoaders` are for `@import` requests which are **not** imported by
e.g `postcss-import` , it has no effect when there are no `@import` left, when `css-loader` gets the file :). `css-loader`needs to know the preceding loaders to make the correct **request** (webpack specific). You can simply ignore this, but if you `@import` many files in each component remove `postcss-impo

[2017-05-09 23:37] #528 closed

[2017-05-09 23:39] michael-ciniawsky commented on #529
It's likely to be in `postcss-loader` :)

[2017-05-10 00:29] DBosley commented on #529
I tried quite a few different configs today trying to figure this out. Some for scss files, some for css. For css files, I wasn't ever able to get relative paths in chrome, but by ordering my css config like this:
[code]
I was able to get rid of the extra absolute paths.

[2017-05-10 04:09] Malenconiaprincep commented on #528
@michael-ciniawsky
I mainly stressed the point that set 0 postcss - loaders plugins should not work,

So the css should't show

Example

    test.css

    .title {
      display:flex
    }

    webpack.config.js

    {
      loader: 'postcss-loader',
      options: {
          plugins:[
          require('autoprefixer'),
          ]
      }
    }

importLoaders:1

    .title {
      display: -webk

[2017-05-10 05:25] michael-ciniawsky commented on #528
I'm not sure I got it to 💯 , but that's not how importLoaders work, it only affects `@import` in the file processed by `css-loader` which in your example is the one, that gets processed by `postcss-loader` (Autoprefixer) before :)

[2017-05-10 05:31] michael-ciniawsky commented on #528
[code]

[2017-05-10 06:17] Malenconiaprincep commented on #528
I finally understand thanks you very much

[2017-05-10 12:26] yinglau opened #530 "not success when I use global include some method with '@'"
HI, here it's some question when i use global with '@', for example
[code]
then still become a local scope style, like that
[code]
What can I do will success that use the global with the keyword '@keyframes', '@media' .....
thx...!

[2017-05-12 05:12] #525 closed

[2017-05-12 19:19] mckinleymedia commented on #240
@clementprevot thanks! Fixed it for me, too.

[2017-05-12 20:10] Tenkir commented on #530
I am having this same issue. Specifically, trying to globally scope a package stylesheet.

[code]

[2017-05-13 04:05] JacobWay commented on #256
If you try to use ~ before your path to the image. Like this: `background-url: (~assets/image/myimage)`. You should config resolve property in your webpack like this:
[code]

[2017-05-13 10:17] dcworldwide commented on #516
This is so painful right now. I'm afraid to do any front end dev my productivity is way down. Really wish I could help..

[2017-05-13 11:39] evilebottnawi commented on #516
@dcworldwide in enar future we release new version `css-loader` without `postcss` and `css-modules` (it be separate plugin for `postcss-loader`), also your can use `cache-loader`. Also your can provide webpack config and i will try to give advice, usually poor performance is associated with improper configuration

[2017-05-13 11:54] arvigeus commented on #267
If someone is dummy like me and unable to solve it, just pass { context: <src-dir> } to css-loader options for both client and server. (Note: this might break something, but works for me)

[2017-05-13 12:00] evilebottnawi commented on #267
@osenvosem @arvigeus Can your do PR in docs about this?

[2017-05-13 12:01] evilebottnawi commented on #530
@yinglau @Tenkir it is related to `css-modules`, not to `css-loader`, we just using https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L12 this plugins for `css-modules`

[2017-05-13 13:51] wolmir commented on #362
In my case, the problem was the order of the loaders. I changed this:

[code]

to this:

[code]

and it worked.

[2017-05-14 00:55] dcworldwide commented on #516
@evilebottnawi That's really good news. I think  a lot of people will benefit from that work.

Would be great to learn if there are things we can do to optimise build times in the interim.

My config is:

[code]

[2017-05-15 09:26] evilebottnawi commented on #516
@dcworldwide seems all right (yep, disabling source map speedup build), maybe your have some plugins, which spend a lot of time?

[2017-05-16 12:56] OliverJAsh opened #533 "CSS Modules: error when composing imported class"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**
Error when composing imported class.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

[code]

webpack config:

[code]

Gives error:

[code]

Full test case at https://github.com/OliverJAsh/postcss-modules-values-test. After cloning:
[code]

**What is the expected be

[2017-05-16 13:20] OliverJAsh commented on #533
After more digging:

- when the class name you're composing with is the same as the class name you're composing from, you get error `Module build failed: referenced class name "from" in composes not found`
- when the class name is not the same, you get error `Module build failed: referenced class name "COMPOSED_CLASS_NAME" in composes not found`, where `COMPOSED_CLASS_NAME` is the composed class n

[2017-05-20 16:04] ai opened #535 "Use PostCSS 6.0"
We released major update for PostCSS. It uses less memory and less dependencies, so it will be good to update dependency here.

[2017-05-21 07:15] gibbok opened #536 "Unexpected character '�'"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using CSS loader with the following CSS creates error:

`@font-face {
  font-family: 'owfont';
  src: url('../fonts/owfont-regular.eot?v=1.0.0');
  src: url('../fonts/owfont-regular.eot?#iefix&v=1.0.0') format('embedded-opentype'),
	   url('../fonts/owfont-regular.woff') format('woff'),
	   url('../fon

[2017-05-21 09:23] michael-ciniawsky commented on #536
Did you setup `url-loader/file-loader` for font loading (`url`) ?

[2017-05-21 09:57] gibbok commented on #536
@michael-ciniawsky  Thanks for your feedback.
Yes `url-loader/file-loader for font loading (url) ` works and solved my issue.

[2017-05-21 09:57] #536 closed

[2017-05-22 07:03] michael-ciniawsky commented on #529
Should be fixed by #532, released in `v0.28.2`

[2017-05-22 07:03] #529 closed

[2017-05-22 08:54] michael-ciniawsky commented on #535
Upgraded to PostCSS 6 ?

- [x] [ppstcss-modules-scope](https://github.com/css-modules/postcss-modules-scope/commit/45adcfb557a81ab9f5012bbfd93f5ef1d74a37a3)
- [x] [postcss-modules-values](https://github.com/css-modules/postcss-modules-values/commit/3d96fcb8bb0dd4bd9407ca4241a019034281570a)
- [x] [postcss-modules-extract-imports](https://github.com/css-modules/postcss-modules-extract-imports/commit

[2017-05-22 10:46] ai commented on #535
Maybe we also need to wait cssnano release

[2017-05-22 10:50] michael-ciniawsky commented on #535
Yep 😄

[2017-05-22 16:24] DylanPiercey opened #537 "Composes does not work with css-loader/locals"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Currently when you use `composes: x from './y.css'` using the `css-loader/locals` plugin for server side rendering it creates a circular dependency no matter what.

**If the current behavior is a bug, please provide the steps to reproduce.**
Loader config:
[code]

**What is the expected behavior?**
Tha

[2017-05-23 06:10] #533 closed

[2017-05-23 06:21] michael-ciniawsky commented on #435
Reopen anytime if still regressions and a small test repo is provided

[2017-05-23 06:21] #435 closed

[2017-05-23 06:27] michael-ciniawsky commented on #381
@x-yuri Does this still happen with latest `css-loader` && webpack 2? Could you provide more info about your setup?

[2017-05-23 06:29] #80 closed

[2017-05-23 06:30] michael-ciniawsky commented on #228
Fixed by #500

[2017-05-23 06:30] #228 closed

[2017-05-23 06:32] #171 closed

[2017-05-23 06:35] michael-ciniawsky commented on #167
Closing due to inactivity , please test with latest `css-loader` and feel free to reopen if still regressions

[2017-05-23 06:35] #167 closed

[2017-05-23 06:37] michael-ciniawsky commented on #226
`loader-utils` repo and/or hopefully on webpack.js.org :)

[2017-05-23 06:37] #226 closed

[2017-05-23 06:39] michael-ciniawsky commented on #269
Please reopen in css-modules/css-modules since this likely requires changes to the plugins

[2017-05-23 06:39] #269 closed

[2017-05-23 06:48] michael-ciniawsky commented on #159
This would require changes to webpack core itself, to look up for CSS following a certain pattern like

[code]

and is out of scope for `css-loader`, since loaders in general are just transformers for non JS files, webpack's way to reason about the application structure is determined enterily by `import/require`.
In case webpack would provide a way to handle this scenario, `css-loader` && the like

[2017-05-23 06:48] #159 closed

[2017-05-23 08:53] rebelrebel82 commented on #155
Same issue here; any support for __webpack_public_path__ in extract-text-webpack-plugin ??

[2017-05-23 11:50] Eugene-Kotovich-EPAM opened #538 "How to ignore specific url"
Hello. I want to know how to ignore specific url.
Using option `url: false` doesn't help, because it disable resolving of all `url` usage. Also the usage of `/` doesn't help.
Is it possible enable ignoring for specific path? Like below:
[code]

Thanks.

[2017-05-23 11:53] michael-ciniawsky commented on #538
Nope sadly not sry

[2017-05-23 12:08] Eugene-Kotovich-EPAM commented on #538
@michael-ciniawsky Is there any solution how do it?

[2017-05-23 12:09] evilebottnawi commented on #538
@Eugene-Kotovich-EPAM theoretically your can use something from https://github.com/webpack/loader-utils/blob/master/lib/isUrlRequest.js#L3

[2017-05-23 12:11] evilebottnawi commented on #538
@Eugene-Kotovich-EPAM just use `it's an absolute url or and protocol-relative` for url and this url should be ignored

[2017-05-23 12:26] michael-ciniawsky commented on #538
@evilebottnawi  `url` could accept an `{Array}`with paths to ignore and skip parsing them if matched (`filter`)

[2017-05-23 12:26] michael-ciniawsky commented on #538
Wouldn't be a bad idea at all

[2017-05-23 12:39] evilebottnawi commented on #538
@michael-ciniawsky yep, i just said how it's possible in theory right now :smile:

[2017-05-23 13:09] Eugene-Kotovich-EPAM commented on #538
@michael-ciniawsky It would be nice to support some `ignore` regexp options. Or add supporting of regexp for `url` option

[2017-05-23 16:28] x-yuri commented on #381
@michael-ciniawsky Yes, it reproduces with `webpack-2.x`. Here are the changed files:

`package.json`

[code]

`webpack.config.js`

[code]

With this, `chrome` points at line 5. But when you set `outputStyle: 'nested'` (default value), it points at line 4, as it's supposed to be.

Just tell me what exactly is it you want to know. I believe I've described everything I possibly could.

[2017-05-23 16:51] evilebottnawi commented on #381
@x-yuri Not related to `css-loader`. Original issue: https://github.com/webpack-contrib/sass-loader/issues/272. Thanks!

[2017-05-23 16:51] #381 closed

[2017-05-23 16:55] x-yuri commented on #381
@evilebottnawi Where do you see nested styles in `1.scss`?

[2017-05-23 17:32] evilebottnawi commented on #381
@x-yuri this bug related to change `outputStyle` in `sass-loader`.

[2017-05-23 19:47] kylecesmat opened #539 "Using @keyframes animation does not result in proper output"
I'm unsure if this is an issue related to css-loader or another parser within my configuration. This issue only seems to be present when using keyframes within an animation.

**Do you want to request a *feature* or report a *bug*?**
Report a Bug

**What is the current behavior?**
The following source:
[code]

Is compiled to:
[code]

Where I would expect this instead:
[code]

**If the current behav

[2017-05-24 09:36] zhenyulin opened #540 "namespace: package name update"
How about update the package name to webpack-css-loader? At the moment, the webpack plugins/loaders namespace isn't very consistent. In comparison, babel, eslint, react, redux all have the namespace in a consistent convention, helping make the dependency tree clean.

[2017-05-24 09:39] michael-ciniawsky commented on #540
See https://github.com/webpack-contrib/style-loader/issues/239

[2017-05-24 09:39] #540 closed

[2017-05-24 10:47] delijah commented on #131
@michael-ciniawsky This is still not working.

[2017-05-24 12:51] x-yuri commented on #381
@evilebottnawi I can see nothing wrong with what `sass-loader` produces:

[code]

Open [this link][1], paste the code above into Output field, click Analyze and use Right/Left arrows to navigate.

Let's just say, `css-loader` can't handle what `libsass` produces. Or probably `cssnano`. `css-loader` itself doesn't change source map in any way, right? So at fault is either `libsass`, or `cssnano`.

[2017-05-24 13:04] Diokuz opened #541 "Leading _ in exported classname"
*bug*

**What is the current behavior?**
[code]
transformed to object
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
just use [`css-loader`, `postcss-loader`] with this `postcss.config.js`:

[code]

**What is the expected behavior?**
should be
[code]

**Please mention other relevant information such as your webpack version, Node.js version and Operating System

[2017-05-24 13:07] Diokuz commented on #541
Looks like you cannot take just `prop` [here](https://github.com/webpack-contrib/css-loader/blob/master/lib/processCss.js#L71), because of [this](https://github.com/postcss/postcss/blob/d06be7280469a79865ef9f6ed8bdb337db8523db/lib/parser.es6#L209-L212)

[2017-05-24 13:18] evilebottnawi commented on #541
@Diokuz interesting, `_x` is valid ident for css-modules, maybe we need question about this here https://github.com/css-modules/postcss-modules-values

[2017-05-24 13:23] michael-ciniawsky commented on #541
You use `postcss-modules-*` plugins in `postcss-config.js` + `postcss-loader` ?

[2017-05-24 13:25] michael-ciniawsky commented on #541
That could be a problem then,  since `css-loader` implements CSSM via these plugins and if the source CSS is already transformed this might not work

[2017-05-24 13:34] TrySound commented on #541
@michael-ciniawsky We can fix that :)

[2017-05-24 13:42] michael-ciniawsky commented on #541
@TrySound We should fix that 😛 once and for all, always problems 🐛 atm... :D

[2017-05-24 13:43] michael-ciniawsky commented on #541
@Diokuz Does it work without the plugin in `postcss.config.js` ?

[2017-05-24 14:37] evilebottnawi commented on #541
@TrySound Am i right what we should fix this in `postcss-modules-values`?

[2017-05-24 14:57] Diokuz commented on #541
Yes, `postcss-loader` then `css-loader`

Without plugins it creates not what I need
[code]

[2017-05-26 04:09] aire-con-gas commented on #74
So why does `background: url("\./img/logo.png");` work @aspirisen ? I'd love to know the root cause.

[2017-05-26 13:16] OliverJAsh commented on #290
I think this may have been fixed by https://github.com/webpack-contrib/css-loader/pull/534.

Can you try out 0.28.3 and confirm?

[2017-05-26 13:16] OliverJAsh commented on #275
I think this may have been fixed by https://github.com/webpack-contrib/css-loader/pull/534.

Can you try out 0.28.3 and confirm?

[2017-05-26 16:18] evilebottnawi commented on #233
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-05-26 16:18] #233 closed

[2017-05-26 16:20] evilebottnawi commented on #296
@hoanguyen311 Error still exists?

[2017-05-26 18:37] janvesel commented on #296
Yes I have same issue.

[2017-05-26 19:55] evilebottnawi commented on #296
@janvesel your use webpack v1?

[2017-05-26 21:39] janvesel commented on #296
@evilebottnawi I use webpack v1.14

[2017-05-27 10:53] evilebottnawi commented on #296
@janvesel can your upgrade config to v2 and tests again?

[2017-05-29 02:40] AndrewPHunter commented on #539
+1

I have the same issue with css-loader using key-frames animation.

package.json (relevant portion):

`   "autoprefixer": "7.1.1",
    "css-loader": "0.28.1",
    "extract-text-webpack-plugin": "2.1.0",
    "file-loader": "0.11.1",
    "node-sass": "4.5.3",
    "sass-loader": "6.0.5",
    "style-loader": "0.18.1",
    "url-loader": "0.5.8",
    "webpack": "2.5.1",
    "webpack-bundle-analyzer":

[2017-05-30 07:32] LeopoldLerch opened #545 "cannot find module"
Hy,

I am webpack 2.6 and css-loader 0.28.4.  With the simple configuration as in the docs

`                test: /\.css?$/,
                use: [{
                        loader: "style-loader"
                    },
                    {
                        loader: "css-loader"
                    }
                ]`

i am getting only the error message "cannog find module './test.css'. I

[2017-05-30 10:19] fjanon commented on #545
I don't understand why there is a reference to 'style-loader' in the config, I deleted it and now webpack runs.
use: [ 'style-loader', 'css-loader' ]

use: [ 'css-loader' ]

[2017-05-30 13:00] Harti commented on #256
@JacobWay could you please specify where exactly said line has to go? The only place where I find the token `resolve` in my webpack.config.js is for exported modules, i.e. it'll start looking in `node_modules`.

[2017-05-30 14:15] kumarharsh commented on #256
@Harti `resolve` is a first-level key on the webpack.config object.

[code]

[2017-05-30 16:39] michael-ciniawsky commented on #545
@LeopoldLerch Please post the relevan parts of your file tree and the logs
@fjanon Without `style-loader` or `extract-text-webpack-plugin` the CSS would be just included but not used at all :)

[2017-05-30 16:51] gkatsanos opened #546 "Sourcemaps only working with DevServer"
![x](https://cloud.githubusercontent.com/assets/1768834/26595229/08526272-456b-11e7-87bc-3da306c4af72.png)
Hey everyone. Here's the issue. When I work with my localhost:3000 (webpack-dev-server) I get perfect source-mapping . When I visit the website normally, the inspector points me to the main .scss file, but partials imports are not resolved. Look at my screenshot above (open for big)
Here's my

[2017-05-30 17:35] michael-ciniawsky commented on #545
It's a different loader you will need to install it 😛

Post your current `webpack.config.js` please, 'then' is ambiguous here

[2017-05-31 06:33] LeopoldLerch commented on #545
Is it possible that css-loader simply does not work with typescript files? I got it running using the "typings-for-css-modules-loader".

[2017-05-31 12:18] michael-ciniawsky commented on #545
@What do you exactly mean by not working 😛 ?  It doesn't included any Typescript Definitions by default, but this should only be necessary for development not to consume the lib ?

[2017-05-31 14:20] warpdesign opened #547 "Improve readme file"
The readme file shows how to quickly use the css-loader:

[code]

but it fails to mention this: 'url() URLs in block scoped (:local .abc) rules behave like requests in modules`

So if you simply try this block of code with a random css file, it's very likely the css is referencing an image file using `url()` and unless you add a loader for .png|.gif|.jpg you'll end up with an error you don't reall

[2017-06-01 08:37] kennethmervin01 opened #548 "CSS Loader is encoding path instead of an image??"
So when I inspect  the  css in browser you will see this

[code]

Then when I decode it the result is
[code]

Here's my  webpack config
[code]

[2017-06-01 08:43] TrySound commented on #548
@kennethmervin01 Why you use together file-loader and url-loader? They are not compatible.  You first replace image with path and then encode that path.

[2017-06-01 08:43] #548 closed

[2017-06-01 09:02] kennethmervin01 commented on #548
@TrySound Oh your right.. Sorry for your time I just remove the file loader... and it works.
url-loader already  use file-loader as a fallback...

[2017-06-03 12:50] ben-eb commented on #535
Can you try with v4.0.0-rc.0 and let me know how you get on? Going to allow a short period (2 weeks tops) before actually releasing to see if there's anything critical that needs fixing, but it's pretty much how I'd like it to be. I just need your feedback. 😄

https://github.com/ben-eb/cssnano/releases/tag/v4.0.0-rc.0

[2017-06-03 13:28] evilebottnawi commented on #535
@ben-eb I tried, everything works fine :+1:  just wait stable release and update all to `postcss` v6

[2017-06-05 07:34] apurvgandhwani opened #552 "Error with eot files while using css modules"
I am trying to include css modules in my react project. Before this i was simply using css loaders in webpack. I was not getting any errors while using that. Now when I include lines for using css modules in my config file like this
[code]
I get an compile error
[code]
This error was not coming when I was using

[code]
My config.js file is this
[code]

[2017-06-05 09:04] exhuma commented on #447
I came across the same error. I am starting off with JS (with vuejs) and I would like to understand what this does?

I got this error when using the "fetch" library from npm. At first I got the same error but with other packages (`net` and `dns`). My first thought was that those are missing dependencies. After running `npm install net` and `npm install dns`, those errors were replaced with `dgram`

[2017-06-05 10:45] bebraw commented on #447
@exhuma See [the related page on documentation](https://webpack.js.org/configuration/node/). That describes the default behavior. You can also find possible overrides there. I hope this helps.

Stack Overflow might be better for this type of questions.

[2017-06-06 12:56] darincardin commented on #18
Wow! An answer that actually works! Thank you very much sokra.

[2017-06-06 19:32] damianobarbati commented on #289
Not working: any idea?

[code]

[2017-06-07 04:33] wangcheng678 opened #553 "[Feature Request] Add option to uglify css-module `locals` objects"
If I enable `modules` option, I get code like this:

[code]

With `camelCase` on, the code is even longer:

[code]
I wish there would be an option to uglify/mangle those property names, which are usually relatively quite long, in production mode. So I can get this:

[code]

I know this may break some code like `foo.className = locals[someDynamicValue]`, but I think it is good to offer this option

[2017-06-07 07:29] TrySound commented on #553
After releasing new loader version which will output es6 modules all unused exports will be tree shaked.

[2017-06-07 11:42] kroko commented on #117
@evilebottnawi Well I did not have any issues, just noted @virtualfunction how to fight his issue. Thanks anyways. 😄

@carlos-  fyi, I just revisited webpack guide that i wrote for collegues and everything (font loading, vanilla css imports) is working, you can take look to `wepbapck.front.config.js` `module.rules` section.
[without css modules (scss, css)](https://github.com/WARP-LAB/WARP-GUIDES-

[2017-06-07 11:59] pixelass commented on #537
I'm not sure if this is related but composes from another file seem not to be resolved.

[code]

[code]

[2017-06-07 12:11] pixelass commented on #220
related to #537

[2017-06-07 14:58] pixelass commented on #220
has anyone ever figured this out?

I need to generate a JSON with mappings but I need the classnames instead of a require statement.
Seems like a very generic feature that is simply not supported.

If I knew how this works I could resolve the require statement with a new loader. But there is just Zero documentation. All I find is issues considering this output format.

[2017-06-07 15:32] pixelass commented on #539
Node version 8

Seems like this module has so many bugs that it is basically unusable. Pretty sure this should have a note that "A lot of features will not work as expected !EXPERIMENTAL USAGE ONLY"

[2017-06-07 15:36] TrySound commented on #539
I'm gonna release beta in a week. You may track progress here.
https://github.com/css-modules/css-modules/issues/240

[2017-06-07 15:38] pixelass commented on #539
@TrySound thx. I'm seeing so many issues in this loader. I'm just adding this to a project and surprised how unstable it is. Happy to contribute and help where I can since I need a reliable loader.

[2017-06-07 15:42] pixelass commented on #539
@TrySound sorry my bad, just realized you referenced the css-modules repo.

[2017-06-07 15:42] TrySound commented on #539
Yep. All problems mostly rely on css-modules implementation.

[2017-06-07 15:46] pixelass commented on #539
@TrySound  super off topic but I'm guessing this issue is not related to css-modules?

https://github.com/webpack-contrib/css-loader/issues/537#issuecomment-306773303

[2017-06-07 15:50] TrySound commented on #539
Partially related to current implementation. We want to release fixed version to not break users later.

[2017-06-07 15:52] pixelass commented on #539
OK, thx that helps. sort of. I have been using css-modulesify with browserify in the last years and never ran into any issues. I knew webpack wasn't a great tool. sorry if that sounds mean.

[2017-06-07 16:16] TrySound commented on #539
I will appreciate some review and maybe documentation improvements of plugins.

[2017-06-07 16:39] pixelass commented on #539
@TrySound I'll do my best, sadly not within the next weeks since I have to prepare a conference talk.

I just started using webpack so there's a lot of reading to do.

[2017-06-08 02:19] alex996 commented on #18
Can someone please provide a working example of the webpack file with the loaders in place? I tried every single suggestion posted above, and none of them seemed to work. Unless I am were using them wrong... I am on the latest version of vue-loader, and still experiencing the same issue as others did 3 years ago. Webpack gurus, where are you?

[2017-06-09 04:51] jaredlunde opened #554 "Incorrectly minifying class names with containing certain color words"
**Do you want to request a *feature* or report a *bug*?**
Report a bug (0.28.4)

**What is the current behavior?**
These classes:
[code]
are incorrectly minifying to:
[code]

This only occurs when the minifier is turned on.

**If the current behavior is a bug, please provide the steps to reproduce.**
Here is my relevant webpack configuration:
[code]

**What is the expected behavior?**
Class names

[2017-06-09 07:47] TrySound commented on #554
Do you define values named yellow, black and white?

[2017-06-09 10:55] smacky197 commented on #250
not working bro @anwari32 i notice the spaces and after removing them it shows same error again

[2017-06-09 11:44] evilebottnawi commented on #250
@smacky197 can your provide minimal reproducible test repo?

[2017-06-09 15:06] jaredlunde commented on #554
In SCSS? Yes.

[code]

For some reason, black, yellow, and white are the only colors where this is happening. Blue, red, green, grey, etc. don't get replaced.

It's also worth noting that this happens throughout the CSS document, not just in one particular spot. So there are also replacements like:

[code]

Would it be helpful to see the entire node-sass'd stylesheet (which compiles correctly) in

[2017-06-09 15:13] jaredlunde commented on #554
`node-sass`
https://gist.github.com/jaredlunde/1980ff00df05e8ee148f8da906655949

`css-loader(node-sass)`
 https://gist.githubusercontent.com/jaredlunde/5fa0e19f0cda6fa2e1c5a8df049b6d7c/raw/b380359fe7b910b4d2d302d14f96c528c1cc02a7/css-loader(node-sass)

[2017-06-09 16:13] TrySound commented on #554
@jaredlunde Do you get correct stylesheet with `css-loader?-minimize`?

[2017-06-09 16:19] evilebottnawi commented on #554
Maybe related to https://github.com/webpack-contrib/sass-loader/issues/416

[2017-06-09 16:30] jaredlunde commented on #554
@TrySound - with minimize turned off in the replacement does not occur
@evilebottnawi - Yes! That's exactly the situation.

Apologies, this is a sass-loader issue not a css-loader issue. If I remove `minimize: true` from LoaderOptionsPlugin and do:

[code]

It fixes the issue.

[2017-06-09 16:51] evilebottnawi commented on #554
@jaredlunde try to find time in near future and investigate this. Thanks!

[2017-06-09 22:26] EsrefDurna commented on #535
whats the situation ?

[2017-06-09 23:42] michael-ciniawsky commented on #535
@EsrefDurna Still waiting for cssnano@latest

[2017-06-12 14:52] pavel06081991 commented on #520
@evilebottnawi, maybe there are any updated? I've seen there is already new branch for new version of the loader, but the last commit was made long time ago.

[2017-06-12 21:09] TrySound commented on #326
This issue is related to icss resolver. So css-loader should care about it.

[2017-06-13 17:01] brandonreid commented on #38
For people from the future, I went with a different solution.
I used `raw-loader`:
[code]
Then imported fonts where I wanted them with `copy-webpack-plugin`:
[code]
This gives me some extra control too so we avoid importing fonts unintentionally from other plugins, etc.

[2017-06-14 04:18] Mmzer commented on #355
I also meet this error,but it's for .png, here is:
webpack2 config:
[code]
.less file:
[code]

and i got error like this:

[code]

someone can tell me why?

[2017-06-14 17:26] mnpenner commented on #74
@michael-ciniawsky This is still an issue with less-loader 4.0.3. Please re-open :cry:

[2017-06-16 02:49] stephenhmarsh commented on #447
just wanted to add that I fixed this by the answer in https://github.com/josephsavona/valuable/issues/9 about setting `target: 'node'`

This explains more: http://jlongster.com/Backend-Apps-with-Webpack--Part-I

[2017-06-16 03:10] bradennapier commented on #74
hmm this seems to be an issue when just using postcss-loader as well.

[2017-06-16 03:46] bradennapier opened #557 "I don't think alias works?"
I was recently told not to use @import with webpack as it creates bloated files.

Maybe I am not understanding how alias works -- but I definitely use it a ton for webpack and it does say it is identical. Is it ONLY for @import and therefore to import the theme file via composes i would have to do ../../../../../ and ../../../ and ../../ -- that is what i am trying to fix.

I have alias (just an e

[2017-06-16 08:12] michael-ciniawsky commented on #557
`alias` doesn't support composition (`options.modules`) only `url()` resolving atm. https://github.com/webpack-contrib/css-loader/blob/master/lib/createResolver.js#L4

[2017-06-16 08:12] #557 closed

[2017-06-18 06:53] trkrameshkumar commented on #38
Thanks! @mattybow , for sharing the solution :)

[2017-06-19 08:10] simeyla commented on #185
You can get this error if you try to use an Injectable, such as a service without adding it to providers.

In my case I was accessing a service in `ngAfterViewInit` (for test purposes) and hadn't added it to providers for the component. I suspect that because this is so early on in the component's lifecycle that this error was being seen first as kind of a red herring.

[2017-06-19 10:01] zkboys commented on #167
login
├── Login.jsx
├── login-bg.jpg
└── style.less
This show error: Module not found: Error: Can't resolve 'login-bg.jpg'
[code]

But, this works well
[code]
why?

[2017-06-20 09:28] anhdn commented on #413
@mitkaaa you saved me!

[2017-06-20 10:18] kroko commented on #167
@zkboys are you using _resolve-url-loader_ (you should)?

[2017-06-20 22:03] petermikitsh commented on #455
I don't think I could state it better. This feature would be great -- I have the exact same use case. I would prefer if Webpack handled the situation gracefully. Instead of exploding, just don't resolve the imports, and create a CSS file I can use. In this particular case, the fact that modules don't resolve does not matter.

[2017-06-20 23:20] petermikitsh commented on #455
To anyone who might still be looking for a workaround, instead of processing these 'bad' CSS files (ones that have `url()`'s referencing missing files, etc), I'm using the `raw-loader` like so:

[code]

It doesn't achieve the same goal as this issue (e.g., if you're extracting your CSS, this CSS will end up instead in your JS bundle), but it gets the job done.

[2017-06-21 01:02] andyjansson opened #558 "Rewrite `@import` and `url()` resolution as PostCSS plugins"
I'm a member of the cssnano team. Due to the way css-loader works, we've had to make certain allowances to the code in order to keep everything functioning correctly \[[1](https://github.com/ben-eb/cssnano/blob/master/packages/postcss-ordered-values/src/index.js#L33)]\[[2](https://github.com/ben-eb/cssnano/blob/master/packages/postcss-minify-params/src/index.js#L32-L38)]. Unfortunately, as the cod

[2017-06-21 07:44] TrySound commented on #558
Yo, guys! Did you read sokra's icss2 proposal?
https://medium.com/webpack/the-new-css-workflow-step-1-79583bd107d7
I started implement it in [postcss-icss-import](https://github.com/css-modules/postcss-icss-import) and [postcss-icss-url](https://github.com/css-modules/postcss-icss-url)
I almost done with fixing values (last one) plugin. Next step is finishing [new-loader](https://github.com/webpac

[2017-06-21 07:47] TrySound commented on #558
Do you think this example will be processed correctly?
[code]

[2017-06-21 12:09] andyjansson commented on #558
@TrySound :wave:

I read through the proposal. I don't think there's enough detail to say how we're going to be affected by it. We'd just like to be fed fully formed CSS and not have to bother with how webpack handles things internally. Also, what's the time frame for this thing?

[2017-06-21 12:15] TrySound commented on #558
New-loader will process only icss which is only `:import` and `:export` rules. All other things will be processed with postcss-loader and icss (css-modules) plugins.

[2017-06-21 12:16] TrySound commented on #558
I'm gonna care about css-loader this week.

[2017-06-22 08:39] imnot2 commented on #355
same question

[code]
[code]

![image](https://user-images.githubusercontent.com/4587852/27424922-4fe4f5a4-5769-11e7-8845-4fa09349d33c.png)

[2017-06-22 10:06] sshmyg opened #560 "Multiple extract"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I try to Extract a couple different css files with such loader option.
I paste this loader twice, into webpack config rules.
And got an error from sass, because css loader modify data source. And on the second circle, sass loader get not sass data, but modified data by css loader.
When I paste this cod

[2017-06-22 11:37] serheyShmyg commented on #560
[Test repo link](https://github.com/serheyShmyg/css-loader-test)

[2017-06-22 14:08] michael-ciniawsky commented on #560
Where do you extract CSS in the example you posted above (Where is `extract-text-webpack-plugin`)?  You will need multiple instances of ETWP to extract multiple CSS files

[2017-06-22 14:21] serheyShmyg commented on #560
@michael-ciniawsky Did you see https://github.com/serheyShmyg/css-loader-test this example?
I've multiple inst of extract-text-webpack-plugin.

[2017-06-22 15:15] michael-ciniawsky commented on #560
How does `file1.css` `file2.css` look like, what error logs do you get? Normally you use `inlcude/exclude` in `module.rules` to extract to different files containing enterily separated CSS

[2017-06-22 15:30] serheyShmyg commented on #560
@michael-ciniawsky I've created sandbox to reproduce this bug.
https://github.com/serheyShmyg/css-loader-test just clone and run.

[2017-06-22 23:57] apexskier opened #561 "Imported local aliases not working when used in selectors"
Reporting https://github.com/css-modules/icss/issues/12 for visibility. I'll copy the details, but I'm experiencing the exact same issue.

**Do you want to request a *feature* or report a *bug*?**
bug report

**What is the current behavior?**
[code]

**What is the expected behavior?**
`fooClassName` is replaced with the local name for `foo` from `foo.css` in both `bar.scss` and `baz.scss

**Please

[2017-06-23 00:23] apexskier commented on #561
It looks like this mght be fixed in a newer version of `icss-utils` https://github.com/css-modules/icss-utils/commit/19ffee9f4071aacabb3a49ca01783de0fad96b88

However, linking a local version of `css-loader` with `icss-utils` upgraded doesn't resolve the problem.

[2017-06-23 20:20] apexskier commented on #561
Okay, I'm diving in and have this PR, which partially solves this https://github.com/css-modules/postcss-icss-selectors/pull/119 with a PR for this repo as well. It'll require updating to the more recent version of css-modules' icss loaders, but seems to be working well locally.

[2017-06-23 20:47] michael-ciniawsky commented on #561
Did you see the [new-loader](https://github.com/webpack-contrib/css-loader/tree/new-loader) branch ? I highly appreciate your current work, but we need to be careful to not introduce breaking changes within the semver minor range of this loader atm. The intemediate goal is to release a new semver major of `css-loader` and move CSSM to `postcss-loader` as a standalone plugin, while `css-loader` onl

[2017-06-23 21:17] apexskier commented on #561
Oh cool, that's very good to know. I was thinking about how it would be nice to use postcss for my modules, but the fact that the loader needs to know about the exports was blocking. That sounds like it'll help a lot with my issues.

I've got a draft of the PR and it *might* be backwards compatible (just need to investigate why some tests are failing). I'm going to push it up just so folks can loo

[2017-06-27 14:50] evilebottnawi commented on #463
Done in https://github.com/webpack-contrib/css-loader/pull/513

[2017-06-27 14:50] #463 closed

[2017-06-27 21:08] Patricknew commented on #272
@kvieira90
did you fix this issue? I'm also using electrode. All classnames and id names are changed. Thank you.

[2017-06-28 07:20] TrySound commented on #272
@Patricknew It's not an issue. If you want 1:1 exported mappings, just change localIdentName option to `[local]`. You will get the same classes. Or you can just disable modules and use regular css.

[2017-06-28 14:01] serbanghita opened #564 "Override :local(.class) rules from external less file"
I have a project using less `2.7.1` and css-loader `0.23.1`.
webpack version is `2.3.2`.

In my project I have a component with the name `MyComponent` incorporates a 3rd party component imported from `node_modules`, called `WysiwygComponent`.
`WysiwygComponent` has the style rules in `WysiwygComponent.less`:

[code]

this generates a CSS rule like `WysiwygComponent--wrap--MhELi`.

In `MyComponent`

[2017-06-28 15:38] TrySound commented on #564
It's WIP
https://github.com/webpack-contrib/css-loader/pull/562

[2017-06-30 10:34] sami718 opened #566 "Unexpected character '�' (1:0) You may need an appropriate loader to handle this file type. SyntaxError: Unexpected character '�' (1:0)"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as your webpack version, Node.js version and Opera

[2017-06-30 10:37] evilebottnawi commented on #566
@sami718 please use issue template

[2017-07-03 16:01] wnewstar commented on #352
@michael-ciniawsky
why need use `vue-loader` instead? I do it, but have some other question.

[2017-07-04 04:14] duxiaofeng-github commented on #256
@onepixelcitizen awesome man, you save my life.

[2017-07-04 14:02] guidobouman commented on #228
@codeboyim's comment did it for me. This is exactly what is missing in the docs. `importLoaders` only has effect on `.css` files. So when using postCSS with nextCSS you'll want to set `importLoaders`. But when running sass, you don't want sass to parse `.css` files.

Or when using postCSS with autoprefixer between css and sass, you'll want to set `importLoaders` to `1` so autoprefixer still parses

[2017-07-05 08:56] silvenon commented on #228
@guidobouman whoa, I had no idea it works that way… do you mind adding that to the docs?

[2017-07-05 20:36] wtgtybhertgeghgtwtg commented on #535
This would necessitate bumping the minimum supported `node` version to `>=4.0.0`, so the `object-assign` dependency can be dropped here, too.

[2017-07-05 23:50] martinkadlec0 commented on #535
It seems lots of popular libraries are doing just that lately anyway. Honestly, anyone still using <4 node version probably resigned on updating module dependencies long ago.

[2017-07-06 07:41] Kaijun commented on #296
@evilebottnawi webpack 2/3 doesn't work either.

[2017-07-06 08:36] d3viant0ne commented on #535
@wtgtybhertgeghgtwtg - For reference, the minimum supported NodeJS version is `4.3` which comes from Webpack v2, as v1 is no longer officially supported.

The above is usually done via `webpack-defaults` but in the case of css-loader, @sokra has re-written it completely as a part of his master plan regarding the stylesheets loader chain.

[2017-07-06 11:38] evilebottnawi commented on #296
@Kaijun can your create minimum reproducible test repo?

[2017-07-06 12:23] imsurinder90 opened #567 "Module not found: Error: Can't resolve 'backgrid/lib/backgrid.css'"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
I am using ExtractTextPlugin plugin to bundle the multiple CSS files into one with following webpack configuration, it works without any error when I remove 'backgrid.css' from Lib.css. I double checked the path to backgrid.css is correct.
Backgrid version: `backgrid": "^0.3.8`

**If the current behavi

[2017-07-06 13:03] Zzzen opened #568 "Custom `localIdentName` function?"
**Do you want to request a *feature* or report a *bug*?**

Feature
**If this is a feature request, what is motivation or use case for changing the behavior?**
`localIdentName` can only be specified as a string. It would be great if css-loader accepts a function that returns a custom ident:
[code]
**Please mention other relevant information such as your webpack version, Node.js version and Operatin

[2017-07-06 13:33] #566 closed

[2017-07-06 14:53] frenzzy commented on #568
Why don't you want to use this?
[code]
Or can you provide more realistic example?

[2017-07-06 16:38] PookMook opened #569 "Unicode matching"
hi

**Do you want to request a feature or report a bug?**
bug

I encounter a problem with how css-loader handle unicode in my CSS file
**What is the current behavior?**

When i feed the unicode for "é" : \0000E9, the compiled css ends up being mimified but transformed so
[code]
becomes :
`div#download:before{display:block;content:"T\E9l\E9  charger le fichier YAML";text-align:center}`
with two spa

[2017-07-06 16:49] evilebottnawi commented on #569
@PookMook maybe related to https://github.com/css-modules/css-selector-tokenizer/pull/4

[2017-07-06 17:00] PookMook commented on #569
yes and no I think, this fail as well on the full unicode \0000E9, so unless this gets executed twice (from "\0000E9" to "\E9 " (with one space) then to "\E9  " (with two spaces), that shouldn't happen.

[2017-07-06 17:25] evilebottnawi commented on #569
@PookMook seems i already found bug somewhere in the past https://github.com/webpack-contrib/css-loader/blob/master/test/simpleTest.js#L29
@TrySound what do your think about this? In past i rewrote `css-loader` from `css-selector-tokenizer` to `postcss-value-parser` (your repo :smile: ) and it is solve this problem (and some other), but for some reason, we rejected PR.

[2017-07-06 19:33] HelloEdit opened #570 "'modules' and import css from './style.css' doesn't work 😞"
Hellooo !

Today, I just want to test postcss-loader and css-loader, so I build my webpack config file like this;
[code]
and then, I create the `postcss.config.js`
[code]
In my project directory, I create a `component.css` with inside `text: { color: blue }`
and I require this file in my React containers:
[code]
And this is the result:
![image](https://user-images.githubusercontent.com/25421857/27

[2017-07-06 20:49] TrySound commented on #570
@HelloEdit Use classes, not tags in css.

[2017-07-06 20:49] #570 closed

[2017-07-07 12:57] zyxneo commented on #38
This code worked for me with webpack2:
`      {
        test: /\.(ttf|otf|eot|svg|woff(2)?)(\?[a-z0-9]+)?$/,
        loader: 'file-loader?name=fonts/[name].[ext]'
      }
`
I'm using https://icomoon.io/app/ , my css looks like:
`
@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?3jbvu') format('truetype'),
    url('fonts/icomoon.woff?3jbvu') format('woff'),
    url('fonts/ic

[2017-07-08 02:46] Tux1 opened #571 "Using webpack resolve.alias"
Hi,
css-loader doesn't manage to resolve some file from path using webpack resolve.alias.
I saw that there is an option to create css-loader aliases with `alias` option. But is it possible to use directly webpack resolve.alias ?
It was perfectly working with webpack 1 and `css-loader` `0.26.0` but since I have updated my packages, it is broken.

[code]

Webpack config:
[code]

Log :

Thanks !

[2017-07-08 03:51] Tux1 commented on #571
just had to remove `~` !

[2017-07-08 12:24] theinvensi opened #572 "Erro when install on mac"
Hello,

I have this error when try to do this command on my MacBook Air
`npm i css-loader`

Here's my environment versions:
![image](https://user-images.githubusercontent.com/4583856/27985303-999a6310-63b6-11e7-882f-f15c10c05c51.png)
![image](https://user-images.githubusercontent.com/4583856/27985318-c91b356a-63b6-11e7-9417-30461c257362.png)

And here is the erro which I've said:
![image](https://

[2017-07-08 12:28] theinvensi commented on #572
Here is the content of the log file...

`0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/Cellar/node/8.1.3/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'i',
1 verbose cli   'css-loader' ]
2 info using npm@5.0.3
3 info using node@v8.1.3
4 verbose npm-session f1225122bf36a480
5 silly install loadCurrentTree
6 silly install readLocalPackageData
7 http fetch GET 304

[2017-07-08 14:31] michael-ciniawsky commented on #572
npm <= v5.0.0  => `$ (sudo) npm cache clean && rm -rf node_modules`
npm >= v5.0.0  => `$ (sudo) npm cache clean --force  && rm -rf node_modules`

In case you recently updated to node `v8.0.0` and therefore npm `v5.0.0` your 'old' npm cache is dirty :)

[2017-07-08 14:33] michael-ciniawsky commented on #572
Feel free to reopen if still regressions 😛

[2017-07-08 14:33] #572 closed

[2017-07-09 11:08] kaankucukx opened #573 "Multiple CSS - Extract and Inline"
Hello,

I have been struggling with webpack since month for now, i am new to webpack so i have couple of questions.

I have a perfect output with the things i need, i can extract css flies, multiple css to 1 file etc. All is working good.

**but what i cant do is below** !

I am doing this to care of performace insigths according to PageSpeed. so that.

I have two css files, one for entire styling

[2017-07-09 12:39] Tux1 commented on #571
Finally, I have not found the solution...

[2017-07-09 14:17] michael-ciniawsky commented on #573
### Inline

**webpack.config.js**
[code]

### Extract

**webpack.config.js**
[code]

[2017-07-09 14:17] #573 closed

[2017-07-09 20:09] kaankucukx commented on #573
**# Thank you!**

[2017-07-10 02:27] odensc commented on #568
You can already do this with `getLocalIdent`, check out the readme. :)

[code]

[2017-07-10 02:40] Zzzen commented on #568
Ooops

[2017-07-10 02:40] #568 closed

[2017-07-10 07:09] sharibkhan opened #574 "Module not found: Error: Can't resolve 'evp_bytestokey'"
Hi,
I have installed the soap(npm install soap)  but when using   soap (import Soap from 'soap';)
its giving the error. Please help me i am stuck on this point.

WebConfig.js
var path = require('path');
var webpack = require('webpack');

module.exports = {
 entry: {
   app: './js/app.js',
   app1:'./js/app1.js',
 },
 output: {
  path: __dirname,
  filename: '[name].bundle.js'
 },
 watch: true,
 mo

[2017-07-10 08:47] sharibkhan opened #575 "Calling wsdl API by ReactJS."
Hi,
Thanks in advance for help :)..
I am trying to call wsdl from ReactJS but when i am trying to use XMLHttpRequest and load my API xmlhttp.open('POST', 'localhost:50065/Adjuster.svc?wsdl', true); its giving bad error 400.
And when trying to use SOAP,I have install soap by npm install soap but when using the soap (import Soap from 'soap';) its giving following error.
ERROR in ./node_modules/brows

[2017-07-10 13:41] TrySound commented on #575
@sharibkhan I guess it's wrong repository.

[2017-07-10 13:41] #575 closed

[2017-07-10 14:28] michael-ciniawsky commented on #574
@sharibkhan Please use Stackoverflow or the like for these kind of support questions, your issue doesn't even relate to this repo (**`css-loader`**) 😛

[2017-07-10 14:28] #574 closed

[2017-07-12 07:07] liuliangsir commented on #12
[<span class="ghh-user-x tooltipstered" title="" style="box-shadow: transparent 0px 0px;">@QuantumInformation</span>](https://github.com/quantuminformation) Removing tilde worked for me. Thanks!

[2017-07-12 14:57] evilebottnawi opened #576 "sass-loader and source maps output invalid sources in maps"
**Do you want to request a *feature* or report a *bug*?**

maybe bug

**What is the current behavior?**

Invalid `sources` in map then your use `sass-loader` and `css-loader`. More information inside issue below

**If the current behavior is a bug, please provide the steps to reproduce.**

Repo: https://github.com/webpack-contrib/sass-loader/issues/484#issuecomment-314508205

**What is the expecte

[2017-07-12 16:57] adeleke-togun opened #577 "CSSLint reporting lint error "Expected RPAREN" on all lines with class declarations"
Example code snippet:
[code]
will return Expected RPAREN at line 1, col 8.

[2017-07-12 17:23] evilebottnawi commented on #577
@adeleke-togun `css-loader` and `CSSLint` difference project, it is related to `CSSLint`. Also your can use more modern linter `stylelint` (https://stylelint.io/)

[2017-07-12 17:35] adeleke-togun commented on #577
@evilebottnawi Thank you.

[2017-07-12 17:35] #577 closed

[2017-07-13 10:54] Cokser commented on #560
+1 same problem

[2017-07-13 12:41] guidobouman commented on #228
Do note: This only happens when `css-loader` finds an unresolved `@import`. When using `sass-loader` for example; All imports are resolved (and concatenated) before `css-loader` even gets the chance to look for an `@import`.

[2017-07-13 12:52] guidobouman commented on #228
@silvenon I've updated my previous comment with my most recent learnings. ☝️

It's a tad bit simpler than you'd think.

[2017-07-14 08:04] eeve opened #578 "broken escaping"
**What is the current behavior?**
 The escape symbol `\` was lost
[code]
=>

[code]

**What is the expected behavior?**
Keep the escape symbol `\`

https://github.com/eeve/test.v1

[2017-07-14 14:30] lazypacman commented on #74
adding [resolve-url-loader](https://github.com/bholloway/resolve-url-loader) fixes this for me
`...!resolve-url!less...`

[2017-07-14 14:42] evilebottnawi commented on #74
@mnpenner can your provide minimum reproducible test repo?

[2017-07-14 16:37] evilebottnawi commented on #578
@eeve btw, why your use `\` in `selectors`

[2017-07-14 16:39] mnpenner commented on #74
Erm... I can't reproduce this is a new project. [Here's what I tried](https://transfer.sh/hhnGF/css-loader74.zip). Will post again if I figure out to cause, unless maybe it was fixed recently.

[2017-07-14 16:52] evilebottnawi commented on #74
For me, bug not related to `css-loader`. Seems more related to `less/sass/etc/-loader`.

[2017-07-15 00:01] Tux1 commented on #571
Any suggestion ?

[2017-07-15 13:54] YutHelloWorld commented on #256
@onepixelcitizen it works!

[2017-07-17 11:08] evilebottnawi commented on #571
@Tux1 Can your provide minimum reproducible test repo?

[2017-07-17 13:26] eldan-klarna commented on #250
@monsterooo thanks!
for me it only worked like this:
:global #app {
  height: 100%;
}

[2017-07-18 19:09] gdub22 commented on #140
I've also been thinking about how to achieve this.  Maybe the responsibility should be on something more general like [prepack](https://prepack.io/) to pre-evaluate and inline the object references instead of css-loader itself?

[2017-07-19 02:30] adambarghouthi commented on #447
Hi - when I did
`target: 'node'`,

the error went away. Then I got
`global not defined`,

so I fixed it with
`'global': {},` in `webpack.definePlugin({...})`

Then I got a GetEnv error saying SERVER_HOST not defined... but it is... so there's a slew of errors that I'm swimming in - I hope someone can take a look at my boilerplate and give me hand? Thank you!

[2017-07-19 11:47] SkeLLLa opened #581 "GetLocalIdent produces unnecessary escape characters"
Example:
[code]

Produces:
[code]

Expected behavior:
[code]

[2017-07-19 11:49] evilebottnawi commented on #581
@SkeLLLa confirm, thanks

[2017-07-20 08:16] jschlieber commented on #578
I'm running into the exact same issue. In my case escape sequences are used in Predix-UI CSS Modules, e.g:

https://github.com/PredixDev/px-spacing-design/blob/db32341b44fee68cace50d5d236306f768bbed26/_trumps.spacing.scss#L175-L181

So that basically means I can't use those `u-m+` and `u-m++` classes.

Any ideas for a quick workaround?

[2017-07-20 12:31] evilebottnawi commented on #578
@jschlieber unfortunately no, try to found and fix problem today

[2017-07-20 16:59] mchepurnoy commented on #567
See [this issue](https://github.com/webpack-contrib/css-loader/issues/499). Worked for me.

[2017-07-20 18:04] imsurinder90 commented on #499
@mchepurnoy. This solution didn't worked for me :(

[2017-07-21 15:42] ipelekhan commented on #436
Any update on this?

[2017-07-23 16:37] HosseinAgha opened #582 "Chunks Hash changes every time when using css-modules"
**What is the current behavior?**
using `modules: true` options breaks webpack chunkhash algorithm and generates a new hash for every chunk on every build. This makes long term caching impossible when using `css-modules`.
I also tried `extract-text-plugin` but I get same behaviour.

**If the current behavior is a bug, please provide the steps to reproduce.**
Follow the steps using official [webpac

[2017-07-24 07:01] alianrock commented on #167
@kroko i got the same problem as @zkboys , use resolve-url-loader doesn't help

[2017-07-24 08:06] michael-ciniawsky commented on #524
@eloytoro Could you try with

**webpack.config.js**
[code]

[2017-07-25 19:47] ciceropablo commented on #258
@DragorWW, how do you resolve this? Are you using CSS Modules option or another thing?

[2017-07-26 05:34] jschlieber commented on #578
@evilebottnawi Any news on this issue?

[2017-07-26 12:13] evilebottnawi commented on #578
@jschlieber I was on vacation, in the near future I will take care of this, thanks for waiting

[2017-07-26 12:49] evilebottnawi commented on #582
@HosseinAgha thanks for issue. Can your provide minimum reproducible test repo?

[2017-07-26 16:28] evilebottnawi commented on #578
@jschlieber `u-m+` and `u-m++` invalid css classes (https://jigsaw.w3.org/css-validator/validator), your should use `u-m\+` and `u-m\+\+`

[2017-07-26 16:36] evilebottnawi commented on #578
@jschlieber also `.\-top {}` and `.-top {}` are valid class selectors and mean the same thing.

[2017-07-26 17:11] evilebottnawi commented on #578
Bug inside `postcss-modules-local-by-default` and `postcss-modules-scope`, they remove `\` character. But i wonder use case.

@jschlieber `.u-m\+` and etc selectors work good (https://github.com/webpack-contrib/css-loader/pull/584).

@TrySound what do your think about this?

[2017-07-27 01:36] Kovensky opened #585 "css-loader is incompatible with file-loader@^1.0.0"
`css-loader` [is rewriting](https://github.com/webpack-contrib/css-loader/blob/v0.28.4/lib/loader.js#L94-L102) `url('./relative-path')` entries by using `require('./relative-path')`; however, `file-loader` now produces ES modules. This causes the url's contents to _actually_ become `[object Object]` at runtime.

See https://github.com/webpack-contrib/file-loader/issues/181.

[2017-07-27 09:47] jschlieber commented on #578
@evilebottnawi Ok, but what you're telling me is that i can't define my css selector as:
[code]
and I'm totally fine with that. But still, if classes are defined like this
[code]
as in the PredixUi CSS library (which btw is valid css). I can't use it like it is intended, e.g.
[code]
because it ends up as
[code]
so I would have to use it like this
[code]

[2017-07-27 16:17] evilebottnawi commented on #578
@jschlieber don't understand your. Your can use `.u-m\00002b` in your css and `css-loader` works fine.
Input:
[code]

Output:
[code]

Just try to test in your project.
I agree what `css-loader` should not remove `\`, but it is happens only with selector where escaped is not necessary (example if your have `\.-top {}`, your can use `.-top {}`, because `\.-top {}` and `.-top {}` are mean the same th

[2017-07-27 16:23] evilebottnawi commented on #578
@jschlieber Thanks for issue, confirmed. Let's wait what says @TrySound (he have access for `postcss-*` plugins for `css-loader`)

[2017-07-27 20:09] zaneadix commented on #459
I'm having this same issue without postcss. I'm running sass-loader right into css-loader and getting similar output.

`.oui-icon-star.oui-icon-filled:before {
  content: '\e20c'; }`

outputs as

`.oui-icon-star.oui-icon-filled:before {
  content: "'\\e20c'"; }`

[code]

[2017-07-28 17:03] zaneadix commented on #459
For anyone still having this issue I've created a temporary fix locally using a custom loader.

[code]
custom loader
[code]
This is most likely highly tailored to my specific situation but you should get the jist. Just use a simple custom loader to run some cleanup on the css-loader output for now.

[2017-07-29 01:13] jollyblume commented on #447
I fixed the problem by changing webpack.config.js:

...
var config = Encore.getWebpackConfig();
config.node = { fs: 'empty' };
module.exports = config;

and:
yarn add --dev file system

[2017-07-29 06:27] coot opened #586 "be more verbose"
**What is the current behavior?**
It happens quite often that the there are no errors from css-modules nor postcss-loader, e.g. when a composes is miss formatted, like in compose: ... instead of composes: .... It would be nice if there were errors / warning from postcss. In general more verbose output from postcss would be appreciated.

Cross posting this from [postcss-loader](https://github.com/p

[2017-07-29 12:33] evilebottnawi commented on #586
@coot What will be more verbose?

[2017-07-29 12:48] coot commented on #586
css-loader about errors when compiling css-modules.

[2017-07-29 12:50] evilebottnawi commented on #586
@coot Can your provide example repo with error(s) and where no output?

[2017-07-29 12:53] coot commented on #586
Not at the moment, but I'll think about.

[2017-07-29 13:30] TrySound commented on #586
`compose` keyword in not reserved by css-modules. Warning on it can break non-css-modules stuff. So you can just write own lint tool for that.

[2017-07-29 13:53] evilebottnawi commented on #586
@coot your can use `stylelint` (https://github.com/stylelint/stylelint) for this purpose :smile:

[2017-08-01 08:58] Dictory commented on #137
For webpack v2:
[code]

[2017-08-01 15:22] Pau1fitz opened #587 "update the readme to state that style-loader needs to be installed separately"
Currently the Readme file explains how to set up the `webpack.config.js` file.

It states that you need to add both  `[ 'style-loader', 'css-loader' ]` to the module.exports object. I believe it would be helpful to add a note explaining that it is required to install the `style-loader`  separately. Something really small but I believe it may assist people with unnecessary confusion in thinking tha

[2017-08-01 16:42] michael-ciniawsky commented on #587
This is more a webpack specific thing (How does the loader chain work), for e.g using `css-loader` with `extract-text-webpack-plugin` doesn't require `style-loader`. The cognitive 'overhead'  to install each loader/plugin separately is mandatory to understand in general. The README example(s) is just the most common combination for CSS (`style-loader/extract-text-webpack-plugin`) and focuses on th

[2017-08-01 16:42] #587 closed

[2017-08-01 16:46] Pau1fitz commented on #587
@michael-ciniawsky fair enough! 👍

[2017-08-04 13:11] VsevolodTrofimov opened #588 "Doesn't export values when NODE_ENV is set as production"
BUG

**What is the current behavior?**
When NODE_ENV is set to development
`@value pixiCanvasSize #{$pixi-canvas-size}` works
Where `$pixi-canvas-size` is Sass variable

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]
//story.js
`import styles from './story.sass'`

//story.sass
`@value pixiCanvasSize #{$pixi-canvas-size}`

`styles.pixiCanvasSize` will return und

[2017-08-04 13:19] evilebottnawi commented on #588
@VsevolodTrofimov can your provide minimum reproducible test repo?

[2017-08-04 13:31] VsevolodTrofimov commented on #582
I md5 my chuks using `webpack-chunk-hash` and do not experience this problem

[2017-08-04 13:36] VsevolodTrofimov commented on #588
Sure, wait a bit

[2017-08-04 13:59] VsevolodTrofimov commented on #588
Ok, I'm sorry this is `postcss-csso` issue

[2017-08-04 13:59] #588 closed

[2017-08-04 14:00] jantimon opened #589 "CSS modules break build if used with `~`"
**What is the current behavior?**

Using a tilde `~` inside a css file causes `Can't resolve '~'` if css-modules feature is activated:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

The bug can be reproduced this way: (https://github.com/jantimon/css-loader-bug)

[code]

[Working webpack.config.js](https://github.com/jantimon/css-loader-bug/blob/master/witho

[2017-08-04 14:27] evilebottnawi commented on #589
@jantimon why don't use `url('file-loader!flags-of-the-world/src/DK.svg')`?

[2017-08-04 14:30] jantimon commented on #589
@evilebottnawi this won't work if `modules` are set to false.

[2017-08-04 17:48] jantimon commented on #589
For now I am working around this issue by forcing the user to tell me wether he is using cssModules or not:

https://github.com/jantimon/iconfont-webpack-plugin/blob/master/example/module/webpack.config.js#L30

[2017-08-08 16:07] fredericgrati commented on #286
I'm stuck with this issue. Is there any progress on this ?

[2017-08-08 21:55] ccalvarez commented on #295
When using the vue-cli `webpack `template, the solution proposed by @harwinvoid solves the issue.

[2017-08-10 08:39] jschlieber commented on #578
@evilebottnawi Thanks for your efforts. Any news on this one?

[2017-08-10 10:14] evilebottnawi commented on #578
@jschlieber no :disappointed:
@TrySound friendly ping

[2017-08-10 20:26] TrySound commented on #578
I guess it's something in selector tokenizer. Patch release will help. However I don't have access yet.

[2017-08-10 20:26] TrySound commented on #578
https://github.com/css-modules/css-selector-tokenizer

[2017-08-14 10:03] YellowSmiley opened #591 "Failing to inlcude any css"
Updated and install css-loader and style-loader via npm using `npm i -S` and `npm install --save-dev` but neither seem to include any of my CSS on build.

My Webpack module config looks like below:

[code]

I've also tried adding the following rules and even added file-loader to see if that is required:

[code]

None of the above works - No errors are thrown but no CSS is present in the build dire

[2017-08-14 10:05] YellowSmiley commented on #591
It is also worth noting I am expecting 3 CSS files to be included: Bootstrap from node_modules and my 2 css files which are imported:

[code]

[2017-08-14 10:14] evilebottnawi commented on #591
@YellowSmiley please create minimum reproducible test repo, thanks!

[2017-08-14 12:58] zeakd opened #592 "enable pascal case"
**Do you want to request a *feature* or report a *bug*?**

in case,

[code]

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

[code]

**If this is a feature request, what is motivation or use case for changing the behavior?**
I want to use `css.ProfileContainer` for my convention but Capital

[2017-08-15 13:04] YellowSmiley commented on #591
Turned out it was working the console was just throwing errors saying .css files were not included!

[2017-08-15 13:04] #591 closed

[2017-08-15 21:38] roymiloh commented on #228
@guidobouman I think it's better to include `sass-loader` in the `importLoaders` counter anyway, the reason is scenarios like `.some-rule { composes: foo from './base.scss'; }` where you want `sass-loader` to run over these files (`base.scss` in my example) as well.

[2017-08-18 09:19] anlexN opened #594 "body style is applied, but h1, .awesome are both can't !"
![1](https://user-images.githubusercontent.com/8686739/29452550-54824524-8439-11e7-8b88-9b3ffe45648a.PNG)
![2](https://user-images.githubusercontent.com/8686739/29452551-54858824-8439-11e7-9200-b99358c7569b.PNG)
![3](https://user-images.githubusercontent.com/8686739/29452553-54882b06-8439-11e7-8ac0-fcea20010785.PNG)
![4](https://user-images.githubusercontent.com/8686739/29452554-548bacae-8439-11e7

[2017-08-18 09:27] evilebottnawi commented on #594
@anlexN please use issue template and provide minimum reproducible test repo, it is difficult to analyze your problem using screenshots, thanks!

[2017-08-18 17:08] #594 closed

[2017-08-19 22:58] wi-ski commented on #352
how do you fix the Bs

[2017-08-21 18:47] wesmelon opened #596 "Running into issues using webpack in node"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Currently, I am experiencing a different webpack output when using CLI compared to node.

A sample repo is here:
https://github.com/wesmelon/troubleshoot_css_loader

Using CLI works perfectly, the styles are injected into head, and the page is styled. When I use node to import webpack and run the compi

[2017-08-22 01:16] wesmelon commented on #596
Another note: if using ExtractTestPlugin with options:
            use: ExtractTextPlugin.extract({
                fallback: "style-loader",
                use: "css-loader"
            })
I do not encounter the error of not having my styles injected.

[2017-08-26 22:45] CodeTaha commented on #38
Slight improvement to @TonyWang031 suggestion as it gives invalid regex
`{test: /\.(jpe?g|png|woff|woff2|eot|ttf|svg)(\?[a-z0-9=.]+)?$/, loader: 'url-loader?limit=100000'}`

[2017-08-28 20:29] ezmiller commented on #226
So is there a place in the documentation that covers these?

[2017-08-29 01:50] heythanks commented on #352
remove  this{ test: /\.css$/, loader: 'style!css' } has no error,but css file can't effect this website

[2017-08-29 09:56] smashercosmo commented on #74
This is what worked for me. Add to webpack config the following lines
[code]

[2017-08-29 13:09] damujiangr commented on #539
Code by create-react-app
[code]
Result
[code]

[2017-08-30 13:42] samayo commented on #447
Someone please fix this issue. Non of the mentioned answer could fix it for me

[2017-08-30 14:10] no1melman opened #598 "assertRaw called with too many arguments."
I know this isn't a huge issue, but just thought if it isn't intentional then probably needs to be cleaned up.

https://github.com/webpack-contrib/css-loader/blob/e16bdeb0ec404861c3799c069e56fb0147006075/test/helpers.js#L82

And actually examining that function closer, it takes `modules` as a parameter and only asks for it so it can pass it onto `assertRaw` which doesn't require it. Therefore, mak

[2017-08-30 14:15] evilebottnawi commented on #598
@no1melman thanks, PR welcome :+1:

[2017-08-30 14:15] no1melman commented on #598
Okay will do!

[2017-08-30 15:53] davicho opened #600 "absolute paths truncate file names"
**Do you want to request a *feature* or report a *bug*?**
Not sure (this used to work, new update now did away with it I think).

**What is the current behavior?**
Latest css-loader loads "full" paths and truncates actual file name (if too long)

**What is the expected behavior?**
I just to see the file name in my inspector window: "**_bootstrap.scss**" and now it's "**/Users/x/x/x/x/x/_b...rap.sc

[2017-08-30 18:40] ZRogerson opened #602 "[v0.28.6] TypeError: options.resolve is not a function"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current behavior?**
The latest update breaks at processCss.js:88:27 with the titled error.

**If the current behavior is a bug, please provide the steps to reproduce.**
options.resolve not being provided to parserPlugin

[2017-08-30 18:47] michael-ciniawsky commented on #602
@ZRogerson Are you using `localsLoader` in your setup?

[2017-08-30 18:56] ZRogerson commented on #602
No, I'm unaware of localsLoader.

[2017-08-30 19:44] #602 closed

[2017-08-31 09:38] vikashpisces commented on #352
@afrianjunior It worked for me after I changed the order of loaders from `require('!css-loader!style-loader!./styles.css');` to `require('!style-loader!css-loader!./styles.css');`

[2017-08-31 18:26] rinogo commented on #38
@CodeTaha Good catches!  Beyond adding support for more filetypes, it looks like you're escaping a `.` and a `?`.  Are there other changes I'm missing?

[2017-09-01 08:14] no1melman opened #604 "Prevent css-loader from requiring urls but also prepend root"
I have my folder structure like so:

[code]

My webpack I have this
[code]

In the index.js file I have this

[code]

In the index.css file I have this:

[code]

So I have to have `{ url: true }` in order for the `{ root: 'http://localhost:8080/' }` to be prepended - however, it seems like it's trying to make a js module and requiring in the asset, which isn't what I want.....

Is there anyway to

[2017-09-01 08:46] no1melman commented on #604
Well,

I ended up using `alias` - although it doesn't seem to be for the purpose I'm using it.

[code]

[2017-09-01 15:20] apurvgandhwani opened #605 "Page-icons not showing up"
I am trying to use pages-icon in my react project. The icons doesn't get displayed on webpage.

[code]

I am using this loader in my config file
`
{ test: /\.woff(2)?(\?v=[0-9]\.[0-9]\.[0-9])?$/, loader: "url-loader?limit=10000&mimetype=application/font-woff" },`
`{test: /\.(eot|woff|woff2|svg|ttf)([\?]?.*)$/, loader: "file-loader"},`

[2017-09-01 15:58] evilebottnawi commented on #605
@apurvgandhwani seems your have invalid css

[2017-09-01 15:59] apurvgandhwani commented on #605
This is my css code

[code]

[2017-09-01 16:04] evilebottnawi commented on #605
@apurvgandhwani your can use `[class*="pg-"]` (without space), but can you create minimum reproducible test repo?

[2017-09-01 16:34] apurvgandhwani commented on #605
@ekulabuhov my loader are these. Is there anything wrong or something I am using two times?

[code]

[2017-09-01 16:43] apurvgandhwani commented on #605
Got it working. There was a comma after this line

`src url('/public/fonts/pages-icon/Pages-icon.eot?-u69vo5'),`

I changed it to

`src url('/public/fonts/pages-icon/Pages-icon.eot?-u69vo5')`

[2017-09-01 16:43] #605 closed

[2017-09-02 00:01] michael-ciniawsky commented on #604
This isn't currently supported by the loader, but it should provide an option to filter certain `url`'s from assets resolving and ignore protocol urls (`https://`) by default. It's a known issue, when I have spare time I will implement this. Does `options.alias` do the trick for you atm ? If so please close the issue :)

[2017-09-04 09:55] felixexter commented on #279
Have the same problem. Any news?

[2017-09-04 10:07] clivend commented on #44
css-loader 0.28.5

[code]

works!

[2017-09-04 10:15] no1melman commented on #604
It does do the trick - if not a little bit backwards 😄  I don't mind looking into this if it isn't too big. Just point me to the line that does the resolve (I haven't been able to find that bit yet)

[2017-09-04 17:57] tjpalmer commented on #210
Is this the kind of problem I should expect to see in the current state?

[2017-09-04 22:14] ahmadalfy commented on #38
The solution proposed by @zyxneo is the best. Other solutions attempts to inline the SVG font into the CSS file which is insane.

[2017-09-05 17:55] iiison opened #606 "import is not working properly"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
I am using Webpack to create bundles for my react application. I am using `postcss` and `css-loader` to load CSS files. In my app, css import is not working properly. I am trying to import every thing in my `Main.css` file, but webpack throws error by saying:
[code]
<br/>
<br/>

Here is the webpack configs

[2017-09-05 20:04] dagda1 opened #607 "getLocalIdent to dasherize file name"
My css loader looks like this:

[code]

So if I have a file named `TextArea.scss` then my class name is, for example `TextArea__default___1qzfC`.

I would like to use `getLocalIdent` to dasherize `TextArea.scss` int `text-area__default___1qzfC` but I am unfamiliar with the syntax.

Could someone point out, how I do this and I cannot find a single example anywhere online apart from the readme which

[2017-09-05 21:22] michael-ciniawsky commented on #607
It is possible to override `getLocalIdent`

[code]

[2017-09-05 21:22] #607 closed

[2017-09-05 21:36] michael-ciniawsky commented on #606
`precss` ships with `postcss-partial-import`, any `postcss-import` plugin should be avoided in webpack context, since only `css-loader` handles `@import`'s in a 'correct' way `@import "file.css";` => `require("css-loader!postcss-loader!/* <= importLoaders */./file.css")`. Personally I recommend to selectively pick plugins you need from `precss` (`package.json`)  and install them separately. It's j

[2017-09-05 21:36] #606 closed

[2017-09-05 22:20] dagda1 commented on #607
@michael-ciniawsky yes, I know that , I can see that in the README and I said that in my question.

The example just returns a string literal, what Ia asking is it possible to dasherize the file name from the arguments to this function?

returning a string literal is not very useful.  Is there anywhere I can find out about this.

[2017-09-05 22:53] michael-ciniawsky commented on #607
https://github.com/webpack-contrib/css-loader/blob/master/lib/getLocalIdent.js#L13

[code]

Not 💯 if it is `localIdentName` or `localName, context`, you need to try it out

[2017-09-06 09:23] dawncold commented on #447
@samayo I'm not sure what I got could help you.

I fix this error by installing `node-sass` into `devDenpendency`, if I install `node-sass` into `denpendency`, I will get this error, I'm not sure you use `node-sass` or not, you can check some packages in `denpendency` and `devDenpendency`

[2017-09-06 14:14] guidobouman commented on #228
@roymiloh That feels a bit weird to me, mixing css modules with SASS. Then you'd be better off using the full future CSS spec with just postCSS and it's plugins, and completely dropping anything like SASS, LESS or Stylus.

[2017-09-06 14:17] volkanunsal commented on #256
This started happening again today.

[2017-09-06 14:23] volkanunsal commented on #256
In my case, the background image is inserted as an `[object Object]`. Is it the same issue?

[2017-09-06 14:32] evilebottnawi commented on #256
@volkanunsal downgrade `file-loader` (`1.0.0` is still beta)

[2017-09-06 14:34] volkanunsal commented on #256
@evilebottnawi Thank you!

[2017-09-07 05:38] IvanKalinin opened #608 "Is it possible to wrap class names?"
Hi there.
There is a situation. I need to integrate react app in existed WP website. But react's style override WP's style.
To avoid overriding styles I want add specific classname to react root element (isolate react app), but in that case css modules class names has less specificity than default, normalized and/or bootstrap styles.
e.g.
`.specificClassname label` has more specificity than `.Labe

[2017-09-07 12:22] andyjansson commented on #558
@TrySound any update on this?

[2017-09-07 14:56] TrySound commented on #608
https://github.com/MadLittleMods/postcss-increase-specificity

[2017-09-07 16:59] IvanKalinin commented on #608
Yeah. That plugin seems helpful, but if I add it in **postcss.config.js** it adds `.my-root` only to global rules.

[code]

in **webpack.config.js** case in transform `.my-root` to `Component__my-root_hash64`
[code]

[2017-09-12 01:22] #598 closed

[2017-09-12 10:35] JabbyPanda commented on #535
`post-css` in 6.0.8 had fixed reinstalled the support for `Node.js 4.2.2`

https://github.com/postcss/postcss/issues/1052,

while as of today `post-css` v5 does not work with 4.2.2 Node.js version as of today due to the change in  `js-base-64` library

https://github.com/dankogai/js-base64/issues/56

[2017-09-14 12:45] aronwoost opened #611 "Possible to have absolute imports for `@import`?"
Instead of having
[code]

I'd like to import with

[code]
I understand that this is currently not possible with css-loader as it does not allow custom resolver paths. Behavior could be "hacked" by using [alias](https://github.com/webpack-contrib/css-loader#alias) but it only supports `url()` not `@import`.

Are there any other ways of implementing it?

[2017-09-14 12:52] aronwoost commented on #611
(happy to PR something, if I get pointed in the right direction)

[2017-09-14 13:05] frenzzy commented on #611
You just need to use [resolve.modules](https://webpack.js.org/configuration/resolve/#resolve-modules) option in your webpack config.

[2017-09-14 13:09] aronwoost commented on #611
Are you sure that works for `@imports` in css files? Tried that, but didn't work (maybe error on my side).

[2017-09-14 13:18] frenzzy commented on #611
Are you sure your imports in css files handled by css-loader and not by postcss plugins such as postcss-import? See [css-loader url option](https://github.com/webpack-contrib/css-loader#options).

[2017-09-15 12:52] aronwoost commented on #611
@frenzzy Thanks for the response.

Yes, they are handles by css-loader.

I created a [tiny little demo repo](https://github.com/aronwoost/webpack-css-loader-import-test). Bottom line: I think that absolute css imports to work for `require('test.css')` in JS, but they do not for `@import 'test.css'` in css files.

[2017-09-16 15:19] pastelsky opened #612 "CSS modules keeps the original className mapping"
Consider this CSS modules setup with extract text plugin-

**Section.css**
[code]

**Section.js**

[code]
## Current behavior
Currently, `css-loader` goes through the normal process of creating a module out of the import, and even storing the original name mapping. The resulting JS file looks similar to

### build.js (current)
[code]

## Expected behaviour

Ideally, css loader should just inline t

[2017-09-19 18:16] alex-shamshurin commented on #167
Please reopen the issue. It still exists more than one year, css-loader cannot resolve url without `modules: true`.

[2017-09-20 00:44] rudolfschmidt commented on #282
run into same issue. its sucks.

[2017-09-20 08:08] aronwoost commented on #611
@frenzzy I changed the issue title to be more explicit re `@import`.

Can you confirm the behavior? Or is there an error on my side?

[2017-09-20 09:13] alex-shamshurin commented on #282
Me too! It must the first thing to resolve! I cannot makr it work with postCSS import but I workaround for stylus and maybe sass (less) is specify module: true and import file as local (I use special regexp for webpack - 'module' prefix), but inside file use `:global`

[2017-09-22 11:09] Aqours opened #613 "css-loader with `sourceMap: true` cause adding style tag delayed"
**Version**: 0.28.7

**webpack.config.js**
[code]

**What is the current behavior?**
`bundle.js` will add `<style>` tag to `<head>` tag when page loading `bundle.js`.
normally, `<style>` tag will added firstly.
actually, `<style>` tag added delayed when i setting `sourceMap: true`[1], which cause page flickering and error result style computed by scripts.

It works great when set `sourceMap: false